[2016-05-17 18:02] jywarren opened #1 "history on richText module, tested, with display and revert"

[2016-05-17 18:05] jywarren opened #2 "build out TagsModule with bootstrap-tokenfield"
https://sliptree.github.io/bootstrap-tokenfield/

(or http://bevacqua.github.io/insignia/)

went with tokenfield, much progress!!!

![screenshot 2016-05-27 at 5 58 03 pm](https://cloud.githubusercontent.com/assets/24359/15622312/86073f38-2435-11e6-8032-cd2e879e1935.png)

[2016-05-17 18:07] jywarren opened #3 "in-richTextModule autocomplete via bevaqua/horsey"
of usernames, tagnames, research notes by id or title (like github issues?) -- maybe another syntax like `P#` or `$` or `[title]`?

[2016-05-17 18:08] jywarren opened #4 "API: each module should add/modify editor.data"
a JSON object which is parsed with `editor.format(editor.data)`

[2016-05-17 18:18] jywarren opened #5 "editor should have a submit() method"

[2016-05-17 18:19] jywarren opened #6 ""find similar research" interface"

[2016-05-17 18:19] jywarren opened #7 "design extensible "More" menu with extra modules"

[2016-05-17 18:20] jywarren opened #8 "get Woofmark tokenizer to run all the time, instead of only on demarkdowning"

[2016-05-17 18:21] jywarren opened #9 "show URLs in RichTextModule in tooltips on hover (or long click)"

[2016-05-17 18:21] jywarren opened #10 "think about command access in a long document or in mobile"
popover-style, or sticking to bottom?

maybe move it to the top, since it keeps jumping around. Pin it to the t    op, esp. for mobile use?

[2016-05-17 18:23] jywarren opened #11 "ChartModule to insert graphs inline"
hypothetically.

`[graph|xxxxxx]` with Chart.js?

[2016-05-17 18:23] jywarren opened #12 "username keying of RichTextModule history"

[2016-05-17 18:24] jywarren opened #13 "standardize markdown client-side display in plots2 to match RichTextModule display"
to use megamark or something, maybe with syntax highlighting

[2016-05-17 18:33] jywarren opened #14 "ask for specific interface design input via research note"
Draft questions:

[2016-05-20 18:49] #14 closed

[2016-05-27 20:11] jywarren opened #15 "adapt #hashtag filter for #multiple-word-tags in Woofmark wrapper"

[2016-05-31 13:33] jywarren opened #16 "accept and/or display input validation errors from Rails (or other) servers"
possibly with `new PL.Editor({ errors: <json> })`

[2016-07-21 14:45] jywarren opened #23 "Template for "show someone how to do something" -- write a guide"

[2016-07-28 20:15] #2 closed

[2016-07-29 16:26] jywarren opened #25 "adapt image upload response JSON parsing using bureaucracy instead of custom fix"
https://github.com/bevacqua/woofmark/issues/30#issuecomment-234327320

[2016-08-02 15:09] jywarren opened #26 "complete "click to notify related" on title"
create a `related:` powertag that notifies related authors?

[2016-08-02 17:38] #7 closed

[2016-08-02 18:10] jywarren commented on #26
Duplicate of #6

[2016-08-02 18:10] #26 closed

[2016-08-02 19:05] jywarren opened #27 "Test for tabIndex"

[2016-08-02 19:05] jywarren opened #28 "Double check that undo is working"
could conflict with History module

[2016-08-03 21:58] jywarren opened #29 "GuidedTags module to help people post power tags"
A moddable module which can guide you through making tags, which could simply be some common options displayed as buttons, or could be some more involved kind of menu or prompt.

@ebarry -- do you think that if we had an interface like this, that the tags it creates should be added to the basic "tags" input, in part so that people can "see behind the curtain" and be able to add tags themselves wit

[2016-08-15 21:52] jywarren opened #35 "set image/file upload formData via bureaucracy options.formData"
pending https://github.com/bevacqua/bureaucracy/pull/3

Then ensure that the `name` field can be set via options; `name` is currently `uploads`:

[code]

[2016-08-16 16:50] jywarren opened #36 "make instructions overflow:hidden to avoid jumpiness"
with opacity gradient. Consider absolute positioning for others.

[2016-08-17 09:26] ananyo2012 opened #37 "Number of steps left doesn't show correctly"
I see a little problem in the No of steps left displayed in the bottom right corner of the editor. It shows just fine when you fill out the body first and then the title. But if you fill out the title first and then the body (which is the usual order of posting a note) it shows `1 of 2 steps left`. Also the Submit button is disabled until then so basically you can't post despite filling out all th

[2016-08-17 09:35] ananyo2012 opened #38 "Error message doesn't show correctly for unsuccessful Submission"
If the form Submission fails due to some reason such as not entering the title or body (or if any validation check fails at database side) the entire html template is appended to the url as response text and no appropriate error message is displayed. This is what I am getting for a unsuccessful submission while integrating it with a Rails server(Testing with the plots code).
![error_editor](https:

[2016-08-17 09:42] ananyo2012 opened #39 "History module doesn't display until a day is over"
What is happening here is all body text logs are being saved in the local cookie store but as you can see in this line https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.History.js#L194 they are appended with a `display:none` property in a `p` tag. All these logs can be toggled with a log button that displays the date on which they were made. But the button isn't displayed unt

[2016-08-17 14:08] jywarren commented on #39
I believe I've seen history "saves" which I can recover from the same day, so I'm not sure why you'd see this. Screenshot:

![screenshot 2016-08-17 at 10 07 24 am](https://cloud.githubusercontent.com/assets/24359/17739274/8b6db534-6462-11e6-90cb-da194edef907.png)

Does this not work for you?

[2016-08-17 14:11] jywarren commented on #37
This should actually be called "X /required/ steps left" -- but we don't
have enough space in the interface for that. But I haven't come up with a
good design solution for this problem, so I'm considering simply removing
that feature?

What if we displayed "0/4" but on hover, it says "0 of 4 required steps
remaining"?

On Wed, Aug 17, 2016 at 5:27 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-17 14:12] jywarren commented on #38
Ooh, that's no good. But I believe this should be filed under the
publiclab/plots2 repository, not in the editor. Thanks for catching that,
it's a big deal! Post-submission error handling is not something I'd
thought through, and maybe we need a way to pass errors into the interface,
to display red lines and error messages around incorrect fields?

On Wed, Aug 17, 2016 at 5:35 AM, Ananya Maiti <no

[2016-08-17 14:15] ananyo2012 commented on #39
Can you give it a try in an incognito window? If you do an inspect element in an incognito window you will see logs are getting saved but the toggle button doesn't appear.

[2016-08-17 14:19] ananyo2012 commented on #37
Yes that can work but I really like the disable feature of the Submit button which doesn't enable until all the required fields are filled. Though it is little buggy now. I saw the button once enabled remains as it is. It would be great that it would be disabled until all required fields are filled up.

[2016-08-17 14:24] ananyo2012 commented on #38
Yes we can write some javascript to show some error messages around incorrect fields according to the response text. Though we can easily do this through rails error messages but I thought it would be great that we did it through parsing the response text then it would be much generic and would work for any framework and since the submit is a javascript submit. So I thought of filing this issue he

[2016-08-17 14:37] jywarren commented on #37
I think we can keep that, and also show a tooltip that says "2 of 3
required steps remaining" over the button, no?

On Wed, Aug 17, 2016 at 10:19 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-17 14:39] jywarren commented on #38
Ah, i see -- yes, let's make a new issue called "error display system using
response JSON" or something? And reference the Bootstrap styles here:
http://getbootstrap.com/css/#forms-control-validation

On Wed, Aug 17, 2016 at 10:24 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-17 14:42] jywarren commented on #39
Ah, very good catch! You're right -- it doesn't work in
https://publiclab.github.io/PublicLab.Editor/examples/ in an incognito
window. Will have to review that code segment you pointed at. Thanks!

On Wed, Aug 17, 2016 at 10:15 AM, Ananya Maiti <notifications@github.com>
wrote:

[2016-08-17 15:06] ananyo2012 commented on #37
Yes this sounds best!

[2016-08-22 16:30] jywarren commented on #35
Now added in https://github.com/bevacqua/woofmark/pull/40 -- implementing now.

[2016-08-22 17:49] jywarren commented on #35
Added in 6fa7529

[2016-08-22 17:49] #35 closed

[2016-08-26 17:35] jywarren opened #44 "Refactor tagname/username/emoji autocompletion using atwho library"
Autocompletion with `horsey` is just not working reliably in this library. But @cheneyshreve and @ViditChitkara have implemented some amazing autocompletion on the plots2 project using the atwho library:

* https://github.com/ichord/At.js/ (underlying atwho, pure JS)
* https://github.com/publiclab/plots2/pull/2925 (reference implementation on plots2)

@cheneyshreve has documented the at.js lib [wo

[2016-08-29 18:29] jywarren opened #45 "Write help page for images, attach link from sidebar"
at https://publiclab.org/wiki/authoring-help#Images

[2016-08-29 18:29] jywarren opened #46 "ability to generate HTML elements from templates"
This is not an urgent feature.

This is also not super easy in older browsers, due to template literals being a pretty new feature: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

(apart from just doing it messily, building in jQuery node by node in older JS syntax)

...but could be done with https://babeljs.io/, perhaps with help from https://github.com/truead

[2016-08-29 19:54] jywarren commented on #29
@ebarry - bump on this question on guided tags. I'm also thinking of an interface like:

These open up a lot of questions, of course.

[2016-08-30 02:18] jywarren commented on #29
Closing in favor of publiclab/plots#748.

[2016-08-30 02:18] #29 closed

[2016-09-01 20:58] jywarren opened #47 "Request URI too long on submit (publiclab.org)"
https://publiclab.org/notes/warren/09-01-2016/calibrating-your-spectrometer-in-spectral-workbench returned a "Request URI too long" error which went away after I reduced the length of the body text. I think it's submitting via GET, and we should submit via POST.

[2016-10-25 15:34] jywarren commented on #47
fixed in 271ffe51002012b66284e73505003e3de19e184e

[2016-10-25 15:34] #47 closed

[2016-10-25 15:38] jywarren commented on #15
done!

[2016-10-25 15:38] #15 closed

[2016-10-25 15:38] jywarren opened #50 "refactor and optimize History module"
figure out where most time is spent

Temporary fix is to limit to 10 past versions, and/or one version per title if more than 1 day old?

[2016-10-25 15:39] jywarren commented on #5
Complete with `editor.publish()`

[2016-10-25 15:39] #5 closed

[2016-10-25 15:41] jywarren commented on #1
Complete, but needs optimization work in #50.

[2016-10-25 15:41] #1 closed

[2016-10-25 15:46] jywarren commented on #4
Currently, we assemble in `editor.data` a collection of values based on each `module.key`, assigning the value of `module.value()` to that key. So a module with a `key` of `nid`, for example, which returned `6` from `module.value()`, would result in `editor.data` being:

[code]

See README.

[2016-10-25 15:46] #4 closed

[2016-10-25 18:46] jywarren opened #54 "Make configuration save-able in localSettings"
For example history or autocompletion settings

[2016-10-25 18:47] jywarren opened #55 "Document/refine autocompletion code"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

GCI students are requested to go through the conversation and understand it before jumping to the implementation. The conversation will help them to debug it.

maybe break o

[2016-10-26 14:17] ebarry opened #56 "When dragging and dropping, image URL prompt flashes then disappears quickly"
I'm using the publiclab.org/editor and it's very nice.

When i drag and drop images, the image URL prompt displays for a short time, i think while the image is uploading -- it seems to request information like adding a link URL but the issue i am reporting is that this prompt disappears before i can actually read it or type into it. I had to be fast even to capture this screenshot of it!

![screen

[2016-10-26 15:04] ebarry opened #57 "If inside an ordered list, image upload fails."
Hi, i'm not sure if this is a bug, but i'm just pointing out that i'm adding images to my instructional steps, which are in a numbered list, and i have to get out of the list in order for images to successfuly upload. Once uploaded, i can easily get the images to be indented as part of a numbered step.

[2016-10-26 15:45] jywarren commented on #56
Can you break this into separate issues please? Thanks!

On Oct 26, 2016 10:17 AM, "Liz Barry" <notifications@github.com> wrote:

[2016-10-26 15:56] ebarry opened #58 "Moving images throws an error alert but nothing is actually broken"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

When i try to move an image that has already been uploaded/embedded, it gives this error although there's nothing really wrong with the image:

![screen shot 2016-10-26 at 1

[2016-10-26 16:13] ebarry opened #59 "Toggling between Rich and Markdown resets all numbers in a numbered list to `1.`"
Really enjoying the new Editor, just wanted to point out that when toggling between the rich mode and markdown (which i did to try to get more control on how some code bits were displaying), resulted in some loss of formatting when back in rich mode.

The automated indentations were still present, but the numbers all reset to 1. It was easy to fix this by placing my cursor after the automatic numb

[2016-10-26 18:46] ebarry opened #60 "Preview for small leads images is tiled"
I uploaded this small image to the main image box on the Editor:

![screen shot 2016-10-26 at 2 45 15 pm](https://cloud.githubusercontent.com/assets/161439/19739983/f277efc4-9b8a-11e6-9d38-97d75c84fa7c.png)

and the preview showed this:

![screen shot 2016-10-26 at 2 45 33 pm](https://cloud.githubusercontent.com/assets/161439/19739991/f9c04ef2-9b8a-11e6-9047-8bdff2c1f99c.png)

But this is not a re

[2016-10-26 18:58] jywarren commented on #59
Can you make separate issues for these?

The numbering one is actually because that's ok by strict markdown format,
see commonmark standard -- and when it's converted to html and back, the
numbers are not preserved. I'm not sure if our upstream markdown parser
will accept a change but I don't *believe* it'd violate the standard to
just make up sequential numbers on parsing back into markdown. Will

[2016-10-26 20:47] ebarry opened #62 "Toggling between Rich and Markdown loses extra carriage returns in numbered lists"
When returning to rich mode from a brief dive into markdown mode, the carriage returns (which i placed after each numbered item to add white space between the bottom of the screenshot from the top of the next instruction) were lost. Not a big deal here, easy to work around this, but reporting it because it was unexpected behavior

[2016-10-26 21:07] jywarren commented on #50
Optimization in #61; only most recent 20 shown

[2016-10-26 21:11] jywarren commented on #57
Thanks for reporting -- were you in markdown or rich mode, and if in one, could you check the behavior in the other? I believe we could submit a change to `woofmark` to add a carriage return before images; would that work?

https://github.com/bevacqua/woofmark

[2016-10-26 21:13] jywarren commented on #56
This dialog is not for adding links to images -- it's just for inserting new images; the URL requested would be the URL of an image to display. I believe you can select an image and click the link button, or control-K? If so, can you close this issue?

[2016-10-26 21:44] jywarren commented on #60
Fixed in #63, thanks!

[2016-10-26 21:44] #60 closed

[2016-10-26 21:45] jywarren commented on #58
Hi Liz, how do you move the image? Cut and paste?

[2016-10-27 01:28] jywarren commented on #59
Actually, after doing some tests, I just understood what you meant with the
ordered lists one; I'd misunderstood before. According to markdown syntax,
any ordered list is indicated by a digit followed by a period and a space,
and markdown actually assigns the numbers. So if you separate list items
with newlines, it reads them as separate one-item lists, see?

Obviously this is a problem, but the o

[2016-10-27 01:34] jywarren commented on #62
Did it return to being a continuous ordered list? Could be a related issue
to the other ordered list one.

On Oct 26, 2016 1:48 PM, "Liz Barry" <notifications@github.com> wrote:

[2016-10-27 05:27] jywarren commented on #16
Solved in #64!

[2016-10-27 05:27] #16 closed

[2016-10-27 22:39] jywarren commented on #38
Error display via Rails is working -- the above error was due to an overlarge form submission, however, which is not a validation error but a more serious one -- but I also switched the form submission to POST instead of GET. So, closing on both counts!

[2016-10-27 22:39] #38 closed

[2016-11-02 14:55] jywarren opened #65 "Set minimum note length, or at least prompt authors to write more"
We sometimes get very short posts by people with no context or background, and perhaps just a MapKnitter map or Spectral Workbench image. We should try to draw them out more in describing what they're sharing and why. Apart from better templates, we could make an alert popup or something like that, that can say something like:

We'd have to be sure this doesn't affect questions, which can be very

[2016-11-02 17:07] jywarren opened #66 "Better tests and debugging for History module"
I haven't seen my drafts saving... i think we're deleting from the wrong end of the array at:

https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.History.js#L59-L60

[code]

Hmm, tested this out and it looks ok --

Maybe this is more about what exactly triggers history storage?  Right now it's on 10 second interval, but also on if the textarea 'changes':

https://github.com/pu

[2016-11-03 17:48] jywarren opened #67 "Pasted bold text which was converted to Headers got odd formatting"
I made some bold text at https://publiclab.org/editor into a header using the `Cmd-D` shortcut.

I was left with:

[code]

I did:

1. created the bold text by typing and selecting and using `cmd-B`
2. selected it and turned it into a heading using `cmd-D`
3. repeated the `cmd-D` twice more to get a smaller heading
4. switched to Markdown mode

I was able to reproduce this at https://publiclab.gith

[2016-11-05 22:16] jywarren opened #68 "Don't display "alert" element if there are no errors"
### What happened just before the problem occurred

When starting a new post in the rich editor, you can see a red bar or box where errors would show, even though there aren't any errors.

### Relevant URLs

https://publiclab.org/editor/ (requires login) or in this repository's demo?

### Relevant lines of code

Here's where we check if there are errors: https://github.com/publiclab/PublicLab.Edit

[2016-11-05 23:45] jywarren opened #69 "Entering a link scrolls the page to the start of the textarea"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Not sure if this is a Woofmark behavior or what? https://github.com/bevacqua/woofmark

but it could be tested in that editor to see; it may be due to a `#` link of some kind

[2016-11-18 22:14] jywarren opened #70 "Event and RSVP modules to reproduce "post an event" type notes on PublicLab.org"
Like at https://publiclab.org/post --

![screenshot 2016-11-18 at 5 13 48 pm](https://cloud.githubusercontent.com/assets/24359/20448518/6a8812d0-adb2-11e6-888b-ad1b0bd79d0e.png)

[2016-11-21 13:55] jywarren commented on #23
Sequential text areas with different prompts that then concatenate onto the body modules output.

[2016-11-21 13:57] jywarren commented on #58
Hi @ebarry, can you elaborate on this please? Thanks!

[2016-11-21 22:50] #68 closed

[2016-11-21 22:51] jywarren opened #73 "> 5 history items prevent more history from being saved? Test this"
I'm trying to reproduce this in a test, but I can't seem to... maybe this is more about what exactly triggers history storage?  Right now it's on 10 second interval, but also on if the textarea 'changes':

https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.History.js#L20

[code]

and of course if it's changed from the last editor entry.

[2016-11-21 23:10] jywarren commented on #73
Merging back into #66

[2016-11-21 23:10] #73 closed

[2016-11-22 23:20] jywarren commented on #39
We should write a test to look for this specifically.

[2016-11-23 19:15] jywarren opened #77 "Develop system for making "related" [Add +] buttons do something"
https://github.com/publiclab/PublicLab.Editor/blob/master/src/modules/PublicLab.TitleModule.Related.js#L50 adds a `+` button to each "related" post when typing a title.

![screen shot 2016-11-23 at 1 47 31 pm](https://cloud.githubusercontent.com/assets/24359/20575206/455cfe44-b186-11e6-9481-cd321e65a5de.png)

That's set with:

[code]

We should make it possible to set an action for when you press

[2016-11-26 23:44] avi-jain opened #79 "Minor fix in the tooltip"
Hello, while trying to get a hang of the codebase I noticed a relatively insignificant issue that the tooltip-arrow wasn't positioned properly in the example page. Can get rid of the arrow simply by adding `.tooltip.bottom .tooltip-arrow {
display:none;}` to the css.

[2016-11-27 01:33] jywarren commented on #79
Oh wow, thank you! Do you think you could open up a pull request?

On Nov 26, 2016 6:44 PM, "Avi Jain" <notifications@github.com> wrote:

[2016-11-28 03:02] #79 closed

[2016-12-03 02:02] jywarren opened #81 "History deletes from the wrong end of the array -- should delete oldest, not youngest, first"
test at https://publiclab.org/editor

I've got this one!

[2016-12-08 00:44] #81 closed

[2016-12-08 00:54] jywarren commented on #66
Great -- fixed in #84 and #83

[2016-12-08 00:54] #66 closed

[2016-12-16 13:02] avi-jain opened #84 "Compatibility with MS Word - Lists"
I realize this is not an immediate concern, but I thought I'll just put it here anyway, in case Word compatibility is touched upon in the future. Hope it's alright.
So, steps to reproduce - Copy a bulleted list from MS Word into the editor.
![bugwordlist](https://cloud.githubusercontent.com/assets/16825902/21262611/4f231668-c3b8-11e6-9ca5-762403c57c47.PNG)
The cursor spans outside the editor area,

[2016-12-16 22:39] jywarren commented on #84
Hm, interesting -- Do you think you can find the exact HTML that results from pasting lists in? Because then we could potentially intercept and recognize such HTML and convert it more properly.

Thanks!

[2016-12-19 06:28] avi-jain commented on #84
Example format for a single bullet point -
[code]
I tried to look for an existing solution, and CKEditor seems to have a _paste from word_ functionality that cleans up the code -
[Link to Ticket](https://dev.ckeditor.com/ticket/9456)
[Plugin](https://github.com/ckeditor/ckeditor-dev/tree/master/plugins/pastefromword)
There's not much documentation about the `mso` properties though 😔 (here's an ext

[2016-12-19 20:04] jywarren commented on #84
OK - well, i think there are two ways to do this --

First, we could try to add a matcher to [`domador`](https://github.com/bevacqua/domador), which is what `woofmark` uses to turn HTML into Markdown, and we use [`woofmark`](https://github.com/bevacqua/woofmark) for our rich editor. `domador` parses `<p>` tags here, and we could in theory try to identify ones with `class="MsoListParagraphCxSpFirst

[2017-01-04 19:49] klie1 opened #85 "Add a button that allows the user to insert a block of code in Rich Editor"
For example: In the legacy editor, it is possible to just copy/paste code... and when it's published, you see the "reader friendly" view of it.  For example, that's how I created [this note](https://publiclab.org/notes/klie/12-21-2016/public-lab-community-newsletter-december-2016).

In the new editor, the code disappears after you enter it.

Also, I am not a coder and therefore don't know the tech

[2017-01-10 22:45] jywarren commented on #85
I can help with code pointers and stuff on this -- this feature could be much like the "add Table" button, which is implemented here:

https://github.com/publiclab/PublicLab.Editor/blob/master/src/modules/PublicLab.RichTextModule.Table.js#L55-L95

![screen shot 2017-01-10 at 5 38 49 pm](https://cloud.githubusercontent.com/assets/24359/21827900/ad2b2046-d75b-11e6-9fd8-f4a58ba72645.png)

the things

[2017-01-13 15:46] jywarren opened #88 "add <hr /> button"
Just like in #85, but to insert:

`****`

This would be implemented almost identically to https://github.com/publiclab/PublicLab.Editor/pull/92, but would be called `PublicLab.RichTextModule.HorizontalRule.js`

[2017-02-06 18:48] mathewlippincott commented on #67
I think I've encountered an issue in this vein. The Rich Editor adds a "\" in front of headings entered in the "Markdown" mode, forcing them to display as ##Heading, since the Markdown is /##Heading.

I'm attempting to post a Replication of [my Activity](https://publiclab.org/notes/mathew/02-03-2017/routine-maintenance-and-calibration-of-the-minivol):

1. I grabbed the [original markdown](https://

[2017-02-06 22:02] jywarren opened #90 "alternative Markdown headings mis-parsed"
(via @mathewlippincott)

![screen_shot_2017-02-06_at_10_37_15_am](https://cloud.githubusercontent.com/assets/1203280/22661194/56506d0e-ec59-11e6-81a7-f0d399516fb6.png)

Responding:

The issue is that Markdown headers are technically:

`# Header`

with a space, but many folks use no space (as we have for years)

`#Header`

I'm trying to add some way to filter these and essentially auto-correct them

[2017-02-06 22:02] jywarren commented on #67
Hi, Mathew, i believe this is distinct but your issue is also a problem I've seen.

The issue is that Markdown headers are technically:

`# Header`

with a space, but many folks use no space (as we have for years)

`#Header`

I'm trying to add some way to filter these and essentially auto-correct them, but it's been going slowly.

Moving to a new issue to collate this. Thanks for the helpful docum

[2017-02-08 16:14] #90 closed

[2017-02-08 16:18] jywarren commented on #90
Resolved via plots2 codebase; keeping standard markdown here.

[2017-02-10 11:05] djmgit commented on #85
@jywarren  I am working on this.

I have created a new module named PublicLab.RichTextModule.CodeFences which contains the following :

[code]

and I have initialized it in Public.Woofmark.js :

[code]

grunt build is showing no error, new button is getting added however it is not functioning as desired.
[code]

[2017-02-13 22:50] jywarren commented on #85
Hi, can you open a pull request with your code so I can take a look?

Have you confirmed that the new module is being included in? See how that's done here: https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.Editor.js#L22

I think we could write a test to ensure this, like this: https://github.com/publiclab/PublicLab.Editor/blob/master/spec/javascripts/tags_module_spec.js

I'm

[2017-02-14 03:57] djmgit commented on #85
@jywarren I will send a PR soon :)

[2017-02-17 15:51] jywarren commented on #85
Hi, I've realized that there is already a feature to do code blocks, the fourth button from the left. But I've requested that @djmgit adapt his excellent work to solve #88, which will require almost identical code, but for horizontal rules, like:

****

I'm closing this issue as a result, and the new pull request #92 will apply to #88 instead of this. Thank you and apologies!

[2017-02-17 15:51] #85 closed

[2017-05-05 23:07] jywarren commented on #77
OK, this is addressed in #95, but keep in mind that the tagging function is fixed; we could make that configurable in options as well, as outlined above, and preserve the default.

[2017-05-05 23:07] #77 closed

[2017-05-05 23:30] jywarren commented on #88
Klie - @djmgit fixed this!!!

[2017-05-05 23:30] #88 closed

[2017-05-05 23:31] jywarren commented on #88
@klie1 - @djmgit fixed this!!!

[2017-05-27 20:43] ananyo2012 opened #98 "jQuery event listeners running twice in the Editor"
This came up in https://github.com/publiclab/plots2/issues/1434. The dropdown feature isn't working in pages where the editor is included. The jQuery event listeners seems to be running twice so the dropdown is opening and closing at the same time.

[2017-07-31 00:07] jywarren commented on #98
So, we use jQuery (which maybe we shouldn't, but for now, we do), and so I browserify it in. But then, when we use it at publiclab.org/post or anywhere else, we've doubly included it and events get fired twice (a pretty common issue on Stack Overflow).

Can we check for jQuery already being loaded and not do so if it is?

https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.Edit

[2017-08-03 11:08] jywarren opened #100 "YouTube embedding"
The rich editor doesn't handle YouTube embeds. (as reported by @Fastie [here](https://publiclab.org/questions/MadTinker/07-30-2017/just-tried-to-publish-a-replication-of-the-knowflow-and-fail)

I believe we could either have an "embeds" button but we'd also have to confirm that embeds don't get scrubbed out as a 'disallowed' content type. We can probably write a test for this if we like, here:

Ma

[2017-08-03 11:10] jywarren opened #101 "Post button does not become enabled sometimes"
But clicking into the title input and clicking out resolves this. Not sure what causes it; it needs more testing to narrow down what's going on. (as reported here: https://publiclab.org/questions/MadTinker/07-30-2017/just-tried-to-publish-a-replication-of-the-knowflow-and-fail)

[2017-08-03 11:11] #56 closed

[2017-08-03 11:14] jywarren commented on #62
I believe this is because in Markdown, carriage returns are not allowed between list items; this makes them into separate lists. This is the same as what's happening in #59, so merging.

[2017-08-03 11:14] #62 closed

[2017-08-10 15:25] jywarren opened #103 "Rich text image attachment no longer sent as of v0.2.18"
Tracking in followup from https://github.com/publiclab/plots2/issues/1576 --

The "request payload" should be (when working):

[code]

However, this is empty on `v0.2.18`. Reverting to `v0.2.17` resolves this.

[2017-08-12 02:05] jywarren commented on #103
Manual testing locally shows the `Content-Type: image/jpeg` appearing in both `v0.2.17` and  `v0.2.18`, for the `pole.jpg` sample image. Not sure what was going on here... may need more testing as part of `plots2`.

**Update** -- figured this out. It was in the `rich.html.erb` template on `plots2`. Unrelated to code over here. Whew! Closing.

[2017-08-12 02:05] #103 closed

[2017-09-14 18:20] jywarren commented on #101
OK - narrowed this. I believe the "activation" events for the rich text area are not getting triggered because we initiate the listening **before** the rich text module is initialized.

We should be able to adjust the ordering to resolve this.

[2017-09-14 18:49] #101 closed

[2017-09-17 17:25] #100 closed

[2017-09-17 21:36] jywarren commented on #100
Example:

[code]

[2017-09-17 22:15] jywarren opened #109 "remove jQuery from the compiled-in dependencies"
## Problem

We currently compile in jQuery, which is used in this library quite a bit. This causes trouble if a website has already included jQuery -- it makes all click events fire twice, breaking sites like PublicLab.org (see #98).

## Solution

This is not a request to remove it entirely, but just to not compile it in, and rather:

* [ ] add to the documentation that jQuery is now necessary to

[2017-09-17 22:15] jywarren commented on #98
I'm changing this to propose removing it entirely! In #109 -- thanks!

[2017-09-17 22:15] #98 closed

[2017-09-17 22:18] jywarren commented on #109
I did the initial removal step in https://github.com/publiclab/PublicLab.Editor/pull/110

[2017-09-19 13:32] jywarren opened #111 "Tests don't run in Node v4, but work in Node v5+"
As of PublicLab.Editor `v3.x`, tests don't run without error in Node v4, though they work in higher versions of Node.

https://github.com/publiclab/PublicLab.Editor/pull/110 documents this, in the second-to-last tests. Node v5, 6, and 7 run fine, but Node v4 and v4.2 do not. We ended up deprecating Node v4 for tests, but would like to re-open it because v4.2 is a LTS (long term support) edition of

[2017-10-19 02:06] jywarren opened #112 "Add "shortcode" insertion using format [shortcode:_____]"
This will require adding a way to display inline content but in a "disabled" way, so a grid as shown in the Questions section of this page: https://publiclab.org/wiki/harvey#Questions

... would appear like:

`[questions:harvey]`

This will take matching `parseMarkdown` and `parseHTML` entries, as described in the `woofmark` docs: https://github.com/bevacqua/woofmark#optionsparsehtml -- this one i

[2017-10-27 02:34] jywarren opened #113 "Error preventing posting - related to domador <li>?"
When posting some bulleted content [copied from this post](https://publiclab.org/questions/cfastie/09-18-2017/what-should-we-do-at-leaffest), into a "new question" at https://publiclab.org/questions/new, I'm seeing this error on hitting "publish":

[code]

That's for this line, in Domador:

[code]

To reproduce, try pasting the bullet points from the above-linked post and hitting publish; I was ab

[2017-11-22 19:20] jywarren opened #114 "Window scroll position jumps wildly when typing into bottom of long body of text"
In Markdown mode, if you go to https://publiclab.github.io/PublicLab.Editor/examples/ and enter a few hundred lines of text -- just paste in a lot -- then type near the bottom, the scroll position starts to jump around, making it very hard to enter text.

I think this may have to do with the calculation of `scrollTop` on this line:

https://github.com/publiclab/PublicLab.Editor/blob/e74e97ee54fcd0

[2017-11-28 17:16] jywarren opened #115 "History module not finding corresponding DOM element in new v1.0.0 branch"
See #110 -- Continued issues with the history module not finding its element; this code would be at https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.History.js -- please download the branch at this PR and test it out!

[code]

[2017-12-05 18:08] jywarren commented on #114
Related upstream but in Woofmark? https://github.com/bevacqua/woofmark/issues/26

[2017-12-15 19:10] jywarren commented on #109
Complete in https://github.com/publiclab/PublicLab.Editor/pull/110 !

[2017-12-15 19:10] #109 closed

[2017-12-15 19:12] jywarren commented on #115
Apparently resolved in #110

[2017-12-15 19:12] #115 closed

[2017-12-16 08:38] jywarren opened #118 "Stop fields from jumping around by fixing height of some modules"
such as the tagging module -- the help text appearing makes it jump - esp on https://publiclab.org/questions/new

also we could do `overflow: hidden` on the rich text module's help area (`class="ple-guide-minor hidden-xs hidden-sm"`) --  but there's no fixed height, so not sure that works

https://publiclab.org/post

[2018-01-23 08:52] kunal-mohta commented on #118
Or maybe a solution can be to user `opacity: 0;` instead of `display: none;` for the help text divs.

[2018-01-23 14:45] jywarren commented on #118
Ah, interesting -- would you be interested in trying this out and opening a
pull request? We'd love your help.

On Tue, Jan 23, 2018 at 3:52 AM, k-cap <notifications@github.com> wrote:

[2018-01-23 14:56] kunal-mohta commented on #118
@jywarren Sure.

[2018-01-23 15:43] jywarren commented on #118
Awesome, thank you!!!

[2018-01-23 20:05] kunal-mohta commented on #114
Do you have to resize the the textarea?
If we disable resize, we get this..
![screencast-2018-01-24-01-28-39](https://user-images.githubusercontent.com/30414954/35297838-3f4e58c0-00a6-11e8-9a15-fbbe8bad017c.gif)

..which seems pretty decent.

(My apologies for the poor quality of the gif, you can also view the result in the video present in the zip folder below)
[Screencast 2018-01-24 01:28:39.mp4

[2018-01-24 16:07] kunal-mohta opened #122 "Problem with adding code in Rich Editor"
I faced two different issues in two different web browsers while adding code in the Rich editor mode.

### Google Chrome (Version 60.0.3112.113)
This happened when I tried to add code:
![screencast-2018-01-24-21-19-39](https://user-images.githubusercontent.com/30414954/35342278-b26bf252-014d-11e8-9bca-b8758d21ea8b.gif)

### Firefox Developer Edition (59.0b2)
Cursor keeps going on to the beginning

[2018-01-24 23:57] jywarren commented on #122
This is a great documentation of an issue. Does this happen on the demo at https://github.com/bevacqua/woofmark ?

[2018-01-25 01:03] #118 closed

[2018-01-25 01:12] jywarren commented on #114
I think it's just trying to emulate the behavior of the rich text mode... see how it's different there? But maybe if we're seeing bad behavior here we should just disable it for now and ensure it's "pretty tall" ... what do you think?

[2018-01-25 08:53] kunal-mohta commented on #122
No, [woofmark](https://bevacqua.github.io/woofmark/) seems to work as expected.

[2018-01-25 08:59] kunal-mohta commented on #114
Oh I see..
I think you are right, instead of disabling resize, we could try to fix the automatic scrolling of the page on entering text, right?

[2018-01-25 09:10] kunal-mohta commented on #11
I think using [Jutsu](https://github.com/JoelOtter/jutsu/) would be great!

[2018-01-25 15:36] jywarren commented on #114
That'd be super. Can you think of a good way forward? Thanks!

On Jan 25, 2018 4:00 AM, "k-cap" <notifications@github.com> wrote:

Oh I see..
I think you are right, instead of disabling resize, we could try to fix the
automatic scrolling of the page on entering text, right?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.co

[2018-01-25 19:49] jywarren commented on #11
Actually, one implementation could just be that when you upload a CSV file,
it inserts this syntax:

[graph:/link/to/file.csv]

So that on Public Lab it'd display the graph like this:

https://publiclab.org/wiki/power-tags#Inline+graphs

What do you think?

On Thu, Jan 25, 2018 at 4:10 AM, k-cap <notifications@github.com> wrote:

[2018-01-25 20:07] jywarren commented on #122
hmm. i wonder if that's a clue. Any ideas? What woofmark version?

On Thu, Jan 25, 2018 at 3:53 AM, k-cap <notifications@github.com> wrote:

[2018-01-25 20:22] kunal-mohta commented on #11
It is a great idea.
Although it might restrict the input from the user's side.

[2018-02-01 05:37] sarthak-sehgal commented on #122
@kunal-mohta, @jywarren It works fine on Google Chrome upon pressing Shift+Enter for creating a new line. New `pre` text tags (`<pre></pre>`) are being created upon pressing "Enter" in Google Chrome.

[2018-02-15 21:17] jywarren opened #124 "Reposition the bar of editing icons at top of composition box"
(reposting on behalf of @ebarry from https://github.com/publiclab/plots2/issues/2334)

### Please describe the problem (or idea)

I would like to consider moving the "kitchen sink" bar of editing icons above the text box, currently it is below the text box.

<img width="699" alt="screen shot 2018-02-15 at 12 03 39 pm" src="https://user-images.githubusercontent.com/161439/36269851-49c8289a-1248-11e

[2018-02-15 21:17] jywarren commented on #124
I think this does need to be its own issue, and I don't quite follow yet! Thanks!

[2018-02-15 21:18] jywarren opened #125 "Detect and add support for people writing markdown"
(reposting on behalf of @ebarry from https://github.com/publiclab/plots2/issues/2336)

### Please describe the problem (or idea)

I am reporting in from a conversation with @shapironick that reveals a lack of support for people writing markdown in the new Editor. The current workflow for someone who wishes to write markdown -- in fact, if they are a long time contributor they probably learned mark

[2018-02-17 00:20] jywarren commented on #125
We could scan the input for multiple instances of Markdown-typical characters, like: `##` or `**`, or `](` (commonly part of a Markdown link)

and if it detects them, display an alert below the box? Using a Bootstrap style alert box:

https://getbootstrap.com/docs/3.3/components/#alerts

We could potentially add a line here to check whenever text is entered:

https://github.com/publiclab/PublicLab

[2018-02-17 00:21] jywarren commented on #125
@publiclab/reviewers is anyone interested in digging into a little JavaScript over here? Could this make a good first-timers-only issue perhaps?

[2018-02-17 22:25] shapironick commented on #114
+1ing this issue :) as it makes writing intricate notes frustrating.

[2018-02-17 22:28] shapironick opened #126 "Add ability to center text and photos in rich text editor"
a boy can dream!

it would be especially helpful when adding credit to photos so that it isn't easily confusable with the body text.

[2018-02-17 22:33] shapironick opened #127 "Allow formatting bar in rich text editor to remain in frame while scrolling"
The formatting bar stays at the bottom of long notes so you have to scroll all the way down to the bottom to use it. If you are doing repeated formatting it can get tedious to highlight the text, scroll down, click the button, scroll up, highlight the text, scroll down etc.

Thank you!

[2018-02-20 18:29] jywarren commented on #126
good idea! I think this would need some kind of markdown syntax for centering... i don't know if that exists... here are some possibilities:

https://stackoverflow.com/questions/3912694/using-markdown-how-do-i-center-an-image-and-its-caption#3955305

https://simplpost.com/markdown.html

This suggested format doesn't work in GitHub Markdown:

`-> Hello world! <-`

We could also try to implement a "

[2018-02-20 18:30] jywarren commented on #126
For anyone hoping to add this feature, here's an example of a new button being added -- for a different feature -- to use as a guide: https://github.com/publiclab/PublicLab.Editor/pull/92/files

[2018-02-20 18:35] jywarren commented on #127
I like this -- @ebarry suggested pinning to top, but we could also have it
"float" at bottom of screen, perhaps...

Recently I've been using the Medium editor and it's quite nice. It has a
"popup" formatter which I think woofmark also supports? Not sure, but it's
surprisingly convenient although actually not a familiar interface.

On Sat, Feb 17, 2018 at 5:33 PM, Nick Shapiro <notifications@github

[2018-02-21 06:36] amitsin6h commented on #126
@jywarren can I work on this as my first contribution.

[2018-02-21 20:02] shapironick commented on #127
Oh i like the medium pop up bar too! I think i've seen it (or similar) popping up in unexpectedly conservative places recently (like MS exchange). my only concern would be if it is too limited. I love me some centering and indenting :)

The medium pop up seems more limited (at least in this incarnation):
![image](https://user-images.githubusercontent.com/7503343/36502434-f83e97d2-1717-11e8-8bad-22

[2018-02-21 21:26] jywarren commented on #127
yeah... there's always a balance on options vs. simplicity. Apart from this
issue, what do you think about an "initial" basic toolbar but an expandable
section with more advanced tools? As an independent feature from this
discussion?

On Wed, Feb 21, 2018 at 3:02 PM, Nick Shapiro <notifications@github.com>
wrote:

[2018-02-21 21:42] jywarren commented on #126
Hi, @amitsin6h -- this may be a tough one, but if you want to give the `<center></center>` technique a try, we're ready to help you out if you have trouble! Thank you!

[2018-02-22 06:39] shapironick commented on #127
That sounds great from my perspective! I don't write as many RNs as I do
emails (maybe I should?) so streamlining isn't as big of a deal here as it
would be on an email editor. I was really bummed when gmail moved all of
the basic text formatting into the expandable section (in place of
promoting products like drive and send $ on the main toolbar) as I use
those tools in

every

 other

email.

:)

[2018-02-26 04:11] shapironick opened #128 "Numbering is reset if there are photos in the list"
I went in to edit [this](https://publiclab.org/notes/nshapiro/09-26-2016/build-a-plant-based-air-purifier?_=1519617982) note and after doing something unrelated to a list that I had in there with instructions the numbered list of instructions started not working properly.

It looks like this in the editor:
![screen shot 2018-02-25 at 11 04 34 pm](https://user-images.githubusercontent.com/7503343/3

[2018-02-28 23:28] ebarry commented on #125
I just ran into this issue again, do any @publiclab/reviewers feel like this could make a good issue for a newcomer?

[2018-03-01 15:22] jywarren commented on #125
Right on line 179 of the above excerpt we could probably add something like

[code]

[2018-03-01 16:30] first-timers[bot] opened #129 "warn about markdown usage in WYSIWYG mode"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-03-01 16:38] jywarren commented on #125
And @shapironick -- I think there are possible ways forward for **catching** and correcting markdown use, but it might take some careful mapping out of possible interactions; for example, what if someone really wants to enter `\##` or another auto-corrected string for some reason? And things like that -- the "detect and warn" idea is a good first step and allows us to prove that it works and then

[2018-03-01 16:46] jywarren commented on #128
This is a doozy -- very frustrating for any Markdown system. It is an upstream issue but I wish we could think about a clever way around it.

Basically, and as I type this i'll demo it on GitHub's Markdown:

1. adding an image (or other things like tables) inserts new lines, essentially "ending" the numbered list.

![pl-narrow](https://user-images.githubusercontent.com/24359/36857033-195a0994-1d3d

[2018-03-01 19:06] shapironick commented on #128
sounds good to me! and the funny thing is that the numbering worked when i
wrote the original note in an earlier version of the editor (just markdown
I think) but when i went in to edit something else it broke.

But yes! sounds like a great way forward, thank you!

On Thu, Mar 1, 2018 at 11:47 AM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-03-01 22:29] j-tanz commented on #129
I would like to claim this issue

[2018-03-01 22:46] jywarren commented on #129
That'd be super, thanks!!!

On Mar 1, 2018 4:30 PM, "j-tanz" <notifications@github.com> wrote:

I would like to claim this issue

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/PublicLab.Editor/issues/129#issuecomment-369753654>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/A

[2018-03-02 02:13] shapironick commented on #125
sounds good!

[2018-03-12 23:52] jywarren commented on #129
Solved in #130 -- thank you!!!

[2018-03-12 23:52] #129 closed

[2018-03-12 23:52] jywarren commented on #129
![screenshot 2018-03-12 at 7 51 29 pm](https://user-images.githubusercontent.com/24359/37315204-d9dbb146-262e-11e8-8e7d-1ad44f552d86.png)

[2018-03-12 23:52] jywarren commented on #125
OK, this is live -- how's it look?

http://publiclab.org/post

![screenshot 2018-03-12 at 7 51 29 pm](https://user-images.githubusercontent.com/24359/37315219-ec285c46-262e-11e8-9383-8f9182e64887.png)

[2018-03-12 23:53] jywarren commented on #125
Thanks a million to @j-tanz for showing up and fixing this!

[2018-03-13 00:02] jywarren commented on #125
Now, when you click `click here`, the above text becomes:

`\## hey there`

Of course from then on it's fixed, but it'd be even better if we could catch that and convert it back to what you'd typed in.

I think we could do this by fetching:

[code]

That strips out the `\` characters. So, the full command might be:

[code]

That could be run when you click `click here` -- and the alert window coul

[2018-03-13 16:36] ebarry commented on #125
Wow thanks @j-tanz !!! Just followed you on Github.

[2018-03-16 08:29] Gauravano opened #131 "Part of the text gone while editing"
I was working on my proposal https://publiclab.org/notes/gauravano/02-18-2018/gsoc-proposal-email-integration-project few hours back, I was doing some edits in Rich text mode, I used `ctrl+B` to un-bold some text, 2 lines after that bold line were gone. As missing lines are `<img >` tags so I ignored it and typed it again but after doing some edits in somewhere in the middle of my research note, I

[2018-03-16 09:43] jywarren commented on #131
hi! I like the idea of database-stored revisions on nodes in `plots2` --
it'd be great. We do have a history module in the editor -- under the `...`
button on lower right. It's not well advertised, though, so +1 to any UI
work to make this more obvious. It's client side, so it's not for all
purposes, but we could do better to make it easy to find. Maybe we could
show a brief highlight or tip when

[2018-03-16 10:12] Gauravano commented on #131
button on lower right.

hi @jywarren , actually, I have tried to revert back to the last possible change but, that history tab records did not come out to any help to me as when changes are made fastly like when the user is constantly typing then at that time it saves the revision faster too as you can see from this screenshot

![latest](https://user-images.githubusercontent.com/20878070/37514520-

[2018-04-24 19:59] ebarry commented on #114
Hi! I'm also experiencing this. Whenever i do a key command like `⌘b` to bold some text, or click the `B` button, the page positions moves to the bottom of the page -- past the text window all the way to the bottom of the footer. @SidharthBansal do you have any ideas on this?

[2018-04-24 20:10] SidharthBansal commented on #114
@ebarry on clicking on the bold button ``B`` I did not notice any movement of the page to the bottom of the page. I also tried with the ⌘b that also works well. I am using Ubuntu with Mozilla Firefox. Maybe the problem is with the browser.

[2018-04-24 20:26] ebarry commented on #114
Wow that is great to hear. Can i ask if you tested with several hundred lines of text that caused the entry box to be greatly expanded, like as much as https://publiclab.org/notes/liz/04-24-2018/evaluation-listen4good-round-two-results ?

[2018-04-24 20:50] SidharthBansal commented on #114
I tried with the link provided by you but the behaviour is normal.

[2018-04-24 21:13] ebarry commented on #114
wow ok! Time to switch to Ubuntu!!! I will try to better document this for other browsers

[2018-04-24 22:30] jywarren commented on #114
If you can offer a sample text and step-by-step workflow, we can call in
other people to try it out and report back!

On Tue, Apr 24, 2018 at 5:13 PM, Liz Barry <notifications@github.com> wrote:

[2018-04-25 13:55] ebarry commented on #114
Aha! new information to report:

in Chrome, when editing a large amount of text, and with a cursor position "below the fold" (somewhere lower than what is shown upon first load of the Editor interface) ---> pressing EITHER the shift key OR the command key (⌘ on mac) causes the page to "move" all the way down to the bottom of the footer, past even the lower boundary of the text box.

Use this text

[2018-04-30 23:41] jywarren commented on #112
solved in #133 !!!

[2018-04-30 23:41] #112 closed

[2018-05-02 13:24] jywarren opened #142 "Dragging in a CSV to generate a graph works in wysiwyg but not in markdown"
in markdown, it is treated as a simple attachment -- the new `mergeHtmlAndAttachment: function (chunks, link) {` method is not invoked.

https://github.com/publiclab/PublicLab.Editor/pull/137/files#diff-a25f5d4b5c50e14d0bd66616d381892aR22318

Need to look through woofmark to see when it's triggered and if we can intercept an attachment insertion in wysiwyg mode too...

[2018-05-02 13:37] jywarren commented on #142
[code]

Example csv to use: https://publiclab.org/system/images/photos/000/024/808/original/114634.csv

[2018-05-02 13:38] jywarren commented on #142
Relevant code segment:

https://github.com/publiclab/PublicLab.Editor/blob/f5f5492e5188963b0d6b672fc60093cef34c065c/src/adapters/PublicLab.Woofmark.js#L140-L151

This seems to work when you /convert/ between markdown and woofmark, but not when you initially drag it in. Odd!

[2018-05-02 15:02] jywarren commented on #142
Working this over here: https://github.com/bevacqua/woofmark/issues/67

[2018-05-10 17:16] first-timers[bot] opened #143 "Adding Link to Read more"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-05-10 21:06] vpeddint commented on #143
Hello, I am a first timer only. I want to get started. Please add me as a contributor to the repository. Thank you!

[2018-05-10 21:09] jywarren commented on #143
Ah - @gauravano - i realize this is the default bot configuration -- we can
customize it a bit by copying these files into the repository:
https://github.com/publiclab/plots2/tree/master/.github

@vpeddint -- please go ahead and get started, we'd love your help! We
actually don't follow this exact workflow, and don't require people to be
accepted as "formal contributors" in order to help out. Than

[2018-05-12 14:12] Gauravano commented on #143
hi @jywarren, sorry I should've checked the steps again. Should I open a PR to include the files mentioned by you so that we can have templates for Editor too? Thanks.

[2018-05-15 19:50] jywarren commented on #143
That'd be great, thanks Gaurav! Yeah, I haven't used first timers bot with
other repos before so it's new to me too!

On Sat, May 12, 2018, 10:13 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2018-05-19 00:13] latifahpresident commented on #143
Hello, I'd like to be added as contributor. This will be my first time contributing anything to github.

[2018-05-19 04:13] jywarren commented on #143
Hi, you're welcome to contribute -- we can add you but it's not a
prerequisite actually -- we're happy to help you get started here right
away!

On Fri, May 18, 2018 at 5:13 PM, latifahpresident <notifications@github.com>
wrote:

[2018-05-20 22:27] az-chris commented on #143
I think I was able to get it done and create a pull request successfully for it.

[2018-05-22 10:12] jywarren commented on #143
Great, I'll review soon -- thanks so much!!!

On Sun, May 20, 2018, 6:28 PM az-chris <notifications@github.com> wrote:

[2018-05-30 00:02] jywarren commented on #143
Fixed - thanks so much!! We'd love your help with something else if you're interested :-)

[2018-05-30 00:02] #143 closed

[2018-06-05 19:10] jywarren commented on #114
I think we could try to reproduce this by:

1. `console.log()`ing this line to see what the scrollTop values are: https://github.com/publiclab/PublicLab.Editor/blob/e74e97ee54fcd01dc81bf4c14cecf6f85cd4cf64/src/modules/PublicLab.RichTextModule.js#L168
2. instead of pressing `shift` or `command` as Liz says, trying to trigger this by manually entering the same values for `scrollTop` that are being i

[2018-06-05 19:11] jywarren commented on #114
We can also try to just disable changing `scrollTop` but not disabling the resizing altogether to see if that helps?

[2018-06-05 19:11] jywarren commented on #114
@publiclab/soc if anyone likes JavaScript and is looking for a small side project, this one is pretty frustrating if you've ever written a long post on PublicLab.org! Any help appreciated. 😅

[2018-06-05 19:34] jywarren commented on #114
We also use the npm module `grow-textarea` to do this, and maybe that's buggy:

https://github.com/publiclab/PublicLab.Editor/blob/e74e97ee54fcd01dc81bf4c14cecf6f85cd4cf64/src/modules/PublicLab.RichTextModule.js#L131-L138

Here are some others we might try:

* https://github.com/ultimatedelman/autogrow
* https://github.com/jevin/Autogrow-Textarea

[2018-06-05 19:35] jywarren commented on #114
I think we have to figure out if the `scrollTop` line is causing this or the `grow-textarea` library. We can try commenting out one or the other and testing this now that Liz has provided a long example text to use.

[2018-06-05 19:38] jywarren commented on #126
Commonmark doesn't specify either a `center` style or a way to add `text-align:center` CSS to a block: https://spec.commonmark.org/0.28/

I can see a couple ways forward:

1. [this suggestion](https://stackoverflow.com/a/43691451/1116657) for images only, not using any Markdown modding
2. we could identify or make a new caption style to make the distinction clear
3. we could use the alt text in th

[2018-07-06 22:29] jywarren opened #148 "Refine user interface design of main image upload"
When people are prompted to upload a main image, it looks like this:

![image](https://user-images.githubusercontent.com/24359/42402596-c8b458fc-8149-11e8-9bb5-9c4610b68795.png)

Then when they drag in an image, it looks like this:

![image](https://user-images.githubusercontent.com/24359/42402599-d38ce67c-8149-11e8-955a-03a7fbdf2c40.png)

It can be confusing because you see only part of the image

[2018-07-25 20:04] jywarren opened #149 "Look at long-term convergence with big projects like Gutenberg"
https://github.com/WordPress/gutenberg

Very nice! Block-based.

[2018-07-25 20:51] cheneyshreve commented on #44
Hi @jywarren yes, I'd love to work on this. I got a start moving the atwho emoji code into app/assets/javascript and working on generalizing that code for use in other editors with a couple follow-up questions, but haven't gotten those organized quite yet (traveling today). Where's the best place to reach out with questions/ideas?

[2018-07-25 21:08] jywarren commented on #44
back in the issues you opened for them would be fine! Thanks! And no rush,
just making a space for this to happen :-)

Safe travels!

On Wed, Jul 25, 2018 at 4:51 PM Cheney Shreve <notifications@github.com>
wrote:

[2018-08-02 00:44] cheneyshreve opened #150 "npm errors when installing PublicLab.Editor"
### Please describe the problem (or idea)

For initial install of PublicLab.Editor, I'm had ran into some (npm) related errors.

Here are the steps I took:
- I forked the PublicLab.Editor (repo)
- git cloned (repo)
- cd (repo)
- set upstream remote
- double checked my versions for node/npm (node v10.1.0, npm 6.2.0)
- npm install

Here are the error messages I got from npm:

When I ran npm install,

[2018-08-06 13:46] ebarry commented on #114
This is such a funny bug! While editing a long research note, even pressing `Shift` in order to capitalize a letter causes the rapid window scroll to the bottom. As soon as the second letter is typed, however, the window scrolls up rapidly to the correct cursor insert point in the text box (so rapidly, it is not immediately obvious what caused the flicker). Thanks for reading!

[2018-08-07 19:12] jywarren commented on #114
I disabled `grow-textarea` on line 136 of `src/modules/PublicLab.RichTextModule.js` and this behavior stopped. So I think it's worth trying a different textarea growing library.

[2018-08-07 19:13] jywarren commented on #114
Trying https://www.npmjs.com/package/autogrow now

[2018-08-07 22:31] jywarren commented on #114
I've attempted a fix by removing the autogrow feature completely, as suggested by @kunal-mohta. I've commented it out with a note as to why. Tests running...

[2018-08-07 22:42] #114 closed

[2018-08-07 22:42] jywarren commented on #114
Merging and publishing

[2018-08-07 22:47] ebarry commented on #114
oh wow - SO EXCITED!

--

+1 336-269-1539 / @lizbarry <http://twitter.com/lizbarry> / lizbarry.net

On Tue, Aug 7, 2018 at 6:42 PM, Jeffrey Warren <notifications@github.com>
wrote:

[2018-08-09 17:56] cheneyshreve commented on #150
Hi @jywarren I did some follow-up on this and here is what I found:

I researched this issue on the moment github site. Dozens of people with many different environment setups have complained about this error in this [issue](https://github.com/npm/npm/issues/17749) . The issue is closed because it's supposedly fixed by more recent versions of npm. The npm engineer [on the thread ](https://github.c

[2018-08-09 18:03] jywarren commented on #150
Thanks. I also saw the new version of NPM reports some vulnerabilities and
I updated a few packages to try and address this, and reduced the number.
the latest master branch should report fewer, and we can continue to do
this.

Otherwise, this looks good - are you all set up with a dev environment
then?

Thanks for working through this and documenting your work so carefully!

On Thu, Aug 9, 2018 a

[2018-08-09 18:16] cheneyshreve commented on #150
Hi @jywarren yes, I am all set up now and learning more about npm :)

[2018-08-09 19:46] jywarren commented on #150
very cool - ping me when you're wanting to get started... try changing
something and then running `grunt build` to see your changes compiled in
this library, too!

On Thu, Aug 9, 2018 at 2:16 PM Cheney Shreve <notifications@github.com>
wrote:

[2018-08-09 21:57] cheneyshreve commented on #150
Hi @jywarren--yes, ready & excited to get going on this. Should I create a local branch and link to[ this issue](https://github.com/publiclab/PublicLab.Editor/issues/44) you'd opened earlier? re: getting started—I’ve read through the docs and see instructions regarding making edits to files in /src/ and looked at the  link to template, but it's unclear to me where/how we visualize edits made?

[2018-08-09 22:41] jywarren commented on #150
that's great. And do you mean how to you test it out? I believe you should
be able to open the /examples/index.html file in a browser and use it
there, without needing to start an app!

On Thu, Aug 9, 2018 at 5:58 PM Cheney Shreve <notifications@github.com>
wrote:

[2018-08-09 22:52] cheneyshreve commented on #150
hi @jywarren  gotcha, see changes now :)

[2018-08-09 23:19] cheneyshreve commented on #44
Hi @jywarren I'm installing the npm package associated with [atwho](https://www.npmjs.com/package/at-mc/v/1.6.3) using
$ npm i at-mc --save-prod

which updates the dependencies as expected. Should I run npm audit fix to address vulnerabilities found or could this potentially cause problems? It doesn't mention this kind of side-effect on the npm blog but wanted to double-check since the audit is on

[2018-08-09 23:42] jywarren commented on #44
I am tending to think we should run the audit on old packages in a separate
PR, but on newly added packages in the PR where they're introduced.

But be sure things all still pass tests after doing the audit fix!

On Thu, Aug 9, 2018, 7:19 PM Cheney Shreve <notifications@github.com> wrote:

[2018-08-10 00:06] cheneyshreve commented on #44
thanks @jywarren will do!

[2018-08-10 01:53] cheneyshreve commented on #44
I just checked test.html and there are errors;  I wasn't sure if they were introduced from the npm audit fix so I cloned the repo and set it up in a different directory (I did not get the same errors setting up this time w.r.t. moment after the new changes you made), but same Jasmine test errors as my repo where I did  run npm audit.

The errors relate to files not loading, not sure why yet becaus

[2018-08-10 02:00] jywarren commented on #44
Hi, I think if tests pass on the command line (npm test I think?) we can
address the browser based testing in another issue, thanks!

It'll either be in the woofmark file OR in modules/....RichTextModule.js --
I think the latter. There should be previous code attempting to do this...
using the horsey library. You can remove this!

Thanks!! Sounds like you're off to a great start!

On Thu, Aug 9, 2

[2018-08-11 21:36] cheneyshreve commented on #44
Hi @jywarren, I have a couple questions on this when you have a chance:
so far I have:
- installed atwho and carat.js(dependency) using node & updated index.html
- experimented with commenting out portions of the PublicLab.Woofmark.js to understand (better) how the current autocompletes are working.
- started editing PublicLab.RichTextModule.js to try to incorporate atwho by requiring it, hard-cod

[2018-08-16 11:57] jywarren commented on #44
Question 2 first (and apologies as I'm traveling the next 10 days so i'm a bit slower to reply) --

You shouldn't need a token to hit `/tags/suggested` but your idea of doing this on localhost is good -- consider requesting and saving a typical output from publiclab.org and then storing it as a static file at `http://localhost.../tags/suggested` so you can run this against a static file and not co

[2018-08-27 19:37] jywarren commented on #44
no problem - just got back from travel and happy to plug in again when
you're available!

On Wed, Aug 22, 2018 at 12:25 PM Cheney Shreve <notifications@github.com>
wrote:

[2018-09-25 16:49] geekychasser opened #154 "Clicking suggested tag names should enter them into the tag input"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-09-25 16:53] geekychaser opened #155 "Link 'balloon-mapping' to a new tab in PL Editor"
```We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.```

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contrib

[2018-09-25 17:19] jywarren commented on #154
Maybe we could also have it say "Click to add a recent tag" to make it less ambiguous? But first we'll have to make it work properly! :-)

[2018-09-25 21:30] geekychaser commented on #154
okay sir

[2018-09-25 21:30] geekychaser commented on #155
okay sir

[2018-09-25 21:30] #155 closed

[2018-09-25 22:44] jywarren commented on #154
Ah, you don't have to close it! Just a modification will do :-)

On Tue, Sep 25, 2018 at 5:30 PM Rishabh <notifications@github.com> wrote:

[2018-09-25 22:44] jywarren commented on #155
This could be modified instead of deleted -- thank you!

On Tue, Sep 25, 2018 at 5:30 PM Rishabh <notifications@github.com> wrote:

[2018-09-26 07:50] geekychaser commented on #154
sorry sir , not able to understand what kind of modification should i do?

[2018-09-30 16:17] SidharthBansal opened #156 "Hover Text Not working"
### Please describe the problem (or idea)
For the last three buttons, hover text doesnt come
![image](https://user-images.githubusercontent.com/20972099/46259687-5b740b80-c4fa-11e8-96aa-932df47f22fa.png)

### Please show us where to look

https://publiclab.org/post

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab

[2018-10-01 20:15] avsingh999 opened #157 "Improve extras section"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contribut

[2018-10-03 03:42] Rishabh570 commented on #148
I would like to work on this :)

[2018-10-03 04:42] Rishabh570 commented on #148
@jywarren After uploading any picture, thumbnail is not being shown as in above screenshots...is this issue still active?

[2018-10-03 14:14] DivyeshPuri commented on #148
@jywarren Is this issue still active. I want to work on it

[2018-10-03 14:22] DivyeshPuri commented on #126
@jywarren Is this issue still active? Can I work on this issue?

[2018-10-03 14:56] jywarren commented on #126
yes, we'd love your help!!!

On Wed, Oct 3, 2018 at 10:23 AM Divyesh Puri <notifications@github.com>
wrote:

[2018-10-03 19:08] jywarren commented on #148
Hi, sure, but this is a bit open-ended. What do you have in mind?

On Wed, Oct 3, 2018 at 10:14 AM Divyesh Puri <notifications@github.com>
wrote:

[2018-10-03 19:09] jywarren commented on #148
In the demo, this may not work. But it should work on https://PublicLab.org/post!

[2018-10-03 19:29] DivyeshPuri commented on #148
@jywarren I am planning to add CSS to make the image fit to the given box by adding
`background-position: center;
background-repeat: no-repeat;
background-size: cover;`
This will result in an image appear like the following:
![image](https://user-images.githubusercontent.com/23422478/46434181-86679500-c770-11e8-9723-cef08f40e0f6.PNG)
Before:
![before](https://user-images.githubusercontent.com/2342

[2018-10-03 19:56] jywarren commented on #148
this is great!!! Awesome!

On Wed, Oct 3, 2018 at 3:29 PM Divyesh Puri <notifications@github.com>
wrote:

[2018-10-03 20:29] avsingh999 commented on #157
@jywarren please can you tell me what is the uses of extras section because if we click on then nothing to happen thank you

[2018-10-03 20:32] jywarren commented on #157
It's an example of how we might integrate future features!  But doesn't
have to work in the demo :-)

On Wed, Oct 3, 2018 at 4:30 PM Avkaran Singh <notifications@github.com>
wrote:

[2018-10-03 20:42] avsingh999 commented on #157
@jywarren  ok thank you
can you please now check this issue is valid or not I have edited it thank you

[2018-10-03 20:49] #148 closed

[2018-10-04 19:33] jywarren commented on #157
Yep this is fine -- I suggest using Bootstrap to hide the button text but not the icon:

https://getbootstrap.com/docs/3.3/

[2018-10-04 19:33] jywarren commented on #157
(only at lower screen widths!)

[2018-10-04 19:37] avsingh999 commented on #157
@jywarren  you are right, should only show icon in lower screen widths

thank you

[2018-10-04 20:08] avsingh999 commented on #157
@jywarren  please review this issue i have edited and make for GCI-candidate

thank you

[2018-10-05 08:44] SidharthBansal commented on #157
Great work

[2018-10-12 17:09] DivyeshPuri commented on #156
@SidharthBansal Can I work on this?

[2018-10-22 20:12] avsingh999 commented on #157
This task is published on GCI dashboard. Thanks all.

[2018-10-24 14:01] #157 closed

[2018-10-27 06:40] tusharb104 commented on #156
Hey! I want to work on this issue, I am new to open source . Can I work on this issue?

[2018-10-27 08:06] tusharb104 commented on #65
Hey!! Can I work on this issue?

[2018-10-29 11:46] SidharthBansal commented on #156
Yeah sure give it a shot

[2018-10-29 12:08] DivyeshPuri commented on #156
@SidharthBansal @tusharb104 I have already sent a PR earlier resolving this issue here #160

[2018-11-05 04:37] jywarren opened #162 "Filter out or prevent empty bold tags in WYSIWYG (woofmark)"
Often when bolding things in the WYSIWYG module, empty bold markdown gets saved, resulting in sections like this which no longer even render as Markdown:

[code]

We should try to catch and filter out this:

[code]

perhaps within the module (as future WYSIWYG alternative modules may not share this bug). This should be pretty easy to detect and filter!

[2018-11-16 09:55] subhahu123 commented on #162
give some screenshot or more explanation about what are u taking about
@jywarren

[2018-11-16 23:05] jywarren commented on #162
Sometimes when pasting or adding bold text in the wysiwyg mode, extra empty
bold tags get generated. Maybe I should make a screencast?

On Fri, Nov 16, 2018, 4:56 AM subhahu <notifications@github.com wrote:

[2018-11-20 19:07] jywarren commented on #44
Hi @cheneyshreve -- no worries if you've gotten busy with other things but just wanted to see if you were still interested in working on this!

[2018-12-07 23:32] jywarren opened #175 "Detect data-urls in content, and display a warning"
Just like in this PR, we could scan the content for data urls, and show a notice that says this may cause issues on upload: https://github.com/publiclab/PublicLab.Editor/pull/130

The key section to look at as an example is:

https://github.com/publiclab/PublicLab.Editor/blob/5b83622d5ca730901ebdde6fc0097be322a3e9e7/src/modules/PublicLab.RichTextModule.js#L153-L159

Instead of the string above, we

[2018-12-13 20:41] #175 closed

[2018-12-13 20:43] jywarren opened #181 "Write test for dataurl-detection feature"
We have a great new feature to detect and warn about data urls -- #178. I'm also wondering if we could add a test for this behavior. We could paste a small dataurl into the codebase and then check for the alert to be shown. We could do something pretty simple -- see this for entering something into the rich text module textarea:

https://github.com/publiclab/PublicLab.Editor/blob/19a379062304fabc6

[2018-12-13 20:47] jywarren opened #182 "Splice data-urls out of rich text module textarea and offer link and guidance"
After #175, we should instead of just warning about a data-url, we should actually splice it out along with showing a warning. This would mean using similar regex to in #175 but actually removing the entire data-URL from the Rich Text Editor textarea.

We should also insert a link in the message shown that allows the person to open the data-url image in a new window, save it, and drag it back in,

[2018-12-13 20:47] jywarren commented on #175
Also see #181 for writing tests for this! Thanks!!!

[2018-12-18 05:45] rexagod commented on #182
@jywarren Here's a preview.

![dec 18 2018 10_54 am](https://user-images.githubusercontent.com/33557095/50133997-1919c980-02b4-11e9-9b1c-7a0936abbf47.gif)

**Major changes**

- DURIs are recognized by regex pattern, reducing redundant string matching code, thus better readability.
- 'keydown' required another key to be pressed after pasting the DURI. Fixed that by triggering events on 'keyup'.
- D

[2018-12-18 15:31] jywarren commented on #182
This is FANTASTIC -- very very exciting work! Tremendous building upon #178 as well.

Great holistic approach to solving this!

Two things I wonder:

1. if whether we might not want to splice in the warning message into the actual post text, as some people might forget to remove it. We might in parallel think about a future feature to be able to show alerts inline which are only displayed in edit

[2018-12-19 00:05] rexagod commented on #182
@jywarren I thought on this for a while and implemented an idea of my own while keeping all your aforementioned points in mind which, I hope, would satisfy all the concerns.

![publiclab editor](https://user-images.githubusercontent.com/33557095/50190501-7d3d9b80-034f-11e9-853a-d389a9427d8d.gif)

Now instead of the warning message nothing pops up, this is, the DURI is replaced by a null string as

[2018-12-19 00:41] rexagod commented on #46
So just to make this clear before I commit things, you want all the attributes of elements in examples/*.html having same classes/ids to be put into variables, and the HTML making use of a t7 instance I suppose for better code editing (changing one changes all), right?

[2018-12-19 00:55] rexagod commented on #54
@jywarren Please elaborate.

[2018-12-19 15:43] jywarren commented on #46
Oh, I'm not sure what t7 is, but can you provide some more info on this? I know there are plenty of existing templating systems so we are happy to use an existing technique.

[2018-12-19 15:45] jywarren commented on #182
Sure that sounds great!

On Tue, Dec 18, 2018, 7:05 PM Pranshu Srivastava <notifications@github.com
wrote:

[2018-12-24 05:03] rexagod commented on #181
Hmm. Maybe something like this may be of help :thinking:
[code]
I'll check this out. In the meantime, @jywarren, can you review my pending PRs?

[2018-12-29 16:13] rexagod opened #193 "Drawing attention to PL.Editor [Idea]"
**Greetings!**

I have been knee-deep in PublicLab's Editor repository(love @jywarren's work there) for a while now. For all it is currently, I think it is a critical part of PL and showcases a great potential and with ample amout of carefully curated issues, this editor could be improved in a much more versatile and convenient manner.

Currently I'm thinking about testing out two new enhancements

[2018-12-30 13:47] SidharthBansal commented on #193
I really loved your idea. Public Lab Editor is a major project for plots2. We need to create multiple supportive tasks in this repository like we did in the plots2. Here is a link:https://github.com/publiclab/plots2/wiki/Supportive-Tasks
We need to plan so that this repository can become more famous. We included this in GSoC every year but no contributor was interested in this repository. It will

[2018-12-30 13:48] SidharthBansal commented on #193
If Jeff agrees then we can form up a Planning issue for this and break it down into smaller issues.

[2018-12-30 15:07] mittalprince commented on #154
@geekychaser sir i tried to solve, but not find the location where to add link please help.
Thanks

[2018-12-30 19:52] geekychaser commented on #154
@mittalprince code link in mentioned in the issue.
Thank you

[2018-12-31 13:44] rexagod commented on #125
@ebarry @shapironick @jywarren Is this fixed? I can't see a commit reference or anything from @j-tanz so I'm a little confused as to what needs to be fixed as of now. Please clarify.

[2018-12-31 19:56] rexagod opened #195 "Resolve vulnerabilities [priority]"
### Please describe the problem (or idea)
As of now, a quick `npm audit`will  show the following vulnerabilities. Most of them are have a automated fix under `npm audit fix --force` but some require manual attention. Report showed **18 vulnerabilities (6 low, 6 moderate, 6 high)**.

[code]

Remove vulnerabilities/malicious packages and replace them with new compatible/secure ones.

### Please show

[2018-12-31 20:14] rexagod commented on #195
@publiclab/support @gauravano Have a look.

[2019-01-01 09:01] gauravano commented on #195
@dependabot[bot] is enabled for this repository which updates packages after a particular time. @jywarren is there any setting in dependabot which could report vulnerabilities time to time? Thanks!

[2019-01-01 09:35] gauravano commented on #3
@jywarren I think adding more information and details to this can convert it to a project. What do you think?

[2019-01-01 09:49] gauravano commented on #10
Command access?

![command_access](https://user-images.githubusercontent.com/20878070/50571761-96772b00-0dd8-11e9-806c-511b4db32431.png)

[2019-01-01 10:04] gauravano commented on #59
I just tested the behaviour and i used just numbers and space 'no period'. And, after switching to markdown , the number sequence was maintained. Also tried with new-line between the list items but markdown maintained the sequence.

 @jywarren @ebarry could you test it and update the issue accordingly? Thanks!

[2019-01-01 13:15] rexagod commented on #50
@jywarren Hey, can you elaborate on this? What's the problem exactly?

[2019-01-01 13:17] rexagod commented on #10
Isn't this similar to #124?

[2019-01-01 13:32] rexagod commented on #65
Maybe a popup that cleverly prompts to write more than a specified limit (maybe 500 words) with constantly [alternating random sentences](https://www.npmjs.com/package/sentence-generator).

[2019-01-01 13:45] rexagod commented on #124
Found something similar [here](https://github.com/bevacqua/woofmark/issues/64).

[2019-01-01 21:44] jywarren commented on #195
Dependabot (if we catch up to the latest) should catch and propose solutions to all of these. We've been a bit delayed because our tests are not testing the build process (i.e. browserify using `grunt build` command). This has meant that I'm less likely to merge dependabot PRs if they propose updates to sections of code that aren't tested. Like the update to Browserify itself in #163 -- so I'm goi

[2019-01-01 21:46] jywarren opened #196 "Make testing cover the build process "grunt build""
This will help address #195

We need to get our tests to run `grunt test` and pass only if that completes. Then we'll be able to more confidently merge @dependabot updates that address build code such as Browserify in #163.

@rexagod would you have any interest in trying to get this working? I think it'd be an adjustment to the Gruntfile. We'd want to first confirm that a failed build results in T

[2019-01-02 03:53] jywarren commented on #10
i think it is

On Tue, Jan 1, 2019 at 8:18 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-01-02 03:56] jywarren commented on #37
ah, hmm. So perhaps we should refresh the state of the button on each
"validate" action?

On Tue, Jan 1, 2019 at 5:25 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-02 03:57] jywarren commented on #3
I believe we can merge this into #44 which has been shown to work more reliably as an alternative approach!

[2019-01-02 03:57] #3 closed

[2019-01-02 04:01] jywarren commented on #193
Yes i think this is really nice. I do think perhaps we could build out some initial community base by focusing on resolving some long-standing bugs and issues like #44, #59, #67... we could attack these through writing tests for them!

Also in the more distant future could be some convergence with the new Gutenberg editor as in #149.

Thanks for your energy and very excited, @rexagod !!!

[2019-01-02 04:01] jywarren commented on #193
How would the PDF bit work? Very interesting!!!

[2019-01-02 04:42] jywarren commented on #50
I think it was just a bit messy, to be honest. Perhaps this is no longer a
priority?

On Tue, Jan 1, 2019 at 8:15 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-01-02 07:55] gauravano commented on #10
Closing this one then. Thanks @rexagod for linking.

[2019-01-02 07:55] #10 closed

[2019-01-02 07:58] gauravano commented on #127
Hi @jywarren @shapironick @ebarry does #124 seems to solve this issue(in a way)? Thanks!

[2019-01-02 08:39] rexagod commented on #46
@jywarren I'm still a bit doubtful as to what needs to be done, but I did create a [t7 implementation of the `examples/comments.html`](https://gist.github.com/rexagod/94d715a9afe41320ec8691463cc1bff8)  that will render the forementioned file. This will, as is visible, improve the code quality (changing the variable assiociated to a class changes that class everywhere, etc).

[2019-01-02 15:56] jywarren commented on #46
oh cool! Yes, well, what if we develop an example where the editor can be
inserted into any HTML element, by passing in an ID, and the templater
assembles and inserts all the required HTML - so that the editor can be
instantiated in a single line instead of a ~hundred lines of HTML code?
What do you think? (and this could be a beta feature... something like
`editor.generateHTML(elementId)`?

On We

[2019-01-02 16:49] rexagod commented on #46
Sure this looks interesting. Something we can definitely work upon! I'll look into this. :+1:

[2019-01-02 18:44] #181 closed

[2019-01-02 19:43] jywarren commented on #59
So the standard markdown list numbering seems fine, but list items separated by an empty newline do indeed get reformatted badly:

![editor](https://user-images.githubusercontent.com/24359/50609067-a0faf880-0e9c-11e9-9b39-e4aba6293591.gif)

I think a number of things could be done to progress this - perhaps a test which enters a list like:

[code]

and looks to see that these are undisturbed after

[2019-01-02 21:34] rexagod commented on #46
Okay, let me get my head around this. You want the textarea to be rendered inside a given element by passing down its id to t7 right? So all that needs to be done here is a t7 implementation of the textarea (or compact view?, or the whole page?, please clarify)  that can be called from various html files whenever its needed to be rendered right?

[2019-01-02 22:11] #182 closed

[2019-01-02 22:31] jywarren commented on #46
Basically - so for example, see how this is integrated with the `plots2`
rails app:
https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb

As per the Editor docs, you must create a set of specifically formatted
HTML blocks, for the various modules. But we could for example just say
that to integrate this, you could just make one element with a unique ID,
then pass that ID

[2019-01-02 23:11] jywarren commented on #124
Aha! OK, so #127 that Gaurav found does seem like a good solution. What if we came up with a CSS (and maybe JS) solution where the bar is on the bottom of the textarea, but if the bottom of the textarea goes off the screen, the formatting bar gets absolute-positioned and pegged to the bottom edge of the screen?

[2019-01-03 00:10] rexagod commented on #46
Hmm. Thanks a LOT for explaining this!

This one will require a good amount of work, apparently, and may I suggest you break this issue as you seem appropriate (different issues for different modules, etc.) into smaller ones for a better approach? Or would you like me to do so?

[2019-01-03 19:20] #162 closed

[2019-01-03 22:47] rexagod opened #202 "Add test for empty bold tags functionality"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-04 15:57] geekychaser opened #204 "Workflow of PL editor"
I created a mock server in nodejs and tried to log the form input sent by the editor.
Some of the problems i faced were:

#### image loaded from my local files are not being posted
![image](https://user-images.githubusercontent.com/24489162/50693192-47d9c300-105c-11e9-9969-33acf8f3964c.png)

but on adding images through URL we are able to recieve that URL on our server
![image](https://user-images

[2019-01-04 16:34] jywarren commented on #204
Hi, there may be multiple issues here, but on the very first one, I believe
that unless there is a back-end server that can receive and process an
image, and respond with a final remote URL for that image, it won't be
inserted into the post body. Make sense? Similarly running it locally there
is no server to post the whole thing to. However if you run
https://github.com/publiclab/plots2/, you can

[2019-01-04 17:14] rexagod commented on #204
@geekychaser Thanks for putting in the effort! Although, you might want to take a look over #11 and #142 if you're interested in improving the graph implementations. #11 is a pretty old issue while #142 has be inactive for some time now. We'd really appreciate your help over there! Cheers!

[2019-01-04 18:03] rexagod commented on #202
@publiclab/reviewers Think we can label this as a `fto`? If not, what changes should I make? Looking forward to opening more `fto`'s and your guidance will be appreciated! Thanks!

[2019-01-04 19:44] geekychaser commented on #204
@jywarren @rexagod thanks a lot for guiding i will surely look into the mentioned issues and will try to implement more features

what about that if we press red button again it again fires XHR , i think it should check the state of button before firing another request or this is because of getting no response from server ?

[2019-01-04 19:45] geekychaser commented on #204
@rexagod have you deployed a local server to use and test editor ? can you provide some references ?

[2019-01-04 20:37] jywarren commented on #202
Hi, @rexagod thanks! Would you mind taking a close look at this guide, which helps formatting of FTOs? This will be very awesome once it's fully formatted! Eager to build this community 👍 🎉 🙌

https://publiclab.org/n/13667

[2019-01-04 21:36] jywarren commented on #50
I'm going to close because i think the history module is doing OK for now. Thanks!

[2019-01-04 21:36] #50 closed

[2019-01-04 21:37] jywarren commented on #54
I think this is just very old. Closing! Thanks!

[2019-01-04 21:37] #54 closed

[2019-01-04 22:41] jywarren opened #205 "Travis tests failing in Node 4 and 10"
Strangely, we're seeing some Travis test failures:

https://travis-ci.org/publiclab/PublicLab.Editor/builds/475475435

After changes from: https://github.com/publiclab/PublicLab.Editor/pull/198

Node 4 errors are same as https://github.com/publiclab/PublicLab.Editor/issues/111

Node 10 errors are new;

[code]

What's odd is that we aren't supposed to be running tests in either:

https://github.com

[2019-01-04 23:49] rexagod commented on #205
Currently attending to #168, installing peer dependencies ([` * 2018-05-19   v2.0.0   Switch from PhantomJS to Chrome Headless via Puppeteer`](https://github.com/gruntjs/grunt-contrib-jasmine/blob/master/README.md)), trying alternatives [(Chutzpah, guard-jasmine, phantom-jasmine)](http://phantomjs.org/headless-testing.html) that still use phantom. I did encounter an [fs decaprecation error that re

[2019-01-05 00:15] rexagod commented on #204
I think the README has a good amount of info on the editor. And as far as
the local server is concerned, yes I do have ported one for testing and
debugging purposes.

On Sat, Jan 5, 2019 at 1:15 AM Rishabh Bothra <notifications@github.com>
wrote:

[2019-01-05 01:57] rexagod commented on #205
https://github.com/gruntjs/grunt-contrib-jasmine/issues/266

[2019-01-05 02:00] rexagod commented on #205
https://github.com/gruntjs/grunt-contrib-jasmine/pull/262

[2019-01-05 03:40] rexagod commented on #196
[Failed build now results in a "failed prompt"](https://travis-ci.org/publiclab/PublicLab.Editor/jobs/475590529#)

[2019-01-05 04:21] rexagod commented on #205
unlinkSync, unlike unlink, doesn't require callbacks (inside node_modules/tasks/jasmine.js)

[code]

[2019-01-05 04:51] rexagod commented on #205
Building on travis now

[2019-01-05 04:52] rexagod commented on #205
[code]

@jywarren this works fine on my system but showed [failed on travis](https://travis-ci.org/publiclab/PublicLab.Editor/builds/475605660)

[2019-01-05 10:34] rexagod commented on #205
Tried bumping #168 contrib-jasmine to 1.1.0 and applied the above fix, build passed. Maybe I should check the changelogs after that release.

[2019-01-05 18:55] rexagod commented on #205
Trying out @jywarren's [suggastion](https://github.com/publiclab/PublicLab.Editor/pull/168#issuecomment-450763381)

[2019-01-05 21:59] rexagod commented on #202
I've edited the issue. Can we now label it as an `fto`?

[2019-01-06 17:01] #124 closed

[2019-01-06 18:03] #126 closed

[2019-01-06 19:49] rexagod commented on #205
Tried testing in node 10 on a [previous commit](https://github.com/publiclab/PublicLab.Editor/tree/7da18f647834dba5a031419fedaa34d23daeb65e) but that showed the same error too.

[code]

[2019-01-07 01:12] rexagod commented on #154
@geekychaser Refer to [this](https://publiclab.org/n/13667) for creating properly formatted `fto`s. Also please make edits that @jywarren suggested.

Thanks!

[2019-01-07 02:39] #127 closed

[2019-01-07 15:54] #196 closed

[2019-01-07 19:05] jywarren commented on #193
I think this is an interesting idea but the implementation we have currently is based on 2 libs which convert back and forth from Markdown to HTML; `megamark` and `domador` -- to incorporate LaTeX into this we would have to be able to implement 4 more converters - one in each direction between Markdown and LaTeX, and two more between HTML and LaTeX. So this would be a pretty gigantic project, and

[2019-01-07 19:07] jywarren commented on #193
Also - implementing a `Save as PDF` option sounds really nice, too! Although perhaps we should consider implementing it downstream, as an output option for `plots2` -- just to brainstorm, could we implement a client-side library which accepts Markdown input and produces a PDF, and integrate it on the output of a given note or wiki page from `plots2`?

[2019-01-07 19:07] jywarren commented on #193
Great brainstorming here!

[2019-01-07 23:07] jywarren commented on #202
Hi, @rexagod -- we're almost there! Sorry i took time off over the weekend, just chiming back in now. Actually it can be really effective to add the "preamble" as in this example, with some extra welcoming friendly language: https://github.com/publiclab/plots2/issues/4189

Once we add that, we should be good to go! Thank you and i'm updating the activity guide I'd linked to to emphasize that secti

[2019-01-08 21:57] jywarren commented on #205
Hmm, this is complex! What do you think the next step should be?

On Sun, Jan 6, 2019 at 2:50 PM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-01-09 12:14] geekychaser opened #209 "Adding debug option for generating source map"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/24489162/50898370-fdc65800-1434-11e9-94c6-59208d1c7f2e.png)

when using `grunt build` it concatenates all modules into a single file named `PublicLab.Editor.js` so it becomes difficult to debug

We can add debug option to automatically include *Source Maps* for easy debugging

### Please show us where to

[2019-01-09 12:14] geekychaser commented on #209
@jywarren can i do this ?

[2019-01-09 12:34] sagarpreet-chadha opened #210 "Add new Map module to add Location ."
### **Mock up** :

![image](https://user-images.githubusercontent.com/14952645/50899692-e25d4c00-1438-11e9-8b20-be74bdcaa212.png)

![image](https://user-images.githubusercontent.com/14952645/50899695-e5583c80-1438-11e9-83fc-79a45f4eac62.png)

[2019-01-09 12:42] geekychaser commented on #210
@sagarpreet-chadha @jywarren can i give it try ?
Thank you

[2019-01-09 16:30] jywarren commented on #210
Yes please! Be aware this may be a somewhat complex task - to add a new map
module -- but we can take it one step at a time. Upon selecting a location,
we should append latitude/longitude tags to the tag input!

We can start by having the editor pop up a modal just like on the tag area
of pages like this: https://publiclab.org/wiki/micro

except that it adds the tags to the form, rather than to an

[2019-01-09 16:30] jywarren commented on #209
ah this sounds like a good idea!

On Wed, Jan 9, 2019 at 7:15 AM Rishabh Bothra <notifications@github.com>
wrote:

[2019-01-09 17:11] sagarpreet-chadha commented on #210
@geekychaser ...i have already started this issue (hopefully completed now  , waiting for @jywarren 🐵  for review) .
I am currently trying to solve the errors shown by travis , maybe you can help ❓ . I would love 😃  to collaborate with you on another issue 💃 .
Thank you !

[2019-01-09 17:47] sagarpreet-chadha commented on #209
Yes go ahead 👍 . Thanks 😄 !

[2019-01-09 18:46] geekychaser commented on #209
@sagarpreet-chadha i guess let @jywarren review and merge this only then it would be beneficial to add it

[2019-01-09 19:41] geekychaser opened #213 "Nodocumentation to add a mock server for development"
### Please describe the problem (or idea)

#### No documentation to setup mock server on our local system to test the editor.

A new developer faces a lot of difficulty in understanding the workflow as there are no steps to create a mock server for development. So I find it most essential to document, on how to setup a mock server, to attract more contributors.

### Please show us where to look

h

[2019-01-09 19:42] geekychaser commented on #213
@jywarren Can I work on this issue?
I also faced a lot of difficulty while setting up a mock server and understanding the workflow. So it will be better if I write down the way to directly overcome the difficulty of creating a mock server.
I will add a basic documentation for starting server and will link to a post on publiclab.org for full detail of code and how to setup.

[2019-01-09 21:53] rexagod commented on #44
Will be implemented later on in the 'React' patch with [zurb support](https://github.com/BolsteDev/react-tribute)(since atwho isn't maintained any more)

[2019-01-09 22:15] gauravano commented on #202
Hi @rexagod I transformed it to FTO, you can use this template for create new issue. It's in reference to Publiclab editor.

[2019-01-09 22:19] rexagod commented on #202
Thanks! I've made the required edits.

[2019-01-10 03:04] rexagod commented on #193
@jywarren In response to your comment [here](https://github.com/publiclab/PublicLab.Editor/issues/193), I think,

- Gutenberg features can be robustly reproduced in React.
- At.js (no longer maintained), suggest using [zurb tribute's implementation](https://github.com/BolsteDev/react-tribute)(again in React).
- #59 is currently under progress and I am looking into it at #208
- #67 is resolved and

[2019-01-10 23:04] jywarren commented on #44
Hi, I think doing it in zurb is OK if it will work (`at` has been demonstrated to work) but I would prefer to solve this more narrowly and modularly rather than tie it to the React project. I hope this makes sense.

I have a slight preference for trying to solve it with `at` right now because that's what we have deployed already on `plots2`, so the integration code would be identical -- more maint

[2019-01-10 23:12] jywarren commented on #213
Hmm, do you think we might explain what's going on in the README, and
suggest using the `plots2` app as the mock server? Otherwise this seems
like a really big project, no?

On Wed, Jan 9, 2019 at 3:52 PM Rishabh Bothra <notifications@github.com>
wrote:

[2019-01-10 23:32] IgorWilbert opened #216 "UI Enhancements"
### Description

This is not anything urgent, but I believe the UI of the editor can be improved. There are many blank areas, which could be filled with text areas, so that the user has a bigger window for the text written. Its look could also match Public Lab's website. I eliminated the numbers too, because I think the order of filling is almost self explanatory. I'm looking forward to hear your

[2019-01-11 00:20] IgorWilbert commented on #202
Hello! I need to practice using Git for cloning and forking, since I made a big mess last time I tried. May I take this issue please?

[2019-01-11 01:20] rexagod opened #217 "[WIP] Offline support for Editor"
### Idea
No service workers are configured at the moment for offline functionality.

### What's your PublicLab.org username?
rexagod

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contrib

[2019-01-11 10:50] gauravano commented on #202
Go ahead @IgorWilbert! Thanks!

[2019-01-11 11:04] gauravano commented on #216
cc @jywarren @ebarry @steviepubliclab

[2019-01-11 13:37] geekychaser opened #219 "Replace 'rake test' with 'grunt jasmine' in PR template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-11 18:08] geekychaser commented on #193
Created a first timer issue #219 to increase involvement of more contributors

[2019-01-11 18:10] geekychaser commented on #213
@jywarren yes you are right, I will add the steps to connect with plots2 as mock server in README file.
thank you

[2019-01-11 18:30] jywarren commented on #219
This is fantastic!

[2019-01-11 18:30] jywarren commented on #202
Awesome!!!

[2019-01-11 22:30] geekychaser commented on #219
Yes now yo can post a PR from your forked one

On Sat, Jan 12, 2019, 3:58 AM Wesbest <notifications@github.com> wrote:

[2019-01-11 22:49] Wesbest commented on #219
I am not sure what you exactly mean with that. Do you mean I need to transfer the PR from my fork to the your repository? If yes how do I do that?

[2019-01-12 09:55] Wesbest commented on #219
@rexagod thank you for your reply. when I fetch this repo and check the git status it says:
Your branch is ahead of 'origin/master' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean

So I guess only my work needs to be pushed but I have not granted access to that. Am I going in the right direction so far?

[2019-01-12 10:03] geekychaser commented on #219
@wesbest Great you are going right. Now you need to post pull request from your forked repository.

[2019-01-12 10:19] Wesbest commented on #219
Okay when I tried to push my work it says permission not granted to your repo. Also see pic below. I am a little confused on how it all should go.
![screenshot from 2019-01-12 11-16-09](https://user-images.githubusercontent.com/46609675/51072121-6d199300-1653-11e9-854e-7ad06091e0c8.png)

[2019-01-12 10:32] rexagod commented on #219
@Wesbest You're all set! Just `create pull request` so that we can review and merge your first PR!

Thanks!

[2019-01-12 11:18] Wesbest commented on #219
Thanks for helping all :). I think I did it.

[2019-01-12 11:20] geekychaser commented on #219
@Wesbest No problem, Great job!

[2019-01-13 06:12] VibhorCodecianGupta commented on #217
@rexagod would like to do this for image sequencer!
A little explanation about what is the goal and what was your approach in #224 ?

[2019-01-13 08:30] rexagod commented on #217
Hey @VibhorCodecianGupta! Basically the goal here was to efficiently manage cache resourcing so that the end user is free of any interruptions even when they are offline. Can you open up an issue on image-sequencer regarding this? I'll be happy to discuss this implementation in a way respective to that repository there. Just trying to keep things tidy!

Thanks for showing your interest!

[2019-01-13 18:29] rexagod opened #225 "At.js refactoring and fixes"

[2019-01-14 05:53] himanshuc3 opened #227 "Switching to gulp/webpack"
### Please describe the problem (or idea)

Feature Request.

Gulp is way more convenient, easier to maintain and faster than grunt because of being working on streams.
Webpack is a highly configurable tool which I think is more flexible and has more room to work with going forward.
Open to all suggestions. I would be trying to develop on this if given a green light.

### What's your PublicLab.org

[2019-01-14 06:21] rexagod commented on #227
Hi @himanshuc3! I had this on my mind too, and would love to collab with you in any way I can in this, after all, this is what's in the talks right now. Let's see what @jywarren has to say on this. Very thoughtful of you!

Also, welcome to the community!

[2019-01-14 06:28] himanshuc3 opened #228 "Editor controls overlay."
### Please describe the problem (or idea)

![screenshot 2019-01-14 at 11 52 18 am](https://user-images.githubusercontent.com/19166045/51098917-83f6eb80-17f3-11e9-989b-d78b1bedd15f.png)

Editor toolbar hidden or attached to the top of history tab.

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?
himichhabra14

Scrolling to the bottom of the page

[2019-01-14 06:43] himanshuc3 opened #229 "Design Styleguide"
### Please describe the problem (or idea)

Feature request.
Hi. I would like to design the styleguide for PublicLab.Editor. This way more time would be spent on solving functionality related problems rather than discussing on stylistic issues.

### What's your PublicLab.org username?
himichhabra14

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine a

[2019-01-14 08:00] gauravano commented on #229
cc @jywarren @publiclab/community-reps

[2019-01-14 10:42] rexagod opened #230 "Update Pull Request template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-14 10:50] gauravano commented on #230
Hi @rexagod, @publiclab/is-reviewers group is only for only for Image-Sequencer. So, there is no need of this issue for now. Thanks!

[2019-01-14 10:56] rexagod commented on #230
Oh sorry about that @gauravano! Didn't know about that. Although I see that currently only `@publiclab/is-reviewers` is mentioned in the PR template there. Can I open this issue there requesting addition of `/reviewers` too? Or is it good as is?

[2019-01-14 11:19] gauravano commented on #230
yes, this issue will fit there. Thanks!

[2019-01-14 11:19] #230 closed

[2019-01-14 16:55] geekychaser commented on #227
Hey, I was also thinking that a switch can be made from` browserify`to `webpack`. Browserify recursively concatenates the all modules to a single file. This results in 24k line of code with around 700Kb in size which can be hard to debug and heavy on browser.
Other than bundling JavaScript code, webpack can also be used for bundling  other static assests like stylesheets.
Main advantage of webpack

[2019-01-14 17:25] rexagod commented on #230
@gauravano done! Can you go ahead and label [this issue](https://github.com/publiclab/image-sequencer/issues/672) as an `fto`? Thanks!!

[2019-01-14 17:37] rexagod opened #231 "Fix "Editor controls overlay #228""
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-14 17:51] rexagod opened #232 "Fix tags placeholder overlap"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-14 19:35] jywarren commented on #227
Hi, thank you for opening this, and for talking a bit about the pros and
cons. Perhaps this is a good topic on which to hear from others in the
Weekly Check-in? I'd love to hear some different responses. Thanks again!

https://github.com/publiclab/plots2/issues/4607

On Mon, Jan 14, 2019 at 11:56 AM Rishabh Bothra <notifications@github.com>
wrote:

[2019-01-14 20:50] Crescive commented on #232
Do you mind if I claim this issue, @rexagod?

[2019-01-14 20:56] gauravano commented on #232
Hi @Crescive , go ahead. Thanks!

[2019-01-14 22:40] LCBradley3k commented on #231
I'll give it a shot.

[2019-01-14 22:42] gauravano commented on #231
Great @LCBradley3k! Thanks!

[2019-01-14 22:59] LCBradley3k commented on #231
@gauravano Can I have the change on the master branch of my fork, or do you want it on a separate feature branch?

[2019-01-14 23:06] gauravano commented on #231
I would suggest a separate feature branch too, because it's good to keep your master branch clean. Thanks!

[2019-01-14 23:20] LCBradley3k commented on #231
Thanks @gauravano, made a pull request!

[2019-01-14 23:40] gauravano commented on #228
Hi @himanshuc3 thanks for reporting the issue. This issue has been converted to a FTO at #231 and a PR is also in-progress.

[2019-01-14 23:40] #228 closed

[2019-01-16 09:48] himanshuc3 opened #235 "Global declaration pf PL/PublicLab"
### Please describe the problem (or idea)

This is more of a refactoring issue. PL and PublicLab variables have been defined on window object without using any keywords such as var/let/const.

Do tell me if I am wrong or if there is any JS pattern involved in this.

### Please show us where to look

[PublicLabEditor.js](https://github.com/publiclab/PublicLab.Editor/blob/master/src/PublicLab.Editor

[2019-01-16 10:03] himanshuc3 opened #236 "Discussion: Switching to ES6 classes."
### Please describe the problem (or idea)
Helps get more contributors because more people will be accustomed to working with them.

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

htt

[2019-01-16 15:23] rexagod commented on #225
Hey @jywarren! I hope I'm going in the right direction with this implementation. As stated above, I didn't make use of any new package, but implemented this using simple AJAX. I believe that this reduces our package dependency, and given the simplicity of this implementation, aids code reusability and readability. Also, this way we won't have much update troubles as we did in #168 which will help

[2019-01-16 19:43] rexagod commented on #236
@himanshuc3 checkout [resig classes](https://johnresig.com/blog/simple-javascript-inheritance/) that are utilized by @jywarren in the Editor. It's pretty simple, actually. John Resig makes use of prototype chaining and [base2](https://code.google.com/archive/p/base2/) inspired implementations to incorporate simple class inheritance. Is there anything that ES6 classes have to offer respective to th

[2019-01-16 23:09] #232 closed

[2019-01-16 23:58] jywarren commented on #236
I think we can leave this open and continue to discuss the pros and cons as
time goes on. Thank you!!!

On Wed, Jan 16, 2019 at 2:44 PM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-01-17 04:42] rexagod commented on #217
@jywarren Please have a look. Thanks!

[2019-01-17 05:12] himanshuc3 commented on #236
@rexagod resig-class is not being maintained, so that means if a new feature for ES6 class were to come up, we would not be able to use any of them. Also, classes provide more verbosity and modularity.

So, If we were to look at the long term prospect, classes would definitely be reliable for our code.

[2019-01-17 20:49] rexagod commented on #236
Quoting [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments/callee),

Now according to [http://es6-features.org](http://es6-features.org), **currently** ES6 classes have: Base class access, Inheritance, Getter/Setter methods, and statics. All these features are present in Resig's Class implementation (RCi hereon) or can be explicity implemented, since they w

[2019-01-17 23:15] jywarren opened #238 "Github Pages build failure"
@sagarpreet-chadha @rexagod after merging the new Map module, i got this error from GitHub when it tried to build the gh-pages online demo... any ideas?

[code]

[2019-01-17 23:17] jywarren commented on #229
This is a good idea... we generally are using a lot from Bootstrap 3, but
I'm interested in seeing some ideas! https://getbootstrap.com/docs/3.3/

Would you like to do a small example of the kind of thing that'd go into a
style guide?

Thanks so much!!!! We definitely do need some design input!

On Mon, Jan 14, 2019 at 3:01 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-01-18 02:01] sashadev-sky commented on #227
@geekychaser Thanks for the post! I personally use Webpack, but it was very informative to learn about alternatives and pros and cons.

I agree Webpack definitely has a complicated API, so if we choose to go with it I would be willing to help write documentation explaining every aspect of the webpack config file we would create and use. It looks like we have a lot of webpack users so I'm sure they

[2019-01-18 06:34] rexagod commented on #238
Hi @jywarren. I think this is because of the `node_modules/.bin/grunt` file that currently includes `require('grunt-cli/bin/grunt')`. [Didn't you remove this from the build process](https://github.com/publiclab/PublicLab.Editor/pull/211#issuecomment-454211307)? Maybe clearing out the `.bin` and `npm install` again should fix this.

[2019-01-18 06:38] sagarpreet-chadha commented on #238
Yes @rexagod @jywarren !
Happened with me in LEL , i re-installed all dependencies and then pushed again to `gh-pages` 👍 .

[2019-01-18 07:02] rexagod commented on #238
@jywarren Grunt and all the removed devDeps need to be removed from here too, or else it'll keep including them in `.bin` everytime it builds.
https://github.com/publiclab/PublicLab.Editor/blob/e24a5948e2cfdaed89895536f00ff6ea657bc449/package.json#L46-L57

[2019-01-18 17:44] #219 closed

[2019-01-18 23:50] IgorWilbert commented on #236
@rexagod I think I've found an interesting reason to make a future transition to ES6. Currently `PublicLab.Editor.js` is 24k lines of code long, which makes it quite difficult to browse and debug. ES6 has a feature to import a JS file into another JS file (https://stackoverflow.com/questions/11746955/javascript-calling-function-from-another-file and https://stackoverflow.com/questions/950087/how-d

[2019-01-19 00:25] IgorWilbert opened #240 "Icon images in toolbar appear broken"
### Please describe the problem (or idea)

The image icons in the toolbar and other buttons appear broken after simply running `grunt build` and opening `/examples/index.html`, nothing else.
![bug](https://user-images.githubusercontent.com/42987854/51419121-235b0c00-1b6f-11e9-8aa1-adea699fc3c4.JPG)

The image icons should appear normal, just like in the demo version.
![right](https://user-images.g

[2019-01-19 00:50] IgorWilbert opened #241 "Change font to Arial in section 3"
### Please describe the problem (or idea)

To make a better looking and coherent format for the editor, I suggest changing the font of these lines to Arial:
![issue](https://user-images.githubusercontent.com/42987854/51419583-d4af7100-1b72-11e9-83ea-6154d738372b.JPG)

### Investigation
It is possible to solve it by just using a surrounding "font" tag like in `<font face="Arial">Your text here.</fo

[2019-01-19 06:43] sagarpreet-chadha commented on #240
Hi all !
Most probably it is due to CORS issue of font-awesome (you may see the
console in your browser for more detailed error describtion) . Thanks !

On Sat, Jan 19, 2019 at 10:57 AM Pranshu Srivastava <
notifications@github.com> wrote:

[2019-01-19 09:06] rexagod commented on #240
@sagarpreet-chadha How about storing a local copy of font-awesome on the repo so we don't face such issue? @IgorWilbert could make a `fto` on that instead. What do you think?

[2019-01-19 11:11] geekychaser commented on #44
@jywarren  I also had the thought of refactoring tagname using
 [zurb/tribute]https://github.com/zurb/tribute) as [at.js](https://github.com/ichord/At.js/#announcement) is no longer being maintained. And using a project which is no longer being maintained can lead to maintenance and reliability issues in future.
But I see a PR has been already been opened by @rexagod

Also I am not able to underst

[2019-01-19 11:59] IgorWilbert commented on #240
Hey @rexagod ,  I proceeded the installation steps from README, opened the project in my terminal, ran `grunt build` and opened `examples/index.html`. @sagarpreet-chadha yes, indeed there's an error in the console: `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at file:///C:/Users/igorh/Documents/GitHub/Public%20Lab/PublicLab.Editor/node_modules/font-aw

[2019-01-19 14:50] IgorWilbert opened #242 "Draft menu enhancements"
### Please describe the problem (or idea)

I've two suggestions for improvements in the UX in the draft menu. The first is to add a X (pop) button in the upper rightmost corner to close it, instead of having to click on the **...** button again. A functionality in which the user click outside the draft menu and the menu hides might be even better. The second is to turn the **clear** text into a bu

[2019-01-19 14:51] IgorWilbert commented on #242
@jywarren @rexagod if you think this is a relevant issue, I'd like to work on it.

[2019-01-19 16:01] rexagod commented on #242
I think this would be a nice addition, and that @jywarren will agree with me on this. Go ahead @IgorWilbert!

[2019-01-19 17:58] gauravano commented on #240
Hi @IgorWilbert, you can add it as information so that new contributors don't face such issues. And, it's worth opening issue, we always discover a new problem or effective solution. Thanks!

[2019-01-21 12:35] rexagod commented on #241
Good find @IgorWilbert! Currently we use the styles `font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;` with these respective fallbacks. It'd be nice to specify this whole combination instead of the individual `Arial` font, and please do submit a PR while you're at it so we can have a look. Thanks!

[2019-01-21 21:28] rexagod opened #246 "Fix zIndex properties"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-22 13:44] spelgubbe commented on #246
I can do this

[2019-01-22 13:47] gauravano commented on #246
Go ahead @spelgubbe! Thanks!

[2019-01-22 15:26] spelgubbe commented on #246
Can someone review this? I haven't done a pull request before but it looks like it worked... #248

[2019-01-22 21:54] sashadev-sky commented on #227
@jywarren I was looking over this again and I am curious, what was your initial reason for choosing browserify? I didn't see any responses in favor of it so I now I feel like my knowledge on it is lopsided. If you have a minute to share with me I would appreciate :) thank you!

[2019-01-23 06:13] niravasher commented on #216
Good Morning! This page is present inside examples/index.html. So I made a new CSS file named 'localEdits.css' where I am changing the styles of the div's present in HTML. I am also assigning id names to some elements to change their properties and I am also editing stuff present in PublicLab.Editor.css and publicLab.Editor.js to reach to the final UI. I just have a query that do I need to change

[2019-01-23 11:51] IgorWilbert commented on #216
@niravasher I'm glad you are excited about the idea of a new UI but please change only what is absolutely necessary to achieve this layout. No, for an initial register of your implementation it is not necessary to change the other HTML files. It is a bit hard to understand your approach from an explanation, so when you feel like you have finished please send a PR and we will guide you. I am not su

[2019-01-23 14:32] jywarren opened #249 "debugging of inline wiki editor"
We use the editor in a sub library here;

https://github.com/publiclab/inline-markdown-editor/

It's part of the still-beta inline wiki editor here:

https://publiclab.org/wiki/gsoc?raw=true

We have never been able to continue the integration and debugging work to get this working stably... It's a little complex how it works, but I thought @rexagod you might be interested to see this usage as it'

[2019-01-23 15:29] vrk99 opened #250 "Publish button doesn't go back to disabled state if user clears Title text"
### Please describe the problem (or idea)

Currently, if the title is empty then the "Publish" button is disabled
![screenshot from 2019-01-23 20-26-39](https://user-images.githubusercontent.com/31163120/51616026-44e13c80-1f4f-11e9-8998-4fdf9726dfb3.png)

And if a user enters the title then it becomes enabled, as expected
![screenshot from 2019-01-23 20-27-04](https://user-images.githubusercontent

[2019-01-23 16:59] rexagod commented on #249
Definitely @jywarren! I'll look into this. Looking at the different failed builds, I do have some ideas I'd like to try out.

Let's keep this open for further discussions regarding the same.

[2019-01-23 17:25] gauravano commented on #37
Hey @jywarren, the detailed issue is reported about the problem which I commented above

Issue about this problem at #250. Do you think we can close this issue @jywarren?

Thanks!

[2019-01-23 17:33] vrk99 commented on #250
Oh, sorry I didn't already notice that issue.
Yeah, I would like to try solving it.

[2019-01-23 17:35] gauravano commented on #250
No need to be sorry, as we should've opened an issue at that time only, but anyways thanks for helping with this one.

[2019-01-23 17:55] gauravano commented on #216
Hi @IgorWilbert @niravasher, please take a review regarding the design from @publiclab/community-reps before starting to work on this so that your efforts don't get wasted. Thanks!

[2019-01-23 21:49] jywarren commented on #249
Awesome!!!

On Wed, Jan 23, 2019, 1:59 PM Pranshu Srivastava <notifications@github.com
wrote:

[2019-01-23 22:02] #246 closed

[2019-01-23 22:11] #37 closed

[2019-01-23 22:11] jywarren commented on #37
Yes I think so. Thanks!

On Wed, Jan 23, 2019, 2:25 PM Gaurav Sachdeva <notifications@github.com
wrote:

[2019-01-24 09:54] IgorWilbert opened #251 "Update font format in section 3"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-24 09:54] #241 closed

[2019-01-24 12:13] NitinMore7 commented on #251
please, can I work on this

[2019-01-24 12:15] gauravano commented on #251
Hi @NitinMore7, go ahead and feel free to ask your doubts here. Thanks!

[2019-01-24 12:17] NitinMore7 commented on #251
so I need to clone this repo, make the given changes & then commit them and start a pull request ,is that's right?

[2019-01-24 12:23] rexagod commented on #251
@NitinMore7 You'll need to clone your forked repo instead of this one.

[2019-01-24 12:32] NitinMore7 commented on #251
Its done can you please check and confirm

[2019-01-24 12:36] akshaygupta533 commented on #251
Can I work on this?

[2019-01-24 12:38] IgorWilbert commented on #251
@akshaygupta533 please check other FTO issues, @NitinMore7 already claimed this one, sorry. @NitinMore7 did you remember to open a PR?

[2019-01-24 12:45] NitinMore7 commented on #251
@IgorWilbert i just did

[2019-01-24 12:51] IgorWilbert commented on #251
Good job @NitinMore7, thanks! Do you know how to squash your commits (turn your commits into a single commit with all the changes)? Would you mind doing it?

[2019-01-24 13:05] vrk99 opened #254 "Use accept attribute for Main Image Upload"
### Please describe the problem (or idea)

While we are validating the file uploaded for its image format server side, we could set the default upload type to images using accept attribute for the client.

Currently on clicking Choose File for image upload, the user can see all the files; Something like this:
![screenshot from 2019-01-24 18-15-03](https://user-images.githubusercontent.com/31163120

[2019-01-24 14:10] niravasher commented on #216
Hello @IgorWilbert , I have made a pull request. I would be very happy to get feedback on my work.

[2019-01-24 14:43] IgorWilbert commented on #251
@NitinMore7 you will have to rebase your branch. Run the command `$ git rebase -i HEAD~4` and in the text editor that comes up, replace the words "pick" with "squash", except for the one at the top of the list. Then use `$ git push origin branch-name --force` to push to upstream. Please see [this page](https://github.com/todotxt/todo.txt-android/wiki/Squash-All-Commits-Related-to-a-Single-Issue-in

[2019-01-24 14:52] IgorWilbert commented on #216
@niravasher I really appreciate your enthusiasm but please notice I'm a newcomer too and these changes have not been discussed with the people who are "in charge" of this project (@jywarren @ebarry @steviepubliclab and others), so I'm not sure if they want it to be implemented the way I proposed. I already started a conversation at @publiclab/community-reps, but I'll try to talk to them and get ba

[2019-01-24 15:03] niravasher commented on #216
Sure @IgorWilbert , I'll work on some other issue till then.

[2019-01-24 15:44] niravasher commented on #250
Hi! Is this issue solved? If not I think I can solve this @gauravano @vrk99

[2019-01-24 15:53] vrk99 commented on #250
Hey @niravasher , I have already made a PR and just waiting for the final review.

[2019-01-24 16:40] niravasher commented on #45
Hello @jywarren , could you please describe this issue in a bit detail?

[2019-01-24 16:55] niravasher commented on #45
Hello @jywarren , could you please describe this issue in a bit detail?

[2019-01-24 18:00] IgorWilbert opened #256 "Insert Link Menu Improvement"
### Please describe the problem (or idea)
There's a blank space, but the text area for the URL doesn't occupy all the width of the menu
![capturar2](https://user-images.githubusercontent.com/42987854/51698110-8e359880-1ff0-11e9-90bf-d96aea0d23a4.JPG)
It would be better if the text area occupied the full width, like in the Attach File menu. It should also have the highlight and rounded edges.
![cap

[2019-01-24 18:00] IgorWilbert commented on #256
I would like to work on this issue.

[2019-01-24 18:20] rexagod commented on #254
I think we should let this be as is for the moment as explicitly hardcoding the formats may not prove to be a good idea with time if the formats differ (eg., BMPs, SVGs, etc) and we'll have to keep those updated. But at the same time this could add to the convenience factor of the Editor and prevent unnecessary failures and crashes. @gauravano thoughts?

[2019-01-24 18:23] niravasher commented on #229
Hi! @jywarren , I would like to make the style guide as per discussed. We could use materialize.css as a change in place of bootstrap. There are also some javascript libraries that display content beautifully. Could you assign me an example regarding the same? I'd love to work upon it

[2019-01-24 18:37] rexagod commented on #216
Well till now there's only been the one in `dist/`and we have been making changes to that one only. I would like to keep it that way if possible given the opportunity to uglify the `dist/` files whenever required, hence better performance. But let's hear what  @jywarren @gauravano have to say on the same.

[2019-01-24 19:43] gauravano commented on #254
Using "Choose File" button at publiclab.org/post allow choosing only image files only, but Drag and Drop takes different file formats such as pdf, xlsx. etc. I haven't checked code but tried at production and seems like constraints are handled.

Have you checked at production? Thanks!

[2019-01-24 19:52] gauravano commented on #45
Hi @niravasher, this issue was about writing the Images section at  https://publiclab.org/wiki/authoring-help but I just visited the link and it's added now. Thanks to whoever added that section. Closing this now. @jywarren

[2019-01-24 19:52] #45 closed

[2019-01-24 20:02] gauravano commented on #250
@niravasher you can find more issues to work at https://code.publiclab.org/#r=all . Thanks!

[2019-01-24 23:35] rexagod commented on #249
@jywarren Can you grant me the appropriate permissions to trigger custom builds on https://github.com/publiclab/inline-markdown-editor/ ? Thanks.

[2019-01-25 02:53] NitinMore7 commented on #251
I've squashed those commits into one can you please check and confirm it

[2019-01-25 09:01] niravasher opened #257 "Working with positioning the elements well"
### Please describe the problem (or idea)
There are redundant spaces and overlaps on the editor.

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10

![screenshot 7](https://user-images.githubusercontent.com/32176296/51735490-9273bb80-20ad-11e9-8fb8-9e103a7f7a1f.png)

****

## Thank you!

Your help makes Public Lab better! We *deeply* apprecia

[2019-01-25 09:05] niravasher commented on #257
Can I work upon this? @jywarren @SidharthBansal @gauravano

[2019-01-25 09:19] rexagod commented on #257
Can you please upload a short gif of the steps you did that made you encounter this error. Strangely so, this doesn't happen on my local.

[2019-01-25 09:38] rexagod commented on #229
@niravasher This will be a major enhancement to say the least, and will require a very planned and detailed approach before making an implementation of any sort to avoid breaking changes. If you're proposing to shift the Editor's theme to materialize, can you first come up with some prototype screenshots of how it's going to look across different resolutions and devices? We can then proceed furthe

[2019-01-25 09:43] niravasher commented on #193
Hello! Can I work on adding the 'Save as PDF' function for PublicLab.Editor? First I will enter all the details on the editor and on clicking save as pdf button, a pdf file will be downloaded which will have the copy of examples/index.html page completely filled?

[2019-01-25 10:16] niravasher commented on #257
Sorry I won't be able to upload a gif . Ill certainly tell you exactly what I did
1) Cloned the repo
2) npm install --save
3) cd publicLab.Editor
I had phantomJS installed already
4) npm install grunt-cli
5) grunt build
6) grunt
7) grunt jasmine

[2019-01-25 10:25] niravasher commented on #229
You are right, shifting to materialize is likely to break functionality. The new UI looks something like this as referenced in issue #216
![screenshot 8](https://user-images.githubusercontent.com/32176296/51740206-61998380-20b9-11e9-95ec-c15984e80904.png)
![screenshot 9](https://user-images.githubusercontent.com/32176296/51740216-678f6480-20b9-11e9-8a9b-a5b9ab170809.png)
![screenshot 10](https://u

[2019-01-25 10:36] niravasher commented on #229
Oh absolutely, you are right @rexagod that will break functionality. I have opened up a discussion with the community if a new look could be implemented not changing any libraries.

[2019-01-25 11:08] rexagod commented on #257
@niravasher Good find!

![screenshot from 2019-01-25 16-33-43](https://user-images.githubusercontent.com/33557095/51742183-066a8f80-20bf-11e9-8e1c-32ba6380b5b2.png)

[2019-01-25 12:32] vrk99 commented on #254
I inspected the publiclab.org/post page and the accept attribute is present there:
![screenshot from 2019-01-25 17-52-34](https://user-images.githubusercontent.com/31163120/51745994-ac6fc700-20ca-11e9-831d-6fc8ee7e5131.png)

But if i am not wrong the current code in this repo does not:
https://github.com/publiclab/PublicLab.Editor/blob/94a549c6e6fcbc0d5ef8e6e3ebbf6322b46e748a/examples/index.html#L

[2019-01-25 14:06] rexagod opened #259 "Contrasting address bar support"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-25 14:16] rexagod commented on #259
@gauravano We'd love to have you start away on PL.Editor! However, if you want to assign someone else to this issue, feel free to do so. Thanks!

[2019-01-25 14:18] gauravano commented on #259
Thanks @rexagod!@niravasher you wanna claim this?

[2019-01-25 14:41] rexagod commented on #259
@gauravano If I may weigh in here, I think @niravasher already has an ongoing PR at https://github.com/publiclab/PublicLab.Editor/pull/255, and has been comfortably communicating his ideas on many different issues for a while now. If it's fine by you, I'd recommend to assign this to someone new with zero experience about the PL.Editor environment, so that they can get upto speed in no time, hence

[2019-01-25 16:05] niravasher commented on #254
Hello! I am working on this issue

[2019-01-25 17:34] vrk99 commented on #254
Ok, No Problem.
But did @rexagod or @gauravano confirm this as a relevant issue? Coz the last thing I know is that we were discussing whether to solve this issue or close it and let the feature as is.

[2019-01-25 23:36] anto004 commented on #259
Hi, can I take this one?

[2019-01-26 08:15] niravasher commented on #257
Ok @rexagod , I will be very happy to solve this.

[2019-01-26 12:36] niravasher commented on #257
Pull request is made, I have also tried to improve the scrollbar design. @rexagod

[2019-01-26 16:00] gauravano commented on #259
Hi @anto004, sure go ahead!

Hi @rexagod, actually @niravasher asked me for an first-timer-only so after going through then opened FTO's, I found that @askshaygupta553 also needs one, so asked him. And, thanks for creating FTO at such a short notice. If you see any possible issue which can be a good FTO, please tag @akshaygupta553 there, as he might be interested in solving one.

Thanks!

[2019-01-26 16:09] gauravano commented on #254
@jywarren you think it's required, as we are using accept-attribute at plots2, so it's sufficient? Thanks!

[2019-01-26 16:32] rexagod opened #261 "Designing a manifest for PL.Editor"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-26 16:33] rexagod commented on #261
@gauravano You can assign @akshaygupta533 here if you like.

[2019-01-26 16:34] rexagod commented on #259
@gauravano Made one @ #261

[2019-01-26 16:37] gauravano commented on #259
Thanks @rexagod !

[2019-01-26 16:43] rexagod commented on #259
No problem @gauravano.

[2019-01-26 17:46] niravasher commented on #254
There is a slight change in the syntax. The exact syntax is
<input type="file" name="pic" accept="image/*">
I am not sure if both the methods are same. Please help me out here @vrk99 @rexagod @gauravano

[2019-01-26 17:50] rexagod commented on #261
@IgorWilbert I did include a MDN link where anyone can easily understand the procedure of creating a `manifest` so I didn't feel the need to explicity include it in the description. However, if you'd like to, you can create a new `fto` with the details and I'll close this one. :+1:

[2019-01-26 18:37] IgorWilbert commented on #261
@rexagod sorry, I didn't notice. Yes, with the MDN link creating the `manifest` seems pretty straightforward. By the way, I updated the code and included an image in #244 , looking forward to hear your thoughts :)

[2019-01-27 09:39] niravasher commented on #217
Hey! Could someone explain me how to go ahead with this issue or could provide me with certain references where I can read about this problem as Ill try to solve this issue using javascript.

[2019-01-27 10:05] robert-aron commented on #261
Hey, can I give this a try?

[2019-01-27 10:09] rexagod commented on #217
@niravasher This has an ongoing PR at #224. I'll soon submit a PR with proper documentation that allows this to be included as node modules. You may read that to grasp the concept of service workers. Thanks!

[2019-01-27 10:38] rexagod commented on #261
Sure, go ahead @robert-aron!

[2019-01-27 11:51] robert-aron commented on #261
@rexagod Just a question, where is the manifest.json file supposed to go? I put it in /examples/data/ but I'm not sure if that's the right place.

[2019-01-27 13:13] rexagod commented on #261
I suppose we can place it there and copy the relative path in the index.

[2019-01-27 14:18] akshaygupta533 commented on #261
Sorry got a bit busy @rexagod. Is there anything else I can work on?

[2019-01-27 14:32] #250 closed

[2019-01-27 15:13] robert-aron commented on #261
@akshaygupta533 Oh sure, go ahead. Also I can give you the manifest file I wrote if you want it

[2019-01-27 15:52] gauravano commented on #202
I see this issue is solved in #220 so closing this issue. @IgorWilbert a suggestion - Including Fixes #[issue-number] in the PR, closes the issue after PR gets merged, so it's a good practice. Thanks!

[2019-01-27 15:52] #202 closed

[2019-01-27 15:52] niravasher opened #262 "Redesigning the UI of the main website of publicLab"
### Please describe the problem (or idea)
I believe that the main website can be more interactive and more catchy to the users eye

### Please show us where to look

https://publiclab.org/

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
Windows 10

There are 16 different links on the website, when clicked go to the same page. Top nav can be improved

[2019-01-27 15:53] gauravano commented on #251
Hi @NitinMore7, please paste the link of your PR here or tag this issue in the PR. Thanks!

[2019-01-27 16:17] niravasher commented on #131
For solving this issue, I think we could add a preview button which on click will open a div and all the data filled on the editor can be uploaded to a database like mongoDB or firebase and from there data can be fetched to show on the newly open div also a post at https://publiclab.org/notes/recent.. I would like to work on this issue and am open to any and all suggestions. Thankyou @jywarren @ga

[2019-01-27 16:58] rexagod commented on #262
@niravasher Since this one is related to the website, I suggest you open this on the PLOTS2 repository as @IgorWilbert recommended above. I'm closing this for now.

[2019-01-27 16:58] #262 closed

[2019-01-27 17:12] akshaygupta533 commented on #261
Yes please.

[2019-01-27 17:15] akshaygupta533 commented on #261
On second thoughts, I will try doing it on my own. Thanks anyways :smile:

[2019-01-27 18:10] rexagod commented on #261
Thank you @robert-aron for assigning this to @akshaygupta533. Please go ahead and check-out the `fto`s [here](https://github.com/publiclab/inline-markdown-editor/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+*.md) for submitting your first PR!

Thanks!

[2019-01-27 18:52] rexagod commented on #131
@niravasher You're suggesting (almost) simultaneous upload (when the preview is pressed and div opens) and download here, right? Wouldn't that add to our online dependency, increase traffic and hits to the PL server (we saw how that [~~affected~~ affects our api](https://github.com/publiclab/plots2/issues/4561)), and also may not prove to be a good strategy after all among our low-speed users. My

[2019-01-27 20:11] niravasher commented on #131
Hmm, regarding this I could add two more buttons
1) Save  2) Preview (This will avoid any real time connections)
At first save, preview and publish buttons will be disabled. As the user enters the title, only save button will be enabled. On hitting save, a cookie will be generated which will store the title inside it (if user enters more than title, then all of that) and preview and publish will e

[2019-01-27 21:44] rexagod commented on #131
Hmm. What if the user wants to make a slight change to the content and **not** record that as a revision? He will, in any case, have to save the content as a revision even though it may be very alike to the previous one. Better yet, we can,
- Monitor for changes, and only allow the content to be saved as a revision if the diff seems pretty much different than the one that's currently under editing

[2019-01-28 02:19] sog01 commented on #259
Is still opened ?

[2019-01-28 10:20] rexagod commented on #131
@niravasher I think this would work under the given constraints. Let me know if you run into any problems whatsoever.

[2019-01-28 15:21] jywarren commented on #249
oh sorry i missed this! custom builds, how do you mean? in Travis?

[2019-01-28 15:24] jywarren commented on #249
Ah, you mean in Jenkins? I think that means, ability to push to unstable branch on plots2, no?

[2019-01-28 15:27] jywarren commented on #249
OK, adding you as a write-permission collaborator in `plots2` - just remember to announce when you build to unstable in the chatroom to not conflict with someone else! Thanks!

[2019-01-28 19:05] IgorWilbert opened #265 "Apparently unused buttons in the toolbar"
### Please describe the problem (or idea)

These four buttons do nothing on click on my setup. It might be because I'm only using `npm live-server`, not connected to plots2. I believe one should be used to add another grid with certain rows/columns and other should be used to upload videos. Also, they could have a pop up description on hover, like the ones beside them.

![issue](https://user-image

[2019-01-28 19:08] IgorWilbert commented on #265
@rexagod @gauravano what are these buttons used for? Are they all working properly? If yes I would be happy to **add a description for each of them on mouse hover and turn this into a FTO-issue** :)

[2019-01-28 21:02] rexagod commented on #265
Hello Igor! The buttons work fine as of now. I've tested them below. Do let me know if there's any other issue? Closing this for now.

![peek 2019-01-29 02-29](https://user-images.githubusercontent.com/33557095/51866019-ce3ca880-236d-11e9-952f-db82cdc96ae8.gif)

[2019-01-28 21:02] #265 closed

[2019-01-28 22:50] gauravano commented on #259
Hi @sog01, PR for this issue is already in progress, so please take a look at other issues at https://code.publiclab.org/#r=all. Thanks!

[2019-01-29 00:11] rexagod commented on #259
@sog01 There's a `fto` open [here](https://github.com/publiclab/inline-markdown-editor/issues/40) if you're interested. Thanks!

[2019-01-29 01:43] sog01 commented on #259
Wow thanks @rexagod, I will look into this.

[2019-01-29 02:20] NitinMore7 commented on #251
#253

[2019-01-29 02:21] NitinMore7 commented on #251
https://github.com/publiclab/PublicLab.Editor/pull/253

[2019-01-31 07:50] rexagod commented on #254
We certainly can add a `accept="image/*"` attribute for the main _image_  upload here. Also, I do believe this would not allow the user to upload anything other than an image hence being a better measure. So I think you should proceed with this. Thanks!

[2019-01-31 07:54] rexagod commented on #238
@jywarren Can we close this now?

[2019-01-31 14:39] rexagod commented on #131
Hi Nirav! There is no harm in storing them in html in the ls, although I'd recommend if you sticked with innerText here to do the same. Also, what exactly do you mean by ls is not able to detect it?

[2019-01-31 14:46] niravasher commented on #131
So whenever browser interprets localStorage.set("code base", doument.getElementsByTagName("pre").innerHTML) ,it returns a javascript object inplace of text that is inside the code block. This is because there is a feature to convert each line of text inside code base into HTML elements. So I tried using document.getElementsByTagName("pre").childNodes, but I don't know why am I still getting a java

[2019-01-31 17:47] #225 closed

[2019-01-31 18:06] jywarren commented on #238
do we need to make the changes to devDeps first? Thanks!

On Thu, Jan 31, 2019 at 2:55 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-01-31 23:41] jywarren commented on #216
Hi, all! Thanks for the discussion here!

I def agree that some improvements can be made. I like a lot of the ideas here too! Some I like especially:

1. the main image uploader displays the uploaded image pretty strangely... it's just not a great design solution. This could certainly be reworked!
2. i like the idea of reducing the 'types' dropdown - in fact, we got rid of it on PublicLab.org
3. I

[2019-01-31 23:50] jywarren opened #268 "remove requirement of BlurredLocation library if we're not using the Map Module"
It looks like the new Map module requires Leaflet.BlurredLocation, as here:

https://github.com/publiclab/plots2/blob/7c1ef45e307a0771a5cbd805b7c6947034bb061b/app/views/editor/questionRich.html.erb#L8-L12

I had to add it there even though we don't use that module in the question form, so I was wondering if we could adjust the code to not require it unless the module is actually used. @sagarpreet-

[2019-02-01 00:11] #9 closed

[2019-02-01 00:19] rexagod commented on #238
Removed all Grunt devDeps and Jasmine. Is this okay @jywarren?

https://github.com/publiclab/PublicLab.Editor/blob/987f5f73b11bc4745ea0d0c6634ae5ca95742466/package.json#L46-L49

[2019-02-01 00:47] rexagod commented on #238
No worries @jywarren! Closing this now. :+1:

[2019-02-01 00:47] #238 closed

[2019-02-01 02:33] #195 closed

[2019-02-01 02:34] #122 closed

[2019-02-01 02:41] rexagod commented on #8
@jywarren Do you want to incorporate this in markdown as well? Is that what you're saying here?

[code]

[2019-02-01 02:49] #44 closed

[2019-02-01 02:52] rexagod commented on #58
@ebarry Can you reproduce this in a gif for us, or just state the steps that led you to encounter this error? Thanks!

[2019-02-01 02:55] rexagod commented on #65
@jywarren What do you think?

[2019-02-01 03:02] rexagod commented on #111
We can test on Node 8 (also LTS) which I suppose works fine for now. Do open this if there's any need to! Closing this for now.

[2019-02-01 03:02] #111 closed

[2019-02-01 03:13] rexagod commented on #113
@jywarren What exactly did you copy?

[2019-02-01 03:14] #125 closed

[2019-02-01 09:22] rexagod commented on #268
As of now, [`/questions/new`](https://publiclab.org/questions/new) isn't working, as the `Map` container isn't implemented on the same page, according to the logs, so I think we should get the `master` back up as soon as possible.

![map](https://user-images.githubusercontent.com/33557095/52113337-0c1c2400-262f-11e9-91eb-0c8e7b858e43.gif)

@jywarren @sagarpreet-chadha

[2019-02-01 14:57] jywarren commented on #268
OK, saw that and fixed it just now. The most recent commit fixes it (i hope) but the one before it is for adding the BlurredLocation library -- https://github.com/publiclab/plots2/commits/master/app/views/editor/questionRich.html.erb

Thanks for helping debug. Ideally neither would be needed if we're not using the module...

[2019-02-01 14:59] jywarren commented on #268
Publishing ASAP to production...!

[2019-02-01 15:14] jywarren commented on #268
Thanks for the fast response @rexagod - sorry i think i was asleep by the time you posted.

[2019-02-01 16:25] jywarren commented on #268
that fixed it!

[2019-02-01 18:48] jywarren commented on #8
I think originally this was because as you typed `@warren` for example, it would only convert it into a link if you changed the mode, and it ran its filters. This still seems to be the case! Could we linkify automatically perhaps after the atwho runs?

[2019-02-01 20:47] jywarren commented on #227
Well, it was not a major vote in favor of browserify, just that we tried it and it worked pretty well. I have not used webpack much! If it is more complex, I guess my only concern is keeping things as easy as possible for newcomers, and wondering if the benefits of its simplicity outweigh those of webpack's advantages... but happy to keep considering this and keeping it an open discussion, since I

[2019-02-01 20:48] jywarren commented on #227
I'm also interested in hearing more about gulp and don't quite understand the streams part of:

If it is convenient and easy maybe we should consider it! I haven't used it though!

[2019-02-02 03:03] rexagod commented on #268
I think changing `_editor.options.mapModule !== false` to `_editor.options.mapModule === true`
should fix this. This checks out on local btw.

https://github.com/publiclab/PublicLab.Editor/blob/5d0ec89f30f760aa9df413ef34a983f3a73db503/src/PublicLab.Editor.js#L210

[2019-02-02 06:05] rexagod commented on #65
How about appending a short (css styled) message to add more details once the user publishes a short post?

[2019-02-02 07:54] sidntrivedi012 commented on #142
@jywarren The output we need in markdown is getting wrongly parsed in the editor. It seems right in the code. Attaching image.
![screenshot from 2019-02-02 13-21-34](https://user-images.githubusercontent.com/31186013/52161623-dab65d80-26ed-11e9-8bdf-5fd0f51eefa6.png)

[2019-02-02 08:37] sidntrivedi012 opened #273 "Attach file window gets overlayed on scroll."
### Please describe the problem (or idea)

When one scrolls the window, the attach window gets obstructed by the options of the Public Lab Editor.

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and im

[2019-02-02 08:42] sidntrivedi012 commented on #273
![attachwin](https://user-images.githubusercontent.com/31186013/52162071-819df800-26f4-11e9-90d0-24d88c9ee092.gif)
@jywarren Please take a look.

[2019-02-02 10:42] rexagod commented on #273
@sidntrivedi012 Have you verified this on local?

[2019-02-03 19:33] rexagod commented on #254
@gauravano I think this can easily be converted to an `fto`. What do you say?

[2019-02-03 20:46] gauravano commented on #254
Go ahead!

Gaurav Sachdeva

On Mon 4 Feb, 2019, 1:03 AM Pranshu Srivastava <notifications@github.com
wrote:

[2019-02-04 02:09] sashadev-sky commented on #227
@jywarren The simplest solution for newcomers could be using whatever technology they are already most familiar with. Do you think it would be interesting to run a poll to gain insight on what most of Public Lab's contributors are using in their own projects?

[2019-02-04 04:14] rexagod opened #274 "Main Image Upload should only import images"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-04 04:16] rexagod commented on #254
Done! #274

Closing this now.

[2019-02-04 04:16] #254 closed

[2019-02-04 05:20] sidntrivedi012 commented on #227
I think we can use we pack for bundling our files. It's better than
browserify. I have just used it in one of my projects though the work was
only to bundle a npm module. And we can't neglect the fact that latest
technologies like Angular 7 use webpack internally to bundle the files and
make the project production ready. So, imo webpack would be a good option.

On Mon, 4 Feb 2019, 7:39 am Sasha Bo

[2019-02-04 10:50] asura1990 commented on #274
Hi,

This is my first time contributing to an OSS - how would I claim this issue?

[2019-02-04 10:57] rexagod commented on #274
Hey @asura1990! You don't need to do anything, just notify us that you want to take up this issue, we'll make sure no one is already assigned to it, and then you may start working on it!

As for now nobody is assigned to this issue, so please go ahead!

[2019-02-04 11:15] asura1990 commented on #274
Hi @rexagod I've created a new branch and trying to push to it however I get an error stating.

`ERROR: Permission to publiclab/PublicLab.Editor.git denied to asura1990.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
`
This is even after I've enabled SSH key for my github account for the machine I'm using, would I have

[2019-02-04 11:33] asura1990 commented on #274
Hi,

I've created a pull request.
https://github.com/publiclab/PublicLab.Editor/pull/276

[2019-02-04 15:20] jywarren commented on #227
I'm open to a poll but we should wait until the current community survey is complete, so perhaps another few weeks. Good thought.

Another question would be how much work it would be to change. Would we want to consider changing all our JS libraries to maintain consistency? And do we gain enough in final filesize and speed of compiling to justify the changes? I'm especially wary of what @geekychas

[2019-02-04 20:55] jywarren opened #277 "Tool to add inline short codes in format [short:code]"
PublicLab.org, the main use of this library, uses a range of short codes such as `[activities:microscope]` to fetch other pages from the site and display them in lists and grids. This functionality is documented here:

https://publiclab.org/wiki/power-tags#Inline+power+tags

There are even inline map codes: https://publiclab.org/wiki/inline-maps

These are somewhat similar to WordPress shortcodes,

[2019-02-04 22:09] sidntrivedi012 commented on #227
@jywarren I have not yet used webpack for a large codebase. But, for a small project it worked blazingly fast. Though I found a nice read [here](https://medium.com/m/global-identity?redirectUrl=https%3A%2F%2Fmedium.freecodecamp.org%2Fbrowserify-vs-webpack-b3d7ca08a0a9) to compare browserify and webpack.

[2019-02-06 15:59] jywarren commented on #142
Yes it seems we need to work on this upstream in the woofmark code, perhaps: https://github.com/bevacqua/woofmark/issues/67

[2019-02-06 17:05] #268 closed

[2019-02-06 17:20] sidntrivedi012 commented on #142
@jywarren Exactly. Should I make a issue there regarding this?

On Wed, 6 Feb 2019, 9:29 pm Jeffrey Warren, <notifications@github.com>
wrote:

[2019-02-06 17:34] rexagod commented on #142
A workaround for this could be using `crossvent` to check if there's any `.csv` link present in the `wk-wysiwyg` and converting that to a powertag. How does that sound?

[2019-02-06 22:50] jywarren commented on #142
I think we can try to work it both ways... @sidntrivedi012 take a look at this, there was a suggestion for how to do it: https://github.com/bevacqua/woofmark/issues/67#issuecomment-386880691

And @rexagod would you be willing to try an implementation? Could we write a test against it to ensure it works?

[2019-02-07 00:16] jywarren opened #281 ""Use current location" button hides editor text formatting buttons"
Oops, very small issue @sagarpreet-chadha -- clicking this button makes the text formatting buttons disappear -- looks like just a small jQuery selector over-reach:

![image](https://user-images.githubusercontent.com/24359/52382554-b0dd9d80-2a43-11e9-8ac0-86893cef2fc8.png)

[2019-02-07 00:16] jywarren commented on #281
Would you mind taking a look? I bet it's when it removes the spinner icon!

[2019-02-07 07:14] sagarpreet-chadha commented on #281
Yes on it :+1:  !

[2019-02-07 08:28] sidntrivedi012 commented on #142
Sure @jywarren. Working on it already.

On Thu, 7 Feb 2019, 4:20 am Jeffrey Warren, <notifications@github.com>
wrote:

[2019-02-07 10:44] sagarpreet-chadha commented on #281
Okay solved in PR : https://github.com/publiclab/leaflet-blurred-location/pull/177 .

[2019-02-07 11:32] amit-07 commented on #274
I want to work on this issue as a first timer I want a bit of guidance

[2019-02-07 11:37] arah24 commented on #274
I've already created a pull request to resolve this issue.

[2019-02-07 11:47] gauravano commented on #274
Hi @amit-07, we would love to have your help, you can find `first-timer-issues` at https://code.publiclab.org.
In case, you can't find one there too, feel free to comment here, and we will create one for you.
Thanks!

[2019-02-07 22:32] #281 closed

[2019-02-08 15:57] rexagod commented on #142
I experimented a bit with `crossvent`( now '.csv' links in markdown are automatically converted to `'<div class="powertags">Power tag: graph:' + href.link + '</div>'`) but I still think we can go further and replace the injected HTML by some fancy characters like we did in `AutoCenter` with -> and <- so as to make this more readable and easily operable. How does that sound?

![peek 2019-02-08 20-0

[2019-02-08 16:16] jywarren commented on #142
That sounds great! Do you want to implement the quick fix and open an issue
for a more advanced version, or what do you think?

Thanks so much for looking at this!

On Fri, Feb 8, 2019 at 10:58 AM Pranshu Srivastava <notifications@github.com>
wrote:

[2019-02-08 19:12] shapironick opened #285 "Title formatting glitch and editor fram drift"
### Please describe the problem (or idea)

I tried to post a research note

The quotation mark in the title is pointed the wrong way
![screen shot 2019-02-08 at 2 02 22 pm](https://user-images.githubusercontent.com/7503343/52499791-3e3b0200-2baa-11e9-8b89-426f7ce82df5.png)

The editor drifted down to the bottom of the screen while editing several times, as @ebarry and I posted about many months ag

[2019-02-08 19:14] jywarren commented on #285
I believe the quotation mark issue is related to the font Junction, which is open source and we can contact the designer (ny-based!)

Let's find the previous report of drifting (so much won't have  to repeat himself more) and get a clearer picture of what's happening and what the causes may be. Thanks Nick!

[2019-02-08 19:16] jywarren commented on #285
https://github.com/theleagueof/junction

[2019-02-09 20:43] ebarry commented on #285
I believe this may be the previous issue we posted, perhaps we ought to take a look at the fix that addressed this "in a way" and evaluate if this issue should be re-opened: https://github.com/publiclab/PublicLab.Editor/issues/127. Thanks!

[2019-02-10 08:26] niravasher opened #286 "Adding a preview button"
### Please describe the problem (or idea)

A preview button which can show what a user is publishing.

### Please show us where to look.
index.html page inside examples

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10

![screenshot 24](https://user-images.githubusercontent.com/32176296/52531416-2e065c80-2d3b-11e9-944c-506f344d56b1.png)

Thi

[2019-02-10 08:32] niravasher commented on #286
This issue is just for @publiclab/community-reps.

[2019-02-10 11:33] gauravano commented on #286
@publiclab/community-reps

[2019-02-10 19:36] ShazZaman commented on #274
Hello Guys, is anybody currently working on this issue?

[2019-02-11 10:03] IgorWilbert commented on #273
@rexagod @sidntrivedi012 I checked this on local and wasn't able to reproduce the bug. My setup: windows 10, Firefox Quantum 65.0 (64-bit).

[2019-02-11 10:17] IgorWilbert opened #287 "Map overlays options toolbar"
### Please describe the problem (or idea)
With the map open, on scrolling, the map overlays the option toolbar. From the UX perspective it should be the opposite, the toolbar should be over the map.

![gif](https://user-images.githubusercontent.com/42987854/52556968-390dcb00-2dd5-11e9-844d-424242e3963c.gif)

### Please show us where to look
Open the editor, click on "Add Location" button, scroll d

[2019-02-11 10:18] IgorWilbert commented on #287
I am working on this issue.

[2019-02-11 17:55] gauravano commented on #287
Great @IgorWilbert!

[2019-02-11 18:02] gauravano commented on #273
I checked on Production, can't reproduce it

![no_overlay_editor](https://user-images.githubusercontent.com/20878070/52583264-2c30bc00-2e55-11e9-81e4-65be52f0e499.gif)

@sidntrivedi012 maybe the issue is solved in last push to production. Can you try one more time on your end? Thanks!

[2019-02-11 19:21] sidntrivedi012 commented on #273
Sure! Will try on the local again and close the issue if it's resolved. :)

On Mon, 11 Feb 2019, 11:32 pm Gaurav Sachdeva, <notifications@github.com>
wrote:

[2019-02-11 19:22] gauravano commented on #273
Great!

On Tue, Feb 12, 2019 at 12:51 AM Siddhant N Trivedi <
notifications@github.com> wrote:

[2019-02-13 17:11] niravasher commented on #286
Hey @publiclab/community-reps please have a look at it once

[2019-02-13 21:19] jywarren commented on #55
This is done -- you can turn it on and off in these lines:

https://github.com/publiclab/PublicLab.Editor/blob/e997bc0586c2e26ef76d85269228235d038d0586/examples/autocomplete.html#L233-L235

I'm going to change this to a documentation issue:

After @rexagod completed https://github.com/publiclab/PublicLab.Editor/pull/239, I wanted to enable this in `plots2`, so I think i need to turn off the disabl

[2019-02-13 21:27] jywarren commented on #55
Do we need to comment these out?

https://github.com/publiclab/PublicLab.Editor/blob/e997bc0586c2e26ef76d85269228235d038d0586/examples/autocomplete.html#L233-L235

[2019-02-13 21:38] jywarren commented on #55
Perhaps we should also look to integrate this more tightly into the codebase -- say, if a function is provided for `tagsAutocomplete` or `authorsAutocomplete`, we could automate this integration code:

https://github.com/publiclab/PublicLab.Editor/commit/79f331f2e3b99e5f8baa0fbd25a60036962b6e8c#diff-3f8a176e88c67f375d6f19116e6addedR1

Alternatively, we could allow people to pass in an object to se

[2019-02-13 22:08] jywarren commented on #286
This looks really interesting - a cool idea! I have some questions and suggestions. First, is this a mockup or did you produce some code you could share?

Second, perhaps we ought to stick to Bootstrap styles (https://getbootstrap.com/docs/3.3/), or to roughly mirror the kind of layout shown at PublicLab.org? It could be a little bit more minimal.

Third, what is the diff run against? What a cool

[2019-02-14 12:29] niravasher commented on #286
Hello! Good evening, The code goes this way
1) Initial value of all fields inside the preview area is "" which gets stored in valueOne, value input by the user is stored in valueTwo, and finally comparison of valueOne and valueTwo gives different colors according to the library. On pressing the preview button again after editing any value, i put the value of valueTwo into valueOne and take the inp

[2019-02-14 22:43] niravasher commented on #286
![screenshot 29](https://user-images.githubusercontent.com/32176296/52822465-c6a03200-30d7-11e9-9561-92460ff79fd7.png)

Modifications done, color minimization , addition of bootstrap hence the page is responsive.  Please suggest me further changes @gauravano @jywarren @ebarry @SidharthBansal

[2019-02-15 10:54] niravasher opened #289 "Extras tab in editor"
### Please describe the problem (or idea)

Nothing happens when I click on  "invite responses, event, map, chart, more"

### Please show us where to look

https://publiclab.github.io/PublicLab.Editor/examples/

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10 with windows subsystem for ubuntu

## Thank you!

Your help makes Public Lab better

[2019-02-15 10:55] niravasher commented on #289
Hello, there is no functionality related to the buttons mentioned above in the extras section? What functionality has to be added here?

[2019-02-15 12:07] IgorWilbert commented on #287
From the code I have learned that the toolbar seems to be constructed with and somehow binded to this text area tag.
https://github.com/publiclab/PublicLab.Editor/blob/05695de81f79834686b7c0830252a6662b522216/examples/index.html#L225
Now a funny thing that happens when I just delete the class in the tag, like this:
 `<textarea>`
The map simply does not show any image at all. It is definitely there

[2019-02-16 18:06] niravasher commented on #289
One thing that I can think of is that when a user presses invite responses, an email should be asked which sends a conformation email to that entered email id to have a look at the post after publishing. The script of the email can be decided and email conformation can be sent using sendmail library in node. Also I think that pressing the chart button should allow the user to create graphs. The us

[2019-02-17 11:13] sidntrivedi012 commented on #273
@gauravano Yes, it's working fine on local. Closing the issue for now. But, why is it now working on the production side?

[2019-02-17 11:39] gauravano commented on #273
Maybe some recent push to production solved this issue :thinking: .

[2019-02-17 11:39] #273 closed

[2019-02-18 05:23] lohitha02 commented on #251
Hello, I think the issue is still open, If yes then can I work on this?

[2019-02-18 06:37] lohitha02 commented on #259
Hello is someone working on this issue?

[2019-02-18 09:20] gauravano commented on #259
yes @lohitha02, it has a PR in progress at #264

[2019-02-18 09:23] gauravano commented on #251
this issue has a PR open at #253

[2019-02-22 17:04] jywarren opened #295 "Add a test for Publish button disabled state"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2019-02-23 14:41] mridulguptaa commented on #274
i want to work on this issue. Is anybody currently working on this issue?

[2019-02-23 14:48] gauravano commented on #274
Hey @ShazZaman @mridulguptaa, the PR has been opened against this issue at #276, so please find other `first-timer-issues` at https://code.publiclab.org/#r=all .
In case, you can't find one there too, feel free to comment here, and we will create one for you.
Thanks!

[2019-02-26 16:59] jywarren commented on #295
This could be a nice first-timers-only, if we point at an existing test we copy, like this one:

https://github.com/publiclab/PublicLab.Editor/blob/b948d2f543a1c5b38fcb13f190d8676cd29ea9fb/spec/javascripts/errors_spec.js#L6-L22

We could make a copy where we ensure the inputs for title and body are empty, then we could add an `expects()` asserting that:

[code]

[2019-02-28 17:01] jywarren commented on #55
Docs are merged, and look great!

@rexagod i know you're interested on taking the integration one step further, but you're doing a lot already! Don't overdo it! 😄 Perhaps @vladdypwnz is interested in helping out here?

[2019-02-28 17:02] jywarren commented on #55
https://github.com/publiclab/PublicLab.Editor#atwhojs-data-module

[2019-03-03 13:13] IgorWilbert opened #297 "Add reference to Github repository"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-03 14:43] marieram commented on #297
Hi. Can I work on this?

[2019-03-03 15:37] IgorWilbert commented on #297
@marieram sure, go ahead!

[2019-03-03 15:54] manansingh96 commented on #297
I am new. Someone has claimed it above. So, I shouldn't work on this?

[2019-03-03 17:11] rexagod commented on #297
@IgorWilbert I suppose @manansingh96 can take up this issue since @marieram has previously opened some PR(s) in PL.

[2019-03-03 18:37] IgorWilbert commented on #297
Sure @rexagod ! @marieram would you mind leaving this one for @manansingh96 ? Sorry about the mess, thanks!

[2019-03-03 18:38] marieram commented on #297
No worries, I understand!

[2019-03-03 18:38] manansingh96 commented on #297
@marieram Thank you!

[2019-03-03 20:11] manansingh96 commented on #297
@IgorWilbert I have created a pull request. #298

Please review. Thanks.

[2019-03-04 07:04] manansingh96 commented on #295
I would like to try this.

[2019-03-04 14:32] #297 closed

[2019-03-04 17:03] gauravano commented on #295
Go ahead @manansingh96! Thanks!

[2019-03-04 18:57] skilfullycurled opened #302 "Multiple Issues With Text Editor in Firefox 65 vs/and Chrome 72.0"
Hi,

I've been experiencing a number of problems with the text editor.  Not sure if I should have split them up so apologies on that.  I've attached comparison images for every issue except issue number two.

The first two issues take place in Firefox 65 but not in Chrome 72.0 (macOS 10.12.6):

1) The last four buttons on the rich text editor are not functional in Firefox 65.  They can't be presse

[2019-03-04 19:53] jywarren opened #299 "Error in module.options.guides in MapModule"
I realized we hadn't copied in the new default `mapModule: true` into the `examples/index.html` file, but upon adding it, i see this error:

[code]

This is actually also affecting the PublicLab.org production site, so it's a bit urgent.

[2019-03-04 20:01] jywarren commented on #299
Reproduced in a test here: #300

[2019-03-04 20:29] #299 closed

[2019-03-05 16:36] jywarren commented on #302
Part 1 was just solved by @manansingh96 in https://github.com/publiclab/PublicLab.Editor/pull/301 -- thanks so much! 🎉

Checking that one off the list!

[2019-03-06 13:02] manansingh96 commented on #302
Part 2 is not an issue, it's working on Firefox. Can someone else confirm? @publiclab/reviewers

[2019-03-06 16:11] skilfullycurled commented on #302
Can confirm.  Want to check one thing though...

[2019-03-06 16:31] skilfullycurled commented on #302
Ah, it's a different problem.  In both Chrome and Firefox, when you scroll up, you lose the space from the rich text buttons to the markdown button as well as the markdown button.  These pictures are from Chrome but it's the same in Firefox.  Notice how in the second, the text is visible behind and the markdown button is missing in the space where it used to be.
<img width="842" alt="screen shot 2

[2019-03-07 16:54] manansingh96 commented on #302
There is this very weird thing happening with popover of Table button. The data-content has <input> tags which are being skipped when popover fetches the data-content. I do the same thing in jsfiddle, or anywhere else, it works properly. But it skips the <input> tags here. I am not able to figure it out. Help would be appreciated. @publiclab/reviewers @jywarren @gauravano

<img width="986" alt="sc

[2019-03-07 16:55] manansingh96 commented on #295
@gauravano I am not very good with tests as I don't have much experience. I wasn't able to do this. I would like some help.

[2019-03-08 21:47] gauravano commented on #295
Hi @rexagod @IgorWilbert, could you please help @manansingh96 with this issue? Thanks!

[2019-03-08 21:57] rexagod commented on #295
Hi @manansingh96! Writing tests for PL modules isn't hard at all, and below are some resources to help you through it!

Here's a commit to get you started: https://github.com/publiclab/PublicLab.Editor/pull/220/files#diff-d7c7c4e4627e0374a41634bef6978dc6
Jasmine (our current testing framework) docs: https://jasmine.github.io/2.0/introduction.html

Do let us know if you face any problems whatsoever

[2019-03-16 08:36] sagarpreet-chadha opened #305 "Multiple font awesome loading icon in maps module ."
### Please describe the problem (or idea)

In map module , when we use the **Use Current Location** button and if user denies permission to give her location , the spinner still persists .

Moreover if we click again the button and again user denies access to location , there comes 2 spinners .
<img width="890" alt="Screenshot 2019-03-16 at 2 02 12 PM" src="https://user-images.githubusercontent.co

[2019-03-17 14:47] Rishabh570 opened #306 "Not being able to update my post."
### Please describe the problem (or idea)

I'm not able to update my post. There's some error continuously getting consoled. Here's the screenshot,

![error](https://user-images.githubusercontent.com/25483260/54493044-ac818b80-48f1-11e9-86ef-290d0d772c8e.png)

### Please show us where to look

https://publiclab.org/

### What's your PublicLab.org username?
icode365

### Browser, version, and opera

[2019-03-18 16:21] jywarren commented on #306
Oh, that's no good. Can you link us to your post directly so we can try it
out (i'm an admin).

Ideally we can also look for the line of code failing on the editor file:
https://github.com/publiclab/PublicLab.Editor/blob/master/dist/PublicLab.Editor.js#L972

This may be a clue too. I'm sorry, we'll try to get this resolved soon!

On Sun, Mar 17, 2019 at 10:48 AM welcome[bot] <notifications@github.

[2019-03-18 21:07] jywarren opened #307 "Bold formatting bugs - need jquery.autotype to write a test"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Problem statement by the user Jeffrey: I was typing into an editor, and did the following sequence:

1. made a newline (new paragraph)
2. pressed `ctrl-b` (or used the bold

[2019-03-18 21:27] jywarren commented on #306
Hi, also wondering if it's possible it's related to https://github.com/publiclab/plots2/issues/5101 ?

[2019-03-19 02:51] Rishabh570 commented on #306
**Update**: I was able to update my post using the _legacy editor_ but the _rich editor_ is still behaving the same way as before.

[2019-03-19 02:53] Rishabh570 commented on #306
@jywarren Here's the link to my post: https://publiclab.org/notes/icode365/03-02-2019/soc-proposal

[2019-03-19 21:46] CleverFool77 opened #308 "Shift the formatting toolbar while creating a note at the top of the editor."
## Description
The toolbar is at the bottom of the editor which makes it difficult for a user to do the required formatting. In case of a huge article it will lead to a lot of scrolling which is not a good user experience as for every formatting option, the user needs to scroll down.
It's much better to implement the formatting toolbar at the top and make it sticky so that if the user scrolls down

[2019-03-19 21:48] jywarren commented on #308
And, we'd love help with it! The original was here, by @IgorWilbert : https://github.com/publiclab/PublicLab.Editor/pull/244 -- check it out!

[2019-03-21 08:59] CleverFool77 commented on #308
Thanks @jywarren @gauravano. I'll start working on this with reference to the PR you provided.

[2019-03-21 11:17] ananyaarun opened #316 "Formatting toolbar debugging"
# Description
In the get involved , post your work section, the toolbar in the 4th step doesn't work as required.
The last four buttons are ambiguous and don't open on click and A description of what the button does doesn't open up on hover.

![post](https://user-images.githubusercontent.com/32260628/54748850-da6c1600-4bf8-11e9-9e8a-9ab48b0d52f9.gif)

# Expected
If these buttons are of no use they

[2019-03-21 19:50] jywarren opened #309 "Table template maker seems broken"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Not a huge deal, but just documenting for future fixes -- looks like somehow our "table template generator" which was already imperfect, but kind of handy, has broken:

![im

[2019-03-26 17:46] manansingh96 commented on #309
I did try working on this(wasn't able to invest much time due to illness), I even updated it in a previous Issue [here](https://github.com/publiclab/PublicLab.Editor/issues/302#issuecomment-470605429).

I tried the same code on jsfiddle and it works perfectly.
It's a very weird issue.

@jywarren

[2019-03-26 18:13] kaustubh-nair opened #311 "Can't unintalisize text"
Once some text is made italics, it cannot be made back to normal. Bold however works fine

[2019-03-26 18:14] kaustubh-nair opened #312 "Selecting numbers after using bullets changes old bullets"
![Peek 2019-03-21 22-58](https://user-images.githubusercontent.com/30197132/55022633-fd476180-5020-11e9-9f3b-22aef1bf1af2.gif)

[2019-03-26 22:14] jywarren commented on #311
oh thank you! Let's try to make a test to demonstrate this!

On Tue, Mar 26, 2019 at 2:14 PM welcome[bot] <notifications@github.com>
wrote:

[2019-03-26 22:15] jywarren commented on #309
oh thank you! I'm sorry to hear of your illness.

On Tue, Mar 26, 2019 at 1:46 PM Manan Singh <notifications@github.com>
wrote:

[2019-03-27 10:21] divyabaid16 opened #313 "Scroll problem in text editor"
### Please describe the problem (or idea)

There must be a seperate scroll view for the text editor. When we scroll the area in text editor, entire page is scrolled. This is just the problem with the rich text area part, not with the markdown part.
[x] ```Preview Mode Ctrl+P``` is not proper. It does not closes after opening and remains at its place. It must simply be a tootlip.

There must be a s

[2019-03-27 10:25] divyabaid16 commented on #313
I would like to work on this!

[2019-03-27 11:29] rexagod commented on #313
Great! Please do! 👍

[2019-03-31 16:54] jywarren commented on #316
Sorry it took me a while to transfer! Thank you!

[2019-03-31 17:49] divyabaid16 opened #317 "Weekly Community Check-in # 16"
Hello Everyone!!!

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and abo

[2019-03-31 18:00] divyabaid16 commented on #317
@marieram @swiatek7 @kaunair @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps

@subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19

[2019-03-31 18:01] divyabaid16 commented on #317
Some newcomers: Welcome!!!
@shubhi2000 @Priyak5 @vaarigupta @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @jtmims @scheleon @mahmodHammad @santushk @jillpena @stoic-plus
@vaarigupta @alonpeer @madeofhuman

[2019-04-01 10:44] gauravano commented on #317
@ibnjunaid @HarshKhandeparkar @aashna27 @Harshithpabbati @niravasher @mmmelissa

[2019-04-01 10:46] gauravano commented on #317
Awesome check-in @divyabaid16 :100:

[2019-04-01 11:18] sagarpreet-chadha commented on #317
Hey everyone ,
Anyone here with knowledge of Javascript and experience with Jasmine testing ?
If you are up for some tricky issue , do jump over to this PR : publiclab/leaflet-blurred-location-display#52 . Thank you :smiley: !

Any help is appreciated :raised_hands: .

[2019-04-01 12:57] niravasher commented on #317
Good evening from Mumbai. This week I am about to finish writing my GSOC proposal.
Thank you and all the best to everyone

[2019-04-01 13:05] sagarpreet-chadha commented on #317
Hey everyone ,

So i finally got myself unstuck 😄 from this tricky issue that i was facing for the last few weeks (https://github.com/publiclab/leaflet-blurred-location-display/pull/52) .

**Things i learned** :
1.) Ask for help , sometimes other may give a different perspective on how to approach the problem 👍
2.) Document how you got yourself unstuck so that others who may face this problem can

[2019-04-01 13:58] jywarren commented on #306
Thanks @Rishab570. This is the line that's erroring:

https://github.com/publiclab/PublicLab.Editor/blob/d57797d3bfc2fe13b643e87cbfb574ee027f8b97/dist/PublicLab.Editor.js#L971-L973

It seems to be, from your original error, something with parsing `li` list elements within Domador (https://github.com/bevacqua/domador), which turns HTML into markdown.

Maybe it's related to the nested lists here? ht

[2019-04-01 16:01] niravasher commented on #317
@jywarren could you open some more issues to be solved in the ideas list for image-sequencer as some of them are already solved and some are referenced by others

[2019-04-01 16:30] Rishabh570 commented on #317
Hi everyone :wave:, hope everyone's doing great :smiley:

Things I'll be doing:
- I'll be trying to create some more ftos this week :memo:
- I'll be updating my soc proposal a bit.

Great check-in @divyabaid16 :tada: Thanks!!!

[2019-04-01 16:59] jywarren commented on #306
Hmm. Does this happen for /any/ input? How can we reproduce the error?
Thank you!!!

On Mon, Apr 1, 2019 at 12:05 PM Rishabh Rawat <notifications@github.com>
wrote:

[2019-04-01 18:01] CoderJolly commented on #317
Hi everyone, Hope everyone's doing great 😃

* About to finish writing my soc proposals
* Would be solving some issues

Awesome check-in @divyabaid16  🙌

[2019-04-02 01:52] Rishabh570 commented on #306
Actually, I'm not sure about the input type that triggers this. I'll try to reproduce it by publishing a "test" post though. I'll update my findings here...

[2019-04-02 03:32] jywarren commented on #306
Thanks!!!

On Mon, Apr 1, 2019, 9:52 PM Rishabh Rawat <notifications@github.com> wrote:

[2019-04-02 09:13] sagarpreet-chadha commented on #317
Hi everyone ,
I have written this note 🗒  here introducing the new LBLD library 🗺 🔍  ! Do check it out everyone :) Thank you 😄  !
https://publiclab.org/notes/sagarpreet/04-02-2019/introducing-leaflet-blurred-location-display 🎉

[2019-04-02 14:15] CleverFool77 commented on #317
Hey everyone,
Hope an amazing week. :tada:
let's keep contributing and help out others.

[2019-04-02 16:34] jywarren commented on #317
Hi everyone! Just noting -- Cloud9 is going to shut down our free accounts soon, and recommend switching to AWS Cloud9, which does not have that free tier. 😮 😢

For starters, if you're actively using it, I recommend getting your data out! https://docs.c9.io/docs/migration-checklist

And you might try using (free) https://codenvy.io instead -- we've had some initial success with it in MapKnitter, a

[2019-04-03 19:33] gauravano commented on #317
Hey everyone,

Approximately 3 weeks ago, @jywarren and @SidharthBansal put forward the idea of **Monthy Code Meetup** where we all can discuss different topics such as  javascript testing, Rails unit testing, skylight/sentry error tracking, resolving codeclimate "smells", etc.

We are brainstorming about that idea and so want to know your opinion regarding the time of meetup, which time would be

[2019-04-03 19:53] CoderJolly commented on #317
Its a great initiative, looking forward to it 🎉

[2019-04-03 22:47] sashadev-sky commented on #317
@gauravano that is a genius alternative to polling 👍👍

[2019-04-03 22:49] sashadev-sky commented on #317
Hi everyone!

This week I am:
1) Working on the exporter system for Mapknitter
2) Fixing some toolbar bugs for Leaflet.DistortableImage
3) Helping to resolve issues on my currently opened FTOs

Thank you!

[2019-04-04 12:06] cesswairimu commented on #317
Hello everyone,

Finally got mapknitter working fine locally :tada: :tada:
This week I am solving bugs and writing functional tests in mapknitter.
Awesome checkin  @divyabaid16

Great rest of week all.

[2019-04-04 22:26] jywarren commented on #317
Hi all! My day off was very worthwhile, i feel much better -- but now i'm a
bit behind on responding to PRs and reviewing proposals. Thanks for your
patience and it's especially amazing to come back and see so much activity
going so smoothly and people helping each other out even when I was
offline! I want to say THANK YOU especially big, but also to remind people
to take a break when you need one

[2019-04-06 21:11] gauravano commented on #317
Anyone interested in opening the next check-in? Let's open next check-in at LEL. Thanks!

[2019-04-06 21:12] gauravano commented on #317
Also, do add your reaction as per your time preference for the code meetup - https://github.com/publiclab/PublicLab.Editor/issues/317#issuecomment-479628410.

[2019-04-06 21:14] gautamig54 commented on #317
@gauravano I would like to open the next check-in. Kindly help me with the steps to be followed.
Thanks!

[2019-04-06 21:18] gauravano commented on #317
Great! you can follow this -
https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md. Thanks!

On Sun, Apr 7, 2019 at 2:44 AM Gautami Gupta <notifications@github.com>
wrote:

[2019-04-07 17:33] gauravano commented on #317
New check-in at https://github.com/publiclab/leaflet-environmental-layers/issues/164. Thanks @gautamig54!

[2019-04-07 17:33] #317 closed

[2019-04-08 20:32] avsingh999 opened #319 "Tooltip in legacy Editor need improvement"
https://publiclab.org/post in this page when clicking on `Rich` or `Markdown`,  tooltip z index make bad behavior. I think must be some improvement here
![publ22](https://user-images.githubusercontent.com/25536022/55754872-43fa7a00-5a6b-11e9-8095-4a31b432af5d.png)
![publ23](https://user-images.githubusercontent.com/25536022/55754873-43fa7a00-5a6b-11e9-8f7e-136ae5a3fe46.png)

thank you

[2019-04-11 14:24] Rishabh570 commented on #306
**Update**: I've tried several times for finding out the cause of the error but I'm not able to reproduce it for now...here's my [test post](https://publiclab.org/notes/icode365/04-11-2019/test-for-posts-not-being-published)

This is a _test_ post where I'm trying various types of list styles in order to find the one that triggers that...

[2019-04-11 22:45] rexagod commented on #316
Those buttons do have some functionality associated with them. @ananyaarun Can you tell us the steps to reproduce this case and verify if this is still happening on your local? Thanks!

[2019-04-12 06:25] ananyaarun commented on #316
@rexagod , i just checked again at http://localhost:3000/post as shown in my gif i still can't use the last 4 buttons and they don't have a pop up on hover explaining them as well.
Not sure why though !?

[2019-04-15 13:56] ebarry commented on #313
Thanks for working on this!

[2019-04-15 13:57] ebarry commented on #308
Thanks, moving the toolbar to the top of the editing window is something that people writing on publiclab.org have hoped for for years.

[2019-04-15 15:52] ebarry opened #322 "Numbering bug in links for images VS hyperlinks"
### Please describe the problem (or idea)

I am using this Editor to compose a long note of more than 5000 words plus images and text.

Something is happening in Markdown resulting in breaking image links. I will attempt to describe it:

In the gif i recorded, you can see the two-part list created by Markdown placing the image-links above the hyperlinks. (FYI, previously, i tried to combine these

[2019-04-15 16:02] ebarry commented on #322
Here's another gif showing the exact same numbering bug in the two-part list created by Markdown:

![markdown-linkVSimage-numbering-bug2](https://user-images.githubusercontent.com/161439/56147470-534f5b00-5f76-11e9-9bd0-5f7a2ad15ac0.gif)

[2019-10-19 17:34] auralshin commented on #312
I  would like to work on this

[2019-11-04 11:04] newbazz opened #337 "Run eslint on `src/PublicLab.Builder.js` and remove all the errors for proper JS coding style"

[2019-11-05 03:39] smohtadi commented on #319
Hi! I would like to work on this.

[2019-11-05 08:08] newbazz commented on #337
@SidharthBansal @gauravano can someone tell me how to label these tasks?

[2019-11-05 08:11] newbazz opened #338 "Run eslint on the file `src/PublicLab.Guide.js` and resolve all the errors and bugs it is showing."
You are requested to paste the screenshot of the errors shown on running eslint on the file.

[2019-11-05 08:13] newbazz opened #339 "Run eslint on `src/PublicLab.Editor.js` and remove all the errors for proper JS coding style"
You are requested to paste the screenshot of the errors shown on running eslint on the file.

[2019-11-05 11:31] pydevsg commented on #337
@newbazz I can help you out in this, can you add a small description of this issue .
For adding label issue you should talk to @jywarren , @newbazz

[2019-11-07 14:45] swathi-0901 commented on #295
hello, I would like to work on this issue can @gauravano tell me what is supposed to be done? Thank you:)

[2019-11-11 20:10] debck opened #341 "Toggling to rich text mode using shortcut key, disables the button"
### Please describe the problem (or idea)

In the 3rd step, when we try to preview the Rich text using the shortcut key (`Ctrl+P`).  The preview button gets disabled and we cant move back to the markdown view.
It changes and starts working only if we refresh the page

### Screenshot reference
* When we press `Ctrl+P` :  **output** - Button gets disabled

![Capture1312342344](https://user-images.gi

[2019-11-11 20:13] debck commented on #341
@SidharthBansal  Can you please add the appropriate labels, as I don't have access to do so.
And we can add to the GCI dashboard after that.

[2019-11-14 21:23] cesswairimu opened #342 "Lat and lon in editor"
Integrating the simple editor URL into a prompt button attached to inline and
page-leading maps, which preserves the current map center as lat/lon
parameterss

[2019-11-14 21:30] jywarren commented on #342
Hi Cess! I'm wondering if we can have this happen in the template for the
editor on plots2 - here?
https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb#L358
but
maybe it needs some ability to set the defaults through the editor options?

On Thu, Nov 14, 2019 at 4:24 PM welcome[bot] <notifications@github.com>
wrote:

[2019-11-14 21:30] cesswairimu opened #343 "Screenshot tests for the editor"
Setup screenshot tests that will be automatically generated on opening a pull request.

[2019-11-14 21:31] cesswairimu opened #344 "System testing"
System testing for different modules of the editor

[2019-11-14 21:36] cesswairimu opened #345 "Simple Editor template"
Simple Editor project: creating an editor template at /post?s=1 following the
mockups shown in https://publiclab.org/n/20973

[2019-11-14 21:39] cesswairimu opened #346 "Ui refinements"
Refining the displayed UI for uploading images (spinner, button styling, mobile
display)

[2019-11-14 21:42] cesswairimu opened #347 "Add lats and lons in the editor"
Ensuring the editor accepts lat/lon parameters at /post?tags=lat:___,lon:____
which are used to center the map in the editor

[2019-11-14 21:46] cesswairimu opened #348 "Integrate url with lat and lon params"
Integrating the simple editor URL into a prompt button attached to inline and
page-leading maps, which preserves the current map center as lat/lon
parameters

[2019-11-14 21:47] cesswairimu commented on #342
Oh yeah that  would be doable... Will take a look and move the issue to plots2. Thanks

[2019-11-16 02:03] jywarren commented on #348
Yeah! Well have to maybe be able to set the lat/lon defaults via a
constructor option! Let's find the spot in the code to do this. We can look
at other modules for an example!

On Thu, Nov 14, 2019, 4:46 PM Cess <notifications@github.com> wrote:

[2019-11-19 20:58] wmacfarl opened #352 "Uncaught Range Error: Invalid Array Length with Unordered List in Rich Editor"
### Please describe the problem (or idea)

I was writing a research note using the rich text editor.  At some point I made an unordered list that ended up not-indented, looking like this:
![image](https://user-images.githubusercontent.com/757598/68552537-14876380-03e6-11ea-850d-f5137d0ebe4f.png)

I don't know how it got to this state, and I don't know when it happened.  I wrote the entire research

[2019-11-20 16:41] #319 closed

[2019-11-26 08:31] ananyaarun opened #355 "Add code of conduct badge to readme"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-27 16:43] jywarren commented on #343
Let's do this over in plots2, using Rails system tests! I'll transfer the issue. Thanks!

[2019-11-27 16:45] jywarren commented on #347
I think this is complete in #353 and #349! awesome! 🙌

[2019-11-27 16:45] #347 closed

[2019-11-27 16:45] jywarren commented on #348
I think this is complete in #353 and #349! awesome! 🙌

[2019-11-27 16:45] #348 closed

[2019-11-27 16:47] jywarren commented on #342
I think this is complete in #353 and #349! awesome! 🙌

[2019-11-27 16:47] #342 closed

[2019-11-27 16:53] SidharthBansal commented on #307
PUBLISHED to GCI dashboard

[2019-11-27 17:04] SidharthBansal commented on #58
PUBLISHED to GCI dashboard

[2019-11-27 17:05] SidharthBansal commented on #322
PUBLISHED to GCI dashboard

[2019-11-27 17:05] SidharthBansal commented on #309
PUBLISHED to GCI dashboard

[2019-11-27 17:05] SidharthBansal commented on #113
PUBLISHED to GCI dashboard

[2019-11-27 17:11] SidharthBansal commented on #69
PUBLISHED ON GCI DASHBOARD

[2019-11-27 17:11] #27 closed

[2019-11-27 17:15] jywarren commented on #55
This looks great, I think we need to change it so it allows linking to a tag using `#abcde` with letters, and to any node in format `/n/12345` from any entry of `#12345` using numbers!

We'd love help with this as a follow-up, and THEN we can begin integrating this into https://github.com/publiclab/plots2/ !

[2019-11-28 05:50] SidharthBansal commented on #355
Published

[2019-11-28 05:52] SidharthBansal commented on #355
Please make sure beginner tasks are in first timers only format.

[2019-11-28 22:13] ananyaarun opened #357 "Update config.yml file in public lab editor"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-28 22:41] ananyaarun opened #358 "Update issue templates in Public lab editor"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-11-29 07:19] SidharthBansal commented on #355
Published

[2019-11-29 07:28] SidharthBansal commented on #357
Published

[2019-11-29 07:31] SidharthBansal commented on #358
Published

[2019-12-02 17:08] rexagod commented on #341
Uploaded to GCI dashboard.

[2019-12-03 06:21] ananyaarun commented on #357
Thanks @Uzay-G for working on this :)

[2019-12-08 16:10] fluctix commented on #69
I am not able to reproduce this error in production.

[2019-12-10 18:28] CodeSarthak commented on #55
I'm sorry but can someone briefly explain to me what is happening and what is our objective here now?

Thank you for the help.

[2019-12-10 18:29] #309 closed

[2019-12-10 18:59] jywarren commented on #55
Thanks! I think the next step here is to get it to recognize if the characters following the `#` are purely integers, and if so, have it link to a URL in the format `/n/______` - like it works on GitHub!

but if there are any letters in it, then it gets treated like a hashtag on Twitter, and we link to `/tag/______` instead.

These two URL formats are for page permalinks (https://publiclab.org/n/2

[2019-12-10 19:02] jywarren opened #365 "Integrate autocompletion code into plots2 codebase"
After #55, we should circle back and start using the autocompletion code in `plots2`!

https://github.com/publiclab/PublicLab.Editor/blob/7b8a5f82149b88a52ee60ae516212917d23df723/examples/data/atwho.PLE.js

https://github.com/publiclab/plots2/ would need to have that JS file included, and then https://github.com/publiclab/PublicLab.Editor#atwhojs-data-module instructions followed. We'd love help w

[2019-12-11 03:46] tsparksh commented on #58
How can I reproduce this issue? Everythig seems ok for me
![images](https://user-images.githubusercontent.com/17945250/70589852-7284b200-1c03-11ea-8716-5e769f6fab36.gif)

[2019-12-11 15:11] jywarren commented on #58
Maybe @ebarry can specify better but I wonder if she means moving an image
from one position in the text area to another? Can you try entering some
paragraphs of text and trying to move the image either by dragging it or by
copy-pasting? @ebarry how exactly did you move the image? Thanks all!

On Tue, Dec 10, 2019 at 10:46 PM Sparks <notifications@github.com> wrote:

[2019-12-13 18:25] nstjean opened #366 "Update map instructions privacy link"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-13 18:32] nstjean commented on #366
@SidharthBansal This can also be added to GCI dashboard.

[2019-12-13 18:44] nstjean opened #367 "Map covers Publish button"
I noticed that when you scroll up and down the map on the screen completely covers the footer including the `Publish` button. We need to fix it so the map goes underneath that footer section! :smiley:

![FireShot Capture 112 - PublicLab Editor - ](https://user-images.githubusercontent.com/49460529/70823706-933d3b00-1dae-11ea-8be8-73049926e6bc.png)

[2019-12-13 18:51] nstjean commented on #367
@SidharthBansal

[2019-12-14 11:43] VladimirMikulic commented on #55
@jywarren I already have a possible implementation of this, but how should I test it?
PublicLab doesn't have posts with tags like #10980, #105957...

[2019-12-15 15:39] VladimirMikulic commented on #113
@jywarren I guess your circumstances differ from the "normal" ones.
I am unable to reproduce the issue.

[2019-12-15 16:34] VladimirMikulic commented on #55
@jywarren I think that your API is not working correctly.

![Screenshot_20191215_173037](https://user-images.githubusercontent.com/35997844/70865727-fec70a00-1f60-11ea-977d-589309cc7d39.png)
![Screenshot_20191215_173123](https://user-images.githubusercontent.com/35997844/70865729-02f32780-1f61-11ea-8842-a84f1fd70f18.png)

As you can see note does exist, but API is unable to find it.