[2019-12-16 16:49] jywarren commented on #55
Ah, ok! So, for some autocompletions, we do need to show matching tags, for
example if you start typing #ball, we should see "suggestions" for #ball,
#balloon, #ballerina. But for numerical ones, in GitHub, we actually see
titles; in the plots2 API I am not sure that our Api actually allows
searching by node ID, which is why you aren't getting any results for the
numerical version here.

Why don't

[2019-12-16 16:56] VladimirMikulic commented on #55
@jywarren thank you for shining a light on this. You should expect a PR soon :)

[2019-12-16 16:57] jywarren commented on #55
Thank YOU!

:-)

On Mon, Dec 16, 2019 at 11:56 AM Vladimir Mikulic <notifications@github.com>
wrote:

[2019-12-17 10:28] rajcrk opened #369 "Unable to publish new content"
### When trying to publish new content, the server returned with an error response of status code 405.

- visit the link https://publiclab.github.io/PublicLab.Editor/examples/
- Fill in your awesome content you wanna fake publish.
- Click Publish button at the bottom

![Screenshot from 2019-12-17 15-51-12__01](https://user-images.githubusercontent.com/15966586/70987516-0ebc2680-20e6-11ea-82ab-679e

[2019-12-17 17:47] jywarren commented on #369
Hi! That's because the link you used is a demo only! This library is embedded in the PublicLab.org website at https://publiclab.org/post however. Does that make sense? Thanks!

[2019-12-17 17:47] #369 closed

[2019-12-18 10:18] SidharthBansal commented on #341
Published on GCI dashboard

[2019-12-20 14:11] nstjean opened #373 "Add zoom to saved data"
Given some new features we are developing in plots2 we need to save the zoom value along with lat and lon by adding a powertag of `zoom:xx` to the data saved.

I will be creating a PR!

[2019-12-20 15:09] nstjean opened #375 "Coordinates are not rounded to correct precision"
I noticed today that in the `examples/index.html` file the map coordinates are showing 6 decimal points and are not rounded to the correct precision. It stays that way when I scroll and zoom in and out.

![FireShot Capture 126 - PublicLab Editor - ](https://user-images.githubusercontent.com/49460529/71263820-b1f08400-2310-11ea-90ad-e184e8f9dee2.png)

I suspect my code changes are to blame, I will

[2019-12-20 15:33] nstjean commented on #375
Ooops! Nevermind! blurredlocation was not checked, and that's why. I've been staring at blurred coordinates too long. :blush:

[2019-12-20 15:33] #375 closed

[2019-12-20 15:49] jywarren commented on #375
:-) I think there should be a test for this, so we shouldn't have to be too
worried? But I'm not sure. Thanks!

On Fri, Dec 20, 2019, 10:38 AM Natalie St Jean <notifications@github.com>
wrote:

[2019-12-20 21:31] #373 closed

[2019-12-22 13:09] VladimirMikulic commented on #69
@jywarren I can confirm that this is a woofmark default behaviour.
I filed them an [issue](https://github.com/bevacqua/woofmark/issues/71).

[2019-12-27 17:13] nstjean commented on #367
@SidharthBansal has this been added to GCI dashboard?

[2019-12-31 13:26] VladimirMikulic commented on #313
@divyabaid16  Could you please tell us your OS and browser?
I've tested this on Chrome, Firefox and Edge there is no issue that you've specified.

[Demo](https://streamable.com/43bj6)

[2019-12-31 17:28] VladimirMikulic opened #378 "Content area horizontal overflow"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-01 14:20] #55 closed

[2020-01-02 01:47] divyabaid16 commented on #313
Oh, I had it in Firefox and my OS was Linux mint.

[2020-01-02 10:15] VladimirMikulic commented on #313
@divyabaid16 This seems to be fixed, could you close this issue?

[2020-01-02 10:53] divyabaid16 commented on #313
Ya, this issue is solved now. Thank you!!!

[2020-01-02 10:53] #313 closed

[2020-01-02 12:34] DevanshCodes commented on #378
Hey, Can I claim this?

[2020-01-02 12:36] VladimirMikulic commented on #378
@DevanshCodes of course, please do :)

[2020-01-02 17:10] jywarren commented on #378
This is awesome!!!

On Thu, Jan 2, 2020 at 7:39 AM Devansh Agarwal <notifications@github.com>
wrote:

[2020-01-02 17:14] VladimirMikulic commented on #378
I am glad you like it @jywarren.

[2020-01-02 17:45] jywarren commented on #367
I think this is a z-index issue in CSS, if it's helpful!

On Fri, Dec 27, 2019 at 12:18 PM Natalie St Jean <notifications@github.com>
wrote:

[2020-01-04 16:23] VladimirMikulic commented on #69
@jywarren Woofmark default behaviour didn't stop me from fixing it :)

[2020-01-06 21:30] #69 closed

[2020-01-08 16:53] #341 closed

[2020-01-09 15:35] VladimirMikulic commented on #58
@jywarren I am able to reproduce the issue. Upload the image and then try to move it, you'll get an error modal. Unfortunately, this is not fixable from our side.
The best thing that we can do is to prevent moving images once they are uploaded.

What do you think? Should I implement it?
Thanks.

[2020-01-09 16:41] tsparksh commented on #58
May be we can disable events for dragover hover box while moving images and reenable them onmouseup?

[2020-01-09 16:47] VladimirMikulic commented on #58
@tsparksh handling events is not a problem. Let's just wait for @jywarren's opinion on this matter.

[2020-01-11 02:53] VladimirMikulic commented on #113
@jywarren what's the current status of this issue, are you still able to reproduce it?
This is a very old issue and a button has changed to "Ask" instead of "Publish".

[2020-01-12 10:22] VladimirMikulic commented on #322
@ebarry I've tested this more than 5000 word and editor works fine.

This is what the editor does by default, you must have edited the links and created a bug.
[Demo](https://streamable.com/9nvam)
You are not supposed to edit these! That's how the issue arises, the editor loses control of what has been inserted.

Thanks.

[2020-01-13 09:14] developer22-university commented on #339
OK @VladimirMikulic

[2020-01-13 16:42] jywarren commented on #58
@VladimirMikulic when you moved the image did you drag it from one area to another? Copy paste it?

If dragging, maybe @tsparksh's idea could work. Is the failure mode that it tries to re-upload when you end your drag?

[2020-01-13 16:47] VladimirMikulic commented on #58
@jywarren you've misunderstood me. When I said 'handling events is not a problem', what I meant about it was that it's easy. I wasn't against @tsparksh's idea, I mean that's the only way we can solve it.

[Demo](https://streamable.com/1domu) on how the issue occurs.

[2020-01-13 22:25] jywarren commented on #58
sounds great! Just wanted a little more clarification. Awesome work, all!

[2020-01-15 00:36] VladimirMikulic opened #385 "Clicking 'Cancel' on modal when inserting Youtube iframe inserts 'null'"
As you can see in the GIF that I've provided when we click 'Cancel' button in the insert iframe modal, it inserts 'null' instead of just closing the modal without inserting anything.

![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/35997844/72394644-447d1b00-3737-11ea-847d-6b277cfdce49.gif)

[2020-01-16 00:03] #240 closed

[2020-01-16 04:06] #58 closed

[2020-01-20 05:57] VladimirMikulic opened #389 "Form can be submitted on empty title and body"
[Demo](https://streamable.com/r0qf0)

As you saw in the video, entering empty spaces as title and body is considered "valid" by the form validation logic, but it shouldn't be.

[2020-01-21 13:13] cocolin041 commented on #378
Is this still open? Did someone PR it?

[2020-01-21 18:28] #385 closed

[2020-01-21 19:46] jywarren commented on #307
Hmm. Was this fixed recently, i thought perhaps?

[2020-01-21 19:47] jywarren commented on #307
Maybe linked to this? https://github.com/publiclab/PublicLab.Editor/pull/220

[2020-01-21 21:42] #389 closed

[2020-01-30 11:40] DevanshCodes commented on #305
Hey! can I work on this?

[2020-01-31 06:45] Parth910 commented on #312
@kaustubh-nair this is not an issue now.so you can close this issue.

[2020-01-31 18:21] #295 closed

[2020-02-01 15:04] keshav234156 opened #394 "Stickness of toolbar"
![Screenshot from 2020-02-01 20-17-37](https://user-images.githubusercontent.com/45951376/73594011-1c136000-4530-11ea-9e0d-834ab201912f.png)

![Screenshot from 2020-02-01 20-36-03](https://user-images.githubusercontent.com/45951376/73594231-7f9e8d00-4532-11ea-9bcd-281b3c7d24b8.png)

As you can see the toolbar always remains sticked to the bottom. Is it a bug or intended behavior.
It's caused by th

[2020-02-01 15:05] keshav234156 commented on #394
@emilyashley  @jywarren @VladimirMikulic Would love your inputs here?

[2020-02-01 15:13] VladimirMikulic commented on #394
@keshav234156 I agree with you. This was strange to me also. In my opinion, the toolbar shouldn't be sticky.

[2020-02-03 16:19] #312 closed

[2020-02-04 15:27] keshav234156 commented on #311
It now fixed!!

[2020-02-04 15:28] #311 closed

[2020-02-04 17:31] blurry-x-face commented on #378
@VladimirMikulic is this issue still open? Can I claim it?

[2020-02-04 17:48] keshav234156 opened #397 "Save as Draft"
We previously had a "save as draft" option. Was it removed recently?

[2020-02-04 17:48] keshav234156 commented on #397
@VladimirMikulic @emilyashley @jywarren

[2020-02-04 18:19] VladimirMikulic commented on #378
@blurry-x-face go on :)

[2020-02-04 18:24] VladimirMikulic commented on #397
We have it on plots2, but not on this repo. It's likely dynamically injected in plots2.

[2020-02-04 18:31] keshav234156 commented on #397
@VladimirMikulic I can see the option at https://publiclab.org/post

[2020-02-04 18:32] VladimirMikulic commented on #397
Exactly.

[2020-02-04 18:35] #397 closed

[2020-02-04 18:38] keshav234156 commented on #397
@SidharthBansal Why was this closed? Is the option present?

[2020-02-04 18:39] VladimirMikulic commented on #397
@keshav234156 yes it is.

[2020-02-04 18:40] keshav234156 commented on #397
@VladimirMikulic Can you please provide a screenshot where it is present

[2020-02-04 18:46] VladimirMikulic commented on #397
Just like you said, it is present on pl.org/post.

[2020-02-04 18:47] keshav234156 commented on #397
@VladimirMikulic Sorry for wrong comment I meant I can't see the option on https://publiclab.org/post

[2020-02-04 18:48] keshav234156 commented on #397
![Screenshot from 2020-02-05 00-18-15](https://user-images.githubusercontent.com/45951376/73776015-065e9e80-47ad-11ea-843c-4ee654e8efc4.png)

[2020-02-04 18:49] SidharthBansal commented on #397
Yes option is present. I was making a tea so there was delay in reply.

[2020-02-04 18:51] keshav234156 commented on #397
Where?

[2020-02-04 18:52] VladimirMikulic commented on #397
The PL website has been updated, you might have been running the old version.
Here is the screenshot.

![Screenshot_20200204_195121](https://user-images.githubusercontent.com/35997844/73776313-d0f38a00-4787-11ea-8c3f-05dad06323eb.png)

[2020-02-04 18:54] keshav234156 commented on #397
@VladimirMikulic why it not present in my screenshot.It's very strange.

[2020-02-04 18:54] VladimirMikulic commented on #397
Try clearing cache :)

[2020-02-04 18:56] keshav234156 commented on #397
no.It's still not present.Can you please clear your cache once.

[2020-02-04 18:59] VladimirMikulic commented on #397
I am running the latest version and even after clearing the cache the option is present.

[2020-02-04 23:42] enigmatic241 commented on #355
@ananyaarun is this issue still open ? can i claim this?

[2020-02-05 08:22] Parth910 opened #398 "Overlapping map with history component"
### Problem Statement

![Screenshot from 2020-02-05 13-35-37](https://user-images.githubusercontent.com/31615065/73823517-70635c00-481e-11ea-8187-1de235a82787.png)

### How can we solve this issue?

[2020-02-05 08:31] #398 closed

[2020-02-05 16:29] blurry-x-face commented on #378
@VladimirMikulic I didn't find any horizontal scroll, was it fixed in any of the recent PRs? Could you confirm that there still is horizontal scroll

[2020-02-05 18:27] VladimirMikulic commented on #378
True, it is solved.

[2020-02-05 18:27] #378 closed

[2020-02-05 18:36] keshav234156 opened #400 "Heading and converting back."
The maximum tag of heading that can be added is <h4> .we Should increase it to <h6> and also we can't convert the text back to non-heading once it's made it to heading.We should fix it as well.

[2020-02-05 18:38] keshav234156 commented on #400
@VladimirMikulic @jywarren @emilyashley what are your views on this issue!!!

[2020-02-05 19:02] VladimirMikulic commented on #400
I don't think that it's an issue, the user can simply manually add `#` to get h5/h6.

[2020-02-05 19:06] keshav234156 commented on #400
@VladimirMikulic Agrees with you.But that only possible if you are in Markdown mode and also know how to use it.

[2020-02-05 19:09] VladimirMikulic commented on #400
Feel free to write a wrapper around it :)

[2020-02-15 14:49] keshav234156 commented on #307
@jywarren I was just thinking of rough idea of how we can solve this . The problem is occurring because of https://github.com/bevacqua/woofmark/blob/master/src/html/wrapping.js#L19-L21 .Only the HTML mode is using the wrapping function. The Markdown mode is using other function and it works perfectly in Markdown mode(Please check it so that I am confirmed that it's the correct behavior). We can di

[2020-02-16 06:01] keshav234156 commented on #307
@jywarren We could then also be able to implement the feature of the darkening of the icon when bold is on like we have in google docs.

The basic idea is to introduce woofmark in our src code rather than having a node module So tat we can format it according to our needs.

[2020-02-16 06:10] keshav234156 commented on #307
Italic text also faces similar issue

[2020-02-17 10:20] niravasher commented on #365
Shouldn't this issue be opened in plots2 and then copy the file there? @jywarren

[2020-02-17 10:22] niravasher opened #402 "Extras tab doesn't have any functionality"
### Please describe the problem (or idea)

Nothing happens within the extras tab

### Please show us where to look
https://publiclab.github.io/PublicLab.Editor/examples/

### What's your PublicLab.org username?
niravasher]

### Browser, version, and operating system
ubuntu 19.04
****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site

[2020-02-17 16:19] keshav234156 commented on #365
@niravasher I am already working on this . We actually need to follow  the instruction mentioned https://github.com/publiclab/PublicLab.Editor#atwhojs-data-module but it didn't integrate it.I will open a PR soon and lets collaborate on it

[2020-02-17 19:34] niravasher commented on #365
Tell me how can I contribute here @keshav234156 ?

[2020-02-18 09:45] niravasher opened #403 "Clicking on "read more..." takes to https://publiclab.github.io/PublicLab.Editor/examples/"
### Please describe the problem (or idea)
Some more content about the title should be provided

### Please show us where to look
https://publiclab.github.io/PublicLab.Editor/examples

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
ubuntu 19.04

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and impr

[2020-02-18 09:46] niravasher commented on #403
![Screenshot from 2020-02-18 14-57-58](https://user-images.githubusercontent.com/32176296/74723978-8da61a80-5261-11ea-8768-a99d7a253855.png)
The read more below the title goes to editor official website. @VladimirMikulic

[2020-02-18 09:47] niravasher commented on #402
@VladimirMikulic

[2020-02-18 11:46] VladimirMikulic commented on #403
We should fix this. Maybe displaying a modal that shows guidelines for the best title?

[2020-02-18 11:51] VladimirMikulic commented on #402
If you are going to put it that way, yeah it doesn't.

[2020-02-19 08:59] niravasher commented on #403
Ok, working on this

[2020-02-19 11:46] niravasher commented on #403
"read more" Has been imported from the titleModule inside modules folder. Attaching an onclick function to this gives an error. What should I do ? @VladimirMikulic

[2020-02-19 12:02] VladimirMikulic commented on #403
You can simply modify the line 25 from the title module to suit our needs.

[2020-02-19 18:02] imajit opened #404 "Lock floating toolbar for formating in public lab posts"
This is a issue related to [plots2 issue](https://github.com/publiclab/plots2/issues/7518).
Issue to solve
- lock floating toolbar to only text region
- format style of last 4 buttons in toolbar
I'm currently working on the issue

[2020-02-19 18:10] keshav234156 commented on #404
@imajit Thanks for showing up your interest regarding this!!.But PR for this is already opened https://github.com/publiclab/PublicLab.Editor/pull/395  and https://github.com/publiclab/plots2/issues/7532 .

[2020-02-19 19:28] vaibhavmatta commented on #402
@VladimirMikulic What functionalities do we expect form EXTRAS tab?
Thanks! 😊

[2020-02-19 19:30] vaibhavmatta commented on #367
Hey @nstjean , @jywarren , @SidharthBansal Is this issue resolved? If not, then I want to claim this issue. Thanks! 😊

[2020-02-19 19:32] VladimirMikulic commented on #402
@vaibhavmatta maybe sharing functionality, additional guidance...

[2020-02-19 19:34] nstjean commented on #367
It looks like it was completed but not merged! Thanks for the note, I'll get someone to merge #392 . @cesswairimu do you have access to merge on this repository?

[2020-02-19 19:35] vaibhavmatta commented on #402
@VladimirMikulic Oh, Okay.! So are you working on this? If yes, then feel free to tag me up wherever you feel stuck. Else, I want to claim this and add some functionalities to it.

[2020-02-19 19:36] VladimirMikulic commented on #402
I am not working on this, feel free to take it :)

[2020-02-19 19:40] vaibhavmatta commented on #402
Alright then.!
I think we can add new functionalities to our Editor by this Extras tab.
@nstjean @VladimirMikulic @jywarren @cesswairimu What do you all think? Should I open new issues for adding new functionalities to our editor?
Thanks 😊

[2020-02-19 19:43] nstjean commented on #402
I'm not really sure what the plan is for that extras tab. It doesn't show up on plots2 so I've never run into it before!

[2020-02-19 20:25] cesswairimu commented on #367
checking..

[2020-02-19 20:27] cesswairimu commented on #367
Nope I do not have merge rights.. pinging @emilyashley or @SidharthBansal

[2020-02-21 18:17] niravasher commented on #403
Simply modify line 25 as in you want to link to a new page like https://publiclab.org/wiki/power-tags or open up just a new modal. Because opening up a new modal, I need to create static HTML and CSS for modal and access that from publiclab.titleModule.js and then have close functionality. @VladimirMikulic @vaibhavmatta

[2020-02-21 18:36] VladimirMikulic commented on #403
@niravasher you can use existing Bootstrap classes to display a modal. There is no need to code a custom modal.

[2020-02-21 18:56] niravasher commented on #403
Works thank you @VladimirMikulic opening up PR

[2020-02-21 19:33] niravasher commented on #403
Works

[2020-02-22 14:50] #404 closed

[2020-02-23 09:07] keshav234156 commented on #316
This issue is fixed now!!

[2020-02-23 09:07] #316 closed

[2020-02-23 21:37] imajit opened #407 "Popup not disappearing"
the tool-tip for inserting table and some other tool-tips do not disappear on clicking somewhere else on screen and only disappear only when clicked on a specific button like in case of table we need to click the table button again to hide the tool-tip.
![Screenshot from 2020-02-24 03-00-10](https://user-images.githubusercontent.com/38528640/75120418-d884bf80-56b1-11ea-8d1f-ba5098b155b7.png)
I hav

[2020-03-01 09:58] govindgoel opened #409 "Different styles in similar buttons in commands bar"
What did you expect to see that you didn't?
->The ok and cancel button have different UI so this can be changed.

![ ](https://media.giphy.com/media/RM4bTJlyVAfKiJIqah/giphy.gif)

### Please show us where to look

https://publiclab.org/post
****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great i

[2020-03-01 10:39] govindgoel opened #410 "Location Pointer moves abruptly in add location section"
### Please describe the problem (or idea)

The location pointer is moving abruptly when you do left click and move the cursor.

Either the pointer should be fixed or when the pointer changes it should reflect the change in location in text box.

![ ](https://media.giphy.com/media/WsANdvORMc4Lgv9H44/giphy.gif)

### Please show us where to look

https://publiclab.org/post

### What's your PublicLab.

[2020-03-01 12:04] govindgoel opened #411 "Issue in navbar"
### Please describe the problem (or idea)

The topics section pop up but does not close when you click anywhere on the page
After clicking on tools section if you hover over community section it it overlaps and vice-versa.

![ ](https://media.giphy.com/media/Xzdg0cVS5YmkrIbBUh/giphy.gif)

### Please show us where to look

https://publiclab.org/ post

### What's your PublicLab.org username?

### Br

[2020-03-02 16:16] govindgoel opened #412 "Popup overlaps the below textbox"
### Please describe the problem (or idea)

The popup for inserting image overlaps the content of the textbox in backround.

![ ](https://media.giphy.com/media/gLpCcHNtnkWxVmAGZ6/giphy.gif)
### Please show us where to look

https://https://publiclab.github.io/PublicLab.Editor/examples/

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your he

[2020-03-03 12:43] govindgoel commented on #410
@VladimirMikulic  Please approve it

[2020-03-03 14:26] #412 closed

[2020-03-05 17:31] jywarren commented on #307
Looks great, good analysis and great noting it affects italics too! Thanks!

[2020-03-08 10:30] Kirti2502 commented on #251
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-08 10:30] Kirti2502 commented on #355
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-08 10:32] Kirti2502 commented on #358
Hi, I am an outreachy applicant and i am a novice open source contributor. Can i work on this issue?

[2020-03-08 10:36] anshukaira commented on #366
hi. I am an outreachy applicant! can i please work on this issue. also this is my first time contributing like this.

[2020-03-08 11:25] anshukaira commented on #366
https://github.com/publiclab/PublicLab.Editor/pull/413
I do not know what to do next.. and i do not even know that what I did just now was right or there is another way of doing it.
Someone?? Please help

[2020-03-08 15:01] Kirti2502 commented on #357
Hi, I am an outreachy applicant and i am a novice open source contributor. Can i work on this issue ?

[2020-03-08 15:50] #357 closed

[2020-03-08 16:56] Srija616 commented on #274
Hey! I am an Outreachy applicant with no experience in open source. Can I take up this issue?

[2020-03-08 17:00] Srija616 commented on #251
Hey! I am applying to Outreachy. I have no experience in open source. Can I work on this?

[2020-03-08 17:01] Srija616 commented on #259
Hey! I am an Outreachy applicant. Can I work on this issue?

[2020-03-08 17:03] Srija616 commented on #355
Hey! I am applying to Outreachy. Can I work on this issue?

[2020-03-08 17:12] Srija616 commented on #358
Hey! I am applying to Outreachy. Can I work on this issue?

[2020-03-09 07:51] Shulammite-Aso commented on #251
Hello @Kirti2502 and @Srija616 I'm also an outreachy applicant, and looking to get started contributing to this project by working on the first-time-only issues.  But this issue as well as all other first-time-only issues I've come across seem to have been claimed by someone else already.

I'm thinking of asking the mentors and reviewers for this project if any project if more FTO issues can be cr

[2020-03-09 07:54] Srija616 commented on #251
Hey
Sure, in fact I mailed the mentors however they are yet to reply. Apart
from the FTOs we should also ask what else can we contribute for the
application.

On Mon, 9 Mar 2020, 13:22 Shulammite-Aso, <notifications@github.com> wrote:

[2020-03-09 08:06] Shulammite-Aso commented on #251
Good one. I should probably tag them here,  if that will mean a quicker response.

[2020-03-09 08:09] Shulammite-Aso commented on #251
Hello @emilyashley @jywarren

Can you please suggest a way around this?

[2020-03-09 13:29] Kirti2502 commented on #411
Hi, I am an outreachy applicant and I would like to take up this issue.

[2020-03-09 13:44] Kirti2502 commented on #407
Hi, I am an outreachy applicant and I would like to take up this issue.

[2020-03-09 13:47] keshav234156 commented on #358
@Kirti2502 you can take up this issue.

[2020-03-09 13:49] keshav234156 commented on #355
@Srija616 You can start working on this issue.

[2020-03-09 15:01] Srija616 commented on #355
@keshav234156 The Readme file available [here](https://github.com/publiclab/PublicLab.Editor) already has the line added, hence I am unable to pull request.

[2020-03-09 15:31] keshav234156 commented on #355
@Srija616 You are right.

[2020-03-09 15:31] keshav234156 commented on #355
will open a new FTO for you soon!!

[2020-03-09 15:31] #355 closed

[2020-03-09 15:32] keshav234156 commented on #355
Fixed by #361

[2020-03-09 15:43] Kirti2502 commented on #358
I am unable to push the changes as it says permission denied and could not read from remote repo. Can you please help?

[2020-03-09 16:20] Kirti2502 commented on #358
I have created a pull request and it has passed the tests.
Also, do I have to add all the files to /dist/sub-directory ?

[2020-03-09 16:35] Srija616 commented on #355
Thanks!

[2020-03-09 17:45] Kirti2502 commented on #308
can i take up this issue?

[2020-03-09 17:50] Kirti2502 commented on #409
can i take up this issue?

[2020-03-09 17:55] anshukaira commented on #366
@nstjean ?? @VladimirMikulic ...sorry but a little help here

[2020-03-09 18:25] govindgoel commented on #409
@VladimirMikulic  Can you approve this issue

[2020-03-09 18:54] VladimirMikulic commented on #409
@govindgoel We could make pup-up modals more consistent. :+1:

[2020-03-09 20:59] Shulammite-Aso commented on #366
@anshukaira I think the instruction was to line 16 of this file https://github.com/publiclab/PublicLab.Editor/blob/7b8a5f82149b88a52ee60ae516212917d23df723/src/modules/PublicLab.MapModule.js#L16 to this 👉_module.options.instructions = 'Add a map to your note. Learn about <a href="https://publiclab.org/location-privacy" target="_blank">location privacy here »</a>' ;

[2020-03-09 21:04] Shulammite-Aso commented on #366
@nstjean I would also like to work on this issue.
If @anshukaira Would get assigned this issue then can you  point me to some other issue that is suitable for a first time contributor?

I'm also an outreachy applicant and looking to make my first contribution to this project.

[2020-03-09 21:10] Shulammite-Aso commented on #366
I'm also open to working on issues that may be more than one line of code, only I would appreciate the extra guidance that comes with FTO issues.

[2020-03-10 13:20] nstjean commented on #366
@Shulammite-Aso I will take a look at what else is available for you!

[2020-03-10 13:22] nstjean commented on #411
@govindgoel Do you think there is some code specific in PublicLab.Editor that is causing this behavior?

[2020-03-10 13:22] nstjean commented on #409
Good catch! We definitely want them consistent!

[2020-03-10 13:24] nstjean commented on #407
@Kirti2502 Sure! We just ask that you take one issue at a time. So you can choose which one of the issues here to start with, just post a comment claiming that issue so everyone knows you are working on it. :) Welcome!!!

[2020-03-10 13:36] Kirti2502 commented on #407
Sure, I will take care of this from next time.

[2020-03-10 13:39] nstjean commented on #407
Great! Let us know if you have any problems! :smile:

[2020-03-11 07:49] Kirti2502 commented on #407
Hi! I've tried adding data-trigger=focus element to the popover to make it dismissible but that does not help. Can I get some help to know what could be wrong.
Thank you.

[2020-03-11 08:50] Kirti2502 commented on #407
I have opened a pull request please review.
Thank you.

[2020-03-11 17:11] Shulammite-Aso commented on #339
Hello @developer22-university  are working on this?  If not can I work on it? @newbazz

[2020-03-11 17:15] Shulammite-Aso commented on #339
if issue #338 is available and this one is not, I can as well work on that.

[2020-03-11 19:38] Shulammite-Aso opened #417 "Map renders on top of publish footer bar."
### Please describe the problem (or idea)
When a user chooses to add location on the editor, the map that pops up renders on top of the footer bar for publishing when the user scrolls down.
As shown here:
![Screenshot from 2020-03-11 18-17-42](https://user-images.githubusercontent.com/48386390/76453154-40cde380-63ca-11ea-8d83-d1e9d88cdcbd.png)

I think it would be better if this map renders behind

[2020-03-11 19:42] Shulammite-Aso commented on #417
Please @jywarren  if this is not how we want it, i can quickly fix it.

[2020-03-11 19:50] Shulammite-Aso commented on #417
Oh! i just noticed there's an issue for this already at #367

[2020-03-11 19:52] Shulammite-Aso commented on #417
I should probably close this one.

[2020-03-11 19:52] #417 closed

[2020-03-12 08:57] Shulammite-Aso commented on #217
Hello @rexagod if this is still open for someone to work on. I would like to implement it for Editor.

What do you say?

[2020-03-12 15:18] niravasher commented on #402
Please open new issues for new functionalities @vaibhavmatta

[2020-03-12 15:53] Shulammite-Aso opened #418 "Editor buttons sticks at wrong places."
This is one of the issues identified in #302 no 3 particularly.

what i found happens here is, when on the editor body the position of the buttons div is set to relative:
![Screenshot from 2020-03-12 15-15-55](https://user-images.githubusercontent.com/48386390/76537293-78459a00-6475-11ea-81fe-96c13c079ee3.png)

but as you scroll away from the body the position becomes fixed, causing it to stick a

[2020-03-12 16:07] Shulammite-Aso commented on #418
I don't know exactly were to find the code that is causing this behavior as i'm just getting to learn the codebase.
@gauravano @jywarren if you can help with where one can look to find where this  issue is possibly coming from, you can please talk about it.

[2020-03-12 16:44] keshav234156 commented on #418
duplicate of  #394

[2020-03-12 16:44] keshav234156 commented on #418
@Shulammite-Aso can we close this issue?

[2020-03-12 17:36] Shulammite-Aso commented on #418
Oh. it's the same i think.

And i had even seen that issue before, but it's either i didn't quite understand the issue at the time or i just didn't remember there was already an issue like that.

I should close this one now then.

[2020-03-12 17:36] #418 closed

[2020-03-12 19:21] keshav234156 opened #419 "Adding new module for Customizing maps on PublicLab.org"
As mentioned https://publiclab.org/wiki/inline-maps I think embedding it in <iframe> tag followed by a <script> tag. I have done a similar rough implementation here https://drive.google.com/file/d/1fWQVquIX-zPozz6fR4TTOIVbmFhPmQAZ/view where different font size and color are changed by embedding text inside the <span> tag and passing color and font-size attributes inside the span. Similarly, we ca

[2020-03-12 19:34] keshav234156 commented on #419
@jywarren  Can you please give me a rough idea of how we can implement Maps with preset layers, Zoom level.

Because in the above example you have hosted a map on the Github page for the Unearthing layer. Do we need host Github page for every layer or is there another way around?

[2020-03-12 19:40] keshav234156 commented on #419
Also, how will we implement like Zoom level, Tag-filtered maps?

[2020-03-13 17:57] govindgoel commented on #411
@nstjean  I will surely look into this as I was busy with some other work so I was unable to look into it.

[2020-03-14 11:36] developer22-university commented on #419
HI, I WANT TO ASK ARE U APPLYING TO OUTREACHY @keshav234156

[2020-03-15 08:33] debck commented on #259
Sorry, this issue is already fixed at #264 .
Closing this

[2020-03-15 08:33] #259 closed

[2020-03-16 21:14] Shulammite-Aso commented on #154
@rexagod @jywarren @gauravano @cesswairimu  I want to work on this.

And I'm thinking since we want clicking on suggested tag names to enter them into the tag input, we could change the helper text from "recent tags" to say "popular tags", since the tags displayed do not actually represent recent tags as it is not being updated.🤓 Or is it? I don't think I have noticed.

Meanwhile, I'm an outreachy

[2020-03-16 22:43] Shulammite-Aso opened #420 "Clicking on Read more >> doesn't take user anywhere."
### Please describe the problem (or idea)

On the Title input, clicking on Read more >> doesn't take the user anywhere
![Screenshot from 2020-03-16 22-11-24](https://user-images.githubusercontent.com/48386390/76804849-37cb8080-67d5-11ea-9006-892adbea3e25.png)

The helper text looks as if "Read more" is supposed to take a user to perhaps an article that discusses how to or the importance of coming

[2020-03-17 09:26] keshav234156 commented on #420
working on #403

[2020-03-17 11:10] shreyaa-s commented on #411
@nstjean I have a potential fix for this. This can be fixed with simple JS. But this is not an issue of Editor but of the navbar in the website itself. I would like to fix it if it's available.

[2020-03-17 11:14] shreyaa-s commented on #305
Hey @sagarpreet-chadha , I'm an outreachy applicant and i would like to work on this issue if it is up for grabs. Can you please assign it to me? Thanks!

[2020-03-17 11:41] shreyaa-s opened #422 "Missing entries in .gitignore"
### Please describe the problem (or idea)
`.vscode` should be present in .gitignore because it is IDE specific for every user and in this folder settings.json file is stored for the workspace
`_SpecRunner.html` is the output from `npm run test` and i guess this should also be in .gitignore so that one does not commit it by mistake.

[2020-03-17 11:51] shreyaa-s opened #424 "Spelling mistakes"
### Please describe the problem (or idea)

There are a few spelling mistakes i encountered while going through the code.
In `dist/PublicLab.Editor.js` and in `README.md`

[2020-03-17 13:35] debck commented on #422
Hey @shreyaa-s  I can't find `_SpecRunner.html` file in the codebase.
Also, the result of the build is stored in the `dist` folder.

[2020-03-17 15:02] nstjean commented on #411
@shreyaa-s Yes go ahead in [plots2](https://github.com/publiclab/plots2/issues)

[2020-03-18 21:04] cesswairimu commented on #154
@Shulammite-Aso I will have to check if they are updated...I am not sure about that

[2020-03-19 16:58] NitinBhasneria commented on #411
@nstjean @shreyaa-s This issue is already opened in plots2.
@cesswairimu @govindgoel I think it should be closed here.
Thanks

[2020-03-19 16:59] NitinBhasneria commented on #409
@govindgoel @nstjean @VladimirMikulic I want to work on this issue.

[2020-03-19 17:03] NitinBhasneria commented on #407
@Kirti2502 If you have opened any pr for this issue please describe this issue in the pr as
Fix #407
Ask is tuck in any problem.
thanks

[2020-03-19 17:06] NitinBhasneria commented on #400
@nstjean @cesswairimu @govindgoel I think we should look up this @keshav234156 makes some point.

[2020-03-19 17:35] VladimirMikulic commented on #409
Go ahead 👍

[2020-03-19 20:21] shreyaa-s commented on #411
@NitinBhasneria if possible, can you please mention the issue number or provide the link? I'm having trouble finding it. Thanks!

[2020-03-20 04:02] NitinBhasneria commented on #409
@VladimirMikulic I am unable to find the code. Can you help me with the code

[2020-03-20 07:31] govindgoel commented on #411
https://github.com/publiclab/plots2/issues/7593
I didn't check it though that I already opened this issue in plots2.

[2020-03-20 07:31] #411 closed

[2020-03-20 10:17] VladimirMikulic commented on #409
@NitinBhasneria there is no code to find, at least in our codebase. It's Woofmark's CSS in node_modules. You need to override it.

[2020-03-20 11:55] NitinBhasneria commented on #409
@VladimirMikulic I have gone through the problem. The problem is that the insert link pop up "cancel" and "ok" button do not have classes "btn btn-default" included.

[2020-03-20 11:58] VladimirMikulic commented on #409
Well done. You can inject them with JS.

[2020-03-23 22:08] cesswairimu commented on #400
sure go ahead

[2020-03-24 14:43] jywarren commented on #419
So, on https://publiclab.org/wiki/inline-maps it shows that there are Markdown extensions that we call "inline grids" on plots2, that look like: `[map:_______]` -- these get auto-converted along with Markdown into the interactive features. So, really what we need is a UI for generating these and inserting these strings. For a simple example, you can look at the button/popup for generating tables;

[2020-03-24 18:12] #367 closed

[2020-03-24 22:07] keshav234156 opened #427 "Disabling of #Markdown button"
Switching to Markdown mode with ctrl+M disables the #Markdown button and text of the button is not changing to Rich.

[2020-03-24 22:10] keshav234156 opened #428 "Using center-alignment button in Markdown mode :"
After using center-alignment in Markdown mode and then switching to Rich mode. It doesn’t align the text instead it is identified as simple text “ ->text </- ”.To center align the text we have to initiate a key down event.

[2020-03-25 14:24] nicoleiocana commented on #251
@Shulammite-Aso

Hi! I am also an Outreachy applicant; have the mentors @jywarren and @emilyashley reached out to you? I was about to contact them via email until I read this thread. Thanks in advance.

[2020-03-25 17:59] Shulammite-Aso commented on #251
Hello! @nicoleiocana

I think the best way to reach out to the community is through the chat Chanels. There's a link to the chat Chanel on outreachy project description page, you can check it out if you have not already.

Also you can mention the mentors on the chat channels if you have any question for them.

[2020-03-26 13:38] NitinBhasneria opened #429 "An image can't be removed once it has been uploaded in the main image module"
In the Main Image module, there is requirement of Remove Image. As there is no way to remove the image once selected.

[2020-03-26 13:39] NitinBhasneria commented on #429
@cesswairimu @emilyashley @nstjean @VladimirMikulic Kindly lookout. Thanks

[2020-03-26 13:43] VladimirMikulic commented on #429
You are referring to the rich text mode, right?

[2020-03-26 13:45] NitinBhasneria commented on #429
Yes.

[2020-03-26 13:59] NitinBhasneria opened #430 "Data embedding Error in Editor"
If we copy-paste any table from other resources it will be pasted as it is but when the post is published the alignment of the table disturbs and it is not formatted as seen in the editor.

[2020-03-26 13:59] NitinBhasneria commented on #430
@VladimirMikulic @cesswairimu @nstjean @emilyashley Review this.

[2020-03-26 14:02] VladimirMikulic commented on #429
@NitinBhasneria then I don't understand what is the issue here.
You can simply click cancel on the modal and it won't insert the image.

[2020-03-26 14:03] NitinBhasneria opened #431 "Main Image Module pop up error"
When the image is uploaded the image popup shows the image. Here the problem is the text "Drag an image here to upload" is not disappearing it rather overlaps.
![gsoc11](https://user-images.githubusercontent.com/44112080/77655603-a1e3e280-6f98-11ea-840b-2dbd72f211ae.png)

If we want to show the text we can show the text below the image as it looks weird when it overlaps with the image.
Thanks

[2020-03-26 14:03] NitinBhasneria commented on #431
@VladimirMikulic @cesswairimu @nstjean @jywarren have a look!

[2020-03-26 14:03] VladimirMikulic commented on #430
@NitinBhasneria this should be posted to `plots2`. `plots2` renders posts. The editor doesn't have anything to do with it.

[2020-03-26 14:03] #430 closed

[2020-03-26 14:04] NitinBhasneria commented on #429
No, Actually I am talking about after inserting an image. Suppose we have inserted the image and then we decide to remove it. @VladimirMikulic

[2020-03-26 14:05] VladimirMikulic commented on #431
Could be improved, definitely :+1:

[2020-03-26 14:06] VladimirMikulic commented on #429
I get it now. Currently, we don't have that feature. Good catch.

[2020-03-26 14:07] NitinBhasneria commented on #430
@VladimirMikulic I think the editor cant have the exact format which we are copying in it.
What do you think?

[2020-03-26 14:08] NitinBhasneria commented on #429
Ok, thanks will be working on this.

[2020-03-26 14:08] NitinBhasneria commented on #431
Thanks will be working on this then.

[2020-03-26 14:10] VladimirMikulic commented on #430
It's complicated, woofmark parses it and then the parsed HTML is sent to the server which later displays it. Probably Bootstrap classes and styles collide with the woofmark styles, but I am not sure though.

[2020-03-26 14:11] NitinBhasneria commented on #430
Ok, @VladimirMikulic I will look at it. Thanks

[2020-03-26 14:20] NitinBhasneria opened #432 "Choose file button should have pointer cursor"
In the main image module, the choose file button should have pointer cursor.
![Screenshot from 2020-03-26 19-50-39](https://user-images.githubusercontent.com/44112080/77657275-1750b280-6f9b-11ea-9b62-cb6a8786be8a.png)

[2020-03-26 14:25] NitinBhasneria commented on #432
@VladimirMikulic @jywarren  @cesswairimu have a look

[2020-03-26 14:29] VladimirMikulic commented on #432
:+1:

[2020-03-26 14:39] NitinBhasneria opened #433 "Choose file button extension"
In the main image module, after the choose file button er have a text before choosing any file "No file chosen". Here the problem is that the text is also included in the button.

This text should be removed from the button.

![Screenshot from 2020-03-26 20-09-35](https://user-images.githubusercontent.com/44112080/77659178-ba0a3080-6f9d-11ea-9d0d-78a114f7dbc6.png)

[2020-03-26 14:40] NitinBhasneria commented on #433
@VladimirMikulic @jywarren have a look at this.
Thanks

[2020-03-26 14:44] VladimirMikulic commented on #433
:+1:

[2020-03-27 09:06] NitinBhasneria opened #435 "The publish bar should disappear making more space in small screen."
When we open the editor on the small screen like mobile then the keyboard appears and at the top of the keyboard, there is publish bar. This publish bar makes the look weird and seems less spacing.

We should make the alignment of publish bar such that if we click on any input bar the publish bar disappears and when we click anywhere else the publish bar again appears.

![editor](https://user-imag

[2020-03-27 10:23] NitinBhasneria commented on #6
@jywarren what do you expect with this?

[2020-03-27 14:44] cesswairimu commented on #429
@crisner @nstjean what you think?

[2020-03-28 13:47] NitinBhasneria opened #438 "Error while uploading image"
When we upload image from the computer in example/index.html we encounter this error.

![editor2](https://user-images.githubusercontent.com/44112080/77824456-c242a700-7128-11ea-8643-2f7d86d759a3.gif)
![Screenshot from 2020-03-28 19-17-31](https://user-images.githubusercontent.com/44112080/77824459-ca9ae200-7128-11ea-9e05-ba526a77f6bf.png)

[2020-03-28 13:48] NitinBhasneria commented on #438
please have a look @VladimirMikulic

[2020-03-28 13:49] VladimirMikulic commented on #438
Please read the README file. You need `plots2` repo as well in order to run Editor locally (test image uploads which require a server).

[2020-03-28 13:49] #438 closed

[2020-03-28 13:59] NitinBhasneria commented on #438
oh sorry will do so

[2020-03-29 15:55] cesswairimu opened #439 "Travis Failing for all of the latest PRs"
I see most of the recent PRs are all failing. Any help is highly appreciated.

Error
[code]

[code]

[code]

[2020-03-29 15:57] cesswairimu commented on #439
@gauravano @nstjean @crisner @emilyashley any ideas?

[2020-03-29 17:39] VladimirMikulic commented on #439
@cesswairimu the dependency uses object restructuring (`...`) which is not supported on Node < 8.3 version. Since we run tests on Node 5, 6, 7 it fails.

[2020-03-29 17:39] VladimirMikulic commented on #439
Upgrading the Node version would be appreciated.

[2020-03-29 17:42] cesswairimu commented on #439
Thanks @VladimirMikulic

[2020-03-29 17:42] cesswairimu commented on #439
@keshav234156 take a look

[2020-03-29 17:44] VladimirMikulic commented on #439
JS is welcome anytime :)

[2020-03-30 06:23] HarshKhandeparkar commented on #439
Hi guys. Congrats on fixing this. But I would this fix as a workaround rather than a fix. I think not upgrading grunt is not good practice. You should always use the latest version of a package.

Also, nodejs version <8 support is stopped. I think we should support only version 8 and 10 (and 12 in the future). We have done that in ImageSequencer.

Node 8 and above support ES6 features that are sup

[2020-03-30 13:08] VladimirMikulic commented on #439
@HarshKhandeparkar couldn't agree more!

[2020-03-30 14:02] keshav234156 commented on #439
@HarshKhandeparkar I also agree with you .let's change it to 8 and 10 as of now

[2020-03-31 10:44] Shulammite-Aso commented on #128
1. Numbering is reset when an image or anything like table is in a list.

[2020-03-31 15:04] jywarren opened #443 "make button/link styles more consistent and clearly "pressable""
Lots of different links and buttons are not styled to indicate they are interactive. (related to #409 and https://github.com/publiclab/PublicLab.Editor/issues/346)

For example, `1 entries` is actually a link expanding a list of revisions:

![image](https://user-images.githubusercontent.com/24359/78041869-440c1d80-733f-11ea-848b-6bb5b84cadd3.png)

There are other places (#346) where css styling co

[2020-03-31 15:16] keshav234156 commented on #443
I think this happens due to inconsistencies between https://github.com/publiclab/PublicLab.Editor/blob/master/examples/index.html and https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb .If we see https://publiclab.github.io/PublicLab.Editor/examples/ then it works perfectly fine.

![Screenshot from 2020-03-31 20-45-02](https://user-images.githubusercontent.com/45951376/

[2020-03-31 15:17] keshav234156 commented on #443
We should make https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb  consist with https://github.com/publiclab/PublicLab.Editor/blob/master/examples/index.html

[2020-03-31 16:07] jywarren opened #444 "Check that location sharing is enabled by user before posting it"
The editor at https://publiclab.org/post (and https://stable.publiclab.org/post) will share location even if it has not been permitted by the user with the `Add a location` button:

![image](https://user-images.githubusercontent.com/24359/78048358-9c471d80-7347-11ea-89c3-e8e173292711.png)

Upon pressing `Publish`, the location data is copied into the tags field and submitted.

![image](https://use

[2020-03-31 16:13] jywarren commented on #444
Indeed - here, it checks if the map element is hidden:

https://github.com/publiclab/PublicLab.Editor/blob/baf51ac431b2bab72042a8b612e0efce3fedddc8/src/PublicLab.Editor.js#L102-L109

I confirmed that this does tell you if the toggle is open, in the JS console. Odd!

[2020-03-31 16:20] jywarren commented on #444
That's odd. on second test, it did respect my toggling. But i had hit the back button to get back to that page. I'll try doing it one more time from a fresh editor page.

[2020-03-31 16:22] jywarren commented on #444
Third test from fresh editor on stable - it respected the toggle. Hmm.

[2020-03-31 23:16] Shulammite-Aso commented on #443
Yeah @keshav234156 i noticed https://github.com/publiclab/PublicLab.Editor/blob/master/examples/index.html more of the desired stylings than what is actually served on publiclab/post.
Only i don't seem to understand yet why the different exists. I used to think https://publiclab.org/post serves exactly what is on https://github.com/publiclab/PublicLab.Editor

 There seem to me to be some custom cs

[2020-03-31 23:31] VladimirMikulic commented on #443
@Shulammite-Aso the styles are stored in our CMS `plots2` under `app/assets`.

[2020-04-02 10:16] shreyaa-s opened #445 "Scrolling restricted after image upload using browse option"
### Please describe the problem (or idea)
The code breaks if the user uses `browse` to enter images but works fine for `drag and drop`.

When an image is entered using `browse` the code breaks but not with `drag and drop`.
The scrolling gets restricted. Despite the attempts to scroll up or down, the pointer and focus move back to the image entered.
Once this happens the issue persists with scrolli

[2020-04-02 10:20] shreyaa-s opened #446 "space between navbar and donation bar"
### Please describe the problem (or idea)
While testing the editor for issues related to the responsiveness of the editor I encountered additional space between the two bars.
 Screenshots depicting the same:
![Screenshot_20200402_134401](https://user-images.githubusercontent.com/55884943/78238257-00114800-74fa-11ea-93ba-4f835a315ec7.png)

![Screenshot_20200402_134454](https://user-images.githubuse

[2020-04-02 10:27] shreyaa-s opened #447 "Image placeholder line persists after uploading image"
### Please describe the problem (or idea)

Ideally I believe that the tag line used `Drag an image to upload` should not be visible after uploading an image.
![Screenshot_20200402_131652](https://user-images.githubusercontent.com/55884943/78238645-7150fb00-74fa-11ea-8e10-32c052673283.png)
Thanks!

[2020-04-02 13:20] NitinBhasneria commented on #445
Please upload a GIF of the issue @shreyaa-s.
Thanks

[2020-04-02 13:21] NitinBhasneria commented on #446
The donation bar is actually disabled, but not reflected in the main site. So, this is not the issue. For clearing up please see publicLab/plots2. Thanks

[2020-04-02 13:23] NitinBhasneria commented on #447
This issue is already fixed in #437. Please have a look and close this issue. Thanks

[2020-04-02 13:24] NitinBhasneria commented on #435
@cesswairimu @VladimirMikulic @jywarren What are your views.
Thanks

[2020-04-02 13:32] shreyaa-s commented on #447
@NitinBhasneria thanks for mentioning it.

[2020-04-02 13:32] #447 closed

[2020-04-02 13:33] NitinBhasneria commented on #433
@VladimirMikulic @cesswairimu Need some guidance for the "Choose File button".
Is it necessary to show the image name after uploading.

[2020-04-02 13:34] shreyaa-s commented on #446
@NitinBhasneria thanks for mentioning it.

[2020-04-02 13:46] Shulammite-Aso commented on #435
yeah this certainly needs working on.
There seem to be some space left when typing on your screen, on my phone screen no space is left at all once i start typing.

[2020-04-02 14:47] VladimirMikulic commented on #433
It would be a nice UX :)

[2020-04-02 14:48] VladimirMikulic commented on #435
I agree with both of you. This needs to be fixed.

[2020-04-02 15:49] NitinBhasneria commented on #435
Will be working then. Thanks

[2020-04-02 17:04] cesswairimu commented on #439
Great everyone...should we open another issue for the fix :point_up:  or keep this open?

[2020-04-02 17:09] keshav234156 commented on #439
@cesswairimu made the changes in the same PR

[2020-04-02 17:12] shreyaa-s commented on #445
@NitinBhasneria I tried but it always ends up exceeding the size limit and I have yet to find any efficient gif compressor.

[2020-04-02 17:16] cesswairimu commented on #439
Great, thanks, I have pinged Jeff/Emily to merge

[2020-04-02 17:29] NitinBhasneria commented on #445
![editor image](https://user-images.githubusercontent.com/44112080/78279573-5a7bca00-7535-11ea-93ec-6836bd918955.png)
![editor5](https://user-images.githubusercontent.com/44112080/78279690-8e56ef80-7535-11ea-82ac-efaa5790c696.gif)
@shreyaa-s does this describes your probelm?

[2020-04-02 17:57] Shulammite-Aso opened #449 "Improve UI of editor footer"
while #435 is looking at making the editor footer bar disappear when user starts typing, I think the UI of the footer could improve a bit.
The bar looks a bit big. I'm thinking it can look sleekier.

- We could reduce the height of the footer bar and size of Publish button, both on desktop and mobile view, but more especially the Mobile view.

- Add hover tooltip to the "more" button to indicate t

[2020-04-02 18:03] NitinBhasneria commented on #449
Yea, this is a part of making the Editor responsive. If you want you can work on this.
Thanks

[2020-04-02 18:06] NitinBhasneria commented on #445
Also, I want you to know that the scrolling is genuinely off. Thanks

[2020-04-02 18:09] Shulammite-Aso commented on #444
Does this error still occur? it seemed to have worked fine in your last two test.

I'm trying to reproduce this bug, but i don't know how to without publishing my post. But i've also confirmed that it performs the check

[2020-04-02 18:17] shreyaa-s commented on #445
![simplescreenrecorder-2020-04-02_23 30 56](https://user-images.githubusercontent.com/55884943/78283840-0de7bd00-753c-11ea-8224-8977218a2588.gif)
@NitinBhasneria this is what I'm talking about. I can't scroll up or down once entering an image using `browse` but I can with `drag and drop`. I'm not sure if it's localized or a genuine bug. It would be great if you could try to reproduce it and confir

[2020-04-02 18:18] shreyaa-s commented on #445
Also the scrolling problem persists even after removing the image.

[2020-04-02 18:42] NitinBhasneria commented on #445
Ok. I got it thanks for the great catch. I will update you shortly. Thanks

[2020-04-02 18:51] NitinBhasneria commented on #445
Ok, I checked the error. Actually, you are checking on publiclab.org/posts, but the updated version of the editor is on PublicLab.Editor please check from there. This error is removed already thanks.
In case you need any help, feel free to ask. thanks.

[2020-04-02 19:01] Shulammite-Aso commented on #449
Thank you @NitinBhasneria

@VladimirMikulic @cesswairimu @jywarren you could give your view on this too

[2020-04-02 19:14] NitinBhasneria opened #450 "UI improvement of Main Image popup"
Currently, after uploading the image in Main Image Module, the dotted border looks weird and should be removed or changed after image uploading.
![Screenshot from 2020-04-03 00-43-17](https://user-images.githubusercontent.com/44112080/78292213-50ad9300-7544-11ea-9de4-5a8b744a0c91.png)

[2020-04-02 19:20] NitinBhasneria opened #451 "Use location spinner error"
When you click on the Use location button under Map Module, the permission box appears. If you allow it the spinner disappears but on blocking the spinner is still there and does not disappear.
![editor6](https://user-images.githubusercontent.com/44112080/78292667-05e04b00-7545-11ea-8e14-684017dc9d47.gif)

[2020-04-02 22:27] VladimirMikulic commented on #449
@Shulammite-Aso as @NitinBhasneria already said this is all under the umbrella of #435.
I am closing this since it is duplicate of #435.

[2020-04-02 22:27] #449 closed

[2020-04-02 22:28] VladimirMikulic commented on #449
@NitinBhasneria thank you for giving @Shulammite-Aso a shot at this issue.
@Shulammite-Aso I've assigned you at #435.

[2020-04-03 01:15] Shulammite-Aso commented on #449
Oh, okay.

Only I thought his issue was only for making footer disappear once user starts typing. So I suggested here that the footer look and feel could be made better, apart from just making it disappear.
I didn't know if he meant to also implement this in #435 .  But if he did, it's awesome too, I will start Working on it at once.

[2020-04-03 02:54] VladimirMikulic commented on #449
:+1:

[2020-04-03 06:29] shreyaa-s commented on #445
@NitinBhasneria  I checked but the problem persits. If you can't reproduce it then the bug might be localized. Waiting on further confirmation. Thanks!

[2020-04-03 14:00] NitinBhasneria commented on #346
Opened #450 #433 #432

[2020-04-03 14:13] NitinBhasneria commented on #445
Ok, @shreyaa-s I cant see the scrolling resistance after image uploading. Scrolling is restricted when we click on image attachment and insert box appears. This needs to be fixed.Thanks

[2020-04-03 14:43] nstjean commented on #429
I think there should always be a way to remove an image! Good catch.

[2020-04-03 17:31] #439 closed

[2020-04-03 23:30] #205 closed

[2020-04-04 09:23] NitinBhasneria opened #455 "File name Error"
When uploading the main Image the file name is not changed from "New File Chosen.

![editor8](https://user-images.githubusercontent.com/44112080/78423447-f74c7d80-7683-11ea-8d13-3f31732a72f4.gif)

[2020-04-04 09:23] NitinBhasneria commented on #455
@VladimirMikulic @cesswairimu have a look.
Thanks

[2020-04-05 09:01] shreyaa-s commented on #445
I don't think that's a bug. With a pop up in the forground there need not be scrolling in the background.

[2020-04-05 09:02] shreyaa-s commented on #445
@NitinBhasneria  since you can't reproduce the error, it might be localized. Closing this issue.

[2020-04-05 09:02] #445 closed

[2020-04-07 08:43] shreyaa-s opened #457 "New line added with bold formatting"
### Please describe the problem (or idea)
When a snippet of plain text is selected and bold formatting is applied, a new line is added to the bottom of the plain text.
If bold formatting is applied to a part of a word rather than complete word(by mistake in selecting the complete word) then the bold text is shifted to next line.

Representation of the same:
![simplescreenrecorder-2020-04-04_13 00

[2020-04-07 08:44] shreyaa-s commented on #457
@jywarren @emilyashley @cesswairimu please verify the same.

[2020-04-07 08:47] shreyaa-s opened #458 "Overlapping image and table dialog box"
### Please describe the problem (or idea)
The `add table` menu doesn't close without clicking on the table icon. When image icon or file upload icon is clicked while the table menu is open. They end up overlapping. Maybe a functionality could be added that would close the `add table` menu if the user clicks anywhere other than the table menu itself.
Representation of the same:
![simplescreenrecord

[2020-04-07 08:48] shreyaa-s commented on #458
@jywarren @emilyashley @cesswairimu please verify the same.

[2020-04-07 09:35] shreyaa-s opened #459 "Shifting of selected data to new line with bold formatting"
### Please describe the problem (or idea)

If bold formatting is applied to a word rather than complete line or a part of the word rather than the complete word(by mistake in selecting the complete word) then the selected/ bold text is shifted to next line.

Representation of the same at the end of the video:
![simplescreenrecorder-2020-04-04_13 00 06](https://user-images.githubusercontent.com/558

[2020-04-07 15:07] jywarren commented on #445
Thanks for digging into this folks! ❤️

[2020-04-07 15:09] jywarren commented on #446
Yes, i'm going to move this issue over there and re-open it, as it is important! Thank you!!!

[2020-04-07 15:56] jywarren commented on #447
Thanks, all!!! ❤️

[2020-04-07 17:59] #154 closed

[2020-04-08 15:53] nicoleiocana commented on #409
@VladimirMikulic This is incorrect. The classes are to be updated in the `dist/PublicLab.Editor.js` file. Specifically, on lines 19788 & 19789 respectively. The update that upholds the DRY principal is to update the code to this:

[code]

No need to inject them with js.

[2020-04-08 16:11] VladimirMikulic commented on #409
@nicoleiocana We don't modify the dist file directly!

[2020-04-08 16:16] nicoleiocana commented on #409
You are correct. It was bad for me to assume that the contributors understood where the files existed in the code. I admit my mistake.

We edit the file here:

`/PublicLab.Editor/node_modules/woofmark/src/prompts/render.js` lines 30 & 31.

[2020-04-08 16:27] VladimirMikulic commented on #409
@nicoleiocana Unfortunately, you are wrong again. We never modify dist files and files in the node_modules.

[2020-04-08 16:34] nicoleiocana commented on #409
Thanks for helping me understand. So, if can understand correctly, to respect the integrity of Woofmark's original code, any update that we make to that code can only come updates made in new modules that we create?

[2020-04-08 18:01] VladimirMikulic commented on #409
@nicoleiocana it's not just specific to Woofmark, but really to any NPM package. The reason we don't modify files in node_modules is that every time we install/update the package again, the changes are erased!

[2020-04-08 18:05] nicoleiocana commented on #409
Thank you for your patience and clarification. I'm making an issue right now & want to contribute to PublicLab.Editor. This solidifies a lot of the confusion that I had with working in this repo.

[2020-04-08 18:17] VladimirMikulic commented on #409
To be honest, the dist file shouldn't be in the repo at all. It's highly discouraging and anti-pattern, but for some reason, it is present and you'll see it in a lot of PL repos.
Don't worry though, you are in right hands since I came here, I enforce best practises as much as I can :)

[2020-04-09 05:22] NitinBhasneria commented on #458
I think this issue is already described in #407. Please have a look and close this. @shreyaa-s  Thanks

[2020-04-09 13:53] Shulammite-Aso commented on #435
Hi @VladimirMikulic Can you point me to where I can find the code for the editor footer, I'm not able to find it both on plots2 and on Publiclab.Editor

[2020-04-09 14:06] VladimirMikulic commented on #435
@Shulammite-Aso I don't have a local instance of the repo, but it should be pretty easy. You can grab the footer's class or id and search for it in your IDE.

[2020-04-09 14:28] Shulammite-Aso commented on #435
Oh!  Thanks.
Seen in the dist folder.

[2020-04-09 15:44] nicoleiocana commented on #409
So glad I can soak up all of the schooling that you are providing me 😂.

Can you offer your insight? Is this why the plots2 cloned repo environment looks like this:
![plots2-cloned-environment](https://user-images.githubusercontent.com/44947175/78913589-178e8a80-7a3e-11ea-9195-52fd4a194b07.png)

versus the production environment:
![plots2-production-environment](https://user-images.githubuserconte

[2020-04-09 15:54] VladimirMikulic commented on #409
@nicoleiocana yes, it's a bit tricky for newcomers. `plots2` doesn't include of all files of the public lab's website. Some of them are bundled in production only and not present in the repo (development) like the homepage for example or this editor styles that you've provided here.

[2020-04-09 15:59] nicoleiocana commented on #409
🤔 So, if I were to develop and test here in the PublicLab.Editor repo... how am I certain that the changes will be present in the Publiclab.org site? I can see that the "last four buttons" issue has been attempted by many contributors, too many to link.

[2020-04-09 17:32] VladimirMikulic commented on #409
You simply develop in the browser!

[2020-04-11 07:39] keshav234156 commented on #407
@Kirti2502 are you still working on this?

[2020-04-12 11:54] NitinBhasneria commented on #444
@jywarren do you mean that the location should not be by default shown.

[2020-04-13 11:06] cesswairimu commented on #457
Hey @shreyaa-s yeah I see that is happening...it doesn't happen on the PL website implementation of the editor though its worth checking whats up...would be interested in working on this? thanks

[2020-04-14 07:03] shreyaa-s commented on #457
hey @cesswairimu sure! I would love to give this a try. Thanks

[2020-04-14 15:07] #305 closed

[2020-04-14 21:10] jywarren commented on #444
@Shulammite-Aso i am not sure... i think we need to test more thoroughly. I didn't change anything between my tests so it seems it may just be a narrower bug but not gone. You can try it out on https://stable.publiclab.org, our testing server, and i believe it'll be the same username/pwd combo?

@NitinBhasneria if you've clicked `Remove location` here, then it should NOT share your location:

![im

[2020-04-15 00:24] Shulammite-Aso commented on #444
Okay! I'll try to look more into this.

[2020-04-15 08:40] NitinBhasneria opened #470 "Title bar Improvement"
Currently, when we enter the title in the title module, we can draw others to our work. But once added we can't see the added peoples and so we can't confirm the are added. Another thing is we can't remove the person once added.
Expected:
We should have a row of the peoples added and beside it, there should be a remove button.

[2020-04-15 08:41] NitinBhasneria commented on #470
@nstjean @cesswairimu @VladimirMikulic please review.

[2020-04-16 12:54] Shulammite-Aso opened #471 "configure template chooser for Publiclab.Editor"
### Please describe the problem (or idea)

I was trying to create a first-time-only issue, but wasn't aware of how to create it using the available first-time-only issue template.

It's more straightforward to do that in plots2.  I'm thinking we could configure the same kind of Template Chooser we have in plot2 here,
![issue-temp](https://user-images.githubusercontent.com/48386390/79458383-9e68d78

[2020-04-20 17:43] Shulammite-Aso commented on #471
I'm making a pull request that will set this up for the editor.

[2020-04-21 17:54] #443 closed

[2020-04-25 14:44] govindgoel commented on #457
@shreyaa-s Any updates, are you still working on this?

[2020-04-25 15:46] govindgoel commented on #458
@shreyaa-s   This issue is already mentioned in the above issue number. Please have a look asap otherwise will be closing this.Thanks

[2020-04-27 10:05] shreyaa-s commented on #458
They are similar. I'll be closing this one then. Thanks!

[2020-04-27 10:05] #458 closed

[2020-04-27 16:26] jywarren opened #475 "Auto-generate testable demos from all pull requests with GitPod.io"
To make testing out new PRs faster and easier, we could integrate with GitPod.io, which auto-builds and hosts a browser-based version. I think, though i'm not sure, that we could do this with IS:

https://www.gitpod.io/

This could make debugging much easier too!

[2020-04-27 17:13] Shulammite-Aso commented on #475
I'm reading more about this,  and so far it looks like something that will do good to our development process, in terms of both efficiency and time management.

I'm going on to read further.

[2020-04-27 20:37] keshav234156 commented on #475
Seems interesting. Reading more about this!!!

[2020-04-28 14:17] publiclab-mimi opened #476 "Potential consistency improvement: idea-move the "Ask" button on the questions new-post page"
### Please describe the idea

As we think towards new work on the editor, I wanted to bring up a consistency "issue" with the editor. When you post a new question from the dashboard (Share your work->Ask a question) the form here has the "Ask" (publish) button on the left hand side of the screen, which is different from posting a research note or updating a wiki. I noticed this when I was going to

[2020-04-28 14:19] publiclab-mimi commented on #476
Also wondering if the questions page might benefit from the notification on the research note page regarding open sourcing work.

[2020-04-28 18:12] #431 closed

[2020-04-28 19:02] jywarren opened #477 "Errors in the "incorrect bold tags" detection"
![image](https://user-images.githubusercontent.com/24359/80526715-2ee7d600-8961-11ea-9e05-1eebf10e4d42.png)

Looks like this gets tripped sometimes when it may be more annoying than helpful. Let's dig up the original use case and figure out how we can limit this to where it's really useful, or rethink it?

[2020-04-28 21:01] jywarren opened #478 "Possible change in editor API (alerts) has affected downstream use in plots2 ?"
https://github.com/publiclab/plots2/pull/7820 seems to show:

[code]

Reading that actual test:

Hmm. The test for validation messages seems to be failing now:

https://github.com/publiclab/plots2/blob/a2cc4788d73652015c05b9483a02b031d01cb009/test/system/post_question_test.rb#L80

It's supposed to show:

`assert_equal( "title can't be blank, is too short (minimum is 3 characters)\nbase You must pr

[2020-04-28 21:48] Shulammite-Aso commented on #477
I've seen the issue and pull request that introduced this solution before, i should probably search it out, and look into making the needed adjustment.

[2020-04-29 17:15] nstjean commented on #470
Yes I see what you mean! I think when something is clicked on it adds it to the tag list here:
![FireShot Capture 359 - 🎈 Public Lab_ Post - publiclab org](https://user-images.githubusercontent.com/49460529/80625479-44213b00-8a1b-11ea-9215-57906ca4b29a.png)

So yes you can delete it, but only if you know what that is! It would be much better to have a list of people who will be notified, with an "

[2020-05-02 22:17] Shulammite-Aso commented on #475
I was trying to familiarize myself with gitpod when i had some issues with running my project on the browser to see my changes,  so I reached out to the gitpod guys for help, and as part of the assistance, they've just made a pull request with some configuration to get started with gitpod support. At #483

I'm thinking this would be helpful for when we're set to add gitpod to the project.

[2020-05-05 08:56] shreyaa-s commented on #457
@govindgoel I checked but the bug doesn't follow a fixed pattern. Sometimes it adds a new line to plain text as well and sometimes it doesn't. I have trouble pinpointing the exact snippet of code that breaks. I will keep you posted if I come across anything.

[2020-05-06 02:46] keshav234156 opened #487 "Exiting out of the code module"
Right now there is no way by which we can start a new paragraph after we have used the code module. We can solve this such that pressing the respective hotkey exits the module like in case of quoted text.

[2020-05-06 02:53] keshav234156 opened #488 "Borders of tables are currently not shown."
![Screenshot from 2020-03-07 16-26-09](https://user-images.githubusercontent.com/45951376/81134549-bd1c1780-8f72-11ea-80ae-1a883719f5bb.png)

This should be changed to

![Screenshot from 2020-03-07 16-24-47](https://user-images.githubusercontent.com/45951376/81134502-978f0e00-8f72-11ea-9f7f-6ecfbdd899eb.png)

[2020-05-06 02:53] keshav234156 opened #489 "Decentering of a centered text"
If a text has already been centered by a user(and it may happen sometimes by mistake ) then it can’t be uncentered. Also if you want further paragraphs to be uncentered then it’s not possible now.

[2020-05-06 03:24] keshav234156 opened #490 "GSoC / Outreachy Editor Project Planning Issues and General Disscussion"
In this issue, we can discuss about weekly goals and the issue we are going to work during the whole project. I have also made the Summer of Code 2020 project https://github.com/publiclab/PublicLab.Editor/projects/1 to keep the track of Issues To Do, In Progress, Done.

Editor Project Collaboration plan : https://docs.google.com/document/d/1LX1VEi_TEplnduXETqwr8mPPt-hshlg03dLeaa74hMI/edit

**Bugs

[2020-05-06 03:28] keshav234156 commented on #490
Hi @shreyaa-s @NitinBhasneria  @Shulammite-Aso ,
For this week let us focus on the opening issue from the proposal that we all made. You all can then add the links above in the task list.

[2020-05-06 03:38] keshav234156 opened #491 "Design optimization for Bottombar in Mobile view"
The bottom-bar occupies a lot of space in the mobile view.We should optimize it to look good in mobile view

![non-compact](https://user-images.githubusercontent.com/45951376/81136391-12f3be00-8f79-11ea-9239-cf1d93b2696f.png)

This should be changed to

![compact](https://user-images.githubusercontent.com/45951376/81136347-f35c9580-8f78-11ea-95b6-5447ed21ee5b.png)

[2020-05-06 07:20] Shulammite-Aso commented on #490
Most of the issues are the same in our proposals.  I think splitting up the project so that each one of us will have specific areas to focus on, will be a fine thing.

https://github.com/publiclab/plots2/issues/7873 had mentioned the same thing.

What do you think?

[2020-05-06 07:50] keshav234156 commented on #490
Yes, I saw all the proposals. Roughly around 75% of the proposal is the same. We can open all the remaining issues that are different and not present in other's proposal

I don't think giving a complete specific area to each one of us would be useful. Let's first open up the completely small independent issue and then we can start by claiming that independent issues.

Thanks!!

[2020-05-06 07:50] shreyaa-s commented on #490
I agree with @Shulammite-Aso . My proposal also focuses on some issues related to the work you've mentioned. This would mean a greater chance of the code breaking or having discrepancies if we were to work separately. A big team on Editor would yield the desired results only if we were to work as a team. Let's have a meeting where we could discuss our ideas, plan the next week, divide the work and

[2020-05-06 08:00] keshav234156 commented on #490
@shreyaa-s We can use this thread to discuss our ideas, plan the next week, divide the work and establish a workflow

[2020-05-06 08:15] shreyaa-s commented on #490
@keshav234156 that's fine by me.

[2020-05-06 08:20] shreyaa-s commented on #459
Similar to #457

[2020-05-06 08:20] #459 closed

[2020-05-06 08:29] shreyaa-s opened #493 "Multiple Add Location Spinners"
![Screenshot_20200506_135924](https://user-images.githubusercontent.com/55884943/81154755-d7b9b500-8fa1-11ea-8fc3-73b2d26756a8.png)

[2020-05-06 10:24] NitinBhasneria commented on #490
I agree with dividing and working seperately. But we all should know what each others are doing. @keshav234156 I agree with you.

[2020-05-06 10:59] NitinBhasneria commented on #490
Here, I think that deciding the workflow and then divide the work will be a better option. simply claiming the issues won't help much. So, first of all we should decide what will be the best workflow as a team. Let's pin @jywarren @cesswairimu @emilyashley for there views. Thanks.

[2020-05-06 12:20] Shulammite-Aso commented on #490
I think this is cool!
We're either going to be dividing the work up and deciding how best to work on them by ourselves,  or the mentors already have plans coming in place. I think we have to hear from them first either ways.

Thank you.

[2020-05-06 15:14] keshav234156 commented on #490
ok, Let's start by making a list of different sub-project projects possible

1. Potential Bugs
2. Mobile view optimization
3. Adding a new module for Customizing maps on PublicLab.org #419
4. Adding test suite
5. Adding a linting tool
6. Develop a workflow for documenting hard-to-reproduce bugs, so that users can report and document them (with screenshots, GIFs, screen recordings, js console captu

[2020-05-06 15:15] keshav234156 commented on #490
@NitinBhasneria @Shulammite-Aso @shreyaa-s Please list other sub-project possible other than this ?

[2020-05-06 15:24] cesswairimu commented on #490
Hey all, congrats everyone once more and I love the discussions already going on here :tada: :tada: ...
I think with all of you working on one project,  the subprojects are bond to inter twin at any moment .. working collaboratively is more of the approach we should be going for...of course at a given time everyone will be working on  separate issues but  you might find one issue is dependent on o

[2020-05-06 17:08] Shulammite-Aso commented on #490
Thank you @cesswairimu
Noted!! 🎉

[2020-05-06 17:15] shreyaa-s commented on #490
Hey @cesswairimu Thanks for the input!
@keshav234156 if we're making a list of sub projects that we can cover/discuss, here's my input:
7. Adding functionalities to Extras tab. #402
8. Adding tools for shortcode syntax.

[2020-05-06 17:19] Shulammite-Aso commented on #490
There is also; User testing, using lookback.io perhaps?

Also the new module will be for adding custom contents like maps and a grid of other contents in publiclab.org.
I think I would like to work on this part if we don't mind??
Only I'm not sure yet if there should be a different module for adding maps and another for adding grid contents, or if they should both be using the same module? I'm yet

[2020-05-06 17:24] keshav234156 commented on #490
Can we all choose some other channel to disscuss.I think it's very difficult to chat here on github. We can create a room on riot or any other similar software. what are your thoughts on this??

[2020-05-06 17:27] Shulammite-Aso commented on #490
I have a UI sketch of the new custom inserts on my proposal. And I'm thinking the UI could be handled differently from the actual module extension.
But I can't tell how intertwined the two will be yet to decide if different persons can handle each.

[2020-05-06 17:31] Shulammite-Aso commented on #490
Oh!
I think our mentors should be able to come back and follow up on our chats.  That may be difficult if we create a different group??

[2020-05-06 17:31] shreyaa-s commented on #490
Yeah, that would be better.

[2020-05-06 17:31] Shulammite-Aso commented on #490
Unless it will be cool to have them their too.

[2020-05-06 18:00] NitinBhasneria commented on #490
@keshav234156 I agree with you but as @Shulammite-Aso said it would be difficult to follow up our chats.
Also, I do think we four of us can have a different suitable platform for discussing the workflow and then we can tell the workflow to the mentors after deciding.

[2020-05-06 18:03] keshav234156 commented on #490
https://riot.im/app/#/room/!hFdwKeIWxjjMOPWhpb:matrix.org just made a room. @Shulammite-Aso yes, Mentors can also be added in this room. Please send a "Hi" message so that I can know that you have been added and it works properly

[2020-05-06 18:07] keshav234156 commented on #490
@NitinBhasneria ok then we can discuss it here

[2020-05-06 18:10] keshav234156 commented on #490
For Adding functionalities to Extras tab we need to first discuss with @jywarren . This issue was opened up by a contributor and it hasn't be approved by Jeff yet.
I beleive  Adding tools for shortcode syntax and Custom Insert are similar?

[2020-05-06 18:12] NitinBhasneria commented on #490
I think the first one "Potential Bugs" should be elaborated more @keshav234156

[2020-05-06 18:17] keshav234156 commented on #490
@shreyaa-s sorry I saw your proposal and it mentions Adding functionalities to the 'Extras' tab. I think you wanted this to be a sub-project and #402 mentions something else. So can you please open up issues for different modules as mentioned in your proposal

[2020-05-06 18:20] NitinBhasneria commented on #490
Ahh, @keshav234156 I think we should first list out the things we need to work and then divide them according to the interest then we can individually open the issues. What do you think?

[2020-05-06 18:22] shreyaa-s commented on #490
It says failed to join room. You've not been invited to this room.

[2020-05-06 18:24] shreyaa-s commented on #490
I believe so, yes. Also I think we need to take @jywarren 's approval and input on the same. It will be easier to prioritize and work on the features accordingly.

[2020-05-06 18:25] keshav234156 commented on #490
@NitinBhasneria all the potential bugs don't belong to any particular module These changes are to bemade in woofmark

[2020-05-06 18:27] NitinBhasneria commented on #490
Its ok then.

[2020-05-06 18:27] keshav234156 commented on #490
Can you please check it now. I have changed room setting

[2020-05-06 18:33] keshav234156 commented on #490
@shreyaa-s i think you can only join by invite

[2020-05-06 18:34] NitinBhasneria commented on #490
@keshav234156 Can't join....

[2020-05-06 18:34] shreyaa-s commented on #490
I've joined.

[2020-05-06 18:35] NitinBhasneria commented on #490
Yea I have too now.

[2020-05-06 18:38] keshav234156 commented on #490
Shulammite-Aso you can also join

[2020-05-06 18:40] NitinBhasneria commented on #490
From my side I would like to add:
1. Title bar tag integration improvement: Addition, deletion of the tags.
2. CSS or UI improvement.
3. Drag and Drop file improvements.
4. The user interfaces to attach files or image improvement.
5. Table inserting format. So that we can give format to the tables.
6. Proper documentation with each module.
7. Data Embedding. When copied from other sources to the e

[2020-05-06 18:40] NitinBhasneria commented on #490
@keshav234156 I am having error in sending mess on riot.

[2020-05-06 18:44] keshav234156 commented on #490
@NitinBhasneria Looks a good list.Can you please open a detail issues for each of the following .Just copy - pasting from proposal that you have made for above tasks

[2020-05-06 18:45] shreyaa-s commented on #490
I'll go ahead and do the same.

[2020-05-06 18:50] keshav234156 opened #494 "Implementing the feature of darkening of all the icons"
Implementing the feature of the darkening of all the icons when it in use. Eg. The bold icon would be darkened when in use. Similar to the feature that is present in Google Docs.  We can easily work on this feature after we have introduced woofmark in the source code of PublicLab.Editor.We can get status of whether we are using a particular module from https://github.com/bevacqua/woofmark/blob/mas

[2020-05-06 18:50] NitinBhasneria opened #495 "UI improvement for Editor."
This issue is for UI improvement discussion.
New ideas are highly appreciated.
All the UI ideas that can be put here, will be discussed and will be finalized.
@jywarren @cesswairimu @keshav234156 @shreyaa-s @Shulammite-Aso Have a look.

[2020-05-06 18:51] keshav234156 opened #496 "Making toolbar Responsive"
Toolbar is cropped in Mobile view and small Screen View
![Screenshot from 2020-02-22 21-59-43](https://user-images.githubusercontent.com/45951376/81216518-a6200880-8ff8-11ea-99d6-f7220c725782.png)

[2020-05-06 18:51] shreyaa-s opened #497 "Optional 'Add a location'"
We can create an expandable menu in place of `Add location` wherein on clicking the button it would expand to list the various ways to add a location. It will make it more convenient and space-efficient in my opinion. This is up for discussion.

[2020-05-06 18:56] shreyaa-s opened #498 "Adding custom inserts"
Adding tools for shortcode syntax.

[2020-05-06 18:57] shreyaa-s opened #499 "Embedding audio, video and calendar"

[2020-05-06 18:59] shreyaa-s opened #500 "Adding functionalities to the Extras Tab"
This Includes:
1. Invite responses
2. Create Event
3. Adding Charts
4. Adding maps

[2020-05-06 18:59] NitinBhasneria opened #501 "Proper Documentation for each module use."
Today, in each module we should have a documentation for guidelines to use each module. But some modules are not having enough documentation and guidelines to use. This should be provided.

[2020-05-06 19:00] keshav234156 opened #502 "Adding a linting tool"
Eslint and Husky:
Eslint is a tool for identifying and reporting patterns faced in ECMAScript/JavaScript Code,with the goal of making the code more consistent. In order to force the contributor to use Eslint before they commit their code we will use Husky

Eslint and Husky where previously used in Image-Sequencer project. We can think of other alternative tools if it doesn't work here.

[2020-05-06 19:03] keshav234156 opened #503 "Adding Test suite"
Integrating the jest-puppeteer for testing and writing tests in a similar way to that implemented in Image-Sequencer. Jest-puppeteer facilitates Keyboard Typing and Mouse simulation so would be best suitable here as well.
Adding test For Bold Formatting
Adding test For Italic Formatting

Jest-puppeteer was previously used in the Image-Sequencer project and they work flawlessly. So we can implement

[2020-05-06 19:04] keshav234156 commented on #498
similar to #419 . So we can close this

[2020-05-06 19:04] NitinBhasneria opened #504 "Drag and drop file or image improvement."
1. Presently, when we drag and drop the image in the main image module the editor module will appear grey. This should not happen. The expectation is this: the grey part should only appear when image is dragged to the editor module only.
2. Second, when the file is dragged and uploaded in the editor there is a major lag that can be seen. Also, the image uploaded in editor is difficult to resize.

[2020-05-06 19:05] NitinBhasneria opened #505 "Data Embedding. When copied from other sources to the editor."
When the whole text or para is copied from other sources of an editor it is difficult to be pasted as it is.
This should be improved.
Also, firstly the text will appear as originally but after posting it will be changed in matter of format. This is not a good experience for the user.
This issue will have changes on plots2 repo too.

[2020-05-06 19:07] NitinBhasneria opened #506 "Table insertions formats."
Presently, we don't have the perfect table formatting. We will
add the table formats and make the table look more perfect. Presently, the table format
selection is wired and no design selection is there. The design selection and border format will
be provided.

[2020-05-06 19:16] shreyaa-s commented on #498
@keshav234156 is #419  only for adding maps or for other features, like buttons, notes, wiki, nodes, activity as well?

[2020-05-06 19:18] NitinBhasneria commented on #493
@shreyaa-s This issue is solved in #436

[2020-05-06 19:21] keshav234156 commented on #490
I am really sorry. That occurs because of end-to-end encryptions and it can't be disabled now .So just created a new room https://riot.im/app/#/room/!ZuaTBWNFvZoftPwQmG:matrix.org .Hope this will able to handle all the mess

[2020-05-06 19:21] shreyaa-s commented on #506
Along with the improved format, we can add features to resize columns because right now it auto-aligns and leaves large spaces in between.

[2020-05-06 19:21] NitinBhasneria commented on #490
Well, its ok.

[2020-05-06 19:24] shreyaa-s commented on #504
To enable the option to resize images we have to look for a block-based editor approach. It would give the user a lot of freedom over formatting and layout options, and not just for the images but practically everything that a user adds to the editor.

[2020-05-06 19:28] shreyaa-s commented on #493
I'll close this then.

[2020-05-06 19:28] #493 closed

[2020-05-06 19:35] keshav234156 commented on #498
It's a general issue for custom inserts and not specifically for maps

[2020-05-06 19:41] shreyaa-s commented on #498
Okay.

[2020-05-06 19:41] #498 closed

[2020-05-06 19:49] keshav234156 commented on #490
@NitinBhasneria @shreyaa-s Please update this list as well to keep things at one place https://github.com/publiclab/PublicLab.Editor/issues/490#issue-613024913

[2020-05-06 19:55] shreyaa-s commented on #490
Update the list, how?

[2020-05-06 19:57] NitinBhasneria commented on #490
He just means to just update your comment (list of issues).

[2020-05-06 19:57] shreyaa-s commented on #500
@keshav234156 can you add this to the project task list as well? Thanks!

[2020-05-06 19:58] shreyaa-s commented on #490
Done!

[2020-05-06 19:59] keshav234156 commented on #490
No, I meant updating above list. I think that also comes with reviewer right

[2020-05-06 20:00] shreyaa-s commented on #490
There's no such option to edit your comment.

[2020-05-06 20:01] NitinBhasneria commented on #490
Are you talking about issue list?

[2020-05-06 20:01] Shulammite-Aso opened #507 "Report a bug and document it well."
We'll like help with documenting bugs found in the, and documenting them well so that they can easily be reproduced and fixed.

A well documented bug for the editor may include:
- Detailed and accurate description of all the steps you took before the bug occurred.
- Stating if you repeated the steps and how many times you did with the bug still occurring.
- Including screenshots, GIFs, screen reco

[2020-05-06 20:01] shreyaa-s commented on #490
No, the initial comment of this discussion.

[2020-05-06 20:01] NitinBhasneria commented on #490
Yea, not enough rights.

[2020-05-06 20:07] keshav234156 commented on #490
done!! Looks almost a complete list now!!

[2020-05-06 20:15] keshav234156 commented on #500
can you please copy-paste the detailed content here form your proposal

[2020-05-06 20:18] shreyaa-s commented on #500
1. Invite Responses

Clicking this button would open up a dialog box with a search bar and suggestions of top writers of the topic. Clicking on the name of a user would send an invite for a response to the user and a green tick in front of the user’s username. A list item would be added to the plots repository with the title ‘Invitations’ in the drop-down menu shown below. Also, a list item would

[2020-05-06 20:51] ebarry commented on #490
🏆🤝Hi everyone, welcome aboard. Thank you so much for being part of Public Lab! It's wonderful to experience your excitement! We are lucky to have you all 🌟🌻Thank you for beginning to break out issues and sub-projects, and for reaching out to each other to collaborate.

Two clarifying things for this moment:

1.  Public Lab does not work in private spaces where there are no community moderators. At

[2020-05-07 08:47] shreyaa-s commented on #490
Thank you for the warm welcome @ebarry !

All points noted. We'll not use any private room for discussions. We can have discussions on the main chat or on the separate issues that have been/will be opened for a particular task. And the general planning/ updates can be done on this thread.

According to the collaboration plan put forward by the mentors, I have summarised it into a few points. Pleas

[2020-05-07 08:55] keshav234156 commented on #490
@shreyaa-s code coverage means how much code is covered is covered by the test. Similar to https://github.com/publiclab/image-sequencer/pull/1668#issuecomment-622275929

[2020-05-07 08:56] keshav234156 commented on #490
for developing a workflow for documenting hard to reproduce bugs please refer to https://publiclab.org/notes/asoamarachi/04-08-2020/outreachy-proposal-fortify-public-lab-text-editor-and-introduce-more-custom-inserts#c26668

[2020-05-07 08:59] keshav234156 commented on #490
For new module please refer to https://github.com/publiclab/PublicLab.Editor/issues/419#issuecomment-603279770

[2020-05-07 09:02] keshav234156 commented on #419
@shreyaa-s @NitinBhasneria @Shulammite-Aso  I have made a wireframe to what @jywarren said. We can refine it more
![Screenshot_from_2020-03-26_00-13-16](https://user-images.githubusercontent.com/45951376/81275627-91328c00-906f-11ea-964f-aa12e76ca808.png)

For maps

![Screenshot_from_2020-03-26_00-56-51](https://user-images.githubusercontent.com/45951376/81275635-9263b900-906f-11ea-8d97-0f29a636e98

[2020-05-07 09:10] keshav234156 opened #508 "Updating to Bootstrap 4"
PublicLab.Editor uses Bootstrap 3 and PublicLab.org uses Bootstrap 4. There is a considerable amount of difference between the both versions of Bootstrap that lead to inconsistencies. So we should update PublicLab.Editor to version 4

[2020-05-07 09:17] keshav234156 commented on #490
@NitinBhasneria @shreyaa-s @Shulammite-Aso I think now all of us have made issues from our proposals. Jeffrey would most probably be back on Tuesday and he can then provide more input on New features. Till then for the week we should focus on finding more bugs related to Woofmark(similar to #457 ) and possible UI refinements. What are your thoughts on this?

[2020-05-07 09:54] Shulammite-Aso opened #509 "User workflow for documenting bugs."
Users who may be non-coders need to be able to report bugs they come across while using the editor.

The general "report a bug" option on the publiclab.org footer is not fully optimized for reporting bugs from the editor, as documenting the editor bugs may require more than text description.
 Including screenshots, GIFs and screen recordings will make understanding and reproducing the bugs a lot e

[2020-05-07 10:41] Shulammite-Aso commented on #490
Finding more bugs is cool,  but I think however that we all could spend more time trying to understand all aspect of the bigger project (including understanding more about the existing bugs) and learning of the better ways to tackle them.   We could learn more about testing and code coverage, or any other aspect of the project we may be having less confident on.
Then most importantly ask ourselves

[2020-05-07 10:46] Shulammite-Aso commented on #490
Finding more bugs is more of a community thing I think, not only for us  That is why we have #507

Meanwhile, @keshav234156 I may need help with pinning that issue to the repo.  It's either I have no idea how to do it, or I don't have enough permission to.  So please🙏

[2020-05-07 10:54] Shulammite-Aso commented on #490
I will also need help with labeling.

[2020-05-07 12:06] NitinBhasneria commented on #490
I have a doubt relating to the new module. In your issue, I don't see any integration work. It is for customizing the map in the editor.
While the document shared by @ebarry has a new module for the integration. here https://github.com/publiclab/PublicLab.Editor/#integration
Can you please explain.

[2020-05-07 12:09] NitinBhasneria commented on #490
Also, as per @shreyaa-s doubt, I want to ask what exactly is documentation and bug report.
Is this like adding a reporting tool in the editor by which we can report the bug?
@keshav234156 @ebarry @Shulammite-Aso

[2020-05-07 12:14] Shulammite-Aso commented on #490
@NitinBhasneria here at https://github.com/publiclab/PublicLab.Editor/#integration explains how a new module can be created, whether for maps or for anything else.

[2020-05-07 12:23] Shulammite-Aso commented on #490
also @keshav234156 , you may need to rename #419
The new module(s) is not for customizing maps. It broadly for "adding custom contents" like inline maps, grids and tables.

Maybe you could rename that issue to broadly cover all new custom inserts, all we make a different issue for each of the new inserts?
Making a different issue may be necessary if a different module will be needed each of the in

[2020-05-07 12:26] keshav234156 commented on #490
@Shulammite-Aso  please ping me where you need to label the issues

[2020-05-07 12:27] keshav234156 commented on #490
Done!!!

[2020-05-07 12:28] keshav234156 commented on #490
Yes

[2020-05-07 13:33] ebarry commented on #490
Thank you @keshav234156 this was a great reference to highly relevant content by @Shulammite-Aso and @jywarren, i learned a lot from reading this 🙂:

📋I attempted to fix the indentation in the bullets in the Editor Project Collaboration Plan document as some formatting had been lost.

FYI, we hope some supporting information from the user community will be coming in from a forthcoming post by @emi

[2020-05-07 18:38] emilyashley commented on #490
Oh my gosh this is so much and so much great stuff.

I want to have a welcome call ASAP to get us all introduced and talk about what we each expect from the community bonding period. <3

I'm Emily, here 20 hours a week as a Full Stack Developer with PublicLab. I'm equipped to help set us up with the project management systems (and it looks like y'all are already getting started on that part!) and

[2020-05-10 14:57] shreyaa-s commented on #457
@keshav234156 @NitinBhasneria @Shulammite-Aso if any of you has worked with woofmark before, can you help me with how this function works?

[code]

[2020-05-10 15:28] keshav234156 commented on #457
@shreyaa-s This function is for Italic and Bold formatting in markdown mode.
This variable var rleading,... are defined in terms of Regular Expression (use this to know about what each of regular expression means https://regexr.com/ ). chunk.selection is the text which is selected, start count is 1 or 2 depending on whether it's italic or bold, as in markdown mode italic text is denoted by *text*

[2020-05-12 08:33] Shulammite-Aso commented on #477
I think simply stripping off the extra bold tags without having to show the error message would be okay.

I've been able to do that. But I'm thinking this error could be fixed in Woofmark instead, I think fixing the bold-ing error issue with fix this equally, or maybe with some extra tweaks.

[2020-05-12 14:10] jywarren commented on #400
Hi all! Sorry for slow reply, but i think here, `we can't convert the text back to non-heading once it's made it to heading` is the critical piece. It's very hard to get rid of headers! There are a variety of header creation/changing bugs and some broken Markdown often gets generated as a result. So I'd like to refocus this issue on thoroughly documenting and solving the header creation/deletion b

[2020-05-12 14:14] jywarren commented on #400
Here is a GIF of pretty normal-looking header interaction; creating headers by using the header button, but also by selecting text and making it a heading with the hotkeys (cmd-D):

![editor](https://user-images.githubusercontent.com/24359/81702463-5185ee80-9439-11ea-819b-eef9b1b5c25f.gif)

[2020-05-12 14:15] jywarren commented on #400
Here is selecting a heading and using the heading button to cycle through heading sizes. These gifs could be part of documentation, and should be covered in a test:

![editor2](https://user-images.githubusercontent.com/24359/81702571-7712f800-9439-11ea-937a-4fdcff5acd52.gif)

[2020-05-12 14:17] jywarren commented on #400
Hmm, i'm not able to get the odd header bugs I've seen on creating headers to happen. I'll keep extra careful watch here and will try to make a GIF. Maybe it only occurs in more complex documents?

[2020-05-12 14:18] jywarren commented on #400
This may need to be split into the bug search vs "converting back to plain text" as separate issues!

[2020-05-12 14:24] jywarren opened #512 "Some styled/custom HTML gets destroyed when converted to Markdown"
When we create links with button styles, like this:

[code]

and insert them into the editor in markdown mode, they'll appear as buttons following Bootstrap classes: http://getbootstrap.com/

But if we switch to Rich text mode, that gets converted to:

`[Test button](https://publiclab.org)`

And the styles are lost. Perhaps we should try to detect if classes exist and not disturb them? This might

[2020-05-12 14:26] jywarren commented on #490
Hi all! Just catching up on this thread, thank you for such an exciting start!

And a quick note - i created a new label called `upstream` to denote things that may have to happen in an upstream library like `woofmark`. This library may see this fairly often. But I am a maintainer of `woofmark` so i think we should be ok... and we can always make a temporary fork of `woofmark` before our changes g

[2020-05-12 14:30] keshav234156 commented on #490
@jywarren I believe woofmark changes are to made at github.com/jywarren/woofmark and not on the main library?
Now checking the issues that you have opened recently.

[2020-05-12 15:06] jywarren commented on #490
I'm just catching up here, so more soon...

Regarding issues, as we start tidying up and cleaning issues, perhaps we should start using labels more and also marking issues which need more information added, whether that be gifs, steps to reproduce, links to lines of code, etc etc. This could be part of our initial work plan!

But really, let’s take a pause!

I suggest we wait a moment, each get th

[2020-05-12 18:31] jywarren commented on #490
Still going through this - so, my note on:

@emilyashley has perfectly capture this and more in the section of our planning document called `1) What is the product? 🎩` 😄 🎉 🙌

So let's get in there!

[2020-05-12 21:43] jywarren commented on #490
Hi @shreyaa-s -- so some of these are described in the google doc for planning, and are very desired, while other ones like audio, video, calendar, perhaps need some more input from community before we want to adopt them. I think one thing to note is that there is a lot of interest in making commonly used elements easier to input -- like the ones used all the time that are documented at https://pu

[2020-05-12 21:44] jywarren commented on #500
Hi! Just noting/repeating what i mentioned here: https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-627614492

[2020-05-12 21:46] jywarren commented on #500
See how the https://publiclab.org/wiki/inline-maps page has the kinds of maps we'd want to add? And note that the https://publiclab.org/wiki/power-tags#Inline+graphs wiki page lists examples of charts too -- we just need to come up with a simple but nice UI for inserting and configuring them.

Awesome!!!

[2020-05-12 21:52] jywarren commented on #490
Pinned #507 thank you @Shulammite-Aso !!! 🙌

[2020-05-12 21:56] jywarren commented on #490
OK, sounds great. I've finally caught up! I think @emilyashley is right on as is @Shulammite-Aso on noting we should get to know the code well, and have some time to plan and think through things together. There are still 2 weeks of community bonding, so please ask questions and get into the google doc and leave comments there too!

Thank you everyone! And i've added permissions for everyone too.

[2020-05-12 21:58] jywarren commented on #507
This is awesome.

[2020-05-12 21:59] jywarren commented on #419
😄 awesome. and can draw on mockups from peoples' proposals as well - can someone copy those into here? Eventually (but not too fast!) you could move beyond wireframes to more interactive mockups using a tool like this: https://www.layoutit.com/build

[2020-05-12 22:01] jywarren commented on #507
Note you may be able to copy in helpful tools or tips from https://github.com/publiclab/plots2/issues/3513 or others from https://github.com/publiclab/plots2/labels/support !

[2020-05-13 07:51] shreyaa-s commented on #457
The problem with bold tags only occurs in rich text mode, or when we switch modes. From what I've observed the problem goes like this.

Sample Text:
Here are a few things that I've noted.
Desired Output:
Here are a few things that I've **noted.**
Actual Output:
Here are a few things that I've
**noted.**

This is because the bold formatting functions like this:

While selecting text:
Before selecte

[2020-05-13 07:54] shreyaa-s commented on #500
Hey @jywarren thanks for the clarification. We can club maps/charts with #419 and discuss what else, if any, feature needs to be added in the extras tab. Meanwhile I'll again go through the doc and try to come up with ideas on the issues mentioned. Should I put #499 up for discussion or close it?

[2020-05-13 17:23] shreyaa-s commented on #457
The function `wrapping` is used for three formatting options: The `boldOrItalic`, `blockquote` and `codeblock`. They behave similarly though it is not noticeable since they inherently shift the selected text to the next line.

[2020-05-15 13:36] shreyaa-s commented on #457
@jywarren I had a query. Since you've worked with this piece of code before, is there any case where closing any open tag before formatting would be absolutely necessary? Because from what I've observed simply not calling the `pushover()` function will solve this issue. I tried for various test cases but didn't encounter any major drawback.
We can specify which tags to check for and only close spe

[2020-05-18 09:31] govindgoel commented on #502
This is great but I think we can also add [Lint-Staged](https://www.npmjs.com/package/lint-staged) as it can check staged files only and later we require to only lint the files that will be committed.

[2020-05-19 05:05] #497 closed

[2020-05-19 05:36] shreyaa-s commented on #307
I agree with @keshav234156 , we should write our own wrapping function. I've been tracking down a bug #459 and the implementation of `wrapping` seems to have a lot of discrepancies. I think we can start with discussing what the wrapping function is supposed to do, making sure that we don't miss out any feature, and then we can look at what it actually does right now. The comparison would make it e

[2020-05-19 05:45] shreyaa-s commented on #307
From what I've worked with so far, the current implementation includes:
1. Adding the necessary tags, (opening) before and (closing)after the selected text. Pointing it out that these additions are not made to the selected text but rather to the text before and after the selected text.
2. Closing any tag that is already opened in selected text and opening a tag that is closed in selected text. The

[2020-05-19 08:18] shreyaa-s commented on #477
@Shulammite-Aso the bolding issues that I've went through so far were in rich text mode, and the source was possibly the function `wrapping` which is a part of rich text mode, whereas this one is in mardown mode. Your approach seems right but we'll have to check where the changes have to be made.
@jywarren can you tell what were you trying to do here so that we know what the ideal behaviour should

[2020-05-19 10:19] Shulammite-Aso commented on #477
Yeah @shreyaa-s the extra bold tags often become a problem in the markdown mode, but I think the tags are actually being inserted in the rich text mode, but you don't see it until it is parsed to markdown.

[2020-05-19 10:56] Shulammite-Aso commented on #477
Here #162 is the issue that documented the buggy behavior before the "bold tag detecting fix was introduced"

However the fix does not really remove the bold tags, it only alerts the user so that they remove the tags manually. And the error message doesn't leave even after the tags has been removed.

I think the goal should be to just slice out the extra bold tags. I was able to correct this local

[2020-05-19 17:21] keshav234156 commented on #490
@jywarren @emilyashley From where do you believe we should start the project or what should be the first priority?

[2020-05-19 20:13] jywarren commented on #457
Hi, what tremendous investigating is going on here! Really great and super good collaboration too. Congrats all! This is especially tough code to dig through, too.

I can't think of a case, but a few thoughts:

1. we should try running the woofmark tests because they describe a LOT of cases
2. we should consider adding a test that illustrates the issue you've found here, to justify the change
3. i

[2020-05-19 20:32] ebarry commented on #457
Wow, this is really impressive detective work! I'm amazed!

[2020-05-24 00:40] keshav234156 commented on #487
Getting started with this!!!

[2020-05-25 11:34] shreyaa-s commented on #457
Could you point me to where the woofmark tests are defined? I went through the code and description of woofmark but couldn't pinpoint them. I'm thinking of cases where `pushover()` is needed and going through the `domador` part of woofmark to understand parsing b/w HTML and markdown a little better. Thanks!

[2020-05-26 01:47] keshav234156 commented on #487
**Bugs**
1. No way to exit out of the Code Module.
Possible Solution:- if already in code Module pressing Code Sample Button  or Ctrl + D should exist the module

2. Pressing Enter for next line while writing Code sample, the new code sample is initiated. (GIF below )

3. If after writing code in Rich Mode we switch to markdown and then switch back to Rich Mode again No code is shown. This is beca

[2020-05-26 01:48] keshav234156 commented on #487
@jywarren @emilyashley @ebarry @shreyaa-s @Shulammite-Aso @NitinBhasneria
Any more bugs that you have faced in code sample or view regarding the above faced issue?

[2020-05-26 01:56] keshav234156 commented on #457
I think that woofmark is not protected by tests.

[2020-05-26 10:30] shreyaa-s commented on #487
Great finding @keshav234156 !
I haven't faced any bug as of yet but I'm facing trouble reproducing this bug. I specified the type of code as javascript but the code still disappeared on switching from md to rich text, either completely or partially. Can you check?

[2020-05-26 12:59] Shulammite-Aso commented on #487
Hi @keshav234156 i'm also not able to reproduce the part where code disappears after switching to markdown and back.

[2020-05-26 20:02] jywarren commented on #457
Hmm, apologies, i believe what happened is that `woofmark` is built on an HTML=>Markdown converter and a Markdown=>HTML converter:

* https://github.com/bevacqua/megamark
* https://github.com/bevacqua/domador

Each of these have tests. And `woofmark` depends on them but has no tests of its own. My apologies for not remembering this! Gosh, i suppose this means we may need to try to create some basi

[2020-05-26 20:06] jywarren commented on #487
Thanks for digging into this. I think sharing GIFs is going to be helpful here to narrow in on the bug. Also, similarly to the debugging going on in https://github.com/publiclab/PublicLab.Editor/issues/457, perhaps we can manage to reproduce this in a test environment in either https://github.com/bevacqua/domador or https://github.com/bevacqua/megamark tests?

Finally, i noticed a convention in Sl

[2020-05-26 21:54] keshav234156 commented on #487
1. With control ctrl + E initiate the code module
2. Write some code in it.
3. With Ctrl + M switch to Markdown mode
4. With Ctrl + P switch to rich mode Again

And the code would disappear .That because we in markdown mode we need to mention the type of code eg javascript , html

[2020-05-26 21:59] keshav234156 commented on #487
I think a more standard way would be to press the hotkey or press icon if it's already present in that module.
Like In Google Docs to Bold we use press Ctrl + B and it exists if already in Bold

[2020-05-26 22:11] keshav234156 commented on #487
Try this
[code]

[2020-05-26 22:13] keshav234156 commented on #487
@shreyaa-s Please see the above comment in markdown mode by clicking on Edit button in top right corner as Comment has been processed.

[2020-05-26 22:13] keshav234156 commented on #487
@shreyaa-s Please see the above comment in markdown mode by clicking on Edit button in top right corner as Comment has been processed.

[2020-05-26 22:33] keshav234156 commented on #490
Hi @shreyaa-s @NitinBhasneria @Shulammite-Aso.
I think by now we are pretty much to get familiar with the codebase. We all might be facing issues to get ready with a plan or work which each one of us has to do?. So I talked to @jywarren regarding this. So the suggestion was that if we can assign work of what we have to do for the next 2 weeks then we able to work more efficiently. According to @jy

[2020-05-26 22:53] Shulammite-Aso commented on #490
I think I like this @keshav234156
About the bugs from Woofmark, have we sorted out where we are going to be making the fixes??  Can we push code to Woofmark if we happen to starting fixing any of the bugs now?

[2020-05-26 23:00] keshav234156 commented on #490
@Shulammite-Aso  I believe woofmark changes are to made at https://github.com/jywarren/woofmark

[2020-05-27 01:36] keshav234156 commented on #490
ok, So for the next two weeks I will focus on #487 #394

[2020-05-27 03:01] keshav234156 commented on #457
@shreyaa-s Are you able to figure out what pushover() and pushoverOthersTag() are doing? I am still not able to get it.

[2020-05-27 07:26] Shulammite-Aso commented on #490
Okay @keshav234156
Also wondering what you intend to with #394 ? i was looking at how the formatting bar is positioned in some other editors and i found some two positioning styles we could possibly consider.
On [wordpress.com](https://wordpress.com/) and on  https://wordpress.org/gutenberg/ the formatting bar appears where your cursor is at the moment.
![WPformating](https://user-images.githubuse

[2020-05-27 07:42] keshav234156 commented on #490
ok, If you are interested in #394 you can work on it, I haven't started the work on it yet. I feel like having a fixed toolbar at the top and a scroll bar would be best( similar to https://wordpress.org/gutenberg/). But let's wait for the community input here before we solve that.

[2020-05-27 08:06] shreyaa-s commented on #487
I think the issue is here is that the part inside the code module is processed. The code does not disappear when we write code like the one you mentioned. But if we were to write HTML with tags, the tags would be processed. If we mention html/xml in the beginning, then tags are processed partially and some snippets disappear, the `</` part of closing tag to be precise. And if we don't mention then

[2020-05-27 09:02] shreyaa-s commented on #457
Hi @keshav234156 , here's a rough idea:
`pushover()` looks for opening and closing of tags and calls `pushoverOtherTags()` .
This defines the opening and closing of tag.
[code]
Here we check if a a tag is opened but not closed in the selected part, then it adds a closing tag after the selected part. An example would be, if the selected part is
[code]

[2020-05-27 09:24] shreyaa-s commented on #457
The more I work on this, the more I feel that I'm not looking in the right direction. People tend to bolden a word or a line, not a complete list. And even if we want to apply it to a list the ideal way would be:
[code]
And how it implements right now is:
[code]
This breaks if we convert it to md and back, the reason why I was learning how data is parsed.
The author of woofmark must've had some ca

[2020-05-27 09:56] shreyaa-s commented on #490
Yeah, seems like a pretty good idea. I'm still stuck on #457 but plan to take up another issue first. If you don't mind @keshav234156 , can I start with #489 ?
Also I think we should start discussing/ leaving inputs on the issues raised in the planning doc and here #495 .
I like the second one better for the toolbar, but let's wait on the response from the mentors/community.
Thanks!

[2020-05-27 10:11] keshav234156 commented on #490
@shreyaa-s yeah,sure!!

[2020-05-27 10:39] Shulammite-Aso commented on #490
This is cool!

[2020-05-27 20:21] ebarry commented on #490
Hi everyone! @Shulammite-Aso @shreyaa-s @keshav234156 @NitinBhasneria, and @emilyashley and @jywarren (if available),

I'd like to invite you to an "Editor Team meeting" tomorrow, May 28, at 8:30pm India time / 3pm UTC / 11am US East coast time / 10am New Orleans time tomorrow. (https://everytimezone.com/?t=5ecdad80,384)

Here is the link to the online meeting https://meet.jit.si/publiclabeditor
-

[2020-05-28 01:26] keshav234156 commented on #487
@shreyaa-s The cause of problem 3 ( https://github.com/publiclab/PublicLab.Editor/issues/487#issuecomment-633766518 ) is that in code module tag is <pre><code> , so closing tag should be <code><pre> but rleading here(https://github.com/jywarren/woofmark/blob/master/src/html/wrapping.js#L7 ) makes it </pre></code> .That makes it to initiate a new code module.

In this case, I think we should have a

[2020-05-28 01:29] keshav234156 commented on #487
Please see the above comment in markdown mode by clicking on Edit button in top right corner as Comment has been processed.

[2020-05-28 01:35] NitinBhasneria commented on #490
Cool idea @keshav234156,
I will be working on #504 #456.
I will try to get my previous work review and will update them accordingly for image Module.
Also, I will go through the Woolmark codebase.

[2020-05-28 14:47] ebarry commented on #490
Great! I'm opening the video room now so that people have time to check connection etc: see you here in the next 10 minutes :) https://meet.jit.si/publiclabeditor

[2020-05-28 16:23] ebarry commented on #490
Thanks for this meeting all! It was great to hear each of your voices, however briefly!

[2020-05-29 09:20] keshav234156 opened #518 "Finding issues and solution related to HTML-wrapping function"
HTML mode in woofmark uses wrapping function which is defined here https://github.com/bevacqua/woofmark/blob/master/src/html/wrapping.js . This function has various issues. It's used by Bold, Italic, Code and blockquote

1. https://github.com/bevacqua/woofmark/blob/master/src/html/wrapping.js#L5 . variable close defined here works well for modules having one tag eg ```<strong>``` but doesn't work

[2020-05-29 09:23] keshav234156 commented on #518
cc: @VladimirMikulic @NitinBhasneria @rexagod @jywarren @Shulammite-Aso

[2020-05-29 09:29] keshav234156 commented on #518
Hi @bevacqua !! .If you could also suggest the possible solution to above problems that will be highly thankful!!

[2020-05-29 09:51] VladimirMikulic commented on #518
Since Woofmark is no longer maintained, our best bet is to fork it and patch issues.

[2020-05-29 10:21] keshav234156 commented on #518
@VladimirMikulic that not the problem
we are already using a it from https://github.com/jywarren/woofmark . I mean to say what  are changes/possible solution to above listed problem

[2020-05-29 15:01] shreyaa-s commented on #518
I think it might be worth mentioning that wrapping functions makes changes to the selected text like in https://github.com/publiclab/PublicLab.Editor/issues/457#issuecomment-627813960 and https://github.com/publiclab/PublicLab.Editor/issues/487#issuecomment-634500076 and these changes are not always desirable.

[2020-05-29 19:13] Shulammite-Aso commented on #518
Hi all.

Here at https://bevacqua.github.io/woofmark/ the HTML mode works fine for both bold formatting and exiting out of code block, the issues only occur in wysiwyg mode.

I think this should possibly be because some extra tags like the `<br>` tag and some characters like `&nbsp` get added to the markup when you type in wysiwyg mode making it messy, and the wrapping function is not checking for

[2020-05-29 19:35] jywarren commented on #490
Hi all, just chiming in to say it's great to see your work progressing and I appreciate the good communication here! 🙌 🎉

[2020-05-29 19:40] jywarren commented on #457
This is really good investigation, thank you @shreyaa-s !! I tend to agree with you that the existing model for nesting boldness and lists is not right. It could be worth looking if HTML even strictly allows for lists inside of `<strong>`? That could help us make a case for a different way of doing it in `woofmark`.

What we could do is implement a secondary model for it, nested differently, and i

[2020-05-29 19:43] jywarren commented on #490
I also wrote back to @shreyaa-s on the question of overriding a default behavior in `woofmark` or one of its dependencies (`domador` or `megamark`) with the idea of an options flag to cover the change in behavior without invalidating the current default. This is a nice model which may help us make changes faster without having to break existing expected behavior, and without having to debate which

[2020-05-29 19:46] jywarren commented on #489
Just labeling this `bug` -- let's try to do good thorough labeling here! Thank you!

[2020-05-29 19:47] jywarren commented on #495
Let's link to #260 #496 and any others where this has been explored a bit! And #351 and https://github.com/publiclab/plots2/pull/6817 via @cesswairimu !!! ❤️

[2020-05-29 20:13] shreyaa-s commented on #457
Hey @jywarren ! I looked into it and HTML does allow lists inside <strong>. I absolutely agree with you, it's better to implement a secondary model rather than making changes in the existing ones, leaves less room for error and code breaking. The options parameter is something I discovered just now, so it'll take me some time to go through the documentation and think about the implementation.

Not

[2020-05-29 20:23] shreyaa-s commented on #428
I was working on #489 and came across this bug. A strange occurrence here is that pressing any key fixes this, ie. the arrows are replaced and text is center aligned. Can you please check and verify?

[2020-05-30 12:33] NitinBhasneria commented on #451
I got the error.
Actually error is in leaflet blurred location repo. I have attached a screenshot, also you can check on
https://publiclab.github.io/leaflet-blurred-location/examples/
@VladimirMikulic @jywarren will it be ok to make changes in leafletBlurredLocation repo.
Thanks.
![Screenshot from 2020-05-30 18-00-42](https://user-images.githubusercontent.com/44112080/83328319-c95c7180-a29f-11ea-9

[2020-05-30 12:56] VladimirMikulic commented on #451
@NitinBhasneria that's correct. You need to make a change in the Leaflet Blurred Location repo.
Take a look at the changes in the last commit that I made. It should be easy to fix this issue.

[2020-05-31 11:22] keshav234156 commented on #490
@Shulammite-Aso @shreyaa-s @NitinBhasneria Can you please review https://github.com/jywarren/woofmark/pull/1

[2020-06-01 01:18] NitinBhasneria commented on #451
hey, @VladimirMikulic it looks like the problem is solved by the last commit. Although it is not reflected in https://publiclab.github.io/leaflet-blurred-location/examples/ and so not reflected in publicLabEditor.
So, I think this issue is solved. Thanks. @jywarren @keshav234156 @shreyaa-s @Shulammite-Aso please have a look and tell if still, you find some bug is there.
![editor2](https://user-ima

[2020-06-01 09:55] shreyaa-s commented on #489
I've made the changes for wysiwyg mode. This is how the center aligning works in markdown.
[code]
Any ideas on how decentering could be implemented in markdown?
Also, how do we need decentering to work in markdown? I think the main purpose of a toolbar in markdown mode is for adding the syntax that the user might not be aware of.  In md the users can easily see and improvise the `->` and `<-` symb

[2020-06-01 10:49] keshav234156 commented on #489
I think we should allow de-centering from the toolbar as well as all other modules all allowing it.
we can basically remove ```-> and <-``` from chunks.before and chunks.after

[2020-06-01 12:06] VladimirMikulic commented on #451
Awesome! These changes should be pushed in the next release.

[2020-06-01 12:06] #451 closed

[2020-06-02 09:14] NitinBhasneria commented on #407
looks like this issue will be solved in jywarren/woofmark repo. @VladimirMikulic am I right?
Just confused because I can't see the table insertion in jywarren/woofmark.

[2020-06-02 09:34] NitinBhasneria commented on #444
@Shulammite-Aso Any update here?

[2020-06-02 09:37] NitinBhasneria commented on #491
@keshav234156 this issue is already mentioned in #435 and @Shulammite-Aso  has worked on it there. So this can be closed. Thank you.

[2020-06-02 09:40] NitinBhasneria commented on #490
@Shulammite-Aso @keshav234156 @shreyaa-s Can you please review jywarren/woofmark#2
Also, do we have any issue regarding making the whole Editor responsive for mobile or other screens?
If yes, please mention.

[2020-06-02 09:57] keshav234156 commented on #491
@NitinBhasneria This is a different issue. its about having optimal design for History tab

[2020-06-02 10:42] NitinBhasneria commented on #491
Oh its ok then, please have a look at @Shulammite-Aso PR and suggest required changes there. Thank you

[2020-06-02 12:29] Shulammite-Aso commented on #444
None for now. I was not able to reproduce the bug the last couple of times I tried.

Have you tried reproducing it?

[2020-06-02 13:29] NitinBhasneria commented on #444
No, I just wanted to know the updates before starting 😅😅. Thank you

[2020-06-02 15:34] cesswairimu opened #523 "Weekly Community Check-In #61 - Bash aliases"
Hi everyone! 👏
Hope everyone is safe :heart:

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work fro

[2020-06-02 15:38] cesswairimu commented on #523
@keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @

[2020-06-02 15:40] cesswairimu commented on #523
@moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen, @robin-natale, @avidler, @ccyccyccy
@urvashigupta7, @daemon1024, @Tlazypanda, @jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey,

[2020-06-02 17:42] Tlazypanda commented on #523
Hey everyone 👋 might not be able to connect for a day or 2 since we have an incoming cyclone here in Mumbai

[2020-06-02 17:58] jywarren commented on #523
Hi all, be safe @Tlazypanda and others facing storms (there was also a major storm in El Salvador the past weekend) sending ❤️ to all!!

I wanted to especially commend @Tlazypanda for so thoroughly and kindly welcoming a newcomer with installation support in https://github.com/publiclab/plots2/issues/7817#issuecomment-635454757 -- thank you so much!

Things in the US are very troubling right now a

[2020-06-02 19:11] gr455 commented on #523
Hi Everyone! Hope you guys are doing well. Be safe @Tlazypanda . I am about 150 kilometres away from Mumbai so am relatively safer from the cyclone but might still face a nudge from it.

Coming to the theme, I have recently started using 'doc' for docker-compose, since I have been using a lot of docker and docker-compose lately. One of my friends has 'please' for sudo which is quite funny.

For th

[2020-06-02 19:22] jywarren commented on #487
Hmm, maybe I misunderstand but in theory ``` is supposed to transform to either the `<code>` tags or to `<pre>` tags (i think `<code>` -- you can check the closest thing to a standard at https://commonmark.org/). This should automatically mean the code is not executed, no?

I believe the correct syntax is:

![image](https://user-images.githubusercontent.com/24359/83560821-cf8f5f80-a4e4-11ea-8a13-6

[2020-06-02 19:41] jywarren commented on #490
@Shulammite-Aso thank you for asking - i see a couple PRs now at https://github.com/jywarren/woofmark/pulls and i think that is reasonable. But note that `plots2` actually points at the `xhrOptionsAltBureaucracy` branch, not at the whole repository, from PublicLab.Editor: https://github.com/publiclab/PublicLab.Editor/blob/17c6a6fe0c8fa8c570f2b3066539e31e0c1a48b3/package.json#L42

This is a tough o

[2020-06-02 19:43] jywarren commented on #490
Also to @Shulammite-Aso's great thoughts on toolbar stickiness, let's move that design discussion into the issue itself. This is a tough one because different people have different preferences. I'll dive in there and try to catch up. Thank you! #394

[2020-06-02 19:43] jywarren commented on #502
Ooh this is cool. Thanks @govindgoel for the input too!

[2020-06-02 19:45] jywarren commented on #457
This sounds perfect, @shreyaa-s. And, any PR and/or tests we use could help to explain/demo the various cases and why it's a complex situation. `woofmark` is nice and cleanly written but it is not great at explaining itself, you know? It's a bit convoluted and takes a while to figure out! Let's aim to be a little more legible.

[2020-06-02 19:57] jywarren commented on #394
Just want to note the great discussion by @Shulammite-Aso and others here:

And, I think it's good to read through previous discussions also to see how we got here, and if we're undoing or redoing things from past discussions. Here are some issues which mention the toolbar!

* #404 and original one with discussion here: https://github.com/publiclab/plots2/issues/7518
* https://github.com/publiclab

[2020-06-02 19:59] keshavsethi commented on #523
Hey everyone, Hope you all are fine:mask: and doing well. :heart: Last week I worked on some of the features of Spam management Dashboard. I made an alternate Url  /spam2 for better review and understanding. Most fo bulk moderation features are done and I have also added new filters in datatable for better moderation. Some of the tests are also done. You can find it at https://github.com/publiclab

[2020-06-02 20:01] #427 closed

[2020-06-03 00:42] NitinBhasneria commented on #523
Hey everyone, I hope you're having a great week.
In the last week I was not able to use my laptop due to few things. Well, I am fine now and being active past 2-3 days. In the past days I have improved the drag and drop CSS popup. The problem of location spinner is totally solved thanks to @VladimirMikulic for his work and great reviews❤️.
Thank you everyone and be safe @Tlazypanda😇.

[2020-06-03 02:15] alaxalves commented on #523
Hey guys,
For this week I had Ruturaj's help on the Spectral Workbench upgrades, we've been incresing the test coverage here:
- https://github.com/publiclab/spectral-workbench/pull/513
- https://github.com/publiclab/spectral-workbench/pull/514

I have also setup Mapknitter's Dockerfile for production env guided by Sebastian's suggestion here (which actually I need to be reviewed):
- https://github

[2020-06-03 05:32] shreyaa-s commented on #523
Hey everyone!
Hoping for everyone's safety. :heart:
Take care @Tlazypanda and everyone else going through a tough time :heart:

For this week my main goal is to understand how `domador` and `megamark` work, and learn to deal with the issues in parsing. Alongside, I'll try to review wherever I could and pick up another issue. Here's last week's work: #521 .
Right now, I'm swamped with college assig

[2020-06-03 06:24] keshav234156 commented on #523
Hi everyone
Hope everyone is fine.
This week I am working on #519.This will and add the linting tool to the project  and will work to Improving on https://github.com/jywarren/woofmark/pull/1

[2020-06-03 09:13] Shulammite-Aso commented on #523
Sending you love❤ @Tlazypanda and @gr455 stay safe.

So far this week, I have worked on the toolbar stickness issue #394 and have made PR at #522

The fix in the PR is just one of the many ways to possibly make using the toolbar less stressful for people making any kind of posts with the editor.   I think maybe if anybody could look at @jywarren comment here https://github.com/publiclab/PublicLab.

[2020-06-03 13:48] Shulammite-Aso commented on #394
This is great info!! I have seen a few of these discussions before. and the primary goal is to have the toolbar become easily accessible to people making posts n the editor (especially long posts).  personally i think the method we have in place now, i.e having it float around does solve the problem, only it becomes a bit distracting because it also floats pass the text area.

i've made a PR that

[2020-06-03 14:51] ebarry commented on #523
Thanks @cesswairimu for opening up this check-in, and to all 7 Outreachy and GSoC Fellows for writing in: @Shulammite-Aso @shreyaa-s @NitinBhasneria @keshav234156 @alaxalves @keshavsethi @Tlazypanda 💫 Good to hear that people are hanging in, finding their ways through, and contributing some stellar insight and code.

I want to appreciate the collaborative effort that went into fixing the Tag Subsc

[2020-06-03 15:22] ebarry commented on #523
One more question, as more and more people globally are connecting online, what mode of connection is working best for you with people in your region, and with people who may be far away geographically? Phones or internet? Jitsi, Skype, Zoom, Big Blue Button, Discourse voice channel, other? All input into this will be helpful as the first two calls we've attempted with the 7 GSoC and Outreachy Fel

[2020-06-03 15:37] jywarren commented on #490
Also, i just created a `plots2` branch on `jywarren/woofmark` in case we all agree to go that route. Maybe we can test out this workflow with https://github.com/jywarren/woofmark/pull/2 to see how it goes, and see the pros/cons?

[2020-06-03 15:41] emilyashley commented on #523
Hello everyone! Hope everyone is doing well and being kind to themselves. Things are not "normal" right now but we're all trying :)

I've been taking a look at the way we post on Public Lab this week (and even wrote my very first Public Lab Community [Question!](https://publiclab.org/questions/emash/06-01-2020/how-do-you-write-and-post-in-the-public-lab-community-asking-for-our-developers))

Start

[2020-06-03 18:57] emilyashley commented on #502
I was adding comments on the PR, but wondering if I should post them here instead?

This is definitely a good part of Step 2 in our Collaboration doc!

🎉🎉🎉

And I'd love to get the whole team's buy in on the tools we use especially if they're saved as part of the project in version control. cc:  @Shulammite-Aso @shreyaa-s @NitinBhasneria

[2020-06-04 01:42] emilyashley commented on #394
Yes please feel free to add additional questions on that community question! :)

[2020-06-04 13:15] Shulammite-Aso commented on #490
So @jywarren just trying to make sure i understand what you mean.
by this:

you're suggesting that we create two PR, one at `bevacqua/woofmark` and the other at `jywarren/woofmark` so that if `bevacqua` does not quicky merge changes upstream, we could deploy changes ourself??

Thanks!

[2020-06-05 12:03] shreyaa-s opened #524 "Switching between modes leads to html tags rendering for center aligned text"
Description:
Text is selected and center aligned. A string of text is selected with the center aligned text as substring and center aligned, and then switching to markdown mode. The selected part is rendered as HTML tags. Switching back to rich text editor leads to loss of data.

![simplescreenrecorder-2020-06-05_17 13 06](https://user-images.githubusercontent.com/55884943/83873634-c5be6400-a751-1

[2020-06-05 12:28] shreyaa-s opened #525 "Center aligning paragraph with the main heading"
When Center aligning a few lines of code along with a heading only the heading is center aligned. But this happens only for the main heading. The center aligning works fine for any other heading in between the content. GIF for reference:

![simplescreenrecorder-2020-06-05_17 41 23](https://user-images.githubusercontent.com/55884943/83875857-7b3ee680-a755-11ea-859b-fcc627a329e9.gif)

*(test conduct

[2020-06-06 08:59] keshav234156 commented on #490
@NitinBhasneria @shreyaa-s @jywarren @Shulammite-Aso
Do you know where the code is for
like if we we press enter then same module is initiated again

Eg:
1. Press Ctrl + B (strong text will appear)
2. Deselect the strong text.
3. Press Enter.
Now in second-line Bold is initiated again.

Does anyone know why this happens or where the related code resides

[2020-06-06 10:23] Shulammite-Aso commented on #490
I don't know too,  will share if I find anything reasonable.

[2020-06-06 11:26] NitinBhasneria commented on #490
Don't know yet.

[2020-06-06 11:28] NitinBhasneria commented on #490
Does anyone know why the related worklist is not shown in `localhost:3000` in TitleModule?
@keshav234156 @shreyaa-s @Shulammite-Aso
![Screenshot from 2020-06-06 16-55-05](https://user-images.githubusercontent.com/44112080/83943108-e3093600-a816-11ea-8e1c-fa8f44a95eca.png)

[2020-06-06 12:41] NitinBhasneria opened #526 "Making Editor Responsive."
Currently, the editor is not responsive for the small devices. This issue aims in making the editor responsive.

[2020-06-06 12:41] NitinBhasneria commented on #495
opened #526 for mobile view.

[2020-06-06 12:41] NitinBhasneria commented on #490
opened #526 for mobile view.

[2020-06-06 15:22] cesswairimu commented on #523
Thanks all for all you sharing..I am def adding a kind alias for my "sudo" :smile:
I have gbr- git branch, gci-git commit, v-vim

I am looking for someone with knows Greek to help review this awesome greek translation [PR](https://github.com/publiclab/plots2/pull/7981) by @ioampatzidis

[2020-06-06 18:28] patcon commented on #523
Oh! I really love `alias prettyplease=sudo`! I'm def adding one for `pls` :)

[2020-06-06 18:50] patcon commented on #523
Oh! Speaking of CLI aliases, when I used to work at a company with lots of hilarious coworkers, we'd often say off-hand that we wished we had some one-liners on tshirts. So I wrote a script called `tshirt` that I could "pipe into" in order to immediately order a custom tshirt emblazoned with text and have it mailed to the office (from zazzle or cafe press)

[code]

[2020-06-06 21:17] Shulammite-Aso commented on #490
So @keshav234156 concerning this,

This also happens with using `space`
usually in all normal editors, when you highlight a text and hit Enter or Space the text disappears. I think that is the same thing happening here. Ctrl + B acts on the selected

[2020-06-07 16:06] NitinBhasneria commented on #470
@VladimirMikulic @jywarren I cant see the related work suggestion in title bar when I run the development in `localhost:3000` while I can see them in `publiclab.org/post`.
I am confused because of this. Please clear my doubt.
Thank you.

[2020-06-07 17:01] Shulammite-Aso commented on #490
So @keshav234156 concerning this,

I'm not very sure there might be a very specific code causing this behavior, I think this is happening because woofmark commands always needs a selected text - `chunks.selection` to work. The solution may be changing woofmarks model of applying commands.

It also happens with using `space` if you have noticed.
usually in all normal editors, when you highlight a t

[2020-06-07 18:32] VladimirMikulic commented on #470
@NitinBhasneria you need plots2 running locally (server). Instructions are in README.

[2020-06-07 23:14] cesswairimu commented on #495
Great :tada:

[2020-06-08 05:00] NitinBhasneria commented on #470
Thanks, @VladimirMikulic but I have tried it with plots2 too and I am having the same result.
Have a look at this.
![title](https://user-images.githubusercontent.com/44112080/83994115-119c2380-a973-11ea-9750-ccd8f93ebe24.gif)

[2020-06-08 07:44] Shulammite-Aso commented on #509
So for this, i created a simple UI mockup for requesting documentation from users if they happen to find a bug. A link before the footer like  this or something similar:
![editor-doc](https://user-images.githubusercontent.com/48386390/84004138-a181a380-a95a-11ea-8004-f220b1643f35.png)

then when the user clicks on the link, they're taken to form like this or something similar:
![bug-report](https:

[2020-06-08 07:51] Shulammite-Aso commented on #509
And maybe this shouldn't be for publiclab/post alone, we could also have it on questions and maybe wikis too.

[2020-06-08 08:02] Shulammite-Aso commented on #490
@jywarren @emilyashley @cesswairimu @NitinBhasneria @shreyaa-s @keshav234156

I think we should start working on #509 at this early stage, so that maybe we could get lucky and a few users get to report a bug while the internship is still on and we could be able to make some things out of their report. And if we're going to carry out user testing sometime, maybe this would be helpful too.

I've dro

[2020-06-08 10:47] keshav234156 commented on #509
Great!! According to me, we should record a GIF that would then automatically be converted to github issue. We should also record the keystroke because with only GIF it sometimes becomes difficult to reproduce the bug.

[2020-06-08 11:42] cesswairimu commented on #523
Moved to https://github.com/publiclab/plots2/issues/8002. Thanks everyone

[2020-06-08 11:42] #523 closed

[2020-06-08 12:48] VladimirMikulic commented on #470
Test DB is probably empty and doesn't have any posts to suggest. That's why there are no suggestions. You could add some posts in DB and then it will work.

[2020-06-08 17:30] NitinBhasneria commented on #470
@VladimirMikulic If you know can you please guide how to add the posts in DB.
Thank you.

[2020-06-08 18:22] Shulammite-Aso commented on #509
Yeah @keshav234156 I just read a little about keystroke logging. I'm just wondering if the user will need to manually install a keylogger on their device? Or can we on our own setup a keylogger that records every users keyboard activities for when we need it?

[2020-06-08 18:45] VladimirMikulic commented on #470
@Uzay-G knows :)

[2020-06-08 19:40] cesswairimu commented on #509
@Shulammite-Aso it is possible to have a template  like we do on plots2 for bugs https://github.com/publiclab/plots2/issues/new?assignees=&labels=bug&template=--bug-report.md&title= also love the gif idea..maybe we can do a combination of both...this sounds exciting :100:

[2020-06-08 19:43] ebarry commented on #509
Very cool UI mockup!

[2020-06-08 19:54] Shulammite-Aso commented on #509
Yeahh, @cesswairimu the template will be great. Also one for creating fto issues.

I already made a pull request with these templates here #474 It needs to get merged as soon as possible.

Thanks you!!

[2020-06-08 20:16] Shulammite-Aso opened #527 "inconsistency with history icon."
### Please describe the problem (or idea)

I think we need to choose which icon to stick with and make the needed adjustment.

![Screenshot from 2020-06-08 19-43-50](https://user-images.githubusercontent.com/48386390/84076151-cb6fb000-a9c4-11ea-9c88-9e9bb44be82e.png)

Then this can also be made a `first-time-only` issue, once we know which to go with.

### Please show us where to look

https://pub

[2020-06-08 22:24] Uzay-G commented on #470
See https://github.com/publiclab/plots2#login to login and then simply create a new post at the `/post` endpoint to create new posts.

[2020-06-09 16:33] shreyaa-sharmaa commented on #490
Hey everyone, this is the account I'll be using from now on.

[2020-06-09 19:36] Shulammite-Aso commented on #490
oh! @shreyaa-sharmaa this is okay, you mind sharing what happened to the last?

[2020-06-09 20:34] shreyaa-sharmaa commented on #490
I locked myself out of it and can't find a way to retrieve it. 😓

[2020-06-10 05:17] NitinBhasneria commented on #470
Thinks to be added.
1. The tagged posts will be seen in title module.
2. Once the post is tagged in title module it can be removed.
3. Suggestions will be provided in the Tag module.
@VladimirMikulic @cesswairimu @keshav234156 @Shulammite-Aso @jywarren @shreyaa-s
Can you please give your views on this.

[2020-06-10 05:21] NitinBhasneria commented on #490
@ebarry @jywarren @govindgoel @keshav234156 @Shulammite-Aso @shreyaa-sharmaa will there be a separate design for the mobile editor?

[2020-06-10 07:05] Shulammite-Aso commented on #490
oh, sorry about this! @shreyaa-sharmaa

[2020-06-11 16:20] keshav234156 commented on #400
@jywarren Can you please share the problem related to Header that needs to be fixed here?

[2020-06-11 18:09] shreyaa-sharmaa commented on #508
Hey @keshav234156 , can I take this one?

[2020-06-11 19:03] jywarren commented on #490
@NitinBhasneria i believe the current approach is to use responsive and variably hidden/shown classes from Bootstrap to get the editor to work cleanly in both. However, please also take a look at @cesswairimu's work on a simple editor which we wanted to pilot alongside the main editor, for certain uses: #351 (and other related issues). Perhaps that could be adopted as the "mobile view" of the edit

[2020-06-11 19:04] jywarren commented on #526
Copying from #490 --

[2020-06-11 19:05] jywarren commented on #490
Yes, that's right. So we'll have our own branch which merges changes much faster, but still be sure to be proposing such changes to the "mainline" repo. I know it's some extra work but we can have most of the discussion in our own PRs and just be sure that we are making our improvements visible to the upstream library maintainer. What do you think, in terms of pros/cons?

[2020-06-11 19:10] jywarren commented on #490
And to @Shulammite-Aso's analysis which I totally agree with:

I wonder if there is a dual mode approach we could take (or potentially a close reading may already make possible) - for the use case @Shulammite-Aso so clearly described -- **trying to apply formatting (like bold) when no text is yet selected**:

**Dual mode idea:** Could we have a "current state" which remembers if bold is activated

[2020-06-11 19:11] jywarren commented on #490
And @Shulammite-Aso regarding bug reporting idea in https://github.com/publiclab/PublicLab.Editor/issues/509#issuecomment-640427977, i totally agree, thank you!

[2020-06-11 19:15] jywarren commented on #490
OK, i wanted to share this thing i found, but not to imply that we should take a dramatically different approach to our work, so stay calm 😂

https://github.com/outline/rich-markdown-editor is one of the first alternatives I've seen to `woofmark` and it's built on a fairly stable sub-library called Prosemirror, and seems to be pretty well maintained. It would take some substantial work to think ab

[2020-06-11 19:23] #394 closed

[2020-06-11 20:46] jywarren commented on #509
Hi all, this is a great start! My thoughts are:

1. perhaps we can achieve this through the existing template system, which inserts markdown formatting into the editor: http://publiclab.org/templates (see how each button opens something like `https://publiclab.org/post?n=15139&title=Your%20issue%20name%20here`) where the title is in text but the preset body content is pointing to another page, in

[2020-06-11 20:46] jywarren commented on #509
Great work all! Great brainstorming!!!

[2020-06-11 20:47] #471 closed

[2020-06-11 21:03] cesswairimu commented on #470
Great @NitinBhasneria :tada: on point 1: will these  be visible on hover ...love the idea :100:

[2020-06-11 21:13] jywarren commented on #490
Hi @NitinBhasneria also wanted to chime in on the suggested titles thing - we actually turned this off in production via a manual block on the `plots2` API, as the API query to `plots2` was VERY slow (https://github.com/publiclab/plots2/issues/5015). But, you can see how we had plugged it in here previously: https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb#L383-L411 t

[2020-06-11 21:26] cesswairimu commented on #524
@shreyaa-sharmaa great catch :100: and  this is weird...tried a couple of other formatting like bold-ing and the table remains intact after bold-ing and switching back between the modes..also realized if you also center-align the table the data is not lost.. :thinking: no idea why this is happening..

[2020-06-12 13:15] Shulammite-Aso commented on #490
i think this is okay!

[2020-06-13 10:25] Shulammite-Aso commented on #509
Yes, @jywarren I think if we're using the template method, we will need to to create a different template for editor issues. And maybe link the template to a `report a bug` button from the editor.

I saw there is a "Create a New Template" option here  http://publiclab.org/templates , that is what we should use right?
It takes me to the wiki editor,  so I guess I should create the report template t

[2020-06-13 11:07] shreyaa-sharmaa commented on #506
We can combine this and #488

[2020-06-13 16:09] NitinBhasneria commented on #470
Yes @cesswairimu

[2020-06-13 16:18] NitinBhasneria commented on #526
@jywarren Yea, this requires some discussion. Also, the points @shreyaa-sharmaa pointed are noticeable and should be solved.

[2020-06-13 17:08] shreyaa-sharmaa commented on #505
Hey @NitinBhasneria, have you thought about how this could be fixed?

[2020-06-13 17:12] shreyaa-sharmaa commented on #503
Can you give more detail about the test you're talking about? What would the test stimulate?

[2020-06-13 17:36] NitinBhasneria commented on #505
Not yet @shreyaa-sharmaa

[2020-06-13 17:44] keshav234156 commented on #503
the test would simulate various test cases, like for Bold it can simulate that if we press the bold button and text s selected then does it do bolding/un-bolding of text. Similarly, there can be various test-cases

[2020-06-13 17:53] shreyaa-sharmaa commented on #400
The most practical way to implement it in my opinion is to switch back to plain text after the max heading is reached.
I agree with @jywarren this need to be included in the doc for users so that they're aware of all the features.

[2020-06-13 17:57] keshav234156 commented on #490
@Shulammite-Aso I tried prepending &#8203 but it didn't work for me. Don't know why?

[2020-06-13 18:04] keshav234156 commented on #488
@shreyaa-s Are you currently working on it?

[2020-06-13 18:33] shreyaa-sharmaa commented on #400
For Heading bug search this is all that I found so far
![PublicLab Editor-Google-Chrome-2020-06-13-23-20-42](https://user-images.githubusercontent.com/66686803/84576400-1bd67b80-add2-11ea-9f23-220d9141af01.gif)

The same actions yield the desired result in markdown mode.

[2020-06-13 18:53] shreyaa-sharmaa commented on #432
Hey @NitinBhasneria , have you made any PR corresponding to this issue? I can't reproduce it at any instance.

[2020-06-13 23:24] NitinBhasneria commented on #432
This will be done after choose file UI #462

[2020-06-14 12:17] shreyaa-sharmaa commented on #488
No, not yet. Are you looking to work on it? If not, I'll be happy to take it.

[2020-06-14 18:03] jywarren commented on #509
Yes, so basically you write a wiki page whose content will be used as the template. See how the `n=0000` value in the URL parameters (like `https://publiclab.org/post?n=15139`) points at a wiki page? That wiki page content is what is then used as the template. So once you make a template, just test it out by inserting the wiki page's unique `nid` (you can find this in the page permalink) into the

[2020-06-14 18:03] jywarren commented on #509
Great work! This will be awesome!

[2020-06-14 18:41] shreyaa-sharmaa commented on #490
Hey everyone,
The `MainImageModule` test is failing for me after #522. Can someone verify?
Also I'm gettting a strange log output while running the tests that I don't remember encountering before and I can't understand. Was it there since the start or am I missing something? It is not related to the above problem. Attaching screenshot for reference of both:
![2020-06-15](https://user-images.github

[2020-06-14 20:06] Shulammite-Aso commented on #509
Thanks @jywarren, this is helpful.

[2020-06-15 01:07] NitinBhasneria commented on #490
@shreyaa-sharmaa It's because of the HTML code.
Just copy the main Image module code of https://github.com/publiclab/PublicLab.Editor/blob/master/examples/index.html to
https://github.com/publiclab/plots2/blob/master/app/views/editor/rich.html.erb.
Also, @jywarren do we have to make the or of this changes in plots2.

[2020-06-15 09:44] shreyaa-sharmaa commented on #490
@NitinBhasneria you mean set up plots2 as an interactive mock server and make the required changes in it?

[2020-06-15 11:21] Shulammite-Aso commented on #509
I think i'm just now understanding what you meant here @cesswairimu, it went over my head a bit earlier. You were suggesting that we use the same bug reporting template we have in plots2 for this editor user bug report?   I had thought you meant having a bug template (via a template chooser, perhaps) for publiclab/PublicLab.Editor/ repo.

Yes, we are going to be having the same or very similar tem

[2020-06-15 13:09] NitinBhasneria commented on #490
yea, if you are checking the mainImageModule work. For testing `grunt jasmine` you have to copy the main Image module code of `PublicLab.Editor/examples/index.html` tot PublicLab.Editor/spec/javascripts/fixtures/index.html`

[2020-06-15 13:12] NitinBhasneria commented on #490
Does anyone know the fix of this
![phantom](https://user-images.githubusercontent.com/44112080/84661405-ecda1a00-af37-11ea-9bb5-36b68b47b007.png)

[2020-06-15 17:46] emilyashley opened #532 "Editor Team - First Release Coordination 🙌🎉"
Happy Monday! Looks like everyone is hard at work --  I’m interested to see what pulling together some of our changes looks like for pushing out our first release together as team :tada:

Curious what the release process looks like? Me, too — I’m also new to this project. Here's a mostly blank issue for us to sort out our thoughts and gather existing documentation. We can update this description a

[2020-06-15 17:50] emilyashley commented on #532
cc: @shreyaa-sharmaa @Shulammite-Aso @NitinBhasneria @keshav234156 @jywarren ✨

[2020-06-15 18:00] emilyashley commented on #490
Good morning, happy monday. Catching up on this but wanted to mentioned here and in Gitter that I opened an issue for us to coordinate our first release as a team! Please check it out and add any thoughts you have https://github.com/publiclab/PublicLab.Editor/issues/532 ! 🙌🚀✨

[2020-06-15 19:48] Shulammite-Aso commented on #509
Have created a template here https://publiclab.org/wiki/editor-bug-report-template and made a PR here https://github.com/publiclab/PublicLab.Editor/pull/530 containing an editor report-a-bug button.

[2020-06-15 19:52] keshav234156 commented on #490
Hi @shreyaa-s. This is due to #465 most probably. Additional tests are also failing due to #472 .Fill fix these once @NitinBhasneria fixes test for #472
Thanks!!

[2020-06-15 19:55] ebarry commented on #509
Looks great 🌟! When the template is ready to use, please comment on @emilyashley 's post with the info! https://publiclab.org/questions/emash/06-01-2020/how-do-you-write-and-post-in-the-public-lab-community-asking-for-our-developers

[2020-06-15 19:55] keshav234156 commented on #488
@shreyaa-s oK, you can take it.

[2020-06-15 20:00] ebarry commented on #488
I'm not sure this is a bug.....it's simply a table that does not have each border drawn. Can anyone explain why they feel this needs to be changed? Thank you!

[2020-06-15 20:07] emilyashley commented on #488
Thanks for drawing my attention to this @ebarry  :)

Curious if anyone has done the discovery and added how tables look and work to the Feature Parity google doc?

[2020-06-15 20:10] ebarry commented on #527
Good catch! We can either
- [ ] use https://fontawesome.com/v4.7.0/icon/clock-o everywhere, and remove the '...' entirely
- [ ] change the lower left hand menu icon to '...'

I have a slight preference for changing the menu's own label to '...' because i do not find it intuitive to click a clock to find previous saved versions. I would recognize a '...' or three horizontal bar "hamburger" icon to

[2020-06-15 20:18] ebarry commented on #494
Wow this would be a great upgrade! I had almost forgotten how different our "bold" and "italics" work as compared to other types of formatting toolbars and buttons from around the internet.

[2020-06-15 20:27] keshav234156 commented on #488
@ebarry Mostly when we draw a table on any editor or elsewhere we usually have for borders around all the four sides of the cell. So it feels like a bug rather than usual behavior.
Thanks!!

[2020-06-15 20:40] ebarry commented on #470
Mentioning that the "Read more >>" link reloads the page, rather than provide information about this feature. This is my first problem with this feature.

Testing this feature further, i recorded a gif that shows the help text blinking on an off, and shows how after typing and retyping in the title bar, the suggestions get "stuck" on what was previously typed which is buggy.

![alert-others](https

[2020-06-15 20:40] Shulammite-Aso commented on #527
I think what was missing from the previous `...` was a tooltip. If we add add tooltip to it, `...` will be okay, in my view.

[2020-06-15 21:28] jywarren commented on #532
This is great, thanks @emilyashley!! 🎉

One thing that may help is to actually map out a flow chart of dependencies for this set of repos, maybe using a shared Google Presentation? I suggested a flow in these comments we can reference to build on:

https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-637765410

https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-

[2020-06-15 21:31] ebarry commented on #527
hmm, would the tooltip contain the clock icon? I do not see how a tooltip would solve this problem, but perhaps i am just not understanding.

[2020-06-15 21:33] ebarry commented on #488
Ok, thanks for explaining @keshav234156 .
I prefer the way tables look on publiclab.org as they currently are, it's a more refined presentation than "every cell is outlined". I think this might be a question we should take out to the community.

[2020-06-15 21:42] Shulammite-Aso commented on #527
Oh, actually meant that returning the history icon to what it was before which is this `...` (as against the clock icon) should work, if we make a tooltip for it.

[2020-06-15 22:58] ebarry commented on #527
ah, i understand! that sounds great, thanks for explaining to me 🤝

[2020-06-16 00:35] NitinBhasneria commented on #490
This will be fixed when the `spec/javascript` i.e. tests will be fixed. I will make the PR by today.

[2020-06-16 00:43] NitinBhasneria commented on #470
Thanks @ebarry. Are there existing documents on the title bar working? @jywarren @emilyashley @VladimirMikulic @govindgoel

[2020-06-16 01:45] NitinBhasneria commented on #490
Made PR for the test fix #533

[2020-06-16 02:10] NitinBhasneria commented on #490
Any idea about this.
![websocket](https://user-images.githubusercontent.com/44112080/84724018-b1c20000-afa4-11ea-856c-041fd313d482.png)

[2020-06-16 02:23] NitinBhasneria commented on #470
@Uzay-G @VladimirMikulic I got stuck here, getting this error while posting.
![post](https://user-images.githubusercontent.com/44112080/84724727-8213f780-afa6-11ea-87e8-26d87efbf2af.png)

[2020-06-16 02:56] NitinBhasneria commented on #470
Another Error: Once we have added the related post and if we go again on the title bar it will show the added post in related(suggestion).
![titletender](https://user-images.githubusercontent.com/44112080/84726487-96f28a00-afaa-11ea-9569-869e0f2c851b.gif)

[2020-06-16 02:57] NitinBhasneria commented on #490
I have updated the #470 issue. Please have a look and suggest any more changes.
@ebarry @jywarren @Shulammite-Aso @shreyaa-sharmaa @keshav234156 @emilyashley.

[2020-06-16 06:39] Shulammite-Aso commented on #470
my observation is, like @nstjean had mention here, when you click on `add` it does actually add the response request tag to the tag list below. I didn't see this as a bug initially, but if this is not the best approach, an alternative approach will be to list the people that will get added close to the title field, and then perhaps add them to the tag list after we click on publish.

[2020-06-16 06:50] NitinBhasneria commented on #470
Yea, this will be the right approach. And without this, the remove tag won't work.

[2020-06-16 07:31] shreyaa-sharmaa commented on #470
1. For the read more, we can show details on hover or open a small dialog box which does not interfere with the current page.
2. Yes, we need to refine the suggestions with: checking if a post is already added and making a new search everytime the text in title bar is changed.
3. Most importantly, the description says `Does your work relate to one of these? Click to alert the contributors`. Which

[2020-06-16 07:40] shreyaa-sharmaa commented on #527
Good catch @Shulammite-Aso !

[2020-06-16 08:03] shreyaa-sharmaa commented on #490
Please review https://github.com/jywarren/woofmark/pull/5

[2020-06-16 08:11] NitinBhasneria commented on #470
Thanks @shreyaa-sharmaa  for removing we will add the `response` when the publish button is clicked.

[2020-06-16 08:44] shreyaa-sharmaa commented on #490
Please review https://github.com/jywarren/woofmark/pull/5

[2020-06-16 09:00] NitinBhasneria commented on #470
As @shreyaa-s said the title bar suggestion says `Does your work relate to one of these? Click to alert the contributors` but this does not notify the contributors instead this just add the tag as a response(as @ebarry pointed out). For notifying the authors(contributors) I  found this in the code `editor.tagsModule.el.find('input').tokenfield('createToken', 'notify:' + result.author);` but this i

[2020-06-16 13:33] ebarry commented on #470
Wow, great investigations all 🌟🤝 Thank you @NitinBhasneria @shreyaa-sharmaa @Shulammite-Aso @cesswairimu @VladimirMikulic @cesswairimu @nstjean 💐
@emilyashley, @jywarren , and myself will speak today (a few hours from now) and write back here ASAP.

[2020-06-16 15:04] NitinBhasneria commented on #490
Guys have a look at #470 and its PR #534. Thanks.

[2020-06-16 16:32] emilyashley commented on #532
Once we have a list of the issues we want to include in the first release, we can keep track of them using

- [ ] checkmarks

in this issue description so we know what needs to be done!

[2020-06-16 17:11] jywarren opened #535 "Move all PRs to `main` branch instead of `master`"
Hi, all! We've been in the midst of a years-long series of migrations from using a branch called `master` as default to `main`, and although we've succeeded for many of our repositories (https://github.com/publiclab/mapknitter/, https://github.com/publiclab/spectral-workbench/, for example), we haven't done this repo yet. This is important because of the racist connotations of the term `master` es

[2020-06-16 17:12] jywarren commented on #535
Just did this for https://github.com/publiclab/PublicLab.Editor/pull/534 - thanks!!! cc @NitinBhasneria

[2020-06-16 17:14] jywarren commented on #535
and in #533 - great!

[2020-06-16 17:16] jywarren commented on #470
Just chiming in with a few notes:

I believe this is related to performance issues -- basically as you keep typing, the number of requests generated overwhelms our server and it chokes at some point, causing the stall. I don't have a strong suggestion here except to further throttle how often new results are requested, with the hope that although it would be less responsive, it would not /complete

[2020-06-16 17:32] jywarren commented on #488
Hi, all, the current style is the default for Bootstrap 4, which is covered in our Style Guide: https://publiclab.org/notes/warren/05-07-2019/introducing-a-draft-style-guide-for-public-lab

There are some other variants on the default style including borderless or fully bordered, or zebra-striped, but it seems like folks are OK with the current basic display, so let's close this up! Thanks, all!

[2020-06-16 17:32] #488 closed

[2020-06-16 17:33] jywarren commented on #6
Closing!

[2020-06-16 17:33] #6 closed

[2020-06-16 17:35] ebarry commented on #470
I support this path, thank you all!

[2020-06-16 17:37] jywarren commented on #470
Also some good docs on how this system works in #77, and some background in #95 !

[2020-06-16 18:12] NitinBhasneria commented on #470
So what should be put in replacement of `Click to alert the contributors`. I guess `Click to tag the related work` will be better.

[2020-06-17 07:42] NitinBhasneria commented on #429
Fixed in #429. closing.

[2020-06-17 09:05] shreyaa-sharmaa commented on #503
So we would have two types of test or would we shift the existing tests to jest-puppeteer?

[2020-06-17 14:59] #455 closed

[2020-06-17 15:07] cesswairimu commented on #455
Tracked on https://github.com/publiclab/PublicLab.Editor/issues/433

[2020-06-17 16:03] NitinBhasneria commented on #470
All the work are completed have a look at #534

[2020-06-17 16:06] NitinBhasneria commented on #490
have a look at #534

[2020-06-18 14:36] shreyaa-sharmaa commented on #503
Hey @keshav234156 are you working on this or can I take this one?

[2020-06-18 19:52] keshav234156 commented on #503
yes, you can take this

[2020-06-19 12:17] Shulammite-Aso commented on #490
@jywarren @keshav234156 @NitinBhasneria @shreyaa-sharmaa how do i add my local woofmark to PublicLab.Editor? trying to work on https://github.com/publiclab/PublicLab.Editor/issues/128 but i need to see my changes on PublicLab.Editor since i can't insert images or tables on woofmark.

I've tried replacing this line https://github.com/publiclab/PublicLab.Editor/blob/fef6a1db8f11bf61b08789306881b15d7

[2020-06-19 12:22] shreyaa-sharmaa commented on #490
You can read about npm link here https://docs.npmjs.com/cli/link or run `npm install <absolute path to woofmark>` in your project directory. The latter worked fine for me. All the best!

[2020-06-19 21:00] Shulammite-Aso commented on #490
Thanks @shreyaa-sharmaa , took the later path, but wondering if you came across this error message at any point? ENOENT: no such file or directory, rename '/home/shula/Desktop/PublicLab.Editor/node_modules/.staging/woofmark-8df073b1/node_modules/Base64

have been battling with it.

[2020-06-19 21:58] shreyaa-sharmaa commented on #490
No I didn't @Shulammite-Aso. Can you share the list of the commands you ran before you got this error? And recheck the path that you entered? The `package.json` should be updated to something like this `woofmark: "file://../woofmark" ` depending on where you have cloned woofmark.

[2020-06-20 09:17] Shulammite-Aso commented on #490
no other commands actually, apart from cd'ing into PublicLab.Editor and running npm install "absolute path to woofmark"

[2020-06-20 09:21] Shulammite-Aso commented on #490
A Base64 directory is woofmarks node module as against what the error msg is saying, will try to unistall Base64 and reinstall different versions to see if i'll get a fix somehow.

Thank you!!

[2020-06-20 20:17] #433 closed

[2020-06-22 08:14] shreyaa-sharmaa commented on #490
When writing tests in jest the log output that I mentioned here is creating an error ` TypeError: PL.Util.enableRichTextModeKeyboardShortcut is not a function `. Anybody knows the cause or fix for this?

[2020-06-22 08:20] keshav234156 commented on #490
Will fix it soon.

[2020-06-23 11:56] #429 closed

[2020-06-23 11:57] #366 closed

[2020-06-23 11:59] NitinBhasneria commented on #346
Closing this as issues are opened. Thanks @cesswairimu

[2020-06-23 11:59] #346 closed

[2020-06-23 12:05] NitinBhasneria commented on #501
@jywarren @ebarry @keshav234156 @shreyaa-sharmaa @Shulammite-Aso
Do you know which page should open in Title Bar Module `read more >>`

[2020-06-23 12:12] NitinBhasneria commented on #490
I have updated the code and this is appearing. Both the editor are appearing at the same time. Anyone knows about this. @shreyaa-sharmaa @keshav234156 @Shulammite-Aso
![Screenshot from 2020-06-23 17-40-38](https://user-images.githubusercontent.com/44112080/85402177-d9066780-b578-11ea-81ae-b25998ff86ea.png)

[2020-06-23 14:28] keshav234156 commented on #490
@NitinBhasneria @shreyaa-sharmaa @Shulammite-Aso are you test running properly locally? They are failing for me?

[2020-06-23 14:44] NitinBhasneria commented on #490
I am having this error manually. while running in PR its running fine for me.
![Screenshot from 2020-06-23 20-13-26](https://user-images.githubusercontent.com/44112080/85418218-22ad7d00-b58e-11ea-8905-a11a143828f6.png)

[2020-06-23 15:10] keshav234156 commented on #532
ok, So far I have made following PR:
1. Bold bug fix(https://github.com/jywarren/woofmark/pull/4)
2. Linting tool (https://github.com/publiclab/PublicLab.Editor/pull/519)
3. Custom Insert module ( https://github.com/publiclab/PublicLab.Editor/pull/538)

I would like to see all of them in next first major release.

[2020-06-23 15:17] shreyaa-sharmaa commented on #490
Seems weird @NitinBhasneria but I haven't encountered this before. Also surprisingly my local tests are failing as well but they were working fine till last night. Test Results:
![2020-06-23 (2)](https://user-images.githubusercontent.com/66686803/85421966-b1bc9400-b592-11ea-8ee3-d30b5d95e8f2.png)

[2020-06-23 15:17] keshav234156 commented on #490
Most probably due to #462

[2020-06-23 15:19] keshav234156 commented on #490
@NitinBhasneria can you please look into it.
This is the error log
[code]

[2020-06-23 15:35] NitinBhasneria commented on #490
Ohh, Thanks @keshav234156 I got it. I have made the required fixes in the test in #542.

[2020-06-23 15:38] NitinBhasneria commented on #490
Merged in `main` please update your local code. Thanks

[2020-06-23 15:39] NitinBhasneria commented on #490
I can't find a solution for this phantomJs.

[2020-06-23 15:46] NitinBhasneria commented on #532
I have made this following PR's:
Pending for reviews:
- Popup Disappearing problem solved (https://github.com/jywarren/woofmark/pull/3)
- Drag and drop CSS (https://github.com/jywarren/woofmark/pull/2)
- Add "Related work" section to Title module #534
- Main Image box CSS improved #467
Merged Work:
- Choose File button UI improvement #462
- Remove file button added #472
I think this all can be inc

[2020-06-23 15:50] keshav234156 commented on #490
@NitinBhasneria run ```grunt build``` and then ```npm test``` after updating the main branch locally. The test will fail.

[2020-06-23 15:56] NitinBhasneria commented on #490
@keshav234156 sorry about that but my local test is not working due to phantomJs. I have attached the screenshot of the main test. Have a look. The error of due to `imageInput` which was not there in `specs/index.html` and so showing the `null error`. I have fixed this in #542. Kindly, pull the code and test. If still, the error is occurring please let me know with a screenshot. Thank you.

[2020-06-23 16:03] keshav234156 commented on #490
error is still present. Most probably its added again due to #462. see logs at https://travis-ci.org/github/publiclab/PublicLab.Editor/jobs/699636737

For PhantomJS.Try deleting node_modules folder and run ```npm install``` and ```grunt build```

[2020-06-23 16:39] keshav234156 commented on #490
Done in #538

[2020-06-23 17:20] #509 closed

[2020-06-23 17:25] jywarren commented on #532
Hi all, thanks a lot! Would love to hear from @Shulammite-Aso and @shreyaa-sharmaa here as well!

Just noting -- in https://github.com/publiclab/PublicLab.Editor/pull/530#issuecomment-648302779, i made a comment about how an HTML change to the example templates in this repo would need to be copied over into the corresponding HTML code in the `plots2` repo for the feature to appear there. And would

[2020-06-23 17:27] jywarren commented on #532
Hi folks working on `woofmark` -- so, once the `woofmark` changes are ready and merged into the `jywarren/woofmark` `plots2` branch, we should point this Editor repo's `package.json` at the latest commit in that forked version of `woofmark` in a new PR. That will pull all our `woofmark` changes into this repo, in preparation for a new release here. Does that make sense? Thanks! I'll be reviewing a

[2020-06-23 18:38] jywarren commented on #532
Also just checking our recent commit history -- https://github.com/publiclab/PublicLab.Editor/commits/ shows contributions from each of the four team members!

And on April 14th, https://github.com/publiclab/PublicLab.Editor/commit/65915b4da7d5ca4cbc91077015e5644760434ce4, we released `v2.0.6`. Would this next release, given that it: (a) doesn't break anything downstream and (b) adds some (big and

[2020-06-24 14:57] jywarren commented on #535
I believe we're done here! Thanks, all!

[2020-06-24 15:36] Shulammite-Aso commented on #532
Hi all!!

Will be happy to see:
Fixed toolbar  #522  and
Bug report button and tamplate #530 in our first release

[2020-06-25 19:55] imrishabh18 commented on #496
Can I take up this issue ?

[2020-06-26 12:10] shreyaa-sharmaa commented on #532
Hey everyone!
My work so far:
1. #521 Decenter feature
2. https://github.com/jywarren/woofmark/pull/5 Feature to change heading back into plain text
3. #541 UI testing with jest-puppeteer
Would love to see it in the first release!

[2020-06-26 14:51] shreyaa-sharmaa commented on #490
I was writing a very basic jest test which clicks on the bold-button and then checks for `<strong>strong text</strong>` in the body module but it just didn't work out. I tried various alterations of click, focusing on the textarea before clicking and all that I thought could be resulting in the test failing.
Trying to debug it, I firstly checked that it finds the `.woofmark-command-bold` and it di

[2020-06-26 17:44] shreyaa-sharmaa commented on #490
Done!

[2020-06-28 17:29] Shulammite-Aso commented on #512
figured out this is from not specifying "class" as an allowed attribute for links here: https://github.com/publiclab/PublicLab.Editor/blob/588305495e99d2681b691f76fb3d6feacd477915/src/adapters/PublicLab.Woofmark.js#L218

will make a PR.

[2020-06-29 06:32] shreyaa-sharmaa commented on #490
Hey everyone!
Up for review: #541 #543 #544

[2020-06-29 17:42] keshav234156 commented on #496
@imrishabh18 Yes you,can take up this issue. This is a First timer only issue(FTO) https://github.com/publiclab/plots2/issues/7067

[2020-06-30 15:24] #503 closed

[2020-06-30 18:05] Shulammite-Aso commented on #490
This here is what i'm now seeing locally. I'm thinking i may have broken some things, because i can still see this from other branches that don't have our recent changes.

![buggy](https://user-images.githubusercontent.com/48386390/86160009-b20ce000-bafa-11ea-80fe-8e9be82dcc8b.gif)

I ran `npm install` again in case some dependencies are now missing, but it keeps failing with this error:
[code]

A

[2020-06-30 18:07] Shulammite-Aso commented on #490
@jywarren @NitinBhasneria @shreyaa-sharmaa @keshav234156 pleases see this https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-651954892

[2020-06-30 19:00] jywarren commented on #508
Agreed, this is a good idea!

🎉

[2020-06-30 22:02] keshav234156 commented on #490
Don't know the fix. But I am not facing this issue

[2020-06-30 22:22] jywarren commented on #490
Whoa @Shulammite-Aso -- it seems like maybe GitHub is down or something? It's saying it cant fetch it!

Maybe check http://status.github.com/

Could be?

![image](https://user-images.githubusercontent.com/24359/86182733-7f64e680-bafe-11ea-97ff-58877910ca77.png)

![image](https://user-images.githubusercontent.com/24359/86182744-84299a80-bafe-11ea-97f9-a6501d27e3af.png)

So awesome to see the Jest t

[2020-06-30 22:27] jywarren commented on #490
What I did to look into it was:

1. https://github.com/publiclab/PublicLab.Editor/search?q=enableRichTextModeKeyboardShortcut
2. checked the "blame" view (poorly named, no judgement! 😄 ): https://github.com/publiclab/PublicLab.Editor/blame/a6b7efa42965e49c45aec9426b73ca68f96c4dbb/src/PublicLab.Editor.js#L21
3. it was added here, so why isn't it coming up in our search? https://github.com/publiclab

[2020-06-30 22:29] keshav234156 commented on #490
@jywarren  fixed IN #538 Or should I make a separate PR?

[2020-06-30 22:30] keshav234156 commented on #490
https://github.com/publiclab/PublicLab.Editor/pull/538/files#diff-5ff06d51f6089131ba9bc6a3aeb316a1

[2020-06-30 22:59] jywarren commented on #532
OK! I believe everyone has at least one if not several PRs merged into the main branch! Let's:

1. open a new PR which increases the `package.json` version number to `v2.1.0`
2. compile up the already merged PR numbers/links and titles in the above PR
3. merge it and ping me, and I'll run `npm publish` to publish a new release!
4. then we'll watch for @dependabot to open a new PR on `plots2` to pu

[2020-07-01 11:25] Shulammite-Aso commented on #490
This is fixed! thanks @jywarren @keshav234156

[2020-07-06 14:37] ebarry commented on #532
Hi everyone 🤩☀️!
Did this process get kicked off? If so, let me know here, if not, maybe today's the day? 🐣

[2020-07-07 15:30] NitinBhasneria commented on #407
Fixed in https://github.com/jywarren/woofmark/pull/3.

[2020-07-07 15:30] #407 closed

[2020-07-07 15:50] NitinBhasneria commented on #504
fixed in jywarren/woofmark#2

[2020-07-07 15:50] #504 closed

[2020-07-07 15:58] NitinBhasneria commented on #506
@jywarren @ebarry Please give your views on this.

[2020-07-07 16:35] jywarren commented on #307
I believe this is done in #543 -- thank you!

[2020-07-07 16:35] #307 closed

[2020-07-07 16:38] jywarren commented on #475
Hi @Shulammite-Aso and all! We just completed this at https://github.com/publiclab/image-sequencer/pull/1668 and are partway through in https://github.com/publiclab/Leaflet.DistortableImage/pull/680

I enabled it for all publiclab repos, so i believe it's just getting the `.gitpod.yml` file formatted correctly! I think it'd be great and would make testing out fixes in a live editor on each PR real

[2020-07-07 16:41] jywarren commented on #475
OK, so sorry I missed #483! There seems to be some issue with it however, possibly related to our default branch rename.

[2020-07-07 16:57] jywarren commented on #527
Hi all! We actually recently changed to the clock icon with input from @publiclab-mimi -- so, I think the best course may be to change the `...` to a clock icon, to go with this more recent requested icon style! Thank you all!

One way to look for this kind of thing if you don't happen to know which to go with is to look at the "blame" view in GitHub to see what change was more recent. Blame is a

[2020-07-07 16:58] jywarren commented on #527
And great catch, @Shulammite-Aso !

[2020-07-07 16:59] jywarren commented on #526
This might link to the convo with @Shulammite-Aso in #464 actually! Can you two sync up a bit about responsive classes in Bootstrap? Thank you so much!

[2020-07-07 17:11] jywarren commented on #532
Yes please. I'll choose someone randomly -- I'd like to ask @shreyaa-sharmaa to take point on this, please! And as we do more releases, we can rotate the responsibility! Don't worry, this is just the first one. Thanks!!! 🎉

[2020-07-07 17:36] ebarry commented on #527
great! let's go with the clock!

[2020-07-07 17:58] shreyaa-sharmaa commented on #532
Here it is everyone!!!! #555 :heart: :rocket:
Thank you! :smile:

[2020-07-07 19:07] jywarren commented on #532
OK we are getting there!!! https://github.com/publiclab/PublicLab.Editor/pull/555

Actually, @shreyaa-sharmaa above is also a good place to pull in list items for the release notes!

[2020-07-07 20:15] jywarren commented on #490
Great. @keshav234156 in general a separate PR is a bit faster to review and merge, but it's not a big deal, just a general preference. Thanks!

Getting excited about https://github.com/publiclab/PublicLab.Editor/pull/555 🎉

Also I just wanted to say, reading above and seeing how folks are helping each other out and coordinating so well, GREAT JOB FOLKS. You're a fantastic collaborative team. 🙌 🙌 🙌

[2020-07-09 02:33] #512 closed

[2020-07-10 14:08] NitinBhasneria commented on #505
@jywarren @ebarry Confused on how exactly the copied data should appear? Whether it is to appear in the format it is or with the new format that our PL editor follows.
For example when we copy the table from other editors what is expected then. Whether the borders should appear or not.

[2020-07-10 21:05] shreyaa-sharmaa commented on #525
Was testing this in md mode and found out that center aligning in markdown and converting to rich text works fine but the heading is not rendered as heading, GIF uploaded :
![simplescreenrecorder-2020-07-11_02 20 21](https://user-images.githubusercontent.com/66686803/87202276-db5d1580-c31d-11ea-95d8-b862e5c1438c.gif)

[2020-07-12 13:14] NitinBhasneria commented on #526
Things need to be fixed and the ways:
[ ] **Hovering the tips:** Tips take too much space in the editor module and so when the tip is not displayed the black space should be removed.
[ ] **Toolbar**: The present toolbar is very weird to look at the mobile screen.
[ ] **Tips spacing:** The tips are taking more spaces than required which looks unsystematic in the mobile screen.
[ ] **The numbers lef

[2020-07-12 20:05] Shulammite-Aso commented on #526
@NitinBhasneria  I notice this too.

This certainly needs to be worked on. There's a discussion about the possible ways to make the toolbar look instead going on here https://github.com/publiclab/plots2/issues/7067

i don't really get this part. You mind add a photo specifically for it?

Also about this, do you mean having the numbering and help text on the same line?

You have eyes for details ac

[2020-07-13 09:41] NitinBhasneria commented on #526
![hola](https://user-images.githubusercontent.com/44112080/87290003-0b253c80-c51b-11ea-899e-222fcbbf9209.jpeg)
You can see a lot of spaces between the lines than required.

Yes,

[2020-07-13 12:03] shreyaa-sharmaa commented on #526
How about adding a button that will open the detailed guidelines or something similar? It takes more space than the textarea, which seems a little strange. Also, it is only available when you click on the textarea and this feature looks neat in the desktop mode but not in mobile view in my opinion.

[2020-07-13 12:16] NitinBhasneria commented on #526
I was thinking the guidelines(with space) will appear when we focus on particular module. What do you think about this

[2020-07-13 12:32] shreyaa-sharmaa commented on #526
I think the guidelines would work the best if they guide a new user on the module use as well as not obstruct or hinder an experienced user in their work. What I wanted to highlight was a smooth transition from one module to to another. I'm not to sure of how this would look but if you think that guidelines on focusing would serve the purpose, I'm down with it.
Also, that's a nice idea with the to

[2020-07-13 13:43] NitinBhasneria commented on #526
Good idea @shreyaa-s. @jywarren @keshav234156 @Shulammite-Aso have a look at the comments and give your views.

[2020-07-14 14:02] jywarren commented on #475
Resolved in #558!

[2020-07-14 14:02] #475 closed

[2020-07-14 15:29] jywarren commented on #490
Hi everyone! I wanted to introduce @sagarpreet-chadha who is a long-time contributor who, with help from @ebarry, has joined the PL team to help out a bit (esp. since I'm mostly on on Tuesdays) and to mentor with us this summer, especially on the Editor project. You all are doing a TON of work and we wanted to be sure you had support and someone to reach out to on a more day-to-day basis. Sagarpre

[2020-07-14 16:35] #502 closed

[2020-07-14 18:48] jywarren commented on #490
Hi folks, over the next 10 days or so, Sagarpreet and I are also going to work with Liz and try to do a couple things - we're going to try developing a discrete list of mini-projects or issues from the big Parity doc, and we're also going to try to help prioritize the list of issues at the top of this planning issue. I wanted to ask if you could try to ensure that the list at the top is pretty up

[2020-07-20 02:41] morrme commented on #535
thank *you*.

[2020-07-20 09:10] shreyaa-sharmaa commented on #337
Closing with #519

[2020-07-20 09:12] shreyaa-sharmaa commented on #490
We can close #337 #338 #339 with #519 .

[2020-07-21 16:36] jywarren commented on #400
It does look like that's a good documentation of a bug. I wonder if we can now write a Jest test to reproduce what's happening in that gif!

[2020-07-21 18:50] #489 closed

[2020-07-21 19:26] #450 closed

[2020-07-21 20:03] jywarren commented on #400
I also found this. I'm not sure, is it a related bug or shall we split this into two? Basically i try deleting all text and writing, but if the text started with a title, i can't seem to get out of title mode.

This makes for a really great test though! It's so easy to reproduce in Jest. Start with some text that includes a header. Then press select all and delete. Then try typing again, and write

[2020-07-23 10:27] Shulammite-Aso commented on #527
Oh, okay!  will open a first time only issue with this then.

[2020-07-23 13:26] Shulammite-Aso opened #570 "Make history icons consistent"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-23 13:36] Shulammite-Aso opened #571 "Make history icons consistent in demo editor"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-07-23 15:35] DiegoValenciaRoman commented on #570
I would like to solve this issue, it would be my first :)

[2020-07-23 16:07] Shulammite-Aso commented on #570
Great! @DiegoValenciaRoman, have seen your pull request.

[2020-07-23 16:29] OmLakshmi commented on #570
I'm a newbie to open source , would like to solve the issue .

[2020-07-24 15:06] OmLakshmi commented on #571
I'd like to claim this

[2020-07-24 15:24] ijeomaemeruwa commented on #571
I’m working on this @OmLakshmi

[2020-07-24 16:17] Shulammite-Aso commented on #571
Hi @OmLakshmi i see @ijeomaemeruwa was asked to work on this issue here https://github.com/publiclab/plots2/issues/7683#issuecomment-663578831 can you let her work on it?

I'll certainly assign you a different fto issue soon as one is available.  Thank you for your interest in working on this issue anyway. Great stuff!!

[2020-07-24 16:29] OmLakshmi commented on #571
Hey @ijeomaemeruwa Sorry I didn't know . No issues , I ' ll remove my pull request

@Shulammite-Aso Yea sure

[2020-07-24 16:39] ijeomaemeruwa commented on #571
@OmLakshmi thanks!!

[2020-07-28 13:18] sagarpreet-chadha opened #578 "Weekly Community Check-In #69 - Share your free time hobbies"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-07-28 13:19] sagarpreet-chadha commented on #578
@JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @dependabot-preview[bot], @jywarren, @keshavsethi, @praaatik, @Janitham97, @imanishbarnwal, @dburugupalli, @adityakpranav, @ioampatzidis, @esiebomaj, @Alexjake660, @cesswairimu, @urvashigupta7, @daemon1024, @jscastanos @keshavsethi, @jywarren, @AyanChoudhary, @imajit,@NitinBhasneria, @nstjean, @marientje, @rutger-t, @Janet33,

[2020-07-28 13:19] sagarpreet-chadha commented on #578
@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shulammite-Aso, @Jigyasa-Kumari @moliver4, @justinelai, @Snouzy, @stevenalila, @Digiox, @yandu31, @milosv1, @jamescapps, @Nevenem, @chirag-wadhwa, @yogeshjdeshmukh, @omizrahi99, @theOpetunde, @sailahonkanen,

[2020-07-28 13:19] sagarpreet-chadha commented on #578
@Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04 @adityakpranav @e

[2020-07-28 14:25] ebarry commented on #578
Fun check-in prompt @sagarpreet-chadha ! My hobbies now are less than before, mostly I just grow plants, but when times are more ordinary I like reading science fiction, dancing, and making silly puns. 🙂

[2020-07-28 15:10] Tlazypanda commented on #578
Thanks @sagarpreet-chadha for opening the check-in :tada:  I have with the whole-stay-at-home situation started reading books a lot which used to be one of my fav things when I was a kid :joy:

I have also started learning spanish on Duolingo because I literally find the language really captivating and interesting _(interesante_ xD) maybe @alaxalves you can teach me something  :stuck_out_tongue:

[2020-07-28 22:03] jywarren commented on #490
Awesome, @shreyaa-sharmaa, thanks.

Can folks give a quick update here as to what they're up to? Anything you're stuck on, any progress to report in? @publiclab/editor @sagarpreet-chadha

Sagarpreet and I have also managed to connect with PL staff and made a list of about 9 requests from them, some of which are quite closely related to your Editor work, and some of which are a bit related but focu

[2020-07-28 22:04] #337 closed

[2020-07-28 22:04] #338 closed

[2020-07-28 22:04] #339 closed

[2020-07-29 12:14] Shulammite-Aso commented on #8
@jywarren @sagarpreet-chadha  for this, i just figured out we don't currently have the Atwho.js Data Module?
There's a documentation about how to include it here in the [readme](https://github.com/publiclab/PublicLab.Editor#atwhojs-data-module). i can work on this, if we need to.

Thanks!!!

[2020-07-29 19:00] #570 closed

[2020-07-29 19:06] #571 closed

[2020-07-29 19:14] cesswairimu commented on #578
Hello all :wave:
My hobbies are dancing, singing along to music(I really can't sing though, sounds like I am talking :smiley: ) and  solving puzzles.
Great check-in @sagarpreet-chadha  :tada:  and  thanks for the heads up @Tlazypanda

[2020-07-29 19:39] sagarpreet-chadha commented on #490
Hi team, please update on your status here, mainly:
1. What are you working on currently?
2. What are you planning to do next?
3. What things you can pick from this list https://pad.publiclab.org/p/editor-tasks

Thanks! 💯

[2020-07-29 19:57] sagarpreet-chadha commented on #8
I think this feature was removed, @jywarren were you discussing about this feature in the Staff meeting?
I also do not have the full context here.

[2020-07-29 20:11] jywarren commented on #8
Oh my gosh, getting Atwho.js working here would be AMAZING. If it's not too much of a detour in your work, we'd really appreciate it!

[2020-07-29 20:31] #535 closed

[2020-07-29 20:54] shreyaa-sharmaa commented on #494
@keshav234156 have you thought about its implementation? From what I understand a function would check if a mode was started but hasn't ended. When would the function be called on input or a mouse click?

[2020-07-29 21:13] shreyaa-sharmaa commented on #490
Hey everyone!
For the past week I was following up on PRs that fail test, this included #568 (resolved) #566 (unresolved) https://github.com/publiclab/plots2/pull/8135 (unresolved) and the failing build in woofmark(resolved).
I'm facing trouble with the plots2 repo, with some unaccounted for errors, and reached out to Sneha for help but we weren't able to fix it. I'll try to fix that asap.
As soon

[2020-07-29 21:16] jywarren commented on #578
Hi all! My hobby is pixel art!

![Screen Shot 2020-05-21 at 1 14 40 PM](https://user-images.githubusercontent.com/24359/88853675-15ebfc80-d1be-11ea-9c0d-b8c8c1489e6e.png)

Thanks for a great theme, @sagarpreet-chadha 😂

@Tlazypanda no problem, and thank you! Outreachy has especially noted that due to the global crisis we will be extra flexible this year. Take care of yourself! And, I speak Spanish

[2020-07-29 22:00] cesswairimu commented on #578
Wow, @jywarren nope, I've never came across them... really excited to try them out... thanks 😊

[2020-07-29 22:09] shreyaa-sharmaa commented on #490
![Screenshot from 2020-07-30 03-38-12](https://user-images.githubusercontent.com/66686803/88858817-36e03c00-d216-11ea-8b46-2a7b48d88d45.png)
Has anyone encountered this on plots2 before?

[2020-07-29 22:21] Shulammite-Aso commented on #8
I think i should do this then.

[2020-07-29 22:32] Shulammite-Aso commented on #490
Hi all!
Been trying to find my way around getting a fix for this:

from here https://github.com/jywarren/woofmark/pull/4#issuecomment-662122453  but haven't had any luck yet.  The next step i have in mind is to rewrite woofmark to not need a selection in other to apply bold/italic command, but that will be hard i'm afraid, as that implementation is intertwined with a lot of other aspects of woofma

[2020-07-29 22:35] Shulammite-Aso commented on #490
@shreyaa-sharmaa i've encountered something i think looks like that before. can't remember if it was exactly the same issue, but i think it was running npm install again that fixed the issue for me.

[2020-07-29 22:44] Shulammite-Aso commented on #490
Concerning the formatting toolbar issue from the list, wondering if it is not the same we fixed here #394?  The last editor release isn't live on plots2 yet, will the new release fix it?

[2020-07-29 23:08] Shulammite-Aso commented on #578
Hi all!🙋

I love taking documentary pictures and also love to watch short sci-fi movies on YouTube, or any other quick/short interesting movies. I don't like to follow movies with a lot of series.😆

Also remembering that I have not showed up on the weekly check-in for a few weeks now.

Usually want to look up some other notifications first then come back to the check-in later, but before you know

[2020-07-30 02:11] NitinBhasneria commented on #490
Hi, all.
Currently stuck on Add Related Module Test https://github.com/publiclab/PublicLab.Editor/pull/534#issuecomment-663958306 and singing a way to solve this. Upto now I have added the test of remove file.
After this I will take the task of
* add a button for uploading images to the Wiki Editor toolbar (and comment editor?) that would look similar to the Rich Editor's button
* repair "click to

[2020-07-30 05:22] sagarpreet-chadha commented on #490
Nice to hear from you all 😄 🎈

@shreyaa-sharmaa can you make a issue for the error you are facing. Also it seems a column is missing from `Tag` table.

1. Can you try rebasing your branch with `main` branch. Maybe this code was added recently and this is a new column.

2. If you can figure out which column is missing, you can add that column directly into table using rails db console.

Thanks!

[2020-07-30 08:34] shreyaa-sharmaa commented on #490
It says `SQLite3::SQLException: no such column: plots.term_data.count` but `count` column is present in the table `term_data`. Pulling in the latest changes and running the migrate command didn't work.
Link to the issue: https://github.com/publiclab/plots2/issues/8202

[2020-07-30 15:47] keshav234156 commented on #490
Hi all,
1. Currently, I am working with https://github.com/publiclab/PublicLab.Editor/pull/568 and stuck with the test of https://github.com/publiclab/PublicLab.Editor/pull/566.
2. From the list, this task seem interesting to me. I don't know much about plots2 code related to this, but with some amount of help will be able to work on this.
* ensure formatting toolbars on comments appear in all var

[2020-07-31 07:35] shreyaa-sharmaa commented on #578
Hey everyone!
Nowadays I'm learning to play guitar! Other than that, I love to read.
Here's the link to my blog: https://shreyaa-sharmaa.github.io/outreachy-blog/
Thanks!

[2020-07-31 19:31] Shulammite-Aso commented on #8
@jywarren @sagarpreet-chadha this will have to be done at plots2.  The editor example has this setup in the [data](https://github.com/publiclab/PublicLab.Editor/tree/main/examples/data) directory already, and is working there.

Will open an issue for this at plots2 then work on it.

[2020-07-31 22:26] Shulammite-Aso commented on #8
Or maybe transfer this one?

[2020-08-01 04:24] NitinBhasneria commented on #490
@sagarpreet-chadha @jywarren should we open the issue from the list, before working on them?

[2020-08-01 16:59] sagarpreet-chadha commented on #490
Yes that would be great! Thanks 😄

[2020-08-02 09:45] sagarpreet-chadha commented on #8
Yes let's make a new issue there and linking this issue. Thanks 😄

[2020-08-02 14:57] shreyaa-sharmaa commented on #490
@jywarren @sagarpreet-chadha can you explain this issue `re-order legacy and comment toolbars so order of tools matches that of Rich Text Editor, for consistency`?
The order of tools in rich text editor is:

![richtext](https://user-images.githubusercontent.com/66686803/89125366-85822480-d4fb-11ea-8713-94d018fce3e0.png)

The order of tools in legacy mode is:

![legacy](https://user-images.githubus

[2020-08-02 15:48] shreyaa-sharmaa commented on #490
I'm getting started with the second one i.e. `add a button for uploading images to the Wiki Editor toolbar (and comment editor?) that would look similar to the Rich Editor's button`.

[2020-08-02 16:52] sagarpreet-chadha commented on #490
Okay @shreyaa-sharmaa , kindly start with the image functionality.
 Meanwhile I will ping @ebarry or @jywarren to describe the first toolbar functionity.
Thanks 😄

[2020-08-03 04:56] NitinBhasneria commented on #490
@shreyaa-s
Are you doing this too. Or I can start with this?
* repair "click to select an image" functionality on comment (and comment reply) image uploads

[2020-08-03 10:14] Shulammite-Aso commented on #490
Just noticed @NitinBhasneria you're choosing to work on

which i also chose.  But i think i can still work on:

so i'll just start with it.

[2020-08-03 12:50] cesswairimu commented on #578
Hi :wave: Anyone wonna open this week's check-in?

[2020-08-03 15:19] shreyaa-sharmaa commented on #490
Sure, go ahead @NitinBhasneria!

[2020-08-03 20:46] ebarry commented on #490
Hi @shreyaa-sharmaa yes this sounds perfect. The purpose is to achieve greater consistency in the editing experience, thus making it easier for newcomers and also to make it easier for staff to teach newcomers. Thank you!

[2020-08-04 05:57] sagarpreet-chadha commented on #578
Anyone from PL editor team wants to volunteer to open the check in today?
@NitinBhasneria @keshav234156 @shreyaa-sharmaa @Shulammite-Aso , maybe @Tlazypanda  can do again?

🎈 😄

[2020-08-04 06:02] Shulammite-Aso commented on #578
Let me do this @sagarpreet-chadha 😆

[2020-08-04 06:07] Shulammite-Aso commented on #578
@sagarpreet-chadha @cesswairimu will I have to do it at the editor repo?

[2020-08-04 06:46] Shulammite-Aso opened #585 "Weekly Community Check-In #70 - Share your adventures for the next few weeks and months"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-08-04 06:50] Shulammite-Aso commented on #578
Hi @sagarpreet-chadha @cesswairimu here is the new check-in https://github.com/publiclab/PublicLab.Editor/issues/585
Only need some help tagging everyone now.😄

Thanks!!!

[2020-08-04 06:55] cesswairimu commented on #578
Thanks so much @Shulammite-Aso 🎉🎉...will do the tagging no prob...and I didn't see the msg in time...we can do check-ins in any of the repos. Thanks

[2020-08-04 07:03] cesswairimu commented on #585
@jywarren, @AgyeyaMishra, @Jolios, @cesswairimu, @samarakoon-ryan, @Samasth, @malaikaaiyar, @keshavsethi, @OmLakshmi, @nsachin08, @dependabot-preview[bot], @Tlazypanda, @galanggg, @ishika1727, @icarito, @RajatSablok, @mronauli, @ijeomaemeruwa, @alaxalves, @Shulammite-Aso, @JapneetSingh5, @Neilblaze, @markkulube, @vinuch @JapneetSingh5, @Neilblaze, @markkulube, @vinuch, @Tlazypanda, @icarito, @depe

[2020-08-04 07:03] cesswairimu commented on #585
@llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-sharmaa, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @Tlazypanda,@keshav234156, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04, @sssash18, @chinmay021, @Srija616, @AnnaMinakova, @greenbrown, @taysa91, @TaishiRoy, @yagmurbaydogan, @Shu

[2020-08-04 07:04] cesswairimu commented on #585
@Janet33, @TroydonAnabolic, @priyanshbalyan, @Medlineme4, @mandysGit, @msanden, @AidenOliver, @Janetsomehow, @AntroMarina, @llabake, @khushi02, @Alexjake660, @LarrySul, @nicoleiocana, @chrisdrums1, @Angelvicks, @Akanksha1212, @beladinaelfitri, @rid1hady, @shreyaa-s, @goamoth, @SusannaDiV, @yusofsf, @nanlliu, @WaldenJosh, @B4Lee, @VisnuGanth, @jessibreen, @alaxalves, @kamal-kaur04 @adityakpranav @e

[2020-08-04 07:09] cesswairimu commented on #585
@jscastanos, @sarthak-choudhary, @dongskyler, @keshavsethi, @Shulammite-Aso, @ckchu8, @keshav234156, @DerekChristy, @Srija616, @priyanka-choubey, @AyanChoudhary, @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t,  @imajit, @NitinBhasneria, @nstjean, @marientje, @rutger-t, @nsachin08 @Rohit-786 @Tristan-Elizabeth @aakanchha01 @habeckmatt @hiteshsubnani0128 @ijeomaemeruwa @OmLakshmi @dmoini