[2020-08-04 07:09] sagarpreet-chadha commented on #578
Thanks so much @Shulammite-Aso 🎉🎉

[2020-08-04 07:09] #578 closed

[2020-08-04 07:09] cesswairimu commented on #578
Moved to https://github.com/publiclab/PublicLab.Editor/issues/585 Thanks all

[2020-08-04 07:13] OmLakshmi commented on #585
Hello everyone!
I've been interning at a startup for the past month and it's been a ride.
I'm currently working on a User Login Authentication using javascript and Django and would love some help since I'm totally new to Backend programming.

Have a great week✨

[2020-08-04 07:50] Shulammite-Aso commented on #585
Hi all!😄 For me after the summer internship. I'm going to be applying for entry level to junior developer roles or internships as well. But I'm going to also be spending a lot of time learning and working with react and nodejs, as I'm very interested in becoming a full stack developer.  And of course I'll want to continue to contribute to publiclab, especially the editor repository.

Recently been

[2020-08-04 08:08] cesswairimu commented on #585
Hello all,
 I am planning to do a cleanup across our repos for stale issues and 6months plus PRs, also fellow Rails Girls Nairobi organizers and I are planning to start organizing the meetups online late this month.
Great theme @Shulammite-Aso  :tada:
Thanks @keshavsethi  for the ftos :tada: :tada:

[2020-08-04 10:05] Shulammite-Aso commented on #490
Hi @cesswairimu @jywarren what is the difference between the _new wiki form_ and _wiki editing page_ or are they the same?
And which one is this https://publiclab.org/wiki/new ?
asking based on this:

[2020-08-04 10:54] cesswairimu commented on #490
@Shulammite-Aso,  https://publiclab.org/wiki/new  will create a new wiki( which is from the db...a node with the `type:  page`
Wiki editing I believe will also render the same page. This is the template that renders both https://github.com/publiclab/plots2/blob/main/app/views/wiki/edit.html.erb

[2020-08-04 11:14] Shulammite-Aso commented on #490
Okay! thank you @cesswairimu

[2020-08-04 12:58] sagarpreet-chadha commented on #490
Hi PL editor team,
I am adding assignees to this list: (Please add your name in the given list if I missed someone 😄 )

**Editor repo tasks:**

- [ ] ensure the formatting toolbar (in both rich and markdown modes) doesn't stick to the bottom of the frame as we scroll far enough down or up that the text area is no longer shown at all

LB +1

**plots2 tasks:**

- [ ] re-order legacy and comment tool

[2020-08-04 13:13] sagarpreet-chadha commented on #490
@publiclab/editor , there are still some issues in the above list that are not assigned, kindly add your name in the list above against the issue you would like to work on 💯
If any issue is not clear, let me know here 😄

Also for the list above:
1. Make a new issue for each task and link the issue in the list above.
2. Also the status of the task: PENDING, IN-PROGRESS, DONE

Thanks 🎈

[2020-08-04 13:24] sagarpreet-chadha commented on #585
Hi everyone,
I am planning to learn octokit client to use Github API's easily, other than that I will be reviewing PR's and try to track the status of PL editor team :smile:

Also, I want the PL editor team to volunteer for these unassigned tasks in the list here 💯 :
https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-668580733

Great check-in @Shulammite-Aso !
Thank you 🎈 🎉

[2020-08-04 13:31] shreyaa-sharmaa commented on #490
@sagarpreet-chadha for the plots2 tasks, I'm working on the second one `add a button for uploading images to the Wiki Editor toolbar (and comment editor?) that would look similar to the Rich Editor's button` , Nitin on the third `repair "click to select an image" functionality on comment (and comment reply) image uploads` and Shulammite on fifth `add tags input (matching legacy editor of note edit

[2020-08-04 14:00] alaxalves commented on #585
Hey guyss,

Since we have Rails 5 running on Spectral now, I'll focus on configuring and then implementing system tests and for the Export module I'll keep refactoring the huge methods we have there.

My plans for the next months are graduating :laughing: :laughing: :laughing: and get some time to travel after this pandemic is a little off. :)

[2020-08-04 14:05] ebarry commented on #585
Hi all, I'm looking ahead at the Public Lab Open Hour in September where each and every Outreachy and Google Summer of Code participants @Shulammite-Aso @shreyaa-sharmaa @Tlazypanda @NitinBhasneria @keshav234156 @keshavsethi @alaxalves will share 5 minutes about their summer's work! Here's some considerations for this event:

- Many of us are in UTC+4, UTC+5, so how about a start time of 8AM Pacif

[2020-08-04 14:26] jywarren commented on #585
Hi all! I'm looking ahead to my other gig wrapping up, which is a summer camp I'm teaching. It's fun but it's very exhausting, and my other work is getting a bit neglected. So I hope to take a few days of time off to rest.

I realized that August is usually the time in the year when I find some time to take a vacation, but with the pandemic and everything it just didn't even occur to me. It's not

[2020-08-04 14:31] jywarren commented on #490
Hi @shreyaa-sharmaa i wonder if the issue may come up because you are using SQLite. `plots2` is designed for mariadb or mysql, could you give that a try? Even in GitPod? Thanks!

[2020-08-04 14:38] jywarren commented on #490
@keshav234156 basically, the comment editor sometimes shows a formatting bar (when it's [for a question](https://publiclab.org/questions/pataxte/05-06-2020/where-is-layer-button-in-mapknitter)) but sometimes doesn't (for [comments on non-questions](https://publiclab.org/notes/anngneal/12-08-2017/7-ways-to-measure-monitor-and-evaluate-water-quality)). The actual toolbar code is here: https://github

[2020-08-04 14:40] jywarren commented on #490
@shreyaa-sharmaa my last comment should help your questions too! esp the part about where the toolbar is shown or not. The comment editor is here: https://github.com/publiclab/plots2/blob/main/app/views/comments/_form.html.erb

and i already linked to the toolbar code itself, which is shared with the Wiki editor.

[2020-08-04 14:47] jywarren commented on #490
And I'm working all today so please reach out if you have more questions!

[2020-08-04 15:47] jywarren commented on #490
Hi all, just noting to @shreyaa-sharmaa and @keshav234156 -- i checked with @ebarry and the consensus among staff is that the formatting toolbar should be removed from all comment interfaces, to keep it simple and reduce complexity. So, i believe this should be pretty easy! Just a change to this line:

https://github.com/publiclab/plots2/blob/c60aaabb56c018962c76abf3f5f2d114f8492d15/app/views/comm

[2020-08-04 19:47] shreyaa-sharmaa commented on #490
The issue was solved in https://github.com/publiclab/plots2/pull/8203 :tada:

[2020-08-04 19:48] Tlazypanda commented on #585
Hey everyone!

I have been mostly away this week with university but plan on taking some more performance improvements and finding an optimal way for printability :sweat_smile:

For the months ahead I definitely plan to work more with Opensource :heart: and contribute!! I also dream that in a couple of months I will have some proficiency with Spanish lol :joy: I plan to learn more interesting stac

[2020-08-04 20:05] jywarren commented on #490
Oh that's great to hear.

Just an update -- I'm sorry, but the PL team has asked for another week to consider the comment toolbar removal, so I'm going to mark it above as "on hold" until we hear back from them. Thanks!

[2020-08-05 07:44] shreyaa-sharmaa commented on #585
Hey everyone!

For the next week, I'll devote more time to the Editor.
For the coming months I wish to learn golang, ruby and flutter. I also want to learn more about cybersecurity and then try out CTFs, so that's definitely first on the list after summer internship.

Insipred by @Tlazypanda I've started brushing up on my french that I learned in school. Turns out I remember more than I thought I

[2020-08-05 16:09] Shulammite-Aso commented on #585
I think zoom and prerecording will be cool. Only that Tuesdays between 3:30pm - 6pm WAT is usually busy for me, saying this because the meeting may be scheduled for Tuesday and 8AM Pacific US West Coast will be 4pm my local time. Will the meeting likely be on a tuesday?

[2020-08-05 23:43] jywarren commented on #585
Yes, you can! Lots of companies use lots of open source. MapBox is one i can think of right off that does it very transparently! But many companies big and small. After all, Bootstrap is by Twitter, and Rails is by a commercial company too. 🎉

[2020-08-06 13:35] sagarpreet-chadha commented on #490
Wow teaaam, thanks for volunteering 🎉 🎉 🎉

Only last 2 tasks are remaining, both are actually related and we have all the functions also already there.
As we donot have to store anything in the DB, which means everything has to happen in the browser only.

Now the functions which actually `previews` the content are in 2 places:
1. PL editor library (which shows preview on runtime dynamically)
2. P

[2020-08-06 16:01] jywarren commented on #490
Hi @sagarpreet-chadha -- basically my thought was to make a Rails controller action called `preview`, at `/preview`, which accepts POST parameters `params[:title]` and `params[:body]`, and displays them as if they were published (maybe with an alert saying "this is a preview"?).

But, we wouldn't actually store it at all, and any POSTs to this route would be done in a new tab, without closing the

[2020-08-06 16:29] sagarpreet-chadha commented on #490
Okay awesome 💯
Using this logic, this makes easy to open in a new tab and fire api & passing content as body from current tab.
Correct we can use the existing code of `notes-controller` for this new action 👍
Makes sense 🎉

[2020-08-08 08:02] Shulammite-Aso commented on #490
@sagarpreet-chadha please do you know where the code for this is?

[2020-08-08 16:01] sagarpreet-chadha commented on #490
Hey @Shulammite-Aso ,
This is an interesting task 😄
Just so we are on the same page, opengraph is an api used by most social medias like facebook, twitter to scrape certain data like images, title, etc from a website.
The images, data, etc scraped can be controlled by us by giving certain tags (these tags are different for different social medias, we can find them easily online).
I am not sure on

[2020-08-08 22:09] Shulammite-Aso commented on #490
oh yeah. found out some of this too when i read about opengraph today. Just wanted to know which file is rendered as questions/notes/wikis, in case i'll be needing it. Will do some more searching on this however. If i need any more help i'll just get back here.

Thanks!!!!

[2020-08-09 06:56] sagarpreet-chadha commented on #490
Some files which you may need to checkout:

https://github.com/publiclab/plots2/blob/main/app/views/questions/show.html.erb
https://github.com/publiclab/plots2/blob/main/app/views/wiki/show.html.erb
https://github.com/publiclab/plots2/blob/main/app/views/notes/show.html.erb

[2020-08-09 17:09] shreyaa-sharmaa commented on #490
For this task `ensure the formatting toolbar (in both rich and markdown modes) doesn't stick to the bottom of the frame as we scroll far enough down or up that the text area is no longer shown at all` what changes do we need in the current toolbar? @jywarren @sagarpreet-chadha @ebarry

[2020-08-10 08:40] cesswairimu commented on #585
Thanks everyone for sharing this was a great one ...Anyone willing to open this week's check-in?

[2020-08-10 16:15] Shulammite-Aso commented on #490
@sagarpreet-chadha so my guess is that from https://github.com/publiclab/plots2/blob/29d0ff7f99f301d5cbfb3cf4727331608ac5887b/app/views/layouts/application.html.erb#L50 i'm supposed to use an `else` after this:
[code]
to indicate that if no `main_image` is available, it should display an image from the body of post is any at `@node.body`
My worry is how to get the image from `@node.body`, is there

[2020-08-10 16:55] Shulammite-Aso commented on #490
Also @jywarren @sagarpreet-chadha how will i be able to tell my changes are working, or do i just push what i have?

[2020-08-10 17:19] cesswairimu commented on #585
Moved to https://github.com/publiclab/plots2/issues/8280. Thanks everyone

[2020-08-10 17:19] #585 closed

[2020-08-11 14:53] sagarpreet-chadha commented on #490
Hey @Shulammite-Aso , can you check how non-main images are stored in DB, we would be using `erb` in nodes views also to get non-main image, maybe check there?

Yes you are going in the correct direction 👍
Okay so for testing, you can either use `ngrok` to expose your local server and test the `wiki` link in any social media or you can deploy in `unstable`. Hope this helps 💯

[2020-08-11 15:38] jywarren commented on #532
We need to tidy up and update this issue! But, noting `v2.1.1` here: Bump Version from 2.1.1 to 2.1.2, switch to woofmark plots2 branch publiclab/PublicLab.Editor#557 / https://github.com/publiclab/plots2/pull/8285

[2020-08-11 20:55] jywarren opened #591 "Main Image upload bug in plots2 - urgent!"
Hello all - I'm seeing this error when dragging an image into the main image box on https://stable.publiclab.org/post -- I don't see the image appear!

My apologies, but I think we need to try to diagnose and file a patch!

cc @publiclab/editor

[code]

[2020-08-12 02:09] NitinBhasneria commented on #591
@jywarren I think in PR  `Bump publiclab-editor from 2.0.6 to 2.1.2` #8286 you haven't made the necessary changes in file `plots2/app/views/editor/rich.html.erb`.

[2020-08-12 05:43] sagarpreet-chadha commented on #591
Hey @NitinBhasneria , can you make a PR for this bug on a high priority level?
cc @shreyaa-sharmaa @keshav234156 @Shulammite-Aso feel free to collaborate on this one
Thanks 🎉 💯

[2020-08-12 08:25] NitinBhasneria commented on #591
@sagarpreet-chadha @jywarren https://github.com/publiclab/plots2/pull/8290 here it is.

[2020-08-12 12:39] sagarpreet-chadha commented on #591
Approved 💯

[2020-08-12 17:00] #591 closed

[2020-08-12 17:11] jywarren opened #592 "More compact design for main image module"
Hi all, I wanted to request a more compact design for this section, especially on narrower screens. See how the buttons could be side by side and a bit smaller?

![image](https://user-images.githubusercontent.com/24359/90045527-29f32c00-dc9d-11ea-971b-9b6373efcd18.png)

The older design had fewer buttons but it was more compact, and I think we could get closer to that amount of space:

![image](ht

[2020-08-12 17:23] jywarren opened #593 "Main image upload module working?"
Did anything change about how main images are uploaded? I am seeing an error on https://stable.publiclab.org/post when selecting an image:

But not when uploading an image to a comment box, so I think it may be the JS => Ruby connection in the editor that's changed.

https://stable.publiclab.org/notes/anngneal/12-08-2017/7-ways-to-measure-monitor-and-evaluate-water-quality

The upload itself seems

[2020-08-12 17:43] jywarren commented on #593
OK! I believe this may be an issue with Stable server -- it's working fine in GitPod!!!

![image](https://user-images.githubusercontent.com/24359/90048496-9a9c4780-dca1-11ea-8d40-a1a1907b7c8b.png)

OK, but let's be VERY careful when publishing. @icarito can you confirm any possible issues with image upload on stable? Note comment image upload is indeed working. Maybe we can pull errors from stable

[2020-08-12 20:07] shreyaa-sharmaa commented on #592
Can I take it up @jywarren ?

[2020-08-12 21:05] icarito commented on #593
Thanks for the details. The logs are accessible at:
https://jenkins.laboratoriopublico.org/job/Plots-Stable/ws/log/production.log/*view*/

I'll try to reproduce and see what happens.
--
Sebastian Silva

El mié., 12 ago. 2020 a las 12:43, Jeffrey Warren (<notifications@github.com>)
escribió:

[2020-08-14 19:13] #592 closed

[2020-08-14 22:00] jywarren opened #596 "Uploaded main images are displayed oddly"
On plots2, (https://github.com/publiclab/plots2/pull/8297 in gitpod), I uploaded a main image but it displayed a bit weird. I'm wondering what the best way to organize the buttons and image is after upload?

![Screen Shot 2020-08-14 at 5 58 45 PM](https://user-images.githubusercontent.com/24359/90295782-d6790d80-de57-11ea-9dd0-ab813fa7ccc4.png)

Love to hear your thoughts!

[2020-08-14 22:56] shreyaa-sharmaa commented on #596
I tested it out in gitpod too and the main image box looked fine before uploading the image but changed after uploading the image
![imgtrue](https://user-images.githubusercontent.com/66686803/90298317-7b730500-deaf-11ea-905d-f829b0af9409.png)
![img](https://user-images.githubusercontent.com/66686803/90298318-7d3cc880-deaf-11ea-8a48-8c13a3f8df97.png)

[2020-08-15 19:07] sagarpreet-chadha commented on #596
@publiclab/editor team, would anyone want to take a look at this, seems like a `CSS` fix that we need to do. Thanks in advance 🎉 💯

[2020-08-17 12:47] Shulammite-Aso opened #599 "toolbar starts floating before rich text area in plots2"
### Please describe the problem (or idea)

### Please show us where to look

https://publiclab.org/ ...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resol

[2020-08-17 17:17] ebarry commented on #593
How's this one going, everyone?

[2020-08-18 14:10] jywarren commented on #490
Hi all, I'm going to work on the main image upload issues to get the `v2.2.0` published to the live site today, i hope! Also looking at #600 from @Shulammite-Aso.

I'd like to ask if someone could prepare a list of completed fixes to `woofmark` in a release on that repo, so we can repoint
 this repo's dependency at a semver version number -- see how `woofmark` is getting incremented commit by comm

[2020-08-19 20:31] jywarren commented on #490
Hi all, congratulations to our Outreachy folks for a fantastic summer! 🎉

So, let's start thinking about our next release! Looking at https://github.com/publiclab/PublicLab.Editor/commits, there are some significant changes in `woofmark` which could constitute a patch-level or minor-level release to either `v2.3.0` or `v2.2.1`, depending on our judgement: https://github.com/publiclab/PublicLab.Edi

[2020-09-01 16:08] #599 closed

[2020-09-01 16:31] jywarren commented on #490
Hi all, are there more updates to the listing of issues/tasks at the top here? We are getting into our GSoC final evaluations and would like to be able to track more easily from here, so we'd appreciate it a lot if @NitinBhasneria and @keshav234156 could update the listing to show what's completed or at least note what's left. Thanks!!! 🎉

[2020-09-01 16:41] #505 closed

[2020-09-01 16:47] NitinBhasneria commented on #506
@jywarren as we are having the table with standard format only should I close this?

[2020-09-01 16:50] NitinBhasneria commented on #490
@jywarren Should we add the issues that are not in the list and we have worked on them or should we check the existing issues?

[2020-09-01 17:45] NitinBhasneria commented on #490
@jywarren I have updated the list.
@keshav234156 please have a look once and edit if any changes are there.

[2020-09-01 17:56] sagarpreet-chadha commented on #490
Hey @NitinBhasneria , can you make the list of issues that are solved and not mentioned in above list and comment here.
Let's not add them to the the list at top yet. It will help us give a better final evaluation.
 Thanks 💯

[2020-09-01 17:57] NitinBhasneria commented on #490
@sagarpreet-chadha I have updated the list please have a look. In last section I have included the work left undone.
Thanks.

[2020-09-01 17:58] NitinBhasneria commented on #490
In the updated list I have added the PR's as most os the issue's PR is not linked so it is having difficulty when we open the issue listed.

[2020-09-01 21:10] keshav234156 commented on #490
PR for https://github.com/publiclab/PublicLab.Editor/pull/566 and https://github.com/publiclab/PublicLab.Editor/issues/419 are already made, Just need to resolve test issues that we are facing. Then with some minute changes, they are ready to be merged. Added WIP tag as they just on the final stage of completion

[2020-09-01 21:11] jywarren opened #607 "Test failures in latest `woofmark` update"
In https://github.com/publiclab/PublicLab.Editor/pull/597 we started seeing test failures - @keshav234156 opened https://github.com/publiclab/PublicLab.Editor/pull/602 to revert.

However, the test failures don't trigger a Travis failure, so we weren't seeing them; see this for example:

https://travis-ci.com/github/publiclab/PublicLab.Editor/jobs/379516209

[code]

It looks like potentially a syn

[2020-09-01 21:12] jywarren commented on #607
Is this due to Jasmine being unable to read es6, perhaps? @sagarpreet-chadha @Shulammite-Aso @shreyaa-sharmaa @NitinBhasneria @keshav234156 - any thoughts? I notice that we added Terser to woofmark in the meantime?

[2020-09-01 21:14] keshav234156 commented on #607
Actually it's difficult to find as we are to find only when we integrate it with Editor. It's due to update that we have made in woofmark

[2020-09-01 21:17] jywarren commented on #490
OK, thank you Keshav!!!

[2020-09-01 21:18] jywarren commented on #490
And thank you @NitinBhasneria !!!

[2020-09-01 21:18] jywarren commented on #490
Satisfying to check off those ✅ , no? 😂 🎉

[2020-09-01 21:32] jywarren commented on #607
I'm not sure ... the fact that Jasmine is not finding it at all seems to be a big hint. And yet it passes Jest tests.

We haven't really changed the Jasmine setup, i think? https://github.com/publiclab/PublicLab.Editor/tree/main/spec/javascripts (one change 18 days ago)

This to me suggests that it's a difference in the environment somehow. I know Jasmine has trouble with ES6 and we don't have Bab

[2020-09-02 05:09] sagarpreet-chadha commented on #607
I agree with @jywarren , it maybe due to `es6` usage in upstream library - `woofmark`.
I saw that we are now telling `jshint` that the code is written in `es6` here:
https://github.com/jywarren/woofmark/blob/39237b798308e6855acde1a938c18a8e4da62fce/.jshintrc#L2

Maybe this is causing issue?

[2020-09-02 15:30] sagarpreet-chadha commented on #607
I think it is due to use of `const` keyword which is es6 construct (I only asked asked people to change `var` to `const` in some PR's)

[2020-09-02 15:39] sagarpreet-chadha commented on #607
We are using `const` and even `let` also here https://github.com/jywarren/woofmark/commit/e6f56ea701b4c74a0e0c1096f056ee8f4fe4186f

@Shulammite-Aso would you like to test if this is the issue?

There are 2 things we can do now in `woofmark`:
1. Remove `let` and `const` everywhere and then try installing this branch in PL.editor by changing `package.json` (linking woofmark to your branch) and then

[2020-09-02 21:02] jywarren commented on #607
Awesome. I guess I feel like option 2 makes sense, but it is a bit of work. @sagarpreet-chadha has actually done this (although i didn't review it 😭 ) in this PR so you can see how it's usually configured!

https://github.com/publiclab/leaflet-environmental-layers/pull/240/files

[2020-09-03 01:34] avats-dev opened #609 "Publish button loading behavior strange"
### Please describe the problem (or idea)

When there is some sort of error (like entering same title again), error message is displayed when one clicks on **publish**, but the button keeps loading even after the error message is displayed.

**Like this:**
![Screenshot from 2020-09-02 23-19-18](https://user-images.githubusercontent.com/35889327/92061279-7a990900-edb3-11ea-96ec-058afd56310f.png)

A

[2020-09-06 19:02] daemon1024 commented on #596
Is this issue open to work on?

I was trying to recreate the issue but when I tested it out on gitpod but it seemed to get stuck at 100% progress bar.

![image](https://user-images.githubusercontent.com/47106543/92333219-977a5880-f0a1-11ea-884b-b0fe538ea0ab.png)

[2020-09-07 16:36] sagarpreet-chadha commented on #609
We should not enable the `submit` button if the title module throws this error. Would you like to work on this?

[2020-09-07 17:03] avats-dev commented on #609
@sagarpreet-chadha  I would like to but as I'm still getting a hang of ruby's templating engine, this might take some time. Would it be a problem?

[2020-09-07 17:21] sagarpreet-chadha commented on #609
We do not need rails knowledge here, we will solve this issue here using vanilla JS, if you are comfortable with it, and bump version later 😄

[2020-09-07 17:25] sagarpreet-chadha commented on #596
You can try reproducing this on `publiclab.org` then, if this issue still persists then you can take forward and solve it 😄 . Thanks 💯

[2020-09-07 17:33] avats-dev commented on #609
Ok

[2020-09-08 17:04] daemon1024 commented on #596
@sagarpreet-chadha I can reproduce it on publiclab.org.I thing i have the solution to it but I am unable to figure out how do I test it out after fixing it due to the problem I mentioned in the previous comment?

[2020-09-08 18:14] sagarpreet-chadha commented on #596
Did you try running this project locally?

[2020-09-08 18:21] daemon1024 commented on #596
@sagarpreet-chadha i just found how to test image-upload ( https://github.com/publiclab/PublicLab.Editor#creating-a-mock-server ), I am trying this now

[2020-09-08 21:03] daemon1024 commented on #596
@sagarpreet-chadha it works :) can you review the PR?

[2020-09-09 07:59] Shulammite-Aso commented on #607
Hi @sagarpreet-chadha @jywarren is anybody working on this yet?
Things must have gotten over my head. I thought i read you were working on this @sagarpreet-chadha ?
Just reading through again and saw that wasn't what you said.

I should try setting this up if nobody is already on it, and hit you up @sagarpreet-chadha if i have any question.

[2020-09-14 16:40] jywarren commented on #607
Thank you so much! we had gotten a little behind on this but your help is SO APPRECIATED. This is a big blocker! Looking at your solution now. Thanks!! 🎉

[2020-09-15 19:38] jywarren commented on #596
Thank you so much for your help on this!!! 🎉 🎉 🎉

[2020-09-24 04:04] shreyaa-sharmaa commented on #527
Closing this with #576

[2020-09-24 04:04] #527 closed

[2020-09-24 04:15] shreyaa-sharmaa commented on #499
Require more community input and not high priority. Linking https://github.com/publiclab/PublicLab.Editor/issues/490#issuecomment-627614492.
Closing for the same reasons.

[2020-09-24 04:15] #499 closed

[2020-09-28 11:45] cesswairimu commented on #358
I see all the templates on plots2 are available here. Closing this. Thanks all

[2020-09-28 11:45] #358 closed

[2020-09-28 11:52] cesswairimu commented on #261
Hi, I think this may be unnecessary for the examples demo use case -- but it's a good idea overall! Maybe, consider reopening this on the `plots2` repository? https://github.com/publiclab/plots2

Thank you!!!!

_Originally posted by @jywarren in https://github.com/publiclab/PublicLab.Editor/pull/263#issuecomment-648878397_

[2020-09-28 11:52] #261 closed

[2020-09-28 12:03] cesswairimu commented on #532
This was successfully merged at https://github.com/publiclab/plots2/pull/8286. Closing this. Thanks everyone

[2020-09-28 12:03] #532 closed

[2020-09-28 20:53] daemon1024 opened #623 "Misaligned placeholder text in https://publiclab.org/post"
### Please describe the problem (or idea)

![image](https://user-images.githubusercontent.com/47106543/94483524-9c41b080-01f8-11eb-90a4-922105dc4510.png)

the placeholder text should be insides the box

### Please show us where to look

https://publiclab.org/post

### What's your PublicLab.org username?
barun1024

### Browser, version, and operating system
Chrome , Firefox , Windows , NixOS

****

[2020-09-28 21:00] daemon1024 commented on #623
This can be reproduced if https://github.com/publiclab/PublicLab.Editor/blob/e7671c078d26747388cabb194873333ab252e260/examples/index.html#L271
placeholder attribute is added to the above tag in example/index.html

[2020-10-07 05:41] Sagarpreet opened #627 "Tracking Editor features 🧨"
### Resolve outstanding issues remaining from the Summer 2020 Editor Team of 4 work, also documented here: https://pad.publiclab.org/p/editor-tasks

- [x]  poorly wrapping Markdown button on narrower screens on /post
- STATUS: `Dev completed`
- PR: https://github.com/publiclab/PublicLab.Editor/pull/635

- [x] odd folding (maybe bootstrap 3/4 issue?) of main image column, related to https://github.

[2020-10-07 07:17] Sagarpreet opened #628 "Document how to connect easily plots2 and PL.editor projects for local development"
Hi,

We have already written amazing documentation on how to connect  the 2 projects [here](https://github.com/publiclab/PublicLab.Editor#creating-a-mock-server) , however it requires us to do `yarn install --force` in plots2 every time we do change in PL.editor.

Let's use `yarn link` instead and make it seamless 😄

Resources: https://classic.yarnpkg.com/en/docs/cli/link/

[2020-10-09 17:35] cesswairimu opened #630 "[Planning] Comment Editor Overhaul Project"
## Description

We have a collection of improvements, bugfixes, and refinements to our aging Comment editor subcomponent on the PublicLab.org website. The comment editor is used in various “variants” with shared code, complicating debugging (i.e. fixing the bug in one place can introduce a bug in another). This is a great case for system tests, where we can ensure behaviors are preserved, and for

[2020-10-12 12:30] cesswairimu opened #634 "Weekly Community Check-In # 78- Create ftos for Outreachy aspirants"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-10-12 13:19] RuthNjeri commented on #634
Hi @cesswairimu thank you so much for being responsive to our many many queries. A big thank you as well to @jywarren who has also answered so many questions as well.

I have really enjoyed creating my first PR for the Outreachy application and I am hoping in the next few weeks to touch on a couple of frontend tasks and bugs as well and begin writing my proposal in the coming week.

I would love t

[2020-10-13 06:20] Sagarpreet commented on #628
Great idea @Shulammite-Aso, sure will do 😄 !

[2020-10-13 08:25] Sagarpreet commented on #444
Hey @jywarren
The toggle is getting respected and the code verifies the same.
However the issue seems to be different here:
1. When we publish the post with location, and then we edit it -> Then map is not shown (tried in local) by default, also if you will remove the location tags now and hit publish then tags are still persisted.
2. Only way to remove location tags is clicking cross button on ta

[2020-10-13 11:09] Sagarpreet commented on #627
`Done` => Merged
`Needs Clarity` => Need help from @jywarren , @ebarry
`Work in Progress` => Something is left to do in the PR

[2020-10-13 15:35] jywarren commented on #627
This is looking awesome, Sagarpreet, thank you!

[2020-10-13 15:37] #596 closed

[2020-10-13 17:00] jywarren commented on #634
Yes! Whoa, it's been a lot of activity in the past few days! And I do see folks creating their own `first-timers-only` issues to welcome other newcomers -- that's so special and we are really impressed and appreciative of everyone who's reached out to help in this way. Great work, everyone!

[2020-10-14 09:03] fiona-byte commented on #526
Hi, is this issue up for fix? I'd love to work on it

[2020-10-14 09:11] dharmelolar commented on #496
hello @keshav234156 please can i claim this issue, i see that it has not been worked on.

[2020-10-14 09:19] dharmelolar commented on #507
Hello @Shulammite-Aso please can i work on this and also which editor are we talking about?

[2020-10-14 09:44] Shulammite-Aso commented on #507
@dharmelolar you don't need to work on this. How you can possibly help is by reporting(open an issue for) any bug you find while using the editor here https://publiclab.org/post. Document it well using the tips suggested above.
And Also please remember to check if the same issue has already been reported before opening an issue for it, maybe search for keywords using the issue filter search bar to

[2020-10-14 10:27] dharmelolar commented on #507
Thank you @Shulammite-Aso.

[2020-10-14 11:05] dharmelolar commented on #623
Hello @daemon1024 can i work on this fix? I just checked now and the issue has not been solved
![Screenshot (3)_LI](https://user-images.githubusercontent.com/53821931/95980594-4898af00-0e15-11eb-9de1-06fb5ce51416.jpg)

[2020-10-15 16:23] daemon1024 commented on #623
@dharmelolar Sure.

cc @publiclab/editor

[2020-10-16 08:38] dharmelolar commented on #623
Hello @daemon1024 after fixing the bug in this issue, I realized there'still something that needs to be done, even after fixing the bug, this text still shows in the textarea.
![Screenshot (5)](https://user-images.githubusercontent.com/53821931/96235691-fe3d3c80-0f92-11eb-8dc5-928ba851196f.png)

[2020-10-16 08:40] dharmelolar commented on #623
But after deleting this text in my editor, the code work perfectly.
![Screenshot (6)](https://user-images.githubusercontent.com/53821931/96236091-7e63a200-0f93-11eb-859e-e0a6abe602d8.png)
![Screenshot (4)](https://user-images.githubusercontent.com/53821931/96236126-8a4f6400-0f93-11eb-90eb-e40393c2e55b.png)

[2020-10-16 08:40] dharmelolar commented on #623
Please kindly advice

[2020-10-16 09:34] Sagarpreet commented on #623
Hey @dharmelolar , thanks for investigating but this is solved in https://github.com/publiclab/PublicLab.Editor/pull/635
You can try the gitpod link in that PR to verify this: https://a15099a1-0d3a-4e36-bd91-aa4ce8a78b5c.ws-us02.gitpod.io/#/workspace/PublicLab.Editor
Thanks for the help 😄 Looking forward to have you contribute in any other issue 🎉

[2020-10-16 13:35] #623 closed

[2020-10-16 14:15] ebarry commented on #623
Thank you both!

[2020-10-16 17:32] Janitham97 commented on #628
@Sagarpreet  kindly can you add more details?

[2020-10-17 08:41] Sagarpreet commented on #526
Yes @fiona-byte , this is still an enhancement we want. Feel free to work on this 😄

[2020-10-17 08:48] fiona-byte commented on #526
Thank you @Sagarpreet 🙂

[2020-10-19 07:36] cesswairimu commented on #634
@RuthNjeri feel free to open the check-in anytime today. You can find the template at  https://github.com/publiclab/plots2/issues/new/choose `Weekly Check-in` . Feel free to ping me if you need any help. Thanks

[2020-10-19 13:29] RuthNjeri commented on #634
@cesswairimu I am thinking of mentioning "Outreachy Proposal" as this week's focus, is that a valid one?

[2020-10-19 13:41] RuthNjeri commented on #634
Also, should I post the weekly check-in in the Plots2 repo or in this one(PublicLab.Editor)?

[2020-10-19 13:49] cesswairimu commented on #634
Hey @RuthNjeri , yeah its a good one. You can open on either of the repos

[2020-10-19 13:59] cesswairimu commented on #634
Moved to https://github.com/publiclab/plots2/issues/8619. Thanks all

[2020-10-19 13:59] #634 closed

[2020-10-19 18:48] keshav234156 commented on #496
@dharmelolar yes, you can take up this issue.

[2020-10-19 18:56] sagarpreet-chadha commented on #628
So while working in PL.editor, many times it is required to test your changes in plots2 project.
So the current way of doing it is documented here: https://github.com/publiclab/PublicLab.Editor#creating-a-mock-server
Which requires u to do change `package.json` and give path to your local copy of PL.editor and do `yarn install --force` everytime you do change in PL.editor which is cumbersome and t

[2020-10-19 19:37] fwolfst opened #643 "github.io link on github page 404s"
### Please describe the problem (or idea)

The link on the github page ("About" section) to https://publiclab.github.io/PublicLab.Editor/examples/ gives a 404 .

I wanted to see the example :)

[2020-10-20 10:01] Janitham97 commented on #628
I did yarn link in PublicLab.Editor folder
success Registered "publiclab-editor".
info You can now run `yarn link "publiclab-editor"` in the projects where you want to use this package and it will be used instead.
Done in 0.40s.
But I can't see plots2 folder in PublicLab.Editor.
Sorry for If I made any wrong

[2020-10-20 10:08] Sagarpreet commented on #628
Hey @Janitham97 , plots2 is a different project where PublicLab.Editor is used: https://github.com/publiclab/plots2
If you understood the flow, you can work on documenting it if you like 😄

[2020-10-23 15:32] sashadev-sky commented on #128
@jywarren @shapironick  I just checked this out and it works as long as you add the image after saving the number list fyi if you want to fix your research note!

[2020-10-23 15:40] sashadev-sky commented on #508
closing because the project is now on Bootstrap 4 so it is stale

[2020-10-23 15:40] #508 closed

[2020-10-23 17:42] shapironick commented on #128
very cool, thanks!

On Fri, Oct 23, 2020 at 8:33 AM Sasha Boginsky <notifications@github.com>
wrote:

--
Nicholas Shapiro
Assistant Professor
UCLA Institute for Society and Genetics
Office: (310) 206-2366

[2020-10-27 02:09] sashadev-sky opened #648 "[Planning] Standardize Editors + Remaining bugs"
## Description

I am helping out with the winter prioritization session so have been reviewing recent work. I made a parsed down summary of what's left over from the Editor Overhaul project. I ended up with a lot of bullets, so decided to remove the specifics from the session discussion because it's overkill and move it here.

This wasn't signed off by anyone so feel free to change the "[Planning]

[2020-10-27 02:10] sashadev-sky commented on #648
@cesswairimu @ebarry @jywarren @publiclab/comment-maintainers @publiclab/editor

[2020-10-27 02:14] sashadev-sky commented on #648
Looking for some input here about availability and thoughts. I think it would be "small wrap-up contract for editor overhaul"?

[2020-10-27 13:34] ebarry commented on #648
Hi @sashadev-sky it's great to have a fresh look across all this. Can you also look at the short list that @sagarpreet-chadha is working from this month? https://pad.publiclab.org/p/editor-tasks? Are any of the ones you highlighted NOT in there already? Thank you all!🌳

[2020-10-27 13:53] sagarpreet-chadha commented on #648
Hey @sashadev-sky ,
Adding to @ebarry comment above, I have made tracking issue here:
https://github.com/publiclab/PublicLab.Editor/issues/627#issuecomment-704706134
Thanks 😄

[2020-10-27 14:25] ebarry commented on #627
Thank you @Sagarpreet ! I don't see any more items labelled "needs clarification" -- is that right?

[2020-10-27 14:52] jywarren commented on #648
Hi all, this is great, thank you!

Noting that we'd suggested a GitHub Markdown style fix but @sashadev-sky also discovered [a workaround](https://github.com/publiclab/PublicLab.Editor/issues/128#issuecomment-715415384)

Let's open a breakout issue for this and see if @keshav234156 has thoughts on it? Perhaps we can start with a test demonstrating the issue. Thanks!

Also what was the specific iss

[2020-10-27 15:50] Sagarpreet commented on #627
Correct @ebarry 👍
These were resolved by Jeff and some by you on gitter 😄

[2020-10-27 22:09] sashadev-sky commented on #648
@ebarry none of these are on #627

[2020-11-10 19:48] jywarren commented on #627
I think we're just waiting on https://github.com/publiclab/plots2/pull/8714 - publishign the Editor v3 to plots2 -- plus the Preview route and follow-ups, right?

[2020-11-11 03:25] sagarpreet-chadha commented on #627
Correct Jeff 👍

[2020-11-16 09:39] Sagarpreet commented on #627
NPM release for all above changes: https://github.com/publiclab/PublicLab.Editor/pull/657
plots2 integration of all above changes: https://github.com/publiclab/plots2/pull/8744

[2020-11-17 15:57] jywarren opened #658 "Distinct bold and newline issue (bolded empty lines)"
I'm seeing an issue distinct from https://github.com/publiclab/PublicLab.Editor/issues/457 but also to do with bold and newlines. It's not clear to me if it's fixed in https://github.com/jywarren/woofmark/pull/1, but we can probably test in GitPod there.

What happens is that if (in rich text) we make 2 new lines after bolding a line, then type, it's bold (which is OK, although we could change tha

[2020-11-17 16:18] jywarren commented on #658
I've tried to create a test for this now!

[2020-11-17 16:18] jywarren commented on #658
Also noting #4 may solve this but needs to be tested... https://github.com/jywarren/woofmark/pull/4/

[2020-11-17 22:35] jywarren commented on #627
Noting bold bug PR at https://github.com/publiclab/PublicLab.Editor/pull/659 as well! Thank you!!

[2020-11-24 22:51] jywarren commented on #627
Updated the Preview project checkboxes!!!! Yay!!!

[2020-11-25 15:29] jywarren commented on #630
For the later stages of the Comment Editor project when it might be spun out into its own repository, we may want to carefully consider this workflow documented by Sagarpreet for what would help create a standard release cycle!

https://publiclab.org/notes/sagarpreet_chadha/10-20-2020/first-timer-only-release-workflow

[2020-12-01 19:18] jywarren commented on #643
Great catch, and apologies! I think i fixed it by removing `grunt` from the gh-pages branch and rebuilding it: https://github.com/publiclab/PublicLab.Editor/commit/9e4c47784e24dc92bf57fa22f2dfc8bf4640ce7c

[2020-12-01 19:18] #643 closed

[2020-12-05 17:56] jywarren opened #664 "Adjust CSS styling of rich text toolbar to Bootstrap 4 for consistency"
I think the lines of code could be somewhere around here?

https://github.com/publiclab/PublicLab.Editor/blob/cf1fc4a9c4b70afaede856bac214e27388ab6cfa/src/adapters/PublicLab.Woofmark.js#L372

![image](https://user-images.githubusercontent.com/24359/100797009-78b10700-33ef-11eb-8333-12c2aa5a8d7b.png)

See how the buttons here don't match -- i think the basic buttons are via `woofmark` but the black

[2020-12-27 11:17] Charu271 commented on #526
Hi @NitinBhasneria
Is this issue resolved ? If not I would like to work on it

[2020-12-28 10:49] NitinBhasneria commented on #526
Yea, there are still many works left in this issue. @fiona-byte If you are working on this please let us know. @Charu271 you can start the work if we get no reply from @fiona-byte

[2020-12-28 14:32] Charu271 commented on #526
Okay

[2020-12-29 08:06] shreyaa-sharmaa commented on #609
Hello!

Is anyone working on this?

[2020-12-29 20:05] RuthNjeri commented on #609
Hi @shreyaa-sharmaa thank you for reaching out 😄
If you are interested in working on this issue please feel free to start working on it. You can ask any questions here if you need any clarification.

[2020-12-30 14:07] shreyaa-sharmaa commented on #609
This looks like a priority issue hence my interest in any update.
I just wanted to make sure it is not reserved for newcomers. If it's not, I'll open a PR for the same.

[2021-01-08 10:05] cesswairimu opened #676 "Travis taking forever to finish..move to git-actions?"
We moved plots2 to git-actions and the CI is now running seamless...we could attempt to do the same here...
 plots2 PR: https://github.com/publiclab/plots2/pull/8795/

[2021-01-21 14:31] jywarren commented on #676
Yes! We def should. I just finished doing it for image-sequencer so here's a possible helpful reference: https://github.com/publiclab/image-sequencer/pull/1783

[2021-01-27 21:29] #676 closed

[2021-01-30 09:09] eynglv commented on #664
@jywarren hi, could i take this bug? would be my first open source contribution

are you looking to change the outline (make all the buttons outlined) or you want them to be basic (via woofmark)?

[2021-02-02 15:56] jywarren opened #683 "Intermittent test failures in both Jasmine and Jest"
This could be due to failing to wait long enough for `async` tests...?

In https://github.com/publiclab/PublicLab.Editor/pull/669, all of these three tests failed, but then all passed on re-running:

[code]

Then:

[code]

And in Jest:

[code]

[2021-02-02 16:08] jywarren commented on #683
OK, now in #672, we see:

[code]

[code]

[2021-02-02 18:18] jywarren commented on #683
#672 passed on re-run. Now https://github.com/publiclab/PublicLab.Editor/pull/665 has the same errors as #672!

Re-running that too.

My guess is we should extend the async timeout!

[2021-02-02 18:36] jywarren commented on #683
`await page.setDefaultNavigationTimeout(60000);`

[2021-02-09 21:30] jywarren commented on #683
Tried https://jasmine.github.io/2.1/introduction#section-48

[2021-02-10 17:07] devan5hu commented on #664
@jywarren Hello! I am fairly new to contributing to major repositories on Github in-fact this is my very first comment. I started working on this issue today and found out the fix for it. Just wanted to share a picture of the result before I created a new branch.
![Buttonfix](https://user-images.githubusercontent.com/52581680/107544161-f3688080-6bef-11eb-9485-d0a3cc260379.png)

I also fixed the `C

[2021-02-13 20:12] avats-dev commented on #609
@cypherean sorry for the late response. It is not reserved for anyone as it has not been templated into an FTO or assigned to someone. You're free to either resolve this or create an FTO out of this for the newcomers, whichever you may prefer. Thanks for contributing to publiclab. 🎉

[2021-02-23 20:09] jywarren commented on #444
I think this is sufficient, thank you for tracing it though!!!

[2021-02-23 20:09] #444 closed

[2021-02-23 20:13] jywarren commented on #627
This is all done, i believe!!! Thanks so much @Sagarpreet !!!!

[2021-02-23 20:13] #627 closed

[2021-03-12 17:54] ebarry opened #698 "Bad bug in /post editor (needs help tracing/reproducing)"
### The problem

While entering text into publiclab.org/post, two issues happen:
1. when clicking into EITHER the title box OR the tag box, the cursor "jumps" /relocates itself to the the top left of the body text box
2. the Publish button is not operable

https://user-images.githubusercontent.com/161439/110978833-da0f3d00-8331-11eb-82b3-baa73b938755.mov

1. I expected to be able to type a title,

[2021-03-16 22:09] jywarren commented on #698
Noting that i can reproduce it in the example demo here. But adding console.log statements after the focus() calls i found above don't trigger, so it may not be those...

[2021-03-16 22:31] jywarren commented on #698
Gosh, i can't find any thing super obvious that would have been causing this. the `.focus()` lines seem not right, because running `.focus()` on the rich text area manually doesn't insert the cursor there. I wonder if it was a change to upstream `woofmark` link parsing that causes this.

Fundamentally it looks like an event was handled too broadly -- i.e. clicking on /anything/ on the page after m

[2021-03-16 22:41] jywarren commented on #698
OK, i believe it was this section:

https://github.com/jywarren/woofmark/blame/plots2/src/prompts/prompt.js#L70-L76

Trying to disable it.

[2021-03-16 22:46] jywarren commented on #698
Traced it to https://github.com/jywarren/woofmark/pull/3 -- let's revert, and debug another way!

[2021-03-16 22:46] jywarren commented on #698
It was orig a fix for https://github.com/publiclab/PublicLab.Editor/issues/407

[2021-03-16 22:48] jywarren commented on #698
Also noting that wasn't a major issue - the table insertion popover wasn't closing except when you manually close it. So i think we are OK to just revert!

[2021-03-16 23:01] jywarren commented on #698
Publishing as `v3.0.2`, i hope!

[2021-03-16 23:12] jywarren commented on #698
Published, this will resolve once the new code is pulled into `plots2`

[2021-03-16 23:12] jywarren commented on #698
https://www.npmjs.com/package/publiclab-editor

[2021-03-16 23:18] jywarren commented on #698
Solved in https://github.com/publiclab/plots2/pull/9323

[2021-03-23 16:46] jywarren opened #701 "YouTube iframe code gets improperly escaped in rich text mode?"
Someone in the plots2 project (https://github.com/publiclab/plots2/issues/9164) pasted this in, presumably in rich text mode, and the page broke - the iframe code seemed to get malformed and then the rest of the page wouldn't render.

[code]

I was able to paste it in "markdown" mode, not "rich text" and i wonder if that made it work.

I think @17sushmita's note that `allowfullscreen` became `allo

[2021-04-03 21:01] imajit opened #706 "Suggestions for editor"
I had some suggestions for the editor
- when one tries to add a link, the link text is erased on hitting backspace; instead of typing the text after adding the link, I feel it would be easier to add text for the link in the same pop-up where one is adding the link.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/38528640/112057629-8b5a7200-8b7f-11eb-8524-b582ed9b39a1.gif)
-  It

[2021-04-06 14:49] jywarren commented on #706
I think this would be an improvement, but i think it's possible the change needs to be made upstream in https://github.com/jywarren/woofmark, which is a bit complex to do. But I appreciate the thought on usability here!!!

[2021-04-20 05:01] Manasa2850 opened #714 "* does not work for bullet points in the markdown editor"
### Please describe the problem (or idea)
`*` is normally used to denote bullet points in markdown editors. However, in the PL editor using * is shown as * and not as a bullet point.

### Please show us where to look

In the legacy editor https://publiclab.org/post?&legacy=true
In the rich editor https://publiclab.org/post?

[2021-05-04 23:48] #365 closed

[2021-05-21 11:26] 2201monesh commented on #274
can I work on this issue?

[2021-05-22 02:35] #698 closed

[2021-05-22 02:38] jywarren opened #721 "Jasmine test failures stopping progress"
Unfortunately, and unrelated to https://github.com/publiclab/PublicLab.Editor/issues/683, we're seeing test errors blocking several/all PRs, including:

#716 #710

Hmm. I'm seeing a lot of this type of error:

[code]

I wonder... near the top i see:

[code]

Oddly, other recent pull requests don't show this. https://github.com/publiclab/PublicLab.Editor/pull/718

[2021-08-03 17:45] imajit opened #776 "Public Lab editor enchancement"
I would like to share some of my first-time experiences with Public Lab Editor when I wrote the draft for my GSoC proposal.
In the beginning, when I started to write the proposal I was a bit overwhelmed by the features of the Editor and had to check the preview multiple times to see if it was as I intended it to be.

- **Markdown is set as the default writing method in Editor Body**
When I went fr

[2021-08-09 21:47] imajit opened #736 "Set RichText as the default formatting mode in the editor on /post"
The default writing mode is set to markdown in the editor. We need to change it to "AaRich"
![Screenshot from 2021-08-10 03-15-09](https://user-images.githubusercontent.com/38528640/128778614-a4320bf8-e301-41c1-a585-8d4e0f761aba.png)

[2021-10-05 18:12] jywarren commented on #494
This may be best implemented as part of Woofmark, (https://github.com/jywarren/woofmark/) upstream, as the buttons are part of that library.

[2021-10-05 18:19] jywarren commented on #494
There may be two possibilities:

Either there is already CSS driving this but it's not updated to Bootstrap 4, from woofmark, OR we may need to manually flip state by monitoring the state something like this:

https://github.com/publiclab/PublicLab.Editor/blob/b1cb34626b1c3acf8a9d87f12c4ee4830d5f8471/src/adapters/PublicLab.Woofmark.js#L357-L361

[2021-10-05 19:33] jywarren opened #741 "Base/Jasmine tests stalling"
Our Base (Jasmine) tests are stalling, running many minutes: https://github.com/publiclab/PublicLab.Editor/pull/739

Potentially we should just refactor these into Jest tests to bypass this set of issues.

[2021-10-05 19:42] jywarren opened #742 "Outreachy proposal planning issue"
* [ ] install, build, and run tests on the library itself
* [ ] investigate and debug blocked Jasmine test at https://github.com/publiclab/PublicLab.Editor/issues/721
* [ ] investigate and debug stalled Jasmine tests at https://github.com/publiclab/PublicLab.Editor/issues/741
* [ ] learn about and understand the nested structure of these repositories, with Domador/Megamark included into Woofmark,

[2021-10-12 14:49] jywarren commented on #721
Also noting Jasmine tests overall are stalled: https://github.com/publiclab/PublicLab.Editor/issues/741

[2021-10-12 14:55] jywarren opened #743 "Move all old Jasmine tests to Jest?"
As we're seeing two different tough Jasmine test failures in https://github.com/publiclab/PublicLab.Editor/issues/741 and https://github.com/publiclab/PublicLab.Editor/issues/721, I propose we move all our Jasmine tests into Jest (our newer test suite) to bypass this issue.

Most of our tests are quite simple, and will just need some reworking of syntax. Let's discuss and collect resources here.

[2021-10-12 15:33] jywarren commented on #743
So let's start with a simple one. The button tests here:

https://github.com/publiclab/PublicLab.Editor/blob/main/spec/javascripts/button_spec.js

can be moved into its own file; ok, i did this in #744.

The Jest syntax is almost identical in this case. I think we could add this to generate a first-timers-only issue:

[code]

For other Jasmine files, we can also create corresponding Jest files wit

[2021-10-12 15:57] jywarren commented on #743
https://github.com/publiclab/PublicLab.Editor/pull/744 merged! Remember that we dont have to pass the "base tests" which are Jasmine, as those are the stuck ones. We just have to get the newer "ui tests" to pass.

[2021-10-12 15:59] first-timers[bot] opened #745 "add publish button test to Jest test suite"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2021-10-12 18:07] rasmita404 commented on #745
Hey!
Can you assign this issue to me?

[2021-10-12 19:50] TildaDares opened #746 "add history test to Jest test suite"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-10-12 19:51] TildaDares commented on #743
@jywarren I created an FTO in #746 for the history test. What do you think?

[2021-10-14 21:33] NARUDESIGNS opened #750 "Multiple pop-ups at once when tool buttons are clicked."
![Screenshot 2021-10-13 at 12 30 05 AM](https://user-images.githubusercontent.com/49737323/137398410-a6b52aaf-f7fa-4d73-a00d-45e5ea11048d.png)

I clicked on several tool buttons such (e.g table, link etc...) and all corresponding popups occurs. However, they stay on screen until you click again on the icon that triggered the pop-up.

I expect a pop-up to close when I do one of the following:
* cli

[2021-10-17 15:50] TarunRaveesh commented on #745
Hey, I've made a pull request @jywarren... Could u pls make a review so that I could get merge access...

[2021-10-24 04:22] NARUDESIGNS opened #752 "Table popover button content not visible on hover."
The buttons `-` `+` `Add` seem to be invisible on hover. I would expect the contents of the buttons to be white on hover since on hover the background colour changes to the default text colour. Also, the text and buttons in the `Table` popup (`-`4`+`x-3`+``Add`) seem to be tightly packed together, a subtle padding will suffice.

Here's an image to describe this:

![Screenshot 2021-10-24 at 04 31 5

[2021-10-24 05:32] NARUDESIGNS opened #753 "Buttons has no background which makes it possible to see text behind it."
When the page is scrolled to a particular threshold, the tool buttons sticks to the page, allowing other contents to scroll under them. However, the tag, table, horizontal line, center and youtube buttons all have no backgrounds which make it possible to see the text which they overlap.
I expect those buttons to have a background and maybe match other button styles like the bold, italics, blockquo

[2021-10-25 11:44] jet2018 opened #754 "Outreachy Proposal preparation features"
Note: Am an outreachy applicant and these are some of the changes I would like to propose in my proposal but after acquiring your minds on them.

### Suggested updates to the editor
**Resetting the text-area and most probably the whole form**
Currently our editor has no option of resetting and clearing the fields, this would include also clearing all the markup and rich text from the input text ar

[2021-10-31 20:07] NARUDESIGNS commented on #753
Hi, @TildaDares trust you're good. I just checked https://publiclab.org/post again (which isn't my local environment), populated it with large lorem ipsum texts and this issue still exist.
![Screenshot 2021-10-31 at 21 03 15](https://user-images.githubusercontent.com/49737323/139599585-cdb8431c-34ff-489a-b0f2-2693622248e3.png)
Please check and confirm so I can reopen the issue and work on it.

[2021-11-01 08:49] TildaDares commented on #753
Hi @NARUDESIGNS, I think the transparent background is because of the `btn-outline-secondary` class.

[2021-11-01 10:24] NARUDESIGNS commented on #753
Yes, you're right, it has background property set to transparent in css. Should you place this as an FTO or I should go ahead and remove the background class property?
![Screenshot 2021-11-01 at 11 22 52](https://user-images.githubusercontent.com/49737323/139657521-b7448891-fb1b-48b3-b9dd-5cce787636b5.png)

[2021-11-01 11:21] TildaDares commented on #753
Either one works

[2021-11-02 10:36] bolajahmad commented on #628
Hello, is anyone working on this task now?? I am interested in this, has a PR been opened for this?

[2021-11-04 22:31] NARUDESIGNS opened #755 "Subtract button in table popover displays negative value when decreased below 0"
The `-` button for table rows and that of columns in the table popup when clicked reduces the number of expected rows or columns, however, when the number is decreased below 0, we get a negative number. I expect 1 to be the minimum number of selectable rows and the same for columns.
Please see Image below:
![Screenshot 2021-11-04 at 23 28 59](https://user-images.githubusercontent.com/49737323/1404

[2021-11-04 22:36] NARUDESIGNS opened #756 "Column subtract button in table popover has no style"
The `-` button for columns has no style, making it difficult to tell whether or not it is a button.
It should match the style of the other buttons.
See image for you reference:
![Screenshot 2021-11-04 at 22 48 05](https://user-images.githubusercontent.com/49737323/140429736-212e2a7a-33ef-40bc-ae73-8a05c1ab5dc3.png)

[2021-11-06 16:33] jywarren commented on #752
Hi all - just in case helpful, the HTML for the instance of the editor on plots2 is at:

https://github.com/publiclab/plots2/tree/main/app/views/editor/rich.html.erb

[2021-11-09 18:08] jywarren commented on #743
OK, so the tests have to be written in a bit of a weird syntax so this isn't going to be quite as easy:

``js
    const text = await page.evaluate(() => document.body.textContent);
    expect(await page.evaluate('document.querySelector(".ple-publish").getAttribute("disabled")')).toBe(true);
[code]

[2021-11-11 09:16] NARUDESIGNS commented on #755
Hi @TildaDares good day, trust you're good.
Please, if I choose to work on this, what file do I need to look at and also do I need to write any test afterwards (I don't know so much about writing tests yet)?

[2021-11-11 09:25] TildaDares commented on #755
Hi @NARUDESIGNS, you can find it in https://github.com/publiclab/PublicLab.Editor/blob/main/src/modules/PublicLab.RichTextModule.Table.js#L60-L71

I'm not sure about the test part but you can check if there is a test already written for that feature and update it.

[2021-11-11 10:31] NARUDESIGNS commented on #755
ok @TildaDares thank you, I will check it out.

[2021-11-11 13:42] NARUDESIGNS commented on #755
@TildaDares I've been able to resolve this issue but didn't find any test for the button. Should I maybe push my changes for review and then you can let me know if it requires further actions?
cc @jywarren

[2021-11-11 13:46] TildaDares commented on #755
@NARUDESIGNS Yes you can push your changes

[2021-11-12 23:38] NARUDESIGNS commented on #756
Hi @jywarren, trust you're good?
I remember you mentioned where the HTML file for the Public Lab Editor is but I can't seem to remember, can you please remind me?
I found the cause of this issue, it's in the HTML code. The class name was misspelt.
cc @TildaDares

[2021-11-13 06:10] TildaDares commented on #756
Hi @NARUDESIGNS, @jywarren mentioned it here https://github.com/publiclab/PublicLab.Editor/issues/752#issuecomment-962476362

[2021-11-13 09:37] NARUDESIGNS commented on #756
Thank you so much @TildaDares

[2021-11-14 18:29] jywarren commented on #756
Hi! Great find on that typo. The line of code is here -- it's a "submodule" of the rich text module!

https://github.com/publiclab/PublicLab.Editor/blob/b38a9aee262c5d6242cb18d39aa7707e417bde06/src/modules/PublicLab.RichTextModule.Table.js#L53

[2021-11-14 19:28] NARUDESIGNS commented on #756
@jywarren Yea thanks, I think my PR captured that as well. Please have a look at the changes in the code here
https://github.com/NARUDESIGNS/PublicLab.Editor/commit/d7e2a0aa585a440452bc0a9ec89f5f040e6b5aa

![Screenshot 2021-11-14 at 20 27 35](https://user-images.githubusercontent.com/49737323/141695537-44fed453-5c07-43a0-bec1-fbadb3fa8f8c.png)

[2021-11-17 04:27] sm654 commented on #746
Is issue is solves?
Can I work on this

[2021-11-24 05:53] mayank-cse commented on #746
@wellart @TildaDares
Is the issue solved_ or I can contribute in this issue

[2021-11-26 03:43] NARUDESIGNS commented on #743
@jywarren @TildaDares I think I should be able to move some of the tests. I see that `button_spec.js` has been set as FTO so can I start with `history_spec.js` ?
or maybe I should have them listed in my planning issue for the Outreachy internship either way I'm ready to get started!

[2021-11-30 15:41] jywarren commented on #743
Hi @NARUDESIGNS thanks for getting in here and sorry for the slow reply. I thought it would be a pretty straightforward thing but as I learned in this PR it seems that the syntax for making direct JS calls into the browser environment is a bit more complex in Jest+Puppeteer, unfortunately: https://github.com/publiclab/PublicLab.Editor/pull/749/

Take a look but once we figure out how they're suppo

[2021-11-30 15:43] jywarren commented on #743
I think we just need to try a bunch of variations until we can see that the test runs correctly and tests the things we're trying to monitor. I think it's best to try getting them running in the commandline rather than continuing to push up new commits to wait for GitHub Actions to run them - that'll make it faster to try lots of different options.

[2021-11-30 21:57] jywarren commented on #756
Ah, actually @NARUDESIGNS would you mind opening a PR for your changes? It's easier to keep all our reviews in one place then. Thank you!

[2021-11-30 22:38] NARUDESIGNS commented on #756
@jywarren I opened a PR for it here - https://github.com/publiclab/PublicLab.Editor/pull/758
@TildaDares was kind to review and asked for some changes which I've also completed. I'm waiting for my PRs to be merged. This is one of them, there's another (this one #757 which fixes issue #755)

[2021-12-06 14:04] NARUDESIGNS opened #760 "[Planning] Refine the Public Lab Rich Editor (Outreachy)"
This issue contains a list of tasks for my project. This is list is subject to change as some tasks might be added later on or removed.

[My Outreachy Proposal](https://publiclab.org/notes/NaruDesigns/11-05-2021/outreachy-proposal-refine-the-public-lab-rich-editor)

**PROJECT TASKS**
---
- [ ] Resolve questions on transforming Jasmine to Jest tests
- [ ] Port one Jasmine file to Jest
- [ ] Port mo

[2021-12-06 14:04] NARUDESIGNS commented on #760
Hello, @TildaDares @jywarren kindly review my tasks list.
Thank you!

[2021-12-07 10:21] TildaDares commented on #760
Great work on breaking your tasks into smaller sub-tasks @NARUDESIGNS!

There's a lot going on with this task. Do you think maybe this could be broken up further?

[2021-12-07 10:22] TildaDares opened #761 "Rename editor section, set tips to permanently display, centre elements, set default text-area size for both `aarich` and `markdown` editing modes"

[2021-12-07 10:22] #761 closed

[2021-12-07 10:25] TildaDares commented on #760
I just found out that you can convert a checklist item to an issue by using the `Convert to issue` button. That's cool!

[2021-12-07 11:15] NARUDESIGNS commented on #760
Yes, I agree with you @TildaDares. After the meeting yesterday, I realised that some of my task lists need to be broken up to further tasks. I remember @jywarren mentioned that ideally, a PR should do one thing but I was also worried that it will be a very long list of PRs if each PR did just one thing.

[2021-12-07 14:11] NARUDESIGNS commented on #743
Let me be sure we are on the same page. This only includes the initial template for the file (which all jest files should have, just like you mentioned) but not the actual test cases from the corresponding Jasmine file right?

[2021-12-07 15:02] jywarren commented on #760
It's ok to end up with a long list of PRs, although perhaps it's good to
start with only 3-5 max open at a time?

On Tue, Dec 7, 2021, 6:15 AM Paul Ibeabuchi C. ***@***.***>
wrote:

[2021-12-07 16:54] jywarren commented on #743
Yes, well at this point i'm trying to get /any/ jQuery or equivalent selector/assertions to run or pass or even fail!

[2021-12-07 17:36] NARUDESIGNS commented on #760
Alright, thank you.

[2021-12-07 19:08] jywarren commented on #756
Was this now resolved? Just checking - we can close it if so!

[2021-12-07 19:28] jywarren commented on #760
OMG I did NOT know that was a button for the longest time!!!! Amazing! But... maybe a UI fail? lol! ❤️

[2021-12-07 19:51] NARUDESIGNS commented on #756
Yes, you just merged it #758

[2021-12-07 19:52] NARUDESIGNS commented on #760
😂 It also has a tool tip but we also missed that.

[2021-12-07 19:58] #756 closed

[2021-12-08 07:59] NARUDESIGNS commented on #743
@jywarren I tried adding
[code]
at the top of the test file, which I learnt about from - [this conversation](https://stackoverflow.com/questions/21358015/error-jquery-requires-a-window-with-a-document#:~:text=const%20%7B%20jsdom%20%7D%20%3D%20require(%22jsdom%22)%3B%20const%20myjsdom%20%3D%20new%20jsdom%20(html)%3B%20const%20%24%20%3D%20require('jquery')(myjsdom.window)%3B)
and it stopped complain

[2021-12-08 16:00] NARUDESIGNS commented on #755
Hi @TildaDares I think we can close this now since the PR for it has been merged.

[2021-12-08 16:01] jywarren commented on #755
Agree! Paul, do you want to see if you can close it yourself? I added
permissions!

On Wed, Dec 8, 2021, 11:00 AM Paul Ibeabuchi C. ***@***.***>
wrote:

[2021-12-08 16:23] NARUDESIGNS commented on #755
@jywarren ok thank you.

[2021-12-08 16:23] #755 closed

[2021-12-11 23:37] NARUDESIGNS opened #762 "Rename title header in title section from "1" to "Add title", centre elements and give proper padding to its input field"

[2021-12-12 17:33] unnati914 commented on #628
could I work on this? if its available?

[2021-12-13 18:52] tcvan0707 commented on #736
Do you have any suggestions of how to fix this?

[2021-12-17 11:10] RaviAnand111 commented on #753
If this issue is still open can I do this small task, it is my first open-source contribution.

[2021-12-17 14:42] TildaDares commented on #753
Hi @NARUDESIGNS, has this issue been resolved?

[2021-12-17 14:47] NARUDESIGNS commented on #753
No it hasn't, @RaviAnand111 can take on it since it's his first time contributing.
@TildaDares

[2021-12-17 14:48] TildaDares commented on #753
Hi @RaviAnand111, I've assigned this issue to you. If you need any help, feel free to ask.

[2021-12-17 14:53] RaviAnand111 commented on #753
ok, thankyou

[2021-12-18 09:17] RaviAnand111 commented on #753
Hi @TildaDares I have forked and cloned the project, I did npm install then installed grunt and open the example/index.html file and I am able to change css in the dev tools section as well.
Can you please tell me what should I do now and in which file can I make changes in bootstrap or css.

[2021-12-18 09:36] TildaDares commented on #753
@RaviAnand111 You need to change `btn-outline-secondary` to `btn-light` in this file
https://github.com/publiclab/PublicLab.Editor/blob/f8e1edb6ff992a03aa593feae53783f2b9867bd2/src/adapters/PublicLab.Woofmark.js#L335

[2021-12-18 10:04] RaviAnand111 commented on #753
I have changed the btn-outline-secondary to btn-light, now what should I do.
git add . , git commit -m "btn-light added for transparent btn", then git push origin main,
then I have to create a PR,
is that all I have to do now ?

[2021-12-18 10:35] TildaDares commented on #753
@RaviAnand111 You have to run `grunt build` before you create a PR.

[2021-12-18 17:38] RaviAnand111 commented on #753
ok, will do

[2021-12-19 08:59] RaviAnand111 commented on #753
I have created a PR after running `grunt build`,
PR #765

[2021-12-22 18:10] RaviAnand111 commented on #752
Hi everyone, can I work on this issue, I just got done with the previous issue. @TildaDares @NARUDESIGNS .

[2021-12-22 22:52] jywarren commented on #752
@RaviAnand111 if @NARUDESIGNS would like to help you make an issue from this, that would be great!

[2021-12-26 14:42] #753 closed

[2021-12-26 19:04] TildaDares commented on #752
Hi @NARUDESIGNS, is this issue still open for @RaviAnand111 to work on?

[2021-12-26 19:05] NARUDESIGNS commented on #752
Hi @TildaDares yea that's okay.

[2021-12-27 08:53] RaviAnand111 commented on #752
Hey @NARUDESIGNS, I just made a video of what I found on my local app, on hovering buttons are white, so there is 1 problem of padding in the buttons and elements that has to be solved and 2nd problem is on hovering the table text is visible that works fine but on clicking that text is again visible and it not goes away on clicking on tables button either you have to click on the page to make it d

[2021-12-27 10:11] NARUDESIGNS commented on #752
* For the problem of padding, that is true.
* For the 2nd problem about hovering and clicking, sorry I don't fully get you. Maybe you can share with me the video you made so that I can see some of the things you explained. Thanks!
@RaviAnand111

[2021-12-27 11:25] RaviAnand111 commented on #752
Yeah sure, I will work on the padding part first and let you know, then we can talk about the hovering problem. Should I share the video here itself or on Gitter ?
@NARUDESIGNS

[2021-12-27 11:29] NARUDESIGNS commented on #752
@RaviAnand111 alright cool, Gitter is fine.

[2021-12-27 11:31] RaviAnand111 commented on #752
okay, Thanks

[2021-12-28 06:45] RaviAnand111 commented on #752
Is this much padding fine @NARUDESIGNS
![image](https://user-images.githubusercontent.com/59113935/147536546-d868239c-aaf8-4e56-8069-89105c189cf7.png)
I have given some padding, but I am thinking of increasing the font-size of variables, but having hard time doing that.
Do you think the font-size should be increased. ?

[2021-12-28 13:11] RaviAnand111 commented on #752
@TildaDares , what do you think ?

[2021-12-28 18:20] TildaDares commented on #752
@RaviAnand111 Maybe we could reduce the padding a little. There's too much space between the buttons. Something like this could work

<img width="329" alt="Screenshot 2021-12-28 at 19 19 40" src="https://user-images.githubusercontent.com/63427719/147595423-be85b455-ae04-4f61-9cf4-575d04195331.png">

[2021-12-28 18:23] TildaDares commented on #752
Also, I think the buttons could use a tooltip to explain what the `-` and `+` buttons do. It's kind of confusing for a first-time user.

What do you think @NARUDESIGNS? It could be an FTO issue.

[2021-12-28 20:27] NARUDESIGNS commented on #752
I had typed out my response earlier and hit the comment button just to find out it wasn't sent. I apologise guys.
@RaviAnand111 I am currently working on padding and UI refinement of the PublicLab Editor page as well as other components in the page like popovers and dropdowns. I think for the sake of consistency, we need to define font sizes across elements on the page.

[2021-12-28 20:34] NARUDESIGNS commented on #752
Yes, I agree. Maybe it should read **decrease row** and **add row** or **decrease column** and **add column**, something like that. We could make it an FTO too. But do you think we can just use the HTML `title` attribute on those buttons rather than make and style a custom tooltip? @TildaDares
I think the former will be a lot easier than the latter.

[2021-12-29 07:49] RaviAnand111 commented on #752
Yeah @TildaDares I will decrease the padding a little bit. and about the tooltip should I add it ? as @NARUDESIGNS is working on the font-sizes, what do you guys think ?

[2021-12-29 08:13] NARUDESIGNS commented on #752
@RaviAnand111 we are planning to make it a first timer issue, for someone new to publiclab. So instead of solving it, we just show the first time contributor what to add and where to add it, to get them started.

[2021-12-29 08:15] RaviAnand111 commented on #752
ok, cool, I understand that is perfect. So the padding part is also included in it, right ? So I should try to work on different issue right?
@NARUDESIGNS

[2021-12-29 08:18] NARUDESIGNS commented on #752
You can go ahead and adjust the padding like @TildaDares suggested.
Then you can look for some other issue to work on.
Well done! @RaviAnand111 🔥🔥🔥

[2021-12-29 08:21] RaviAnand111 commented on #752
Thanks alot 🎉 🔥

[2021-12-29 08:25] RaviAnand111 commented on #752
Hey @TildaDares
is this much padding fine ?
![image](https://user-images.githubusercontent.com/59113935/147642006-fb7cc7db-b857-4a94-af1d-12ce91b70b24.png)

[2021-12-29 10:44] TildaDares commented on #752
@RaviAnand111 That’s perfect

[2021-12-29 17:06] RaviAnand111 commented on #752
Hey @NARUDESIGNS @TildaDares I have created a PR #768 for padding in the button. Can any one you guys review it please.
ThankYou

[2021-12-30 17:10] NARUDESIGNS opened #770 "Port one Jasmine file to Jest"

[2021-12-30 21:16] #770 closed

[2022-01-03 09:25] NARUDESIGNS opened #772 "Create and port editor jasmine file to jest test"

[2022-01-03 13:26] NARUDESIGNS commented on #752
![Screenshot 2022-01-03 at 14 22 31](https://user-images.githubusercontent.com/49737323/147935583-71dcdff3-2ff7-46ce-a8b0-f261a5dea731.png)

This should do the trick. I can create an FTO right away for these changes but I need your opinions/suggestions first @TildaDares

[2022-01-03 15:05] RaviAnand111 commented on #664
hey @jywarren @TildaDares @NARUDESIGNS, can I work on this issue ?

[2022-01-03 16:12] TildaDares commented on #664
@RaviAnand111 I think this issue has been resolved. I checked on my local environment and all of the buttons match.

[2022-01-03 16:13] TildaDares commented on #664
Thanks @RaviAnand111! I think we can close this issue now.

[2022-01-03 16:46] RaviAnand111 commented on #664
Hey @TildaDares, I checked my local environment and all the buttons do not match,
![image](https://user-images.githubusercontent.com/59113935/147956242-43498b3f-25da-4a82-b3b7-60d882591a25.png)
Do you know why is this happening?

[2022-01-03 16:48] TildaDares commented on #664
@RaviAnand111 Have you pulled changes from this repo recently?

[2022-01-03 16:49] RaviAnand111 commented on #664
yes I did, git status, says uptodate see
![image](https://user-images.githubusercontent.com/59113935/147957034-f4e4ee56-a99d-481c-afd3-5752c8239e1f.png)

[2022-01-03 16:55] RaviAnand111 commented on #664
see this the result of git pull upstream main
![image](https://user-images.githubusercontent.com/59113935/147957664-d4516f01-5ea0-4f64-a0f3-524a930b6654.png)

[2022-01-03 17:00] TildaDares commented on #664
@RaviAnand111 Did you do a `git fetch upstream` then a `git merge upstream/main`?

[2022-01-03 17:01] TildaDares commented on #664
@RaviAnand111 I can see what you see now. I just updated my local repo.

[2022-01-03 17:01] RaviAnand111 commented on #664
No, I didn't, Should I do it right now ?

[2022-01-03 17:08] TildaDares commented on #664
I've just assigned you @RaviAnand111

[2022-01-03 17:13] RaviAnand111 commented on #664
Thanks @TildaDares ,
I just had this 1 doubt, should I create a different branch every time I work on different issue or should I work in the main branch ?

[2022-01-03 17:14] TildaDares commented on #664
@RaviAnand111 It's better to create a different branch when you work on different issues so that you can isolate your changes from your main branch.

[2022-01-03 17:18] RaviAnand111 commented on #664
ok, now I understand, ThankYou for explaining, you are like an elder sister who helps me whenever I am in trouble,
ThankYou

[2022-01-03 17:26] NARUDESIGNS commented on #664
Lol yeah, she's amazing. In my case, she'd always help me with very useful resources.
You are doing a great job as well my friend @RaviAnand111

[2022-01-03 17:29] RaviAnand111 commented on #664
Thanks alot, @NARUDESIGNS, it is really a complement, getting thumps up from you guys. ❤️

[2022-01-03 20:34] NARUDESIGNS opened #774 "Create and port formatter jasmine file to jest test"

[2022-01-04 08:57] RaviAnand111 commented on #664
Does this look good ? @TildaDares @NARUDESIGNS

![image](https://user-images.githubusercontent.com/59113935/148033878-7592beb3-587a-4647-b643-3c9efdb195c3.png)

[2022-01-04 09:04] RaviAnand111 commented on #664
Closer look

![image](https://user-images.githubusercontent.com/59113935/148034930-2b414b1e-0c2e-43a1-bda4-75b6dd8bc026.png)

[2022-01-04 09:38] NARUDESIGNS commented on #664
@RaviAnand111 We've not decided whether or not to go with the borders. I'm working on creating some mockups which the team has to review and dicuss the direction we should take from their. If you are interested in joining me, that's fine. We can communicate on gitter and share ideas about the UI of the editor.
This is a very good job by the way but we need to have a revision and discussion before

[2022-01-04 10:29] RaviAnand111 commented on #664
yeah, #705 has already solved it, so should I leave it and work on some other issue ?,
yeah, sure you can tell me about UI changes if you want.
Thanks

[2022-01-04 16:20] TildaDares commented on #752
@NARUDESIGNS One of the buttons on the toolbar doesn't have a tooltip. That could also be an FTO

<img width="613" alt="Screenshot 2022-01-04 at 17 19 41" src="https://user-images.githubusercontent.com/63427719/148090062-9f060295-40e3-4cdc-b413-e8dfd0ce6bd1.png">

[2022-01-04 16:34] RaviAnand111 commented on #750
hey @NARUDESIGNS are you working on it, if you are busy, I can work on it ?

[2022-01-04 16:54] RaviAnand111 commented on #609
Hey @avats-dev, is this issue still open, I would like to contribute to this issue, I am new but I am willing to learn and work.

[2022-01-04 22:11] jywarren commented on #776
This feedback is from some months back but I think it may be useful to bear in mind as redesigns are moving forward! cc @NARUDESIGNS

[2022-01-05 08:53] RaviAnand111 commented on #701
Hey @jywarren @TildaDares , is this issue still open, I want to work on it,
I tried to embed a your youtube video, publiclab editor is working fine,
but on embedding the links given by @jywarren , the editor is showing abnormalites and not showing video frames.

[2022-01-05 09:57] TildaDares commented on #701
Hi @RaviAnand111, yeah you can work on this. Thanks!

[2022-01-05 12:32] RaviAnand111 commented on #701
https://user-images.githubusercontent.com/59113935/148217987-7665ea09-a39c-453b-97d0-194167268eb7.mp4

Hey everyone @jywarren @TildaDares , I have found this, please share your views on it.
ThankYou

[2022-01-05 12:36] RaviAnand111 commented on #701
If the video is not working, then this is the link of video on my drive.
[YouTube Iframe video ](https://drive.google.com/file/d/1S5VlKawPVkU8yzA01-OAa-YlOMfa4UmI/view?usp=sharing)
@TildaDares @jywarren
Thanks

[2022-01-05 19:27] TildaDares commented on #750
Hi @NARUDESIGNS, can @RaviAnand111 work on this?

[2022-01-05 19:42] TildaDares commented on #701
@RaviAnand111 I think the problem is the line break that is added to the `iframe` code after copying. I copied the iframe code from the top and then removed all line breaks which are displayed in the form `LF` and it worked. I think we need to find a way to remove line breaks after input.

<img width="473" alt="Screenshot 2022-01-05 at 20 41 38" src="https://user-images.githubusercontent.com/63427

[2022-01-06 03:31] RaviAnand111 commented on #701
oh great, I will try to recreate this and find a way to how to remove line breaks,
Thanks

[2022-01-06 03:45] RaviAnand111 commented on #701
so what I think is there is no problem with the editor and the youtube embed tool,
it's just that the iframe code at the top is wrong as there are line breaks in it, anyone can copy embed code from youtube and paste it in the editor without any problem.
What do you think?
@TildaDares @jywarren

[2022-01-06 05:32] RaviAnand111 commented on #714
hey @Manasa2850 `-` is used for bullet points in PublicLab Editor

[2022-01-06 05:33] RaviAnand111 commented on #714
hey @TildaDares @jywarren , should this issue be closed or is there anything else to do here ?

[2022-01-06 05:46] RaviAnand111 commented on #593
hey @jywarren @TildaDares , did this issue got solved or not?,

[2022-01-06 07:11] RaviAnand111 commented on #526
Is this issue still open, I would like to work to make editor responsible.

[2022-01-06 08:12] TildaDares commented on #714
Hi @RaviAnand111, bullet points could either be * or -

Also, I tried using * for a bullet point and it worked. Can you try it on your end just to confirm?

[2022-01-06 08:13] TildaDares commented on #593
Hi @RaviAnand111, I think the main image upload is working on publiclab.org but you can test it yourself just to be sure.

[2022-01-06 08:53] RaviAnand111 commented on #714
yepp, It is working, so `*` and `-` both can be used for bullet points.

![image](https://user-images.githubusercontent.com/59113935/148356164-8e606965-ad9d-43a5-84e7-1b53f957984c.png)

[2022-01-06 09:00] RaviAnand111 commented on #593
Sorry for asking dumb questions,
but should I check on my local publiclab.Editor app or on publiclab.org website itself ?

[2022-01-06 09:02] TildaDares commented on #714
I think we can close this now

[2022-01-06 09:02] #714 closed

[2022-01-06 09:02] TildaDares commented on #593
@RaviAnand111 There are no dumb questions. Check on publiclab.org

[2022-01-06 09:09] RaviAnand111 commented on #714
ok, ThankYou

[2022-01-06 09:13] RaviAnand111 commented on #593
hey @TildaDares on publiclab.org, I cannot find rich text editor or anything around that, how can I try uploading image ?

[2022-01-06 09:17] TildaDares commented on #593
@RaviAnand111 Visit https://publiclab.org/post

[2022-01-06 09:30] RaviAnand111 commented on #593
I can't login

![image](https://user-images.githubusercontent.com/59113935/148361034-228e7363-41e7-4f5f-8a85-22df97623dc3.png)

user password is giving this error

[2022-01-06 09:31] RaviAnand111 commented on #593
with admin password I am on main page again,

![image](https://user-images.githubusercontent.com/59113935/148361243-11b10a2c-3ac7-4f48-8e2a-f8435d241629.png)

[2022-01-06 09:34] TildaDares commented on #593
@RaviAnand111 Did you signup with a Google account?

[2022-01-06 09:36] RaviAnand111 commented on #593
No I didn't, I will do that now.
and update you.

[2022-01-06 09:41] RaviAnand111 commented on #593
Hey, @TildaDares thanks for helping with the process,
I tried to upload image and it is working fine.

![image](https://user-images.githubusercontent.com/59113935/148362575-426e0379-04fb-456f-b178-a3656c3baf0b.png)

ThankYou

[2022-01-06 09:45] TildaDares commented on #593
I think this issue can be closed now.

[2022-01-06 09:45] #593 closed

[2022-01-06 09:46] RaviAnand111 commented on #593
ok, ThankYou

[2022-01-06 09:53] TildaDares commented on #701
@RaviAnand111 I tried using this SO answer to remove the line breaks but that removes the `iframe` completely https://stackoverflow.com/a/51602415/11953728. I also tried pasting the code above in other markdown editors and it worked.

@jywarren is there a way to remove the line breaks before parsing to markdown?
https://github.com/publiclab/PublicLab.Editor/blob/main/src/modules/PublicLab.RichText

[2022-01-06 11:02] vaishnavighiradkar commented on #251
Hey! This issue is still open. Can I work on this? I've never contributed to open source before. I'm trying to learn.

[2022-01-06 11:10] vaishnavighiradkar commented on #746
I think the issue is still open. Can I work don't this?

[2022-01-06 11:11] vaishnavighiradkar commented on #746
I think the issue is still open. Can I work on it?

[2022-01-06 11:50] NARUDESIGNS commented on #750
Sure, @RaviAnand111 can work on it. I'm currently working on completing the conversion of all test files from jasmine tests to jest tests.
cc @TildaDares

[2022-01-06 11:54] NARUDESIGNS commented on #746
Hello, @vaishnavighiradkar I'm currently working on this. This issue has a bit of complication which we experienced with other test files as well and so adding these changes wouldn't make it work. I'm putting up a document to add some explanations on how we can make the tests work.

[2022-01-06 17:46] RaviAnand111 commented on #593
Hey @TildaDares I wanted to ask a doubt, the local publiclab editor I have is different from the publiclab.org/post website why is that ?

[2022-01-06 18:45] TildaDares commented on #593
@RaviAnand111 That's because the editor page for `publiclab.org` has its own design that is slightly different from the one in this repo. You can take a look at the different HTML files for `publiclab.org` and `publicLab Editor`

https://github.com/publiclab/PublicLab.Editor/blob/main/examples/index.html
https://github.com/publiclab/plots2/blob/main/app/views/editor/rich.html.erb

[2022-01-08 08:38] RaviAnand111 commented on #750
Hey guys, I found out that, to make popups to disappear on click on the page or another pop-up is to add
`$("...").attr('data-trigger', 'focus');`, so I have added it in table and others but I am not able to find module or code for attachments, insert link, insert image where can I find those modules code. ?
@TildaDares @NARUDESIGNS @jywarren
Thanks

[2022-01-08 09:56] TildaDares commented on #750
@RaviAnand111 You should be able to make those changes in this file
https://github.com/publiclab/PublicLab.Editor/blob/1ab7b20561068c5d3f8061f1de14bae38a4314d3/src/adapters/PublicLab.Woofmark.js#L318-L327

[2022-01-08 12:08] NARUDESIGNS opened #779 "Add tooltip to Custom Insert button"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-08 12:17] NARUDESIGNS commented on #752
HI @TildaDares I've opened an FTO for this here - https://github.com/publiclab/PublicLab.Editor/issues/779
Thank you for pointing it out, here's a screenshot of the final result below:

![Screenshot 2022-01-08 at 13 15 00](https://user-images.githubusercontent.com/49737323/148643795-447548a3-7c22-4f09-afc4-0c1f34acaa2f.png)

[2022-01-08 14:20] RaviAnand111 commented on #750
Hey @TildaDares , where can I find `.wk-prompt` `.wk-command` classes in html, I can't find it, it is just being called by jquery. and it is somehow working.
@NARUDESIGNS

[2022-01-08 14:50] RaviAnand111 commented on #750
![image](https://user-images.githubusercontent.com/59113935/148648628-bd6bd17a-9c3a-404e-9d3d-663b2443b981.png)

Hey @TildaDares  @NARUDESIGNS, as in the image, click has been crossed in vs code and on hovering it is saying it has been deprecated so is this function working or not?

[2022-01-08 15:02] RaviAnand111 commented on #750
https://user-images.githubusercontent.com/59113935/148649041-734f715e-6c73-4e19-89b8-f9f74bee7bb9.mp4

Hi everyone, I wanted to know your views on it ? Am I missing something here ?

[2022-01-08 15:13] RaviAnand111 commented on #750
why are we using older bootstrap version and functions ?

[2022-01-08 16:48] NARUDESIGNS commented on #750
@RaviAnand111 I think it still works, I've seen some other events crossed in vscode as well.

[2022-01-08 17:17] NARUDESIGNS commented on #750
I don't know much how popovers work yet but this was the approach I wanted to take:
I know there is something like `$('.element').popover('hide')` and so I wanted to do a check if the `esc` button is clicked, or if an element that isn't the popped over modal is clicked then based on that, I'd trigger the `$('.element').popover('hide')` method to hide it.
@RaviAnand111

[2022-01-08 17:54] mreddyn commented on #779
Hi @NARUDESIGNS I want to work on this issue.

[2022-01-08 19:17] NARUDESIGNS commented on #779
Hi @mreddyn awesome, we need @TildaDares to give a go-ahead on the assignment. Please hold on for her response, thank you so much!

[2022-01-09 05:01] RaviAnand111 commented on #750
Ok, Thanks, @NARUDESIGNS I will try doing that.

[2022-01-09 09:28] TildaDares commented on #779
Hi @mreddyn, let’s leave this issue for a first-timer since you’ve already worked on an FTO. Thank you!

[2022-01-10 01:05] reubenjsinclair commented on #779
Hi! Could I work on this issue? Thanks!

[2022-01-10 09:23] TildaDares commented on #779
Hi @reubenjsinclair, sure you can work on this.

[2022-01-10 12:11] NARUDESIGNS commented on #750
I tried something that worked but it will require a little more code. Here's the snippet I tried:

[code]

The lines with the "+" sign are the lines are added. And the file is [PublicLab.RichTextModule.Table.js](https://github.com/publiclab/PublicLab.Editor/blob/main/src/modules/PublicLab.RichTextModule.Table.js) from line 79.
What I did was basically add a `popoverIsOpen` boolean so that when the

[2022-01-10 17:26] RaviAnand111 commented on #750
This is great, and the idea with array is cool too, I was getting confused in this part of how to shut down pop over when something else is clicked.
@NARUDESIGNS

[2022-01-10 17:26] RaviAnand111 commented on #750
I have also find a way , with least no of code lines.

[2022-01-10 18:44] NARUDESIGNS commented on #750
Awesome, please share. @RaviAnand111

[2022-01-11 16:37] NARUDESIGNS opened #784 "Create and port wysiwyg jasmine file to jest test"

[2022-01-11 17:16] #774 closed

[2022-01-11 17:19] #779 closed

[2022-01-11 19:37] ebarry commented on #754
Hi @jet2018 , just on the tools for layout, perhaps Inkscape https://inkscape.org/ or Glimpse https://glimpse-editor.org/

[2022-01-11 20:22] #772 closed

[2022-01-12 06:45] RaviAnand111 commented on #750
How do I share the code like you did ? @NARUDESIGNS

[2022-01-12 09:35] NARUDESIGNS commented on #750
[code]

[2022-01-12 10:25] RaviAnand111 commented on #750
See the last line with + in this code

[code]

By just adding this, button is doing everything we want, execpt one thing,
popup is disappearing on clicking everything but the popup button, to make that happen I am trying to write code,

[2022-01-12 13:42] NARUDESIGNS commented on #750
OK cool. But I have a question, when you click on the popover itself or any of it's child elements like the `-` and `+` buttons, does it disappear?
@RaviAnand111

[2022-01-12 13:48] RaviAnand111 commented on #750
No, id does not, @NARUDESIGNS

[2022-01-12 13:49] NARUDESIGNS commented on #750
OK, cool!

[2022-01-12 13:49] RaviAnand111 commented on #750
I have a doubt, let me check

[2022-01-12 13:51] RaviAnand111 commented on #750
actually, it is disappearing on clicking its child elements, sorry about that, I didn't check it earlier.

[2022-01-12 13:52] RaviAnand111 commented on #750
so, now I'd have to write code for popup button and child elements except add button also.

[2022-01-12 13:54] RaviAnand111 commented on #750
What do you think ?

[2022-01-12 15:07] NARUDESIGNS commented on #750
Oh ok, this was the issue with my own approach as well. How do you intend to tackle this?

[2022-01-12 15:44] RaviAnand111 commented on #750
I don't know yet, I have solved the problem with the popup button and now it can be used to disappear, now I just have to do the same with child buttons, I will try to do that, and tell you what I got.

[2022-01-12 16:54] #746 closed

[2022-01-12 21:00] NARUDESIGNS opened #787 "Create and port tags module jasmine file to jest test"

[2022-01-13 00:13] NARUDESIGNS opened #790 "Create and port prepopulated jasmine file to jest test"

[2022-01-13 13:33] NARUDESIGNS opened #791 "Create and port map module jasmine file to jest test"

[2022-01-14 16:29] RaviAnand111 commented on #750
hey guys, I am so sorry, I gave my whole day to this problem and I still couldn't solve it, I am getting more and more confused.
@NARUDESIGNS @TildaDares

[2022-01-14 16:56] NARUDESIGNS commented on #750
It's okay @RaviAnand111 we all feel like that sometimes. I'm currently confused with what actions to take for some of my task but we can always communicate to see how we can make progress 💪

[2022-01-14 16:59] NARUDESIGNS commented on #750
So for now, you've been able to solve the part where a click on the page or on the table button can hide the popover.

But the problem is that when you click on elements in the popover, it also hides the popover right?

[2022-01-14 16:59] RaviAnand111 commented on #750
sure, @NARUDESIGNS , thanks,

[2022-01-14 17:00] RaviAnand111 commented on #750
yes that is the problem

[2022-01-14 17:05] NARUDESIGNS commented on #750
Can you please tell me what file you added this line to?

[2022-01-14 17:05] NARUDESIGNS commented on #750
I'd also work on my initial solution (though it's more code than yours) to see if I'm able to solve this problem you're having as I also have that problem with my initial solution.

[2022-01-14 17:10] RaviAnand111 commented on #750
yeah sure, the file is `src/modules/PublicLab.RichTextModule.Table.js`,
and there is 1 more problem, on adding the code I said, the popover is not disappearing on clicking on the table button so that is also a problem to be solved,
overall the solution you gave is much better than the code I advised,
so tell me what should we do.

[2022-01-14 20:02] NARUDESIGNS commented on #750
Ok, maybe what I can do is to try to fix it, make a PR and we can evaluate the changes together, and based on that, we can solve for other popovers. How about that?

[2022-01-15 06:02] RaviAnand111 commented on #750
Ok, I am going to make a PR then

[2022-01-18 16:58] #790 closed

[2022-01-18 17:07] #787 closed

[2022-01-20 11:07] NARUDESIGNS opened #796 "Add changes to Insert Link Popover for consistent design with insert image and attach file popovers"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-20 11:12] NARUDESIGNS commented on #796
This is what the popover looks like currently:
<img width="652" alt="Screenshot 2022-01-20 at 11 48 53 AM" src="https://user-images.githubusercontent.com/49737323/150327724-07b1c513-53ae-4446-a89d-ce4831786d80.png">
This is what it should look like afterward
<img width="538" alt="Screenshot 2022-01-20 at 12 10 10 PM" src="https://user-images.githubusercontent.com/49737323/150327817-ef3c736a-2345-4

[2022-01-20 14:36] ImDoubD commented on #796
Hello I am a beginner who is not familiar with this concept of open sourcing and I genuinely want to be a part of it so can you people help me out with.

[2022-01-20 15:27] AwaiisLaTif commented on #796
Hello, I am interested in doing this task, if available.

[2022-01-20 15:49] TildaDares commented on #796
Hi @ImDoubD, you're free to work on this issue. Thanks!

[2022-01-20 15:51] TildaDares commented on #796
Hi @AwaiisLaTif, you can pick one of the unclaimed issues from this comment https://github.com/publiclab/plots2/issues/10153#issuecomment-1015639288

Thanks!

[2022-01-20 21:39] #791 closed

[2022-01-21 09:41] NARUDESIGNS opened #798 "dropdown button in custom insert popover has no style"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-21 09:43] NARUDESIGNS commented on #798
### This button currently looks like this:

<img width="394" alt="Screenshot 2022-01-21 at 10 36 29 AM" src="https://user-images.githubusercontent.com/49737323/150504156-4becae71-1fa5-42cf-8615-d0e53d6d4c2a.png">

### After making changes, it should look like this:

<img width="379" alt="Screenshot 2022-01-21 at 10 42 18 AM" src="https://user-images.githubusercontent.com/49737323/150504254-31db9f0

[2022-01-21 12:59] TildaDares commented on #798
This looks good @NARUDESIGNS

[2022-01-21 23:53] Innominata88 commented on #798
Has anyone claimed this issue yet? I've been afraid to take the plunge and contribute to an open source repo and this seems like a good opportunity to gain some confidence since you all seem so friendly and helpful. :)

[2022-01-22 06:47] RaviAnand111 commented on #743
Hey @NARUDESIGNS @jywarren @TildaDares , can I help you guys too, I do not know much about testing but I know javascript and I am willing to learn, contribute and help, is there something I can do ?
Thanks

[2022-01-25 06:29] bittu426 commented on #798
Hello, I'm Chaitanya and I've been asked to contribute to an open-source project for my Software Development course. I'm interested to work on this issue and it'd be great if I could be assigned to this. Thank you so much.

[2022-01-25 09:10] TildaDares commented on #798
Hi @bittu426, there’s an open issue for you to work on in https://github.com/publiclab/spectral-workbench/issues/858 if you’re interested.

[2022-01-25 09:22] TildaDares opened #805 "Update First PR Welcome/Merge Message"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-25 09:43] TildaDares opened #806 "Update First Timers Only Template"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2022-01-25 14:29] bittu426 commented on #798
Yes. I'm interested. Can I be assigned for that issue?

[2022-01-25 15:16] TildaDares commented on #798
@bittu426 Leave a comment in the issue and if no one has claimed it you can start working on it.

[2022-01-25 20:12] #784 closed

[2022-01-25 21:09] taylorkaiulani commented on #805
Hello! I'd like to work on this if it's available. This would be my first open source contribution. :)

[2022-01-25 21:38] TildaDares commented on #805
Sure go ahead @taylorkaiulani

[2022-01-25 21:55] colindaviddick commented on #806
Hi, I'd like to take this on please!

[2022-01-25 21:58] TildaDares commented on #806
Go ahead @colindaviddick

[2022-01-25 22:11] colindaviddick commented on #806
I think I'm done? I'm not 100% sure I had the correct file as the description says "$FILENAME in the $REPO". Looks like variable names have snuck through somehow? I've edited the "--first-timers-only.md" file.

[2022-01-25 22:13] TildaDares commented on #806
@colindaviddick I’m sorry I forgot to add the file name. Let me just add it

[2022-01-25 22:17] TildaDares commented on #806
Hi @colindaviddick, I've updated the issue. Sorry for the inconvenience.

[2022-01-25 22:24] colindaviddick commented on #806
Ok I think I'm done!

[2022-01-26 09:46] #745 closed

[2022-01-26 12:17] #752 closed

[2022-01-26 19:11] #750 closed

[2022-01-27 15:54] jywarren opened #814 "Plan and checklist for v3.1.0 release"
Hi @NARUDESIGNS - i think it's time to start preparing a new release, what do you think?

Let's look at the changes since the last release was made; it looks like the change was at https://github.com/publiclab/PublicLab.Editor/commit/0ac18eb0d0b568d8e5813b0ff3f7437454d41298

as part of: https://github.com/publiclab/PublicLab.Editor/pull/712

So, all the changes since then (Apr 13, 2021) can be inc

[2022-01-31 12:24] NARUDESIGNS commented on #814
Hello, @jywarren sorry for the late response here. Where can I find all the changes since April 13th, 2021?
Forgive me I've not participated in an upgrade like this before so I'm a little lost as to what changes we'd be making, esp to the PublicLab Editor

[2022-01-31 14:39] NARUDESIGNS opened #816 "Add mouse pointer and background colors to the dropdown list in custom insert popover. Repeat for other popovers"

[2022-01-31 19:02] TildaDares commented on #796
Hi @awais-latif, do you need any help with this?

[2022-02-01 16:10] jywarren commented on #814
So if you can see this link, when you create a new release it will compile a list automatically from the commit log: https://github.com/publiclab/PublicLab.Editor/releases/edit/untagged-a61a5484f15db4097723

If you try it yourself (i'm not sure you can see it but we'll discuss today) it'd be here: https://github.com/publiclab/PublicLab.Editor/releases/new

[2022-02-01 16:12] jywarren commented on #721
Solved in https://github.com/publiclab/PublicLab.Editor/pull/818!!!

[2022-02-01 16:12] #721 closed

[2022-02-01 16:12] jywarren commented on #743
Solved in https://github.com/publiclab/PublicLab.Editor/pull/818!!!

[2022-02-01 16:12] #743 closed

[2022-02-01 16:51] jywarren commented on #814
Look out for Popper library addition for error handling in HTML template: https://github.com/publiclab/PublicLab.Editor/pull/771/files

[2022-02-02 14:07] RaviAnand111 opened #819 "Hide Popover on pressing `ESC` button"
The popover can be hidden on pressing `esc` button, this feature is not there right now so this feature can be added for better UI.

[2022-02-03 09:53] Alvinkariuki commented on #806
Hey, I would very much like to try this

[2022-02-03 10:06] TildaDares commented on #806
Hi @Alvinkariuki, this issue has been claimed. If you'd like to be assigned an issue, leave a comment in this issue https://github.com/publiclab/plots2/issues/10153. Thanks

[2022-02-03 10:07] Alvinkariuki commented on #806
Thanks for the feedback

[2022-02-03 15:33] kirti1211c commented on #805
@taylorkaiulani Hey! I too am contributing for the first time. Are you still up to this issue?

[2022-02-03 15:39] TildaDares commented on #805
Hi @kirti1211c, this issue has been resolved. You can request for an FTO in this issue https://github.com/publiclab/plots2/issues/10153. Thanks!

[2022-02-07 14:52] #816 closed

[2022-02-08 14:06] NARUDESIGNS commented on #814
Hello, I've updated the version number here - [publiclab/PublicLab.Editor#833](https://github.com/publiclab/PublicLab.Editor/pull/833)

[2022-02-08 16:06] jywarren commented on #814
Excellent. Let's re-run the "release notes" auto-generation and publish the release!

[2022-02-08 16:51] jywarren commented on #814
Let me know how `npm publish` goes! Doesn't have to be tonight :-)

[2022-02-09 18:12] #806 closed

[2022-02-09 18:23] #798 closed

[2022-02-09 18:27] #805 closed

[2022-02-09 18:32] TildaDares commented on #796
Unassigning this since there have been no updates from @ImDoubD

[2022-02-09 18:38] DhruvGala commented on #796
Can I give this a try?

[2022-02-09 18:41] TildaDares commented on #796
Sure @DhruvGala

[2022-02-15 12:07] NARUDESIGNS commented on #814
Hi @jywarren where are we on this progress, please?
I checked the **publish branch to npm...* task since we have that out of the way.

[2022-02-15 16:52] jywarren commented on #814
Great, i checked "open a matching PR on plots2 for this new version # (or let Dependabot do it)" - https://github.com/publiclab/plots2/pull/10711

[2022-02-16 07:41] #796 closed

[2022-02-18 14:19] NARUDESIGNS opened #842 "Refine UI of the main-image section in the PublicLab Editor"
Hi, @TildaDares
I'm trying to refine the UI of the main-image section for mobile view.
Here's what it currently looks like:

<img width="381" alt="Screenshot 2022-02-16 at 11 00 40 AM" src="https://user-images.githubusercontent.com/49737323/154699450-4c4d60a4-4e24-4c8b-89e4-c8fbec6cd79f.png">\

Here's what I'm trying to achieve:

<img width="347" alt="Screenshot 2022-02-16 at 11 15 41 AM" src="htt

[2022-02-18 14:36] TildaDares commented on #842
To add a new class, you need to add the class in https://github.com/publiclab/plots2/blob/main/app/views/editor/rich.html.erb
and if you also want that same change also add it to the HTML file in https://github.com/publiclab/PublicLab.Editor/blob/main/examples/index.html. The CSS can be added to the PublicLab.Editor CSS file.

[2022-02-18 15:08] NARUDESIGNS commented on #842
Great, this brings me to my first idea with using the `examples/index.html` file in the PublicLab.Editor project which we discussed on Gitter(or Matrix).
If I add the classes to the `examples/index.html` file when it gets merged, will the changes impact the editor when it gets merged to plots2?

[2022-02-18 15:17] TildaDares commented on #842
No it won’t. You have to also add that class in the plots2 html file.

[2022-02-18 17:11] NARUDESIGNS commented on #842
Hmm, this here was my confusion.
But ok, I'd give it a try. Thank you @TildaDares

[2022-02-22 11:29] NARUDESIGNS commented on #842
Or what if I add the class using javascript, does that pose any problem in your opinion? @TildaDares
I worry that changing the class names in plots2 and then in the editor might not be the best approach.

[2022-02-22 11:41] TildaDares commented on #842
No it doesn’t

[2022-02-22 12:11] NARUDESIGNS commented on #842
I think I just got it. Let me make a PR so we can discuss my approach there.
Thank you very much @TildaDares I'd send you the PR soonest

[2022-03-01 17:24] jywarren commented on #760
This checklist is looking great @NARUDESIGNS !!

I was admiring this nice minimal way to hide the text editing options in the GitHub comment editor, btw, thought I'd add it here as inspiration:

![image](https://user-images.githubusercontent.com/24359/156217728-62ad9a6b-d056-46dc-9682-ef666e611fdc.png)

[2022-03-01 17:25] jywarren commented on #683
This is resolved by #721 now!

[2022-03-01 17:25] #683 closed

[2022-03-01 17:26] jywarren commented on #741
Resolved in https://github.com/publiclab/PublicLab.Editor/issues/743 !!

[2022-03-01 17:26] #741 closed

[2022-03-01 17:30] jywarren commented on #736
I just tried in a new account on publiclab.org, and it defaulted to rich text mode! I think we're OK here! Thank you!

[2022-03-01 17:30] #736 closed

[2022-03-15 18:11] #842 closed, assigned to nobody

[2022-04-04 18:05] ebarry opened #848 "Punctuation at end of URL is mistakenly incorporated into link, thus breaking the link"
Posting for BHamster:

### Please describe the problem

When making a comment on a post, if people paste a whole URL at the end of a sentence and put a period at the end of the URL, the hyperlink that automatically generates in the published comment incorporates the period and then becomes a bad link. e.g., [this recent comment](https://publiclab.org/questions/bhamster/02-10-2022/is-there-federal-

[2022-05-22 07:57] MAYANK816 commented on #251
I worked on this issue please check that.

[2022-05-29 22:47] cesswairimu opened #863 "Weekly Community Check-In #143 - New Technologies"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-05-29 23:47] NARUDESIGNS commented on #863
For me, I learned a great deal or Vuejs, options API and Composition API, and Vue Router.
I also learned to work with git on Microsoft azure devOps tool.

✌️😊

[2022-05-30 15:37] SHIVANGISINGH1 commented on #863
I am learning react for now and for the past 2 weeks I am doing Redux in react. I also learned crud in firebase last week. 😊😊

[2022-05-30 19:59] PeculiarE commented on #863
Thanks for sharing ❤️  @cesswairimu.

These past few weeks, I've been focusing on trying to deepen my understanding and knowledge of the Ruby on Rails framework as it forms a huge part of my Outreachy project.

In my spare time, I started exploring the NestJs framework, heard and read a lot of wonderful things about it and its edge over other Javascript frameworks. And so far, it is living up to e

[2022-05-31 15:56] stephaniequintana commented on #863
Hi, everyone! 👋 😄

I'm so excited to be back here and starting this Outreachy internship!!! ❤️ 🚀 🥳

In the interim of the proposal due date and intern announcement, I spent a lot of time focused on personal projects and reconnecting with extended family, a blessing I wish I could take advantage of more often. I (very-nearly-almost & FINALLY!!) completed my personal website and resume and focused a

[2022-06-01 15:49] jywarren commented on #863
Hi all! So glad to see you all, and thanks Cess for a great topic.

I've been kind of resisting learning React, to be honest -- although it's quite ubiquitous, and we use React in some of our systems (plots2, on a test basis), it's just a very different paradigm and I keep thinking... is it really necessary? As someone who started coding before NPM existed, before JavaScript was standardized, I so

[2022-06-06 08:11] cesswairimu commented on #863
Would anyone like to open this week's check-in?

[2022-06-06 08:12] NARUDESIGNS commented on #863
I'd love to
When can I do so?
@cesswairimu

[2022-06-06 15:14] cesswairimu commented on #863
thats awesome @NARUDESIGNS, anytime today is  fine. Thanks

[2022-06-06 22:52] NARUDESIGNS opened #869 "Weekly Community Check-in #144 - IT'S OKAY"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2022-06-07 06:12] jywarren commented on #869
Thank you Paul for such a great message. I have to remember this myself especially when I get overwhelmed by a lot of complex issues and just can't get something to work! I'm glad to be part of a community where we look out for each other and know that it's OKAY!!! 🌠

[2022-06-07 16:47] cesswairimu commented on #863
Moved to https://github.com/publiclab/PublicLab.Editor/issues/869. Thanks all

[2022-06-07 16:47] #863 closed

[2022-06-07 18:38] stephaniequintana commented on #869
Wow @NARUDESIGNS, CONGRATULATIONS on your new job!!! ⚡ 🌟 🥳 ❤️ 🎉

I am especially grateful for you sharing your story - rejection can be do disheartening, but your perseverance is truly inspiring. This is also my first time working with a large codebase and technologies I'm unfamiliar with. At times it can be overwhelming and I wonder if I bit off more than I can chew! You're so right, though, ever

[2022-06-09 19:42] on2onyekachi commented on #869
Thanks so much @NARUDESIGNS Congrats on your new Job 🎉.

At the very least, the easiest way to move on is to find peace in the present as it will likely light the path to a new beginning.

[2022-06-10 14:35] noobyogi0010 commented on #762
Hi, @NARUDESIGNS
If this issue is not resolved yet, can I work upon it??

[2022-06-10 14:38] NARUDESIGNS commented on #762
Hello, thank you for your interest in that issu. However, there's been a change in direction and the issue has to be closed.
But I believe you can find some other issues to work on.

Cheers!

[2022-06-10 14:38] noobyogi0010 commented on #526
Hi, @NitinBhasneria
Is this issue still up for fixing? If so can I work upon it?

[2022-06-10 14:39] #762 closed

[2022-06-12 21:23] cesswairimu commented on #869
would anyone like to open next week's check-in?

[2022-06-13 06:36] RaviAnand111 commented on #869
Thank You @NARUDESIGNS for sharing your journey, Thank You for inspiring us. I know its been hard cause I am in the phase you were before. You have inspired me alot and I am not going to stop I am going to persevere. I am going to push through learn and grab new better opportunities.

Thank You everyone in the Public Lab Community

[2022-06-15 17:12] SteveSayantan commented on #524
As a beginner, I would like to work on this issue, can anyone help me by pointing out how and where to start? I have an intermediate level knowledge of JS . @cesswairimu @shreyaa-s-zz @jywarren

[2022-06-17 13:51] cesswairimu commented on #524
Hi @SteveSayantan and welcome. We would love your help! Have you setup the project yet? if not, you can find the steps to install [here](https://github.com/publiclab/PublicLab.Editor#readme) under "Installation" also overall info about the project and the modules and how to run it can be found there. Feel free to reach out if you are stuck somewhere or have other questions. thanks

[2022-06-19 05:03] SteveSayantan commented on #524
@cesswairimu thanks for the response!! Actually, I am having difficulty understand the code i.e. which file to change and how everything is working. Could you please suggest a beginners-friendly issue for getting started?
I have installed the repo and all the packages successfully.

[2022-06-21 06:56] cesswairimu commented on #869
Moved to https://github.com/publiclab/plots2/issues/11200. thanks all

[2022-06-21 06:56] #869 closed

[2022-06-24 12:28] cesswairimu commented on #524
I see, I did go through the issues and my judgement on it being "beginner friendly" maybe flawed( _not so good with js_) but how does this one look https://github.com/publiclab/PublicLab.Editor/issues/609 ? You may need to check if the issue is still persisting. thanks

[2022-07-08 15:52] SteveSayantan commented on #524
Hey @cesswairimu I looked into the issue, but still can not figure out anything. Anyways, thanks for your response.

[2022-07-10 08:20] cesswairimu commented on #524
Sorry @SteveSayantan I couldn't help much, Tagging @TildaDares, if you do come across any good JS second issue kindly tag @SteveSayantan

[2022-07-10 08:57] cesswairimu commented on #524
Awesome🎉🎉🎉. Thanks  a bunch @TildaDares

[2022-08-23 04:47] joannasjohnraj commented on #251
Is this issue still open? I would like to work on it.

[2022-08-23 04:47] joannasjohnraj commented on #628
Is this issue still open? I would like to work on it.

[2022-09-20 04:20] joannasjohnraj commented on #274
@rexagod Is this issue still open? I would like to work on it.

[2022-09-30 13:03] ghost commented on #251
I find you all very friendly. I am newbie to open source added to it, and have no one around to ask for guidance not even one , just a first-generation learner who want to learn new things but after hours spending seeing videos of open source I just cannot understand there are so many files,please help me

[2022-10-14 10:46] Aman0307 commented on #628
@sagarpreet-chadha I would like to contribute to this issue.